/*
Error: Invalid CSS after "...olor: #b8dada; ": expected "}", was "!important;"
        on line 128 of /Applications/MAMP/htdocs/drupal-7.43/sites/connect.masstapp.edc.org/themes/connectmasstapp/sass/mail.scss

123: .FeaturePadding {
124:   padding: 30px 0px 40px 0px;
125: }
126: 
127: .FeatureArticleBGColor {
128:   background-color: #b8dada; !important;
129:   margin: 0px;
130: }
131: 
132: .FeatureText {
133:   padding: 15px;

Backtrace:
/Applications/MAMP/htdocs/drupal-7.43/sites/connect.masstapp.edc.org/themes/connectmasstapp/sass/mail.scss:128
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:1167:in `expected'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:643:in `block'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:636:in `ruleset'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/nkatz/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...olor: #b8dada; \": expected \"}\", was \"!important;\"\A         on line 128 of /Applications/MAMP/htdocs/drupal-7.43/sites/connect.masstapp.edc.org/themes/connectmasstapp/sass/mail.scss\A \A 123: .FeaturePadding {\A 124:   padding: 30px 0px 40px 0px;\A 125: }\A 126: \A 127: .FeatureArticleBGColor {\A 128:   background-color: #b8dada; !important;\A 129:   margin: 0px;\A 130: }\A 131: \A 132: .FeatureText {\A 133:   padding: 15px;"; }
