/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* line 3, ../sass/mail.scss */
body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  font-size: 10pt;
}

/* line 12, ../sass/mail.scss */
#subRootDiv {
  background: #b8dada;
  /*#E2E1DE;*/
}

/* line 16, ../sass/mail.scss */
.OuterBGColor {
  /* background-image: url(https://mlsvc01-prod.s3.amazonaws.com/4746e1d9401/37df6fba-b775-41f3-b9c4-9241d5818eb3.png);
   background-repeat: repeat;*/
  background: red;
}

/* line 22, ../sass/mail.scss */
table.OuterBGColor {
  margin-left: auto;
  margin-right: auto;
}

/* line 27, ../sass/mail.scss */
table {
  max-width: 600px !important;
  border: 1px solid blue;
}

/* line 32, ../sass/mail.scss */
.MainWidth {
  width: 620px;
}

/* line 36, ../sass/mail.scss */
.MaxMainWidth {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

/* line 42, ../sass/mail.scss */
.BodyPadding {
  padding: 15px 10px;
}

/* line 46, ../sass/mail.scss */
.TopMargin {
  padding: 0px;
}

/* line 50, ../sass/mail.scss */
.OuterText {
  color: #333333;
}

/* line 54, ../sass/mail.scss */
.Logo {
  padding: 15px 0px 0px;
}

/* line 58, ../sass/mail.scss */
.tdWrapper {
  padding: 0px;
  color: #333333;
}

/* line 63, ../sass/mail.scss */
.LogoImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 69, ../sass/mail.scss */
.Image {
  padding: 0px;
}

/* line 73, ../sass/mail.scss */
.MainText {
  color: #333333;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt !important;
}

/* line 79, ../sass/mail.scss */
.RainbowTopWrapper {
  height: 16px;
}

/* line 83, ../sass/mail.scss */
.Rainbow {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 89, ../sass/mail.scss */
.BorderColor {
  background-color: transparent;
}

/* line 93, ../sass/mail.scss */
.BorderWidth {
  padding: 0px;
}

/* line 97, ../sass/mail.scss */
.InnerBGColor {
  background-color: dodgerblue;
  /*#FFFFFF;*/
}

/* line 101, ../sass/mail.scss */
.EmailContainer {
  padding: 0px;
}

/* line 105, ../sass/mail.scss */
.BannerImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 111, ../sass/mail.scss */
.BottomMargin {
  padding: 0px;
}

/* line 115, ../sass/mail.scss */
.MailingText {
  font-size: 9pt !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  padding: 15px 0px 35px;
}

/* line 122, ../sass/mail.scss */
.FeaturePadding {
  padding: 30px 0px 40px 0px;
}

/* line 126, ../sass/mail.scss */
.FeatureArticleBGColor {
  background-color: #b8dada;
  /*#E2E1DE;*/
  margin: 0px;
}

/* line 131, ../sass/mail.scss */
.FeatureText {
  padding: 15px;
  color: #333333;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10pt;
}

/* line 138, ../sass/mail.scss */
.FeatureText.Callout {
  font-size: 11pt !important;
}

/* line 142, ../sass/mail.scss */
.FeatureText.Callout.Green {
  background: #D8E2C8;
}
/* line 144, ../sass/mail.scss */
.FeatureText.Callout.Green a {
  color: #000000 !important;
}

/* line 149, ../sass/mail.scss */
.FeatureText.Callout.Yellow {
  background: #F3E2B5;
}
/* line 151, ../sass/mail.scss */
.FeatureText.Callout.Yellow a {
  color: #000000 !important;
}

/* line 156, ../sass/mail.scss */
.FeatureText.Callout.Red {
  background: #8C1D18;
  color: #FFFFFF;
}
/* line 159, ../sass/mail.scss */
.FeatureText.Callout.Red a {
  color: #FFFFFF !important;
}

/* line 164, ../sass/mail.scss */
.FeatureHeadlineText {
  color: #8C1D18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 12pt !important;
  padding-bottom: 0px;
}

/* line 172, ../sass/mail.scss */
.PresentersBlock {
  width: 100% !important;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
}

/* line 179, ../sass/mail.scss */
.PresentersImg {
  vertical-align: top;
  width: 175px !important;
  padding: 0px !important;
  text-align: left !important;
}

/* line 186, ../sass/mail.scss */
.Disclaimer {
  padding: 0px 20px 30px;
  width: 560px !important;
  font-size: 10pt !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
}

/* line 194, ../sass/mail.scss */
.DisclaimerText {
  text-align: center;
  border: 3px solid #E2E1DE;
  font-size: 9pt !important;
  padding: 10px;
}

/* line 201, ../sass/mail.scss */
#Body {
  padding: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
  color: #333333;
  line-height: 1.25em;
}

/* line 209, ../sass/mail.scss */
#Body table h3 {
  font-size: 11pt !important;
  color: #00436E !important;
  font-weight: bold;
}

/* line 215, ../sass/mail.scss */
#Body table ul {
  padding-left: 16px !important;
}

/* line 219, ../sass/mail.scss */
.spacing {
  margin-bottom: 15px;
}

/* line 223, ../sass/mail.scss */
td {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
  color: #333333;
}

/* line 229, ../sass/mail.scss */
.Headline, h1 {
  padding-bottom: 5px;
  color: #888A55;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18pt !important;
  line-height: normal;
}

/* line 238, ../sass/mail.scss */
.SubHeadline, h2 {
  color: #333333;
  font-style: italic;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14pt !important;
  line-height: normal;
}

/* line 247, ../sass/mail.scss */
.DividerWrapper {
  padding: 15px 0px;
}

/* line 251, ../sass/mail.scss */
.DividerImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 257, ../sass/mail.scss */
.Static {
  display: block;
  height: 1px;
  width: 5px;
}

/* line 263, ../sass/mail.scss */
.ArticleWrapper {
  padding-bottom: 11px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  font-size: 11pt !important;
  font-weight: normal;
}

/* line 271, ../sass/mail.scss */
.ArticleHeadline, h3 {
  color: #8C1D18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 13pt !important;
  padding-bottom: 5px;
  display: block;
  line-height: 1.25em;
}

/* line 281, ../sass/mail.scss */
.ButtonBGColor {
  -moz-border-radius: 4px;
  background-color: #888A55;
  width: auto !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 289, ../sass/mail.scss */
.ButtonContent {
  padding: 14px 18px;
}

/* line 293, ../sass/mail.scss */
.ButtonText {
  color: #ffffff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  font-size: 11pt !important;
}

/* line 300, ../sass/mail.scss */
a {
  text-decoration: underline;
  color: #333333;
}

/* line 305, ../sass/mail.scss */
.when-block h3 {
  font-style: normal;
  font-weight: normal;
  color: #577785;
  font-size: 12pt;
}

/* line 312, ../sass/mail.scss */
.when-block h3 div {
  margin: 15px 0 5px;
}

/* line 316, ../sass/mail.scss */
.when-block h3 div.row-0 {
  margin-top: 0px;
}

/* line 320, ../sass/mail.scss */
.when-block div.view-instances .views-row div {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 325, ../sass/mail.scss */
.when-block div.view-instances .views-row div.views-field {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 330, ../sass/mail.scss */
#date {
  display: none;
}

/* line 334, ../sass/mail.scss */
p.ics, p.orange-button {
  margin-top: 20px;
  float: right;
}

/* line 338, ../sass/mail.scss */
p.ics a, p.orange-button a {
  margin-top: 10px;
  font-weight: normal;
  background: #C47E28;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 351, ../sass/mail.scss */
.hide-ics p.ics {
  display: none;
}

/* line 357, ../sass/mail.scss */
p {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 363, ../sass/mail.scss */
span.break a {
  word-break: break-all;
}

/* line 367, ../sass/mail.scss */
div.date-display-range {
  display: inline;
}
