/* line 1, ../sass/mail.scss */
body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  font-size: 10pt;
}

/* line 10, ../sass/mail.scss */
#subRootDiv {
  background-color: #E2E1DE;
}

/* line 14, ../sass/mail.scss */
.OuterBGColor {
  /*background-image: url(https://mlsvc01-prod.s3.amazonaws.com/4746e1d9401/37df6fba-b775-41f3-b9c4-9241d5818eb3.png);
  background-repeat: repeat;*/
}

/* line 19, ../sass/mail.scss */
table.OuterBGColor {
  margin-left: auto;
  margin-right: auto;
}

/* line 24, ../sass/mail.scss */
table {
  max-width: 600px !important;
}

/* line 28, ../sass/mail.scss */
.MainWidth {
  width: 620px;
}

/* line 32, ../sass/mail.scss */
.MaxMainWidth {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

/* line 38, ../sass/mail.scss */
.BodyPadding {
  padding: 15px 10px;
}

/* line 42, ../sass/mail.scss */
.TopMargin {
  padding: 0px;
}

/* line 46, ../sass/mail.scss */
.OuterText {
  color: #333333;
}

/* line 50, ../sass/mail.scss */
.Logo {
  padding: 15px 0px 0px;
}

/* line 54, ../sass/mail.scss */
.tdWrapper {
  padding: 0px;
  color: #333333;
}

/* line 59, ../sass/mail.scss */
.LogoImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 65, ../sass/mail.scss */
.Image {
  padding: 0px;
}

/* line 69, ../sass/mail.scss */
.MainText {
  color: #333333;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt !important;
}

/* line 75, ../sass/mail.scss */
.RainbowTopWrapper {
  height: 16px;
}

/* line 79, ../sass/mail.scss */
.Rainbow {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 85, ../sass/mail.scss */
.BorderColor {
  background-color: transparent;
}

/* line 89, ../sass/mail.scss */
.BorderWidth {
  padding: 0px;
}

/* line 93, ../sass/mail.scss */
.InnerBGColor {
  background-color: #FFFFFF;
}

/* line 97, ../sass/mail.scss */
.EmailContainer {
  padding: 0px;
}

/* line 101, ../sass/mail.scss */
.BannerImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 107, ../sass/mail.scss */
.BottomMargin {
  padding: 0px;
}

/* line 111, ../sass/mail.scss */
.MailingText {
  font-size: 9pt !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  padding: 15px 0px 35px;
}

/* line 118, ../sass/mail.scss */
.FeaturePadding {
  padding: 30px 0px 40px 0px;
}

/* background color for email */
/* line 123, ../sass/mail.scss */
.FeatureArticleBGColor {
  background-color: #EEF2F5;
  /*#E2E1DE;*/
  margin: 0px;
}

/* line 128, ../sass/mail.scss */
.FeatureText {
  padding: 15px;
  color: #333333;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10pt;
}

/* line 135, ../sass/mail.scss */
.FeatureText.Callout {
  font-size: 11pt !important;
}

/* line 139, ../sass/mail.scss */
.FeatureText.Callout.Green {
  background: #D8E2C8;
}
/* line 141, ../sass/mail.scss */
.FeatureText.Callout.Green a {
  color: #000000 !important;
}

/* line 146, ../sass/mail.scss */
.FeatureText.Callout.Yellow {
  background: #F3E2B5;
}
/* line 148, ../sass/mail.scss */
.FeatureText.Callout.Yellow a {
  color: #000000 !important;
}

/* line 153, ../sass/mail.scss */
.FeatureText.Callout.Red {
  background: #8C1D18;
  color: #FFFFFF;
}
/* line 156, ../sass/mail.scss */
.FeatureText.Callout.Red a {
  color: #FFFFFF !important;
}

/* line 161, ../sass/mail.scss */
.FeatureHeadlineText {
  color: #8C1D18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 12pt !important;
  padding-bottom: 0px;
}

/* line 169, ../sass/mail.scss */
.PresentersBlock {
  width: 100% !important;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
}

/* line 176, ../sass/mail.scss */
.PresentersImg {
  vertical-align: top;
  width: 175px !important;
  padding: 0px !important;
  text-align: left !important;
}

/* line 183, ../sass/mail.scss */
.Disclaimer {
  padding: 0px 20px 30px;
  width: 560px !important;
  font-size: 10pt !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
}

/* line 191, ../sass/mail.scss */
.DisclaimerText {
  text-align: center;
  border: 3px solid #E2E1DE;
  font-size: 9pt !important;
  padding: 10px;
}

/* line 198, ../sass/mail.scss */
#Body {
  padding: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
  color: #333333;
  line-height: 1.25em;
}

/* line 206, ../sass/mail.scss */
#Body table h3 {
  font-size: 11pt !important;
  color: #00436E !important;
  font-weight: bold;
}

/* line 212, ../sass/mail.scss */
#Body table ul {
  padding-left: 16px !important;
}

/* line 216, ../sass/mail.scss */
.spacing {
  margin-bottom: 15px;
}

/* line 220, ../sass/mail.scss */
td {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
  color: #333333;
}

/* line 226, ../sass/mail.scss */
.Headline, h1 {
  padding-bottom: 5px;
  color: #888A55;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18pt !important;
  line-height: normal;
}

/* line 235, ../sass/mail.scss */
.SubHeadline, h2 {
  color: #333333;
  font-style: italic;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14pt !important;
  line-height: normal;
}

/* line 244, ../sass/mail.scss */
.DividerWrapper {
  padding: 15px 0px;
}

/* line 248, ../sass/mail.scss */
.DividerImg {
  display: block;
  height: auto !important;
  max-width: 100% !important;
}

/* line 254, ../sass/mail.scss */
.Static {
  display: block;
  height: 1px;
  width: 5px;
}

/* line 260, ../sass/mail.scss */
.ArticleWrapper {
  padding-bottom: 11px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  font-size: 11pt !important;
  font-weight: normal;
}

/* line 268, ../sass/mail.scss */
.ArticleHeadline, h3 {
  color: #8C1D18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 13pt !important;
  padding-bottom: 5px;
  display: block;
  line-height: 1.25em;
}

/* line 278, ../sass/mail.scss */
.ButtonBGColor {
  -moz-border-radius: 4px;
  background-color: #888A55;
  width: auto !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 286, ../sass/mail.scss */
.ButtonContent {
  padding: 14px 18px;
}

/* line 290, ../sass/mail.scss */
.ButtonText {
  color: #ffffff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  font-size: 11pt !important;
}

/* line 297, ../sass/mail.scss */
a {
  text-decoration: underline;
  color: #333333;
}

/* line 302, ../sass/mail.scss */
.when-block h3 {
  font-style: normal;
  font-weight: normal;
  color: #577785;
  font-size: 12pt;
}

/* line 309, ../sass/mail.scss */
.when-block h3 div {
  margin: 15px 0 5px;
}

/* line 313, ../sass/mail.scss */
.when-block h3 div.row-0 {
  margin-top: 0px;
}

/* line 317, ../sass/mail.scss */
.when-block div.view-instances .views-row div {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 322, ../sass/mail.scss */
.when-block div.view-instances .views-row div.views-field {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 327, ../sass/mail.scss */
#date {
  display: none;
}

/* line 331, ../sass/mail.scss */
p.ics, p.orange-button {
  margin-top: 20px;
  float: right;
}

/* line 335, ../sass/mail.scss */
p.ics a, p.orange-button a {
  margin-top: 10px;
  font-weight: normal;
  background: #C47E28;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 348, ../sass/mail.scss */
.hide-ics p.ics {
  display: none;
}

/* line 354, ../sass/mail.scss */
p {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 360, ../sass/mail.scss */
span.break a {
  word-break: break-all;
}

/* line 364, ../sass/mail.scss */
div.date-display-range {
  display: inline;
}
