/* Layout rules */
/* @import "layouts/responsive.css"; */
/* Component (SMACSS module) rules */
/* @import "components/misc.css"; */
/* Optionally, add your own components here. */
/* @import "print.css"; */
/* assets needed for all pages */
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/headers/_extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/headers/_extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}
/* line 20, ../sass/headers/_extensible.scss */
.proto-disclaimer a {
  font-weight: normal;
  color: #333333;
  text-decoration: underline;
}

/* line 27, ../sass/headers/_extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 34, ../sass/headers/_extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 40, ../sass/headers/_extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 43, ../sass/headers/_extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 52, ../sass/headers/_extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 62, ../sass/headers/_extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 76, ../sass/headers/_extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 84, ../sass/headers/_extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*general (sitewide) styles*/
/* components */
/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/**
 * Menus.
 */
/* line 16, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 .content {
  border: 1px solid #d7d7d7;
}
/* line 19, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu {
  padding: 5px 0 0;
  border: none;
}
/* line 22, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.leaf {
  padding: 7px 15px 0px 18px;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: transparent url("../images/bullet-gray.jpg") no-repeat scroll 18px 12px;
  padding: 5px 0 3px 30px;
}
/* line 40, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.leaf a {
  color: #333333;
}

/* line 50, ../sass/components/_misc.scss */
#header-inn .user-menu a[href="http://masstapp.edc.org/masstapp-technical-assistance-request-form"] span.ext {
  display: none;
}

/* line 60, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li a {
  color: #4a4a4a;
}
/* line 62, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li a:hover {
  color: #207cdf;
}
/* line 68, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.active a.active {
  color: #207cdf;
}

/* main pages */
/* line 11, ../sass/main_pages/_event.scss */
body.node-type-event .main-content .region-help .pageblock {
  padding-left: 30px;
}
/* line 19, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent {
  padding: 0 25px 0 30px;
}
/* line 21, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-left {
  width: 49.5%;
  margin-right: 4%;
}
/* line 25, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-right {
  width: 46.5%;
  margin-top: -25px;
}
/* line 28, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-right .field {
  margin: 0 0 25px 0;
}
/* line 33, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- {
  padding: 15px;
  border: 1px solid #d7d7d7;
}
/* line 36, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- h2 {
  margin-top: 0;
}
/* line 41, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances ul {
  margin: 0;
}
/* line 43, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances ul li.views-row {
  padding-top: 5px;
}
/* line 47, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances .views-row {
  padding: 0 0 5px 0;
}
/* line 53, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials {
  padding: 15px;
  border: 1px solid #d7d7d7;
}
/* line 56, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials h2 {
  margin-top: 0;
}
/* line 60, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials ul {
  margin: 0;
}
/* line 62, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials ul li.views-row {
  padding-top: 5px;
}
/* line 66, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials .views-row {
  padding: 0 0 5px 0;
}

/*admin & profile*/
/* line 6, ../sass/main_pages/_register.scss */
body.page-user-register input, body.page-user-register select, body.page-user-register fieldset, body.page-user-register .form-select, body.page-anon-register input, body.page-anon-register select, body.page-anon-register fieldset, body.page-anon-register .form-select, body.page-admin-people-create input, body.page-admin-people-create select, body.page-admin-people-create fieldset, body.page-admin-people-create .form-select {
  border: 2px solid #d7d7d7;
  border-radius: 0;
}
/* line 10, ../sass/main_pages/_register.scss */
body.page-user-register select, body.page-user-register .form-select, body.page-anon-register select, body.page-anon-register .form-select, body.page-admin-people-create select, body.page-admin-people-create .form-select {
  -webkit-appearance: none;
  -webkit-background: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  -moz-background: none;
  -moz-border-radius: 0;
  appearance: none;
}
/* line 19, ../sass/main_pages/_register.scss */
body.page-user-register #breadcrumbs, body.page-anon-register #breadcrumbs, body.page-admin-people-create #breadcrumbs {
  border-bottom: none;
}
/* line 22, ../sass/main_pages/_register.scss */
body.page-user-register #small-login-close, body.page-anon-register #small-login-close, body.page-admin-people-create #small-login-close {
  display: none;
}
/* line 25, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list, body.page-anon-register ul#multipage-panes-list, body.page-admin-people-create ul#multipage-panes-list {
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 28, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li, body.page-anon-register ul#multipage-panes-list li, body.page-admin-people-create ul#multipage-panes-list li {
  font-size: 14px;
  color: #d7d7d7;
  font-weight: bold;
  padding: 2px 0;
}
/* line 34, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li.active, body.page-anon-register ul#multipage-panes-list li.active, body.page-admin-people-create ul#multipage-panes-list li.active {
  color: #00a73a;
}
/* line 38, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .step, body.page-anon-register ul#multipage-panes-list li .pane-link .step, body.page-admin-people-create ul#multipage-panes-list li .pane-link .step {
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
/* line 43, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .title, body.page-anon-register ul#multipage-panes-list li .pane-link .title, body.page-admin-people-create ul#multipage-panes-list li .pane-link .title {
  vertical-align: middle;
}
/* line 49, ../sass/main_pages/_register.scss */
body.page-user-register h2.multipage-pane-title, body.page-anon-register h2.multipage-pane-title, body.page-admin-people-create h2.multipage-pane-title {
  display: none;
}
/* line 52, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper {
  border: #d7d7d7 solid 4px;
  padding: 1.5em;
  margin-bottom: 1em;
}
/* line 57, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend {
  position: absolute;
  top: 5px;
}
/* line 61, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper {
  margin-top: 40px;
}
/* line 66, ../sass/main_pages/_register.scss */
body.page-user-register .chosen-container-single .chosen-single, body.page-anon-register .chosen-container-single .chosen-single, body.page-admin-people-create .chosen-container-single .chosen-single {
  background: none;
  border: none;
}

/* responsive*/
