/* Layout rules */
/* @import "layouts/responsive.css"; */
/* Component (SMACSS module) rules */
/* @import "components/misc.css"; */
/* Optionally, add your own components here. */
/* @import "print.css"; */
/* assets needed for all pages */
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/headers/_extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/headers/_extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}
/* line 20, ../sass/headers/_extensible.scss */
.proto-disclaimer a {
  font-weight: normal;
  color: #333333;
  text-decoration: underline;
}

/* line 27, ../sass/headers/_extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 34, ../sass/headers/_extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 40, ../sass/headers/_extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 43, ../sass/headers/_extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 52, ../sass/headers/_extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 62, ../sass/headers/_extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 76, ../sass/headers/_extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 84, ../sass/headers/_extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*general (sitewide) styles*/
/* components */
/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/**
 * Menus.
 */
/* line 16, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 .content {
  border: 1px solid #d7d7d7;
}
/* line 19, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu {
  padding: 5px 0 0;
  border: none;
}
/* line 22, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.leaf {
  padding: 7px 15px 0px 18px;
  border: none;
  list-style-type: none;
  list-style-image: none;
  background: transparent url("../images/bullet-gray.jpg") no-repeat scroll 18px 12px;
  padding: 5px 0 3px 30px;
}
/* line 40, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.leaf a {
  color: #333333;
}

/* line 50, ../sass/components/_misc.scss */
#header-inn .user-menu a[href="http://masstapp.edc.org/masstapp-technical-assistance-request-form"] span.ext {
  display: none;
}

/* line 60, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li a {
  color: #4a4a4a;
}
/* line 62, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li a:hover {
  color: #105eb4;
}
/* line 68, ../sass/components/_misc.scss */
.region-sidebar-first #block-menu-block-4 ul.menu li.active a.active {
  color: #207cdf;
}

/* line 76, ../sass/components/_misc.scss */
.messages.status {
  margin-left: 30px;
  margin-right: 25px;
}

/* line 85, ../sass/components/_misc.scss */
.my-archived-events .views-row .button a {
  display: inline-block;
  width: 94px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 1px #300033;
  font-weight: bold;
  cursor: pointer;
  background-color: #09af4d;
  padding: 4px 6px;
  border-radius: 5px;
  margin-top: 5px;
}
/* line 97, ../sass/components/_misc.scss */
.my-archived-events .views-row .button a:hover {
  background-color: #105eb4;
}

/* line 108, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel, .page-flag-confirm-flag-registration .confirmation .panel-rule, .page-flag-confirm-flag-registration .confirmation .panel-rule-single {
  background-color: transparent;
  border: none;
}
/* line 111, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel > div, .page-flag-confirm-flag-registration .confirmation .panel-rule > div, .page-flag-confirm-flag-registration .confirmation .panel-rule-single > div {
  margin-bottom: 10px;
  position: relative;
}
/* line 116, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .form-item > input, .page-flag-confirm-flag-registration .confirmation .panel-rule .form-item > input, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .form-item > input {
  margin-left: 60px;
}
/* line 119, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .form-item > select, .page-flag-confirm-flag-registration .confirmation .panel-rule .form-item > select, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .form-item > select, .page-flag-confirm-flag-registration .confirmation .panel .form-item .form-select, .page-flag-confirm-flag-registration .confirmation .panel-rule .form-item .form-select, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .form-item .form-select, .page-flag-confirm-flag-registration .confirmation .panel .form-item .description, .page-flag-confirm-flag-registration .confirmation .panel-rule .form-item .description, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .form-item .description {
  margin-left: 60px;
}
/* line 122, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .form-item > label, .page-flag-confirm-flag-registration .confirmation .panel-rule .form-item > label, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .form-item > label {
  font-weight: bold;
  margin-left: 60px;
  padding-top: 4px;
}
/* line 128, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .saver, .page-flag-confirm-flag-registration .confirmation .panel-rule .saver, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .saver, .page-flag-confirm-flag-registration .confirmation .panel .editor, .page-flag-confirm-flag-registration .confirmation .panel-rule .editor, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .editor {
  position: absolute;
  display: inline-block;
  min-width: 30px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
  text-shadow: 1px 1px 1px #300033 !important;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  background: none repeat scroll 0 0 #09af4d;
  padding: 2px 6px 1px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 4px;
  margin-bottom: 5px;
}
/* line 147, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .saver:hover, .page-flag-confirm-flag-registration .confirmation .panel-rule .saver:hover, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .saver:hover, .page-flag-confirm-flag-registration .confirmation .panel .editor:hover, .page-flag-confirm-flag-registration .confirmation .panel-rule .editor:hover, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .editor:hover {
  background: none repeat scroll 0 0 #CF5240;
}
/* line 151, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .saver, .page-flag-confirm-flag-registration .confirmation .panel-rule .saver, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .saver {
  background: none repeat scroll 0 0 #2986ed;
}
/* line 155, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .content .label, .page-flag-confirm-flag-registration .confirmation .panel-rule .content .label, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .content .label, .page-flag-confirm-flag-registration .confirmation .panel .content .value, .page-flag-confirm-flag-registration .confirmation .panel-rule .content .value, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .content .value {
  display: block;
}
/* line 158, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .content .label, .page-flag-confirm-flag-registration .confirmation .panel-rule .content .label, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .content .label {
  padding-left: 60px;
  font-weight: bold;
  padding-top: 4px;
}
/* line 163, ../sass/components/_misc.scss */
.page-flag-confirm-flag-registration .confirmation .panel .content .value, .page-flag-confirm-flag-registration .confirmation .panel-rule .content .value, .page-flag-confirm-flag-registration .confirmation .panel-rule-single .content .value {
  font-style: italic;
  padding-left: 70px;
}

/* main pages */
/* line 7, ../sass/main_pages/_event.scss */
body.node-type-event,
body.node-type-event-materials-group {
  /*.group-description p{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }*/
  /* hide second subtitle */
}
/* line 9, ../sass/main_pages/_event.scss */
body.node-type-event .page-title,
body.node-type-event-materials-group .page-title {
  color: #2986ed;
  text-align: center;
  font-weight: bold;
}
/* line 15, ../sass/main_pages/_event.scss */
body.node-type-event ul.event-instances li,
body.node-type-event-materials-group ul.event-instances li {
  opacity: 0;
}
/* line 19, ../sass/main_pages/_event.scss */
body.node-type-event #block-block-20 h2,
body.node-type-event-materials-group #block-block-20 h2 {
  color: #2986ed;
  text-align: center;
  width: 100%;
  margin-top: 2px;
}
/* line 25, ../sass/main_pages/_event.scss */
body.node-type-event h1 span,
body.node-type-event-materials-group h1 span {
  display: block;
}
/* line 28, ../sass/main_pages/_event.scss */
body.node-type-event h1 span:nth-child(n+2),
body.node-type-event-materials-group h1 span:nth-child(n+2) {
  font-size: 21px;
}
/* line 33, ../sass/main_pages/_event.scss */
body.node-type-event .main-content .region-help .pageblock,
body.node-type-event-materials-group .main-content .region-help .pageblock {
  padding-left: 30px;
}
/* line 41, ../sass/main_pages/_event.scss */
body.node-type-event .views-field-field-material .field-content a,
body.node-type-event-materials-group .views-field-field-material .field-content a {
  display: block;
}
/* line 44, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-event-details,
body.node-type-event-materials-group .field-name-field-event-details {
  margin-top: 0px;
}
/* line 51, ../sass/main_pages/_event.scss */
body.node-type-event .group-footer p:first-child,
body.node-type-event-materials-group .group-footer p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
/* line 55, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent,
body.node-type-event-materials-group #pagecontent {
  padding: 0 25px 0 30px;
}
/* line 57, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-left,
body.node-type-event-materials-group #pagecontent .ds-2col-stacked > .group-left {
  width: 49.5%;
  margin-right: 4%;
}
/* line 60, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-left .field-name-event-date-s-,
body.node-type-event-materials-group #pagecontent .ds-2col-stacked > .group-left .field-name-event-date-s- {
  margin-top: 30px;
}
/* line 65, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-right,
body.node-type-event-materials-group #pagecontent .ds-2col-stacked > .group-right {
  width: 46.5%;
  margin-top: 30px;
}
/* line 68, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent .ds-2col-stacked > .group-right .field,
body.node-type-event-materials-group #pagecontent .ds-2col-stacked > .group-right .field {
  margin: 0 0 25px 0;
}
/* line 73, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-materials-groups,
body.node-type-event .field-name-event-date-s-,
body.node-type-event .field-name-materials,
body.node-type-event .field-name-join-this-event,
body.node-type-event-materials-group .field-name-field-materials-groups,
body.node-type-event-materials-group .field-name-event-date-s-,
body.node-type-event-materials-group .field-name-materials,
body.node-type-event-materials-group .field-name-join-this-event {
  margin: 10px 0px 0px 0px;
  border: 1px solid #2986ed;
}
/* line 80, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials,
body.node-type-event-materials-group .field-name-materials {
  margin-left: 5px;
}
/* line 84, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-learning-objectives-stem .field-label,
body.node-type-event-materials-group .field-name-field-learning-objectives-stem .field-label {
  margin-bottom: 10px;
  /* hide the colon */
  width: 142px;
  /* lower case - 114px; */
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}
/* line 92, ../sass/main_pages/_event.scss */
body.node-type-event ul.learning-objectives li,
body.node-type-event-materials-group ul.learning-objectives li {
  list-style-type: disc;
  margin-left: 14px;
}
/* line 96, ../sass/main_pages/_event.scss */
body.node-type-event ul.learning-objectives li,
body.node-type-event-materials-group ul.learning-objectives li {
  padding-left: 5px;
}
/* line 100, ../sass/main_pages/_event.scss */
body.node-type-event div.region-content div.group-header,
body.node-type-event-materials-group div.region-content div.group-header {
  display: none;
}
/* line 103, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s-,
body.node-type-event .field-name-materials,
body.node-type-event .field-name-join-this-event,
body.node-type-event-materials-group .field-name-event-date-s-,
body.node-type-event-materials-group .field-name-materials,
body.node-type-event-materials-group .field-name-join-this-event {
  padding: 0px 15px 15px 15px;
}
/* line 107, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- h2,
body.node-type-event .field-name-materials h2,
body.node-type-event .field-name-join-this-event h2,
body.node-type-event-materials-group .field-name-event-date-s- h2,
body.node-type-event-materials-group .field-name-materials h2,
body.node-type-event-materials-group .field-name-join-this-event h2 {
  margin-top: 0;
  padding: 2px 0px;
  text-align: center;
  background: #2986ed;
  margin: 0px -15px 5px -15px;
  color: white;
}
/* line 119, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-event-details a,
body.node-type-event .field-name-field-materials-groups > .field-items a,
body.node-type-event-materials-group .field-name-field-event-details a,
body.node-type-event-materials-group .field-name-field-materials-groups > .field-items a {
  color: #07b24d;
  text-decoration: none;
}
/* line 122, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-event-details a:hover,
body.node-type-event .field-name-field-materials-groups > .field-items a:hover,
body.node-type-event-materials-group .field-name-field-event-details a:hover,
body.node-type-event-materials-group .field-name-field-materials-groups > .field-items a:hover {
  text-decoration: underline;
}
/* line 127, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-materials-groups > .field-items,
body.node-type-event-materials-group .field-name-field-materials-groups > .field-items {
  padding: 0 15px 0px 15px;
}
/* line 132, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-field-materials-groups .field-label,
body.node-type-event-materials-group .field-name-field-materials-groups .field-label {
  background-color: #2986ed;
  color: white;
  text-align: center;
  padding: 5px 0px;
  margin: 0px auto;
}
/* line 139, ../sass/main_pages/_event.scss */
body.node-type-event article.node-material,
body.node-type-event-materials-group article.node-material {
  margin-bottom: 0px;
}
/* line 142, ../sass/main_pages/_event.scss */
body.node-type-event #pagecontent img.file-icon,
body.node-type-event-materials-group #pagecontent img.file-icon {
  margin-right: 5px;
}
/* line 145, ../sass/main_pages/_event.scss */
body.node-type-event .presenter-location,
body.node-type-event-materials-group .presenter-location {
  font-weight: normal;
}
/* line 156, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances ul,
body.node-type-event .field-name-join-this-event .view-instances .view-instances ul,
body.node-type-event-materials-group .field-name-event-date-s- .view-instances .view-instances ul,
body.node-type-event-materials-group .field-name-join-this-event .view-instances .view-instances ul {
  margin: 0;
}
/* line 158, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances ul li.views-row,
body.node-type-event .field-name-join-this-event .view-instances .view-instances ul li.views-row,
body.node-type-event-materials-group .field-name-event-date-s- .view-instances .view-instances ul li.views-row,
body.node-type-event-materials-group .field-name-join-this-event .view-instances .view-instances ul li.views-row {
  padding-top: 5px;
}
/* line 162, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .view-instances .view-instances .views-row,
body.node-type-event .field-name-join-this-event .view-instances .view-instances .views-row,
body.node-type-event-materials-group .field-name-event-date-s- .view-instances .view-instances .views-row,
body.node-type-event-materials-group .field-name-join-this-event .view-instances .view-instances .views-row {
  padding: 0 0 5px 0;
}
/* line 169, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials h2,
body.node-type-event-materials-group .field-name-materials h2 {
  margin-top: 0;
}
/* line 173, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials ul,
body.node-type-event-materials-group .field-name-materials .view-materials ul {
  margin: 0;
}
/* line 175, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials ul li.views-row,
body.node-type-event-materials-group .field-name-materials .view-materials ul li.views-row {
  padding-top: 5px;
}
/* line 179, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-materials .view-materials .views-row,
body.node-type-event-materials-group .field-name-materials .view-materials .views-row {
  padding: 0 0 5px 0;
}
/* line 186, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-event-date-s- .flag-registration a,
body.node-type-event-materials-group .field-name-event-date-s- .flag-registration a {
  -moz-transition: all 0.2s ease-in-out 0s;
  border-radius: 5px;
  cursor: pointer;
  background: none repeat scroll 0 0 #09AF4D;
  border: 0px solid #9D4D2C;
  color: #fff;
  padding: 4px 6px;
  text-shadow: 1px 1px 1px #300033;
  margin-right: 4px;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
/* line 203, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-join-this-event .view-instances,
body.node-type-event-materials-group .field-name-join-this-event .view-instances {
  margin-bottom: 5px;
}
/* line 207, ../sass/main_pages/_event.scss */
body.node-type-event .field-name-join-this-event .flag-participate a,
body.node-type-event-materials-group .field-name-join-this-event .flag-participate a {
  -moz-transition: all 0.2s ease-in-out 0s;
  border-radius: 5px;
  cursor: pointer;
  background: none repeat scroll 0 0 #09AF4D;
  border: 0px solid #9D4D2C;
  color: #fff;
  padding: 4px 6px;
  text-shadow: 1px 1px 1px #300033;
  margin-right: 4px;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
/* line 223, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups,
body.node-type-event-materials-group div.field-name-field-materials-groups {
   /* .presenter-name,
    .presenter-position,
    .presenter-location {
      
      
      font-style: italic;

    }*/
   /* .field-name-field-presenter-name,
    .field-name-field-presenter-position,
    .field-name-field-presenter-location {
       float: left;
       font-size: 13px;
       margin-top: 20px;
       display: inline;


    }
    .node-event-materials-group header {
      float: left; 
    }
    .field-name-field-presenter-position,
    .field-name-field-presenter-location {
      margin-left: 7px;
  
      position: relative;
        &:before {
        content:',';
        float: left;
        position: absolute;
        left: -7px;
       }
    }
    .field-name-field-materials {
      clear: both;
    }*/
}
/* line 225, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups div.field-label,
body.node-type-event-materials-group div.field-name-field-materials-groups div.field-label {
  font-size: 16px;
}
/* line 228, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups h2.title a,
body.node-type-event-materials-group div.field-name-field-materials-groups h2.title a {
  text-decoration: none;
}
/* line 231, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups h2.title,
body.node-type-event-materials-group div.field-name-field-materials-groups h2.title {
  font-size: 13px;
}
/* line 234, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups .node-resource-author header,
body.node-type-event div.field-name-field-materials-groups .field-name-field-author,
body.node-type-event div.field-name-field-materials-groups .node-material header h2 a,
body.node-type-event div.field-name-field-materials-groups div.field-name-field-source,
body.node-type-event-materials-group div.field-name-field-materials-groups .node-resource-author header,
body.node-type-event-materials-group div.field-name-field-materials-groups .field-name-field-author,
body.node-type-event-materials-group div.field-name-field-materials-groups .node-material header h2 a,
body.node-type-event-materials-group div.field-name-field-materials-groups div.field-name-field-source {
  display: none;
}
/* line 240, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups .field-name-field-resource-note,
body.node-type-event-materials-group div.field-name-field-materials-groups .field-name-field-resource-note {
  font-style: italic;
}
/* line 243, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups .node-material a,
body.node-type-event-materials-group div.field-name-field-materials-groups .node-material a {
  display: block;
}
/* line 254, ../sass/main_pages/_event.scss */
body.node-type-event div.field-name-field-materials-groups .presenter-position,
body.node-type-event div.field-name-field-materials-groups .presenter-location,
body.node-type-event-materials-group div.field-name-field-materials-groups .presenter-position,
body.node-type-event-materials-group div.field-name-field-materials-groups .presenter-location {
  font-weight: normal;
}

/* line 289, ../sass/main_pages/_event.scss */
.my-archived-events .view-display-id-block_2 {
  margin-top: 20px;
}

/* line 294, ../sass/main_pages/_event.scss */
body.events .region-content {
  padding: 0 30px;
}
/* line 297, ../sass/main_pages/_event.scss */
body.events #sidebar {
  padding: 15px 15px 15px 15px;
}

/*admin & profile*/
/* line 6, ../sass/main_pages/_register.scss */
body.page-user-register input, body.page-user-register select, body.page-user-register fieldset, body.page-user-register .form-select, body.page-anon-register input, body.page-anon-register select, body.page-anon-register fieldset, body.page-anon-register .form-select, body.page-admin-people-create input, body.page-admin-people-create select, body.page-admin-people-create fieldset, body.page-admin-people-create .form-select {
  border: 2px solid #d7d7d7;
  border-radius: 0;
}
/* line 10, ../sass/main_pages/_register.scss */
body.page-user-register select, body.page-user-register .form-select, body.page-anon-register select, body.page-anon-register .form-select, body.page-admin-people-create select, body.page-admin-people-create .form-select {
  -webkit-appearance: none;
  -webkit-background: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  -moz-background: none;
  -moz-border-radius: 0;
  appearance: none;
}
/* line 19, ../sass/main_pages/_register.scss */
body.page-user-register #breadcrumbs, body.page-anon-register #breadcrumbs, body.page-admin-people-create #breadcrumbs {
  border-bottom: none;
}
/* line 22, ../sass/main_pages/_register.scss */
body.page-user-register #small-login-close, body.page-anon-register #small-login-close, body.page-admin-people-create #small-login-close {
  display: none;
}
/* line 25, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list, body.page-anon-register ul#multipage-panes-list, body.page-admin-people-create ul#multipage-panes-list {
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 28, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li, body.page-anon-register ul#multipage-panes-list li, body.page-admin-people-create ul#multipage-panes-list li {
  font-size: 14px;
  color: #d7d7d7;
  font-weight: bold;
  padding: 2px 0;
}
/* line 34, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li.active, body.page-anon-register ul#multipage-panes-list li.active, body.page-admin-people-create ul#multipage-panes-list li.active {
  color: #00a73a;
}
/* line 38, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .step, body.page-anon-register ul#multipage-panes-list li .pane-link .step, body.page-admin-people-create ul#multipage-panes-list li .pane-link .step {
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
/* line 43, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .title, body.page-anon-register ul#multipage-panes-list li .pane-link .title, body.page-admin-people-create ul#multipage-panes-list li .pane-link .title {
  vertical-align: middle;
}
/* line 49, ../sass/main_pages/_register.scss */
body.page-user-register h2.multipage-pane-title, body.page-anon-register h2.multipage-pane-title, body.page-admin-people-create h2.multipage-pane-title {
  display: none;
}
/* line 52, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper {
  border: #d7d7d7 solid 4px;
  padding: 1.5em;
  margin-bottom: 1em;
}
/* line 57, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper #edit-timezone .fieldset-legend {
  position: absolute;
  top: 5px;
}
/* line 61, ../sass/main_pages/_register.scss */
body.page-user-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper, body.page-anon-register .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper, body.page-admin-people-create .fieldset-wrapper.multipage-pane-wrapper #edit-timezone > .fieldset-wrapper {
  margin-top: 40px;
}
/* line 66, ../sass/main_pages/_register.scss */
body.page-user-register .chosen-container-single .chosen-single, body.page-anon-register .chosen-container-single .chosen-single, body.page-admin-people-create .chosen-container-single .chosen-single {
  background: none;
  border: none;
}

/* CSS Document */
/* line 3, ../sass/components/_icons.scss */
img.file-icon {
  display: none;
}

/* line 6, ../sass/components/_icons.scss */
.pdf {
  background: url(../images/resource-icons/sm-icon-pdf.gif) 0 0 no-repeat;
  padding-left: 22px;
  padding-bottom: 6px;
}

/* line 12, ../sass/components/_icons.scss */
.word, .docx {
  background: url(../images/resource-icons/sm-icon-word.gif) 0 0 no-repeat;
  padding-left: 22px;
  padding-top: 2px;
  padding-bottom: 4px;
}

/*.field-type-link-field a, .url {*/
/* line 20, ../sass/components/_icons.scss */
.field-type-link-field a {
  background: url(../images/resource-icons/sm-icon-web.gif) 0 0 no-repeat;
  padding-left: 22px;
  padding-bottom: 6px;
}

/* line 26, ../sass/components/_icons.scss */
.view-materials.view-display-id-block .field-content > a {
  background: url(../images/resource-icons/sm-icon-web.gif) no-repeat;
  padding-left: 20px;
  padding-bottom: 2px;
}

/* line 33, ../sass/components/_icons.scss */
.podcast {
  background: url(../images/resource-icons/podcast.gif) 0 0 no-repeat;
  padding-left: 22px;
}

/* line 38, ../sass/components/_icons.scss */
.video, .mpg, .mp4 {
  background: url(../images/resource-icons/video.gif) 0 0 no-repeat;
  padding-left: 22px;
  padding-top: 2px;
  padding-bottom: 4px;
}

/* line 45, ../sass/components/_icons.scss */
.zip {
  background: url(../images/resource-icons/sm-icon-zip.gif) 0 0 no-repeat;
  padding-left: 22px;
}

/* line 49, ../sass/components/_icons.scss */
.powerpoint, .pptx {
  background: url(../images/resource-icons/PowerPoint-16x16.png) 0 0 no-repeat;
  padding-left: 22px;
  padding-bottom: 6px;
}

/* line 54, ../sass/components/_icons.scss */
.excel {
  background: url(../images/resource-icons/Excel-16x16.png) 0 0 no-repeat;
  padding-left: 22px;
}

/* responsive*/
