/* Layout rules */
/* @import "layouts/responsive.css"; */
/* Component (SMACSS module) rules */
/* @import "components/misc.css"; */
/* Optionally, add your own components here. */
/* @import "print.css"; */
/* assets needed for all pages */
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/headers/_extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/headers/_extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}
/* line 20, ../sass/headers/_extensible.scss */
.proto-disclaimer a {
  font-weight: normal;
  color: #333333;
  text-decoration: underline;
}

/* line 27, ../sass/headers/_extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 34, ../sass/headers/_extensible.scss */
.panel, .panel-rule, .panel-rule-single, body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper, body.not-logged-in.section-user.page-user:not(.page-user-register) form#user-pass-reset {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 40, ../sass/headers/_extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover, body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper h3 a:hover, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper h3 a:hover, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper h3 a:hover, body.not-logged-in.section-user.page-user:not(.page-user-register) form#user-pass-reset h3 a:hover {
  color: #8c1d18;
}
/* line 43, ../sass/headers/_extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper, body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper .filter-wrapper, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper .filter-wrapper, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper .filter-wrapper, body.not-logged-in.section-user.page-user:not(.page-user-register) form#user-pass-reset .filter-wrapper {
  border: 0px;
}

/* line 52, ../sass/headers/_extensible.scss */
.panel-rule, .panel-rule-single, body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 62, ../sass/headers/_extensible.scss */
.panel-rule:before, .panel-rule-single:before, body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper:before, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper:before, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 76, ../sass/headers/_extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 84, ../sass/headers/_extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*general (sitewide) styles*/
/*@import 'sitewide/general';
@import 'sitewide/topmatter';
@import 'sitewide/navigation';*/
/* main pages */
/*@import 'main_pages/dashboard';
@import 'main_pages/create-event';
@import 'main_pages/login';
@import 'main_pages/logged-in';
@import 'main_pages/event';
@import 'main_pages/portals';*/
/*admin & profile*/
/*@import 'admin/admin';
@import 'main_pages/profile';
@import 'admin/user-password';
@import 'admin/workflow';*/
/* registrations*/
/* line 8, ../sass/main_pages/_register.scss */
body.page-node-registrations div#title-section h1.page__title.title {
  color: #888a55;
  font-weight: bold;
  font-size: 36px;
  background-image: none;
  padding-left: 0px;
}

/*
 *  Title and other elements for Registration page - all specific stuff goes here.
 */
/* line 24, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  /* specific width of fieldset wrapper - very important */
}
/* line 26, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) .request-new-password,
body.not-logged-in.page-anon-register:not(.node-type-event) .request-new-password {
  display: none;
}
/* line 29, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) div#main,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main {
  padding-top: 0px;
}
/* line 32, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) h1#page-title.page__title,
body.not-logged-in.page-anon-register:not(.node-type-event) h1#page-title.page__title {
  padding-top: 7px;
  color: #8c1d18;
  min-height: 44px;
  font-size: 26pt;
  /* from h2 in the specs */
  margin-top: 36px;
  margin-bottom: 21px;
  margin-top: 0px;
  text-transform: capitalize;
  background: url("../images/icons/profile.png") 0 0 no-repeat;
  padding-left: 55px;
}
/* line 45, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) div#content,
body.not-logged-in.page-anon-register:not(.node-type-event) div#content {
  border-top: 1px solid #d7d7d7;
  margin-top: 10px;
}
/* line 49, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.field-group-fieldset,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset.field-group-fieldset {
  padding-left: 20px;
  padding-right: 20px;
  background: #eef1f3;
}
/* line 53, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.field-group-fieldset legend,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset.field-group-fieldset legend {
  margin-left: -6px;
  position: relative;
}
/* line 59, ../sass/main_pages/_register.scss */
body.not-logged-in.page-user-register:not(.node-type-event) div.fieldset-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) div.fieldset-wrapper {
  margin-left: -20px;
  padding: 10px 17px;
  /*17px;*/
}

/*
 *  USER PROFILE FORM: Buttons and form elements for user profile
 */
/* line 69, ../sass/main_pages/_register.scss */
form#user-profile-form {
  /*.save-button {
      @extend .basic-button;
        text-transform: uppercase;
        float: right;
        margin-right: 10px;
        cursor: pointer;
        padding: 8px 20px;
        }*/
  /* fieldset styles */
}
/* line 70, ../sass/main_pages/_register.scss */
form#user-profile-form .edit-button,
form#user-profile-form .save-button,
form#user-profile-form .cancel-button {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
}
/* line 86, ../sass/main_pages/_register.scss */
form#user-profile-form input.form-text {
  border: 1px solid #BCBCBC;
}
/* line 89, ../sass/main_pages/_register.scss */
form#user-profile-form .cancel-button {
  clear: right;
}
/* line 92, ../sass/main_pages/_register.scss */
form#user-profile-form .item {
  font-size: 14px;
  margin: 10px 0 10px 5px;
  line-height: 1.5em;
  /*font-style: italic;*/
}
/* line 97, ../sass/main_pages/_register.scss */
form#user-profile-form .item .value {
  font-style: italic;
}
/* line 102, ../sass/main_pages/_register.scss */
form#user-profile-form .fieldset-wrapper {
  margin-left: 0px;
  width: 97.9%;
}

/*** Table Registrations-list (from Nancy, 7/10) ***/
/* line 111, ../sass/main_pages/_register.scss */
.no-registrations {
  text-align: center;
}

/* line 115, ../sass/main_pages/_register.scss */
.instance-label {
  background-color: #DAE6EC;
  border-top: 2px solid #949596;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0 3px 0;
  text-align: center;
}

/* line 124, ../sass/main_pages/_register.scss */
.instance-complete {
  color: #888a55;
  font-size: 14px;
  font-style: italic;
}

/* line 130, ../sass/main_pages/_register.scss */
.instance-full {
  background: #8c1d18;
  color: #FFF;
  padding: 2px;
}

/* line 136, ../sass/main_pages/_register.scss */
.access-information {
  background-color: #F8FBFD;
  font-size: 11px;
}
/* line 139, ../sass/main_pages/_register.scss */
.access-information p {
  margin: 10px;
}

/* line 144, ../sass/main_pages/_register.scss */
.show-access-information {
  cursor: pointer;
  text-decoration: underline;
}

/* line 150, ../sass/main_pages/_register.scss */
.view-instances .views-field-field-access-information ul {
  padding: 0 0 0 15px;
  margin-top: 0px;
}

/* line 157, ../sass/main_pages/_register.scss */
#registrations-list tr.odd {
  background-color: #fff !important;
}
/* line 160, ../sass/main_pages/_register.scss */
#registrations-list a {
  color: inherit !important;
}
/* line 162, ../sass/main_pages/_register.scss */
#registrations-list a:hover {
  color: #8c1d18 !important;
}

/* Matt's styles for chosen container and field-widget-inline-entity-form */
/* line 171, ../sass/main_pages/_register.scss */
.chosen-container {
  width: 412px !important;
}
/* line 173, ../sass/main_pages/_register.scss */
.chosen-container a {
  font-weight: normal;
}
/* line 176, ../sass/main_pages/_register.scss */
.chosen-container .chosen-single {
  border-radius: 0px;
  font-size: 14px;
  max-width: 412px;
  display: block;
  border: 1px solid #b6b6b6;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  height: 28px;
  padding-top: 1px;
}
/* line 188, ../sass/main_pages/_register.scss */
.chosen-container .chosen-drop {
  border-radius: 0px;
}
/* line 191, ../sass/main_pages/_register.scss */
.chosen-container.chosen-container-multi .chosen-choices li.search-choice {
  border-radius: 0px;
}

/* line 196, ../sass/main_pages/_register.scss */
.field-widget-inline-entity-form > div {
  margin-top: 20px;
}

/* line 201, ../sass/main_pages/_register.scss */
body.not-logged-in.section-user.page-user:not(.page-user-register) div#title-section {
  margin: 0px auto;
  border-bottom: 0px;
  width: 360px;
}
/* line 206, ../sass/main_pages/_register.scss */
body.not-logged-in.section-user.page-user:not(.page-user-register) form#user-pass-reset {
  padding: 20px;
  margin: 0px auto;
  width: 320px;
}
/* line 211, ../sass/main_pages/_register.scss */
body.not-logged-in.section-user.page-user:not(.page-user-register) form#user-pass-reset:before {
  width: 360px;
  margin-left: -21px;
}

/* OMB Block; we may want to just use a form here */
/* line 224, ../sass/main_pages/_register.scss */
body.page-user-edit #block-block-3,
body.page-user-register #block-block-3,
body.page-anon-register #block-block-3 {
  margin: 30px 0px;
}
/* line 226, ../sass/main_pages/_register.scss */
body.page-user-edit #block-block-3 p,
body.page-user-register #block-block-3 p,
body.page-anon-register #block-block-3 p {
  font-size: 12px;
  line-height: 1.3em;
}

/* Multipage Panes */
/* line 239, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list, body.page-anon-register ul#multipage-panes-list, body.page-admin-people-create ul#multipage-panes-list {
  padding-left: 0px;
}
/* line 241, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li, body.page-anon-register ul#multipage-panes-list li, body.page-admin-people-create ul#multipage-panes-list li {
  list-style-type: none;
  font-size: 17px;
  color: #d7d7d7;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 247, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li.active, body.page-anon-register ul#multipage-panes-list li.active, body.page-admin-people-create ul#multipage-panes-list li.active {
  color: #577785;
}
/* line 251, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .step, body.page-anon-register ul#multipage-panes-list li .pane-link .step, body.page-admin-people-create ul#multipage-panes-list li .pane-link .step {
  font-size: 24px;
  vertical-align: middle;
}
/* line 255, ../sass/main_pages/_register.scss */
body.page-user-register ul#multipage-panes-list li .pane-link .title, body.page-anon-register ul#multipage-panes-list li .pane-link .title, body.page-admin-people-create ul#multipage-panes-list li .pane-link .title {
  vertical-align: middle;
}
/* line 264, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane h2, body.page-anon-register .multipage-panes .multipage-pane h2, body.page-admin-people-create .multipage-panes .multipage-pane h2 {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 272, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper {
  padding: 20px !important;
  margin-left: 0px !important;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* line 278, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper:before, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper:before, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper:before {
  margin-left: -21px;
  margin-right: -21px;
  padding: 0px;
  width: auto;
}
/* line 284, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-pane-wrapper .multipage-counter, body.page-anon-register .multipage-panes .multipage-pane .multipage-pane-wrapper .multipage-counter, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-pane-wrapper .multipage-counter {
  right: -2em;
  top: 2.2em;
}
/* line 290, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-controls-list .multipage-button input[type="button"], body.page-anon-register .multipage-panes .multipage-pane .multipage-controls-list .multipage-button input[type="button"], body.page-admin-people-create .multipage-panes .multipage-pane .multipage-controls-list .multipage-button input[type="button"] {
  cursor: pointer;
  margin-right: 0.5em;
}
/* line 294, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions, body.page-anon-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-controls-list #edit-actions {
  left: 130px;
  position: relative;
}
/* line 297, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions input, body.page-anon-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions input, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-controls-list #edit-actions input {
  margin-top: 0px;
}
/* line 300, ../sass/main_pages/_register.scss */
body.page-user-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions + .multipage-button, body.page-anon-register .multipage-panes .multipage-pane .multipage-controls-list #edit-actions + .multipage-button, body.page-admin-people-create .multipage-panes .multipage-pane .multipage-controls-list #edit-actions + .multipage-button {
  position: relative;
  right: 92px;
}

/* line 312, ../sass/main_pages/_register.scss */
.chosen-container.error .chosen-single {
  border: 1px solid #b6b6b6;
}

/* line 317, ../sass/main_pages/_register.scss */
.field-type-markup p:last-child {
  margin-bottom: 0px;
}
/* line 320, ../sass/main_pages/_register.scss */
.field-type-markup#edit-field-demographic-info-intro {
  margin: 1em 0em 2em;
}

/* line 325, ../sass/main_pages/_register.scss */
.field-type-list-boolean a {
  font-weight: normal;
  color: #333333;
  text-decoration: underline;
}

/* responsive*/
/*@import 'phone/phone';
@import 'tablet/tablet';*/
