@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

/* form elements for Edit & Create Event & FLAGS & other node forms */

form.node-form, form#flag-confirm {
  .form-grouping > .form-wrapper {
    padding: 1px 15px;
    background: rgba(87, 119, 133, 0.15);
    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
    .form-item {
      margin: 10px 0px;
    }
  }
  .form-field-type-list-boolean {
    .form-item .description {
      margin-left: 0px;
    }
    label.option {
      font-weight: bold;
    }
  }
  a:not(.chosen-single) {
    font-weight: normal;
    color: $capt-maroon;
    &.field-group-format-title {
      font-weight: bold;
      color: $capt-aqua;
      &:hover {
        color: $capt-maroon;
        text-decoration: none;
      }
    }
  }
  .form-item {
    margin: 1.5em 0;
    &.form-type-radio {
      margin: 0;
    }
  }
  > div > .field-group-div.panel {
    @extend .panel-rule;
    > * {
      margin-left: 20px;
      margin-right: 20px;
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      text-transform: uppercase;
      color: $capt-aqua;
      font-size: 1.3em;
      font-style: normal;
      position: relative;
      top: -55px;
      margin-bottom: -40px;
    }
    fieldset:not(.ief-form) {
      border: 0px;
      margin: 0px;
      padding: 0px;
      legend {
        display: none;
        // I think this is fine because this isn't a public form

      }
      table {
        margin-top: 0;
      }
    }
    .text-format-wrapper {
      > div > label {
        display: none;
        // I think this is fine because this isn't a public form

      }
      .form-item {
        margin-bottom: 0px;
      }
      .ckeditor_links {
        font-size: .85em;
      }
      .filter-wrapper {
        border: 1px solid rgb(212, 213, 213);
        background-color: #F6F8FA;
        padding: 15px 0;
        .form-type-select {
          margin-top: 0px;
        }
        .filter-guidelines {
          font-size: .85em;
          line-height: 1.25em;
          .tips {
            padding-left: 15px;
          }
        }
      }
    }
    fieldset.ief-form, tr.ief-row-form {
      padding: 25px;
      border: 1px solid $capt-black;
      background: rgba(133, 133, 133, 0.17);
      > legend {
        display: block;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        text-transform: capitalize;
        font-style: italic;
        font-size: 1.25em;
      }
      .container-inline-date {
        .form-item {
          margin: 0;
        }
        .date-padding {
          padding: 0;
        }
      }
      .link-field-subrow .form-item {
        margin: .5em 0;
        label {
          font-size: .85em;
        }
      }
      .text-format-wrapper {
        > div > label {
          display: block;
        }
      }
    }
    input.form-text {
      font-size: $input-font-size;
      padding: 5px;
      max-width: 400px;
      display: block;
      border: 1px solid #b6b6b6;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      &:focus {
        background: $capt-inputfocus;
        outline: none;
      }
    }
    .field-type-datetime {
      .start-date-wrapper, .end-date-wrapper {
        width: auto;
        clear: none;
        float: left;
      }
      .end-date-wrapper {
        > div > label {
          float: left;
          margin-top: 22px;
          margin-right: 15px;
          margin-left: 15px;
        }
      }
    }
    .field-name-field-include-outlook-invitation label {
      font-weight: bold;
    }
  }
}

.entitytype-notification_test-form  #edit-field-notification-type {
  float: left;
  + * {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
  }
}


form#event-notifications-node-form {
  .panel {
    margin-top: 0px !important;
  }
  h3 {
    top: 0 !important;
    margin-bottom: 0 !important;
  }
  .group-group1 {
    .field-name-field-days-before-event-to-send {
      display: none;
    }
    .field-name-field-days-after-event-to-send {
      display: none;
    }
  }
  .group-group2 {
    .field-name-field-days-before-event-to-send {
      display: none;
    }
    .field-name-field-days-after-event-to-send {
      display: none;
    }
  }
  .group-group3 {
    .field-name-field-days-after-event-to-send {
      display: none;
    }
  }
  .group-group4 {
    .field-name-field-days-before-event-to-send {
      display: none;
    }
  }
}


/* end create event form */
/* overall page heights */

body.page-node-add-event.page-node-add.section-node-add {
  #page {
    height: 95%;
  }
  /* needed so that save button has space above border */
  div#content {
    height: 100%;
    padding-bottom: 20px;
  }
}


form#portal-section-node-form,
form#portal-node-form,
form#portal-page-node-form {
  .field-widget-entityreference-autocomplete {
    thead {
      display: none;
    }
  }
}

form#flag-confirm .form-checkboxes .form-item {
  margin: 0px;
}
