@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

/*
@media screen and (min-width: $phone-tablet-divide+1) {
  body.node-type-event {
        .ds-2col-stacked > .group-right .field-type-ds {
        @extend .panel-rule-single;
       }
  }
}*/
body.node-type-event,
body.node-type-portal,
body.node-type-portal-section,
body.node-type-portal-page,
body.page-node-reorder-sections,
body.page-node-reorder-pages,
body.page-node-access {
  div#title-section {
    h1.page__title.title {
      color: $capt-green;
      font-weight: bold;
      font-size: 36px;
      background-image: none;
      padding-left: 0px;
      margin-bottom: 10px;
    }
    h2, h3 {
      color: $capt-black;
      margin-bottom: 10px;
    }
    h3 {
      font-weight: bold;
    }
  }
  div.field-name-registration {
    padding-bottom: 30px;
    border-bottom: 1px solid $capt-midgrey;
  }
  h5.views-field-title {
    margin-left: 0px;
    padding-left: 0px;
    /* does this need to be negative? */
    span.field-content {
      /*margin-left: -13px;*/
    }
  }
  div#content.column {
    border-top-color: black;
  }
  .view-content .field-content .views-row div {
    margin-left: 5px;
  }
  /* header */
  div#title-section h2 {
    margin-left: 10px;
  }
  div#title-section {
    padding-left: 0px;
  }
  h2 {
    color: $capt-aqua;
    font-weight: normal;
  }
  h2.type {
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    color: #333333;
  }
  h1.subtitle {
    color: #577785;
    font-weight: normal;
    font-size: 2em;
  }
  /* added to align title and subtitle on event pages*/
  div#title-section h2 {
    margin-left: 0px;
  }
  h5 {
    margin-top: 4px;
  }
  h1, h2, h3 {
    margin-left: 0px;
  }
  h2 a {
    font-size: 20px;
    color: $capt-orange;
  }
  div.group-right a {
    color: #333333;
    font-weight: normal;
    text-decoration: underline;
  }
  div#content {
    border-top: 1px solid $capt-midgrey;
    padding-top: 20px;
    line-height: 1.6em;
    div.node-event {
      margin-top: 20px;
      ul {
        li {
          line-height: 1.6em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  // block with two buttons (edit notif, view reg)
  .region-help #block-block-1 {
    // needed so it doesn't run into  the text
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0px;
    padding-right: 0px;
    a.button {
      margin-left: 20px;
      margin-right: 0px;
    }
  }
  div.group-materials {
    @extend .panel-rule-single;
    @include border-radius(0px);
    padding: 10px 16px 36px 16px;
    margin-left: 5px;
    h4 {
      margin-top: 0px;
    }
  }
  h4 span {
    color: $capt-maroon;
  }
  div.field-name-all-followup-materials {
    clear: both;
    padding-top: 5px;
    h2 {
      color: $capt-maroon;
      margin-top: 0px;
      font-size: 1.25em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .view-instances {
      ul {
        padding-left: 30px;
        li {
          margin: 15px 0;
          a {
            text-decoration: underline;
            font-weight: normal;
            color: $capt-black;
            &:hover {
              color: $capt-maroon;
            }
          }
          .views-field-field-resource {
            a {
              background: url("../images/icons/link-icon.png") no-repeat 0px 0px; // NEED TO ADD IN A LINK ICON HERE
              padding-left: 20px;
              padding-bottom: 1px;
            }
          }
          .views-field-field-body {
            font-style: italic;
          }
        }
      }
    }
  }
  .views-field {
    h4 {
      color: $capt-maroon;
    }
    strong .date-display-single {
      font-weight: bold;
    }
    .date-display-single {
      font-weight: normal;
      .date-display-range {
        display: inline;
      }
    }
  }
  h2.element-invisible {
    display: none;
  }
  /* dates panel */
  .ds-2col-stacked > .group-left,
  .ds-2col > .group-left {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 383px;


  }
  .ds-2col-stacked > .group-right,
  .ds-2col > .group-right {
    width: 323px;
    margin-left: -323px;
    h4 {
      font-size: 13px;
    }
    .view-content .field-content .views-row div {
      margin-left: 0px;
      display: inline;
    }
    .field-name-join-this-event, .field-name-join-this-event-2 {
      .block-views {
        margin-bottom: -10px;
      }
      .views-row {
        overflow: hidden;
      }
    }
    .views-row {
      div.field-content {
        clear: left;
      }
      div.views-field-field-date {
        border-top: 1px solid $capt-midgrey;
        margin-right: 3px;
        padding: 0px 10px 15px;
        a.unflag-action {
          font-weight: normal;
        }
      }
      div.views-field-field-date-1 {
        margin-right: 4px;
      }
      div.views-field-field-access-information {
        border-top: 1px solid $capt-midgrey;
        clear: both;
        padding: 0px 10px;
      }
    }
    .item-list h3 {
      font-size: 16px;
    }
    /* extra padding on dates panel because of floats */
    .field-type-ds.field-name-event-date-s- {
      padding-top: 25px;
      //    margin-left: $event-right-panel-pos;
      &:before {
        margin-left: -27px;
        padding-left: 54px;
      }
      div.button.register,
      div.button.cancel {
        margin-top: 5px;
        display: block;
      }
      .field-items {
        margin-top: -5px;
      }


    }
    .field-type-ds.field-name-join-this-event, .field-type-ds.field-name-join-this-event-2 {
      padding-top: 25px;
      &:before {
        margin-left: -27px;
        padding-left: 54px;
      }
      .views-field-field-date .field-content {
        background: url("../images/icons/arrow-icons.png") no-repeat 0 5px;
        padding-left: 14px;
      }
      .button {
        margin: 15px 0 25px;
        float: right;
      }
      ul {
        padding-left: 0px;
        li {
          line-height: 1.4em;
          margin-bottom: 6px;
          list-style-type: none;
          background: url("../images/icons/arrow-icons.png") no-repeat 0 5px;
          padding-left: 14px;
        }
      }
      h2.block-title {

      }
    }
    /**
    * Materials portion of event page
    */
    div.field-name-materials {
      padding-top: 25px;
      &:before {
        margin-left: -27px;
        padding-left: 54px;
      }
      h2.block-title {
        margin-top: -5px;
      }
      div#block-views-materials-block {
        ul {
          padding-left: 0px;
          margin-bottom: 0px;
          li.views-row {
            list-style: none;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 0px;
            padding-top: 12px;
            padding-bottom: 15px;
            background: none;
            &:nth-child(1) {
              padding-top: 0px;
            }
            .views-field-field-material {
              background: url("../images/icons/down-arrow-orange.png") no-repeat 0px 3px;
              padding-left: 23px;
              padding-bottom: 3px;
            }
            .views-field-field-resource {
              background: url("../images/icons/link-bullet.png") no-repeat 0px 4px;
              padding-left: 23px;
              padding-bottom: 3px;
              padding-top: 5px;
            }
          }
        }
      }
    }
    .field-type-ds {
      @extend .panel-rule-single;
      @include border-radius(0px);
      width: 269px;
      /* changed from 250px so "cancel" link does not start new line */
      padding: 10px 26px 14px 26px;
      // could be part of the mixin maybe...
      h2.block-title {
        font-weight: normal;
        margin-top: 0px;
        color: $capt-darkblue;
        margin-bottom: 20px;
        font-size: 24px;
      }
      div.item-list {
        border-top: 1px solid $capt-midgrey;
        padding-top: 15px;
        margin-top: -5px;
        ul {
          padding-left: 0px;
          li.views-row {
            list-style: none;
            background: url("../images/icons/arrow-icons.png") no-repeat 0px 5px;
            margin-bottom: 15px;
            padding-bottom: 15px;
            padding-left: 12px;
            border-bottom: 1px solid $capt-midgrey;
            overflow: hidden;
            &:last-child {
              border-bottom: 0px;
            }
            div.field-content {
              a {
                display: inline;
                font-weight: normal;
                padding-bottom: 10px;
                color: $capt-black;
              }
              /* general rule?*/
              a:hover {
                text-decoration: none;
                color: $capt-maroon;
              }
            }
            .views-field-field-body {
              font-style: italic;
              padding-left: 23px;
            }
            .button {
              float: right;
              margin: 13px 0px 10px;
            }
          }
        }
      }
      &.field-name-already-registered-please-login {
        padding-bottom: 50px;
        &:before {
          margin-left: -27px;
          padding-left: 54px;
          top: -15px;
        }
        .field-label {
          font-size: 23px;
          font-weight: normal;
          color: $capt-darkblue;
        }
        a.request-password-link {
          color: $capt-maroon;
          font-size: 11px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        input.form-text {
          width: 260px;
        }
        #edit-actions {
          float: right;
          top: -30px;
          right: 65px;
        }
        .description {
          display: none;
        }
      }
    }
  }
  /* home button on event page */
  div#block-block-11 {
    /* the absolute positioning keeps its position constant across pages*/
    position: absolute;
    top: -50px;
    height: 0px;
    margin: 0px 0px 0px -10px;
    p {
      list-style-type: none;
      list-style-image: none;
      margin-left: 0px;
      a.anonymous_home {
        @extend .basic-button;
        font-size: 16px;
        width: 100px;
        padding: 3px;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        height: 24px;
        position: relative;
        top: 0px;
        float: left;
        margin-left: -18px;
      }
      a.anonymous_home:hover {
        text-decoration: none;
      }
    }
    z-index: 20;
  }
}

/**
 *  Event Page, not logged in
 */

body.node-type-event.not-logged-in {
  #main {
    padding-top: 0;
  }
  h3 {
    font-weight: normal;
    color: $capt-aqua;
    margin-top: 0px;
    /*margin-bottom: 40px;*/
  }
  div#content.column {
    border-top-color: $capt-midgrey;
    margin-top: 10px;
  }
}




/*
 *  Event Page -- Mozilla-specific fix for footer.
 */
@-moz-document url-prefix() {
  body.node-type-event {
    #page {
      margin-bottom: -100px;
      padding-bottom: 100px;
    }
    #block-block-12 .disclaimer {
      top: 20px;
      left: 20px;
    }
  }
}
/* fine-tuning for Chrome & Safari */
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-width: $phone-tablet-divide + 1px) {
  body.not-logged-in.page-user:not(.page-user-register) {
    #block-block-9 {
      min-height: 192px;
      height: auto;
    }
  }
}
#block-views-subtitle-and-type-block {
  margin-top: -1em;
}

.view-email-certificates p a {
  font-weight: normal;
  text-decoration: underline;
  color: $capt-black;
}

.group-certificates {
  clear: both;
}

.field-name-event-date-s- {
  & > .field-items > .field-item > .view-instances {
    & > .view-content > .views-row {
      position: relative;
      & > .views-field-view, & > .views-field-view-1 {
        & > .field-content > .view-instances > .view-content {
          text-align: right;
          margin-bottom: 30px;
        }
      }
      & > .views-field-view-4 {
        & > .field-content > .view-instances > .view-content {
          text-align: right;
          margin-bottom: 30px;
          position: absolute;
          top: 5px;
          height: 100%;
          background: rgba(238, 241, 243, 0.6);
          width: 100%;
          margin-top: 2px;
          font-weight: bold;
          font-style: italic;
          color: $capt-maroon;
          font-size: 1.25em;
        }
      }
    }
  }
}


.role-administrator .field-name-event-date-s- > .field-items > .field-item > .view-instances > .view-content > .views-row > .views-field-view-2 {
  display: none;
}
