@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';



body.page-portals.page-views {
  h1#page-title {
    background: url("../images/icons/portals.png") 0 0 no-repeat;
    padding-left: 63px;
  }
  #content {
    margin: 24px auto;
  }
  .view-content {
    overflow: auto;
    margin-bottom: 20px;
    .views-row {
      clear: both;
      &:not(:nth-child(1)) {
        padding-top: 15px;
      }
      .views-field-field-portal-image {
        float: left;
      }
      .views-field-title {
        margin-left: 10px;
        a {
          font-size: 20px;
          color: $capt-black;
          &:hover {
            color: $capt-maroon;
          }
        }
      }
      .views-field-field-brief-introduction {
        margin-left: 170px;
      }
    }
  }
}

body.section-portal {
  #block-views-portals-block-4 {
    clear: both;
    margin-left: 22px;
    margin-top: 30px;
    a {
      font-weight: normal;
      color: #333;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: $capt-orange;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  #navigation {
    .view-portals {
      .views-field:not(:first-child) {
        background: url("../images/icons/arrow-icons.png") no-repeat 0px 5px;
        margin-left: 5px;
        padding-left: 15px;
      }
    }
  }
  #content {
    padding-top: 35px !important;
    padding-bottom: 20px !important;
  }
  .ds-2col > .group-right {
    float: right;
    .field-type-ds {
      margin-top: 0px;
      padding-top: 25px;
      &:before {
        margin-left: -27px;
        padding-left: 54px;
        top: -25px;
      }
      .view-portals {
        &.view-display-id-block_1,
        &.view-display-id-block_3 {
          .view-header {


          }
          & > .view-content {
            & > .views-row {
              padding: 15px 0;
              border-top: 1px solid #d7d7d7;
              & > .views-field-title {
                & > .field-content {
                  & > a {
                    text-decoration: none;
                    background-image: url("../images/icons/right-arrow-aqua.png");
                    background-position: 0px 8px;
                    background-repeat: no-repeat;
                    color: $capt-aqua;
                    padding: 8px 22px 8px 22px;
                    font-size: 1.25em;
                    &:hover {
                      background-image: url("../images/icons/right-arrow-orange.png");
                      color: $capt-orange;
                    }
                    &.active {
                      background-image: url("../images/icons/down-arrow-orange.png");
                      color: $capt-orange;
                      &:hover {
                        background-image: url("../images/icons/down-arrow-orange.png");
                      }
                    }
                    &.active.parent:hover {
                      background-image: url("../images/icons/down-arrow-orange.png");
                    }
                  }
                }
              }
              .views-field-view {
                margin-top: 2px;
                margin-left: 22px;
                .view-portals {
                  .view-content {
                    .views-row {
                      padding: 3px 0px;
                      a {
                        background: url("../images/icons/arrow-icons.png") no-repeat 0px 5px;
                        padding-left: 12px;
                        text-decoration: none;
                        &:hover {
                          text-decoration: underline;
                        }
                        &.active {
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ds-2col > .group-left {
    a {
      color: #333;
      text-decoration: underline;
      font-weight: normal;
    }
  }
  #content {
    .view-materials {
      ul {
        padding-left: 30px;
        li {
          margin: 15px 0;
          a {
            text-decoration: none;
            font-weight: bold;
            color: $capt-maroon;
          }
          .views-field-field-resource {
            a {
              background: url("../images/icons/arrow-icons.png") no-repeat 0px 0px; // NEED TO ADD IN A LINK ICON HERE
              padding-left: 20px;
              padding-bottom: 1px;
            }
          }
          .views-field-field-body {
            font-style: italic;
          }
        }
      }
    }
  }
}






#block-block-19 {
  float: right;
  width: 323px;
  text-align: center;
  margin-top: -90px;
}



.page-node-reorder-pages,
.page-node-reorder-sections {
  .views-table.draggable {
    tr {
      height: 40px;
      a:not(.tabledrag-handle) {
        vertical-align: sub;
      }
    }
  }
  .tabledrag-toggle-weight-wrapper {
    a {
      color: $capt-maroon;
      font-weight: normal;
    }
  }
}



.page-node-access {
  #content {
    overflow: hidden;
    padding-bottom: 200px;
  }
  .view-portals {
    margin-bottom: 30px;
  }
  .views-field a {
    color: $capt-black;
    &:hover {
      color: $capt-maroon;
    }
  }
  th.views-field a:hover {
    text-decoration: underline;
  }
  #block-views-portal-access-block-1 {
    float: left;
    width: 49%;
    background: #EEF3EE;
    h2 {
      color: #588557;
    }
    &:before {
      background: #588557;
    }
    input[type="submit"] {
      background: #588557;
      &:hover {
        background: lighten(#588557, 10%);
      }
    }
  }
  #block-views-portal-access-block-2 {
    float: right;
    width: 49%;
    background: #F3EEEE;
    h2 {
      color: #855757;
    }
    &:before {
      background: #855757;
    }
    input[type="submit"] {
      background: #855757;
      &:hover {
        background: lighten(#855757, 10%);
      }
    }
  }
}
