@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';



body.page-portals.page-views {
  h1#page-title {
    background: url("../images/icons/portals.png") 0 0 no-repeat;
    padding-left: 63px;
  }
  &.role-anonymous-user {
    h1#page-title {
      color: $capt-maroon;
      font-size: 35px;
      height: 70px;
    }
    #content {
      margin: 0 auto !important;
      width: 490px !important;
    }
  }
  .panelize {
    padding: 20px 0px 85px;
    h2 {
      padding: 0 20px 30px;
      color: $capt-darkblue;
      font-size: 28px;
    }
    form {
      padding: 0 20px;
      label {
        font-weight: normal;
        color: $capt-black;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 16px;
      }
      .description {
        display: none;
      }
      a.request-password-link {
        font-weight: normal;
        text-decoration: none;
        position: relative;
        top: -10px;
        color: #8c1d18;
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  #content {
    margin: 24px auto;
  }
  .view-content {
    overflow: auto;
    margin-bottom: 20px;
    .views-row {
      clear: both;
      margin-bottom: 20px;
      &:not(:nth-child(1)) {
        padding-top: 15px;
      }
      .views-field {
        .field-content {
          div:nth-child(1) {
            float: left;
            margin-right: 10px;
          }
          div:nth-child(2) {
            margin-left: 180px;
            a {
              font-size: 20px;
              color: $capt-black;
              &:hover {
                color: $capt-maroon;
              }
            }
            p {
              margin-top: 5px;
            }
          }
        }
        &.views-field-field-show-published-date {
          font-style: italic;
          margin-left: 180px;
        }
      }
    }
  }
}

body.section-portal {
  &:not(.node-type-portal) h1#page-title {
    margin-top: 15px;
  }
  #block-views-portals-block-4,
  #block-views-portals-block-6 {
    clear: both;
    margin-left: 22px !important;
    margin-top: 30px !important;
    width: auto;
    max-width: 96%;
    a {
      font-weight: normal;
      color: #333;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: $capt-orange;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  #navigation {
    .view-portals {
      .views-field:not(:first-child) {
        background: url("../images/icons/arrow-icons.png") no-repeat 0px 5px;
        margin-left: 5px;
        padding-left: 15px;
      }
    }
  }
  #content {
    padding-top: 35px !important;
    padding-bottom: 20px !important;
  }
  .ds-2col > .group-right {
    float: right;
  }
  .ds-2col {
    .field-type-ds.field-name-portal-navigation-1,
    .field-type-ds.field-name-portal-navigation-3 {
      margin-top: 0px;
      padding-top: 25px;
      &:before {
        margin-left: -27px;
        padding-left: 54px;
        top: -25px;
      }
      .view-portals {
        &.view-display-id-block_1,
        &.view-display-id-block_3 {
          .view-header {
            a {
              text-decoration: none;
              color: $capt-aqua;
              font-weight: bold;
              &:hover {
                color: $capt-orange;
              }
              &.active {
                cursor: default;
                color: $capt-orange;
                &:hover {
                  color: $capt-orange;
                }
              }
            }
          }
          .view-footer {
            height: 85px;
            position: relative;
            a, a:hover, a:visited {
              position: absolute;
              bottom: 0px;
              right: 0px;
              color: #ffffff;
              text-decoration: none;
              &:hover {
                background-color: lighten($capt-orange, 10%);
              }
            }
          }
          & > .view-content {
            & > .views-row {
              padding: 15px 0;
              border-top: 1px solid #d7d7d7;
              & > .views-field-title {
                & > .field-content {
                  & > a {
                    text-decoration: none;
                    background-image: url("../images/icons/right-arrow-aqua.png");
                    background-position: 0px 8px;
                    background-repeat: no-repeat;
                    color: $capt-aqua;
                    padding: 8px 22px 8px 22px;
                    font-size: 1.25em;
                    &:hover {
                      background-image: url("../images/icons/right-arrow-orange.png");
                      color: $capt-orange;
                    }
                    &.active {
                      background-image: url("../images/icons/down-arrow-orange.png");
                      color: $capt-orange;
                      &:hover {
                        background-image: url("../images/icons/down-arrow-orange.png");
                      }
                    }
                    &.active.parent:hover {
                      background-image: url("../images/icons/down-arrow-orange.png");
                    }
                  }
                }
              }
              .views-field-view {
                margin-top: 2px;
                margin-left: 34px;
                .view-portals {
                  .view-content {
                    .views-row {
                      padding: 3px 0px;
                      a {
                        background: url("../images/icons/arrow-icons.png") no-repeat 0px 5px;
                        padding-left: 12px;
                        text-decoration: none;
                        margin-left: -12px;
                        &:hover {
                          text-decoration: underline;
                        }
                        &.active {
                          font-weight: bold;
                          text-decoration: none;
                          cursor: default;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ds-2col > .group-left {
    a {
      color: $capt-black;
      text-decoration: underline;
      font-weight: normal;
      &:hover {
        text-decoration: underline !important;
        color: $capt-orange;
      }
    }
    ul {
      li {
        p {
          margin-bottom: 0px;
        }
      }
    }
  }
  #content {
    .view-materials {
      ul {
        padding-left: 30px;
        li {
          margin: 15px 0;
          a {
            text-decoration: none;
            font-weight: bold;
            color: $capt-maroon;
          }
          .views-field-field-resource {
            a {
              background: url("../images/icons/link-icon.png") no-repeat 0px 0px; // NEED TO ADD IN A LINK ICON HERE
              padding-left: 20px;
              padding-bottom: 1px;
            }
          }
          .views-field-field-body {
            font-style: italic;
          }
        }
      }
    }
    .views-field-field-embedded-video-video-url {
      margin-bottom: 30px;
    }
    .views-field-field-embedded-file {
      margin-bottom: 30px;
    }
  }
}



form.node-form.node-portal-form > div > .field-group-div.panel .text-format-wrapper > div > label,
form.node-form.node-portal_page-form > div > .field-group-div.panel .text-format-wrapper > div > label,
form.node-form.node-portal_section-form > div > .field-group-div.panel .text-format-wrapper > div > label {
  display: block;
}

p.hr {
  border-top: 1px solid gray;
  margin-top: 3.5em;
  padding-top: 1.5em;
  font-size: 0.85em;
  ~ p {
    font-size: 0.85em;
  }
}

#block-block-19 {
  float: right;
  width: 323px;
  text-align: center;
  margin-top: -90px;
}



.page-node-reorder-pages,
.page-node-reorder-sections {
  .views-table.draggable {
    tr {
      height: 40px;
      a:not(.tabledrag-handle) {
        vertical-align: sub;
      }
    }
  }
  .tabledrag-toggle-weight-wrapper {
    a {
      color: $capt-maroon;
      font-weight: normal;
    }
  }
}



.page-node-manage-members {
  #content {
    overflow: hidden;
    padding-bottom: 200px;
  }
  .view-portals {
    margin-bottom: 30px;
  }
  .views-field a {
    color: $capt-black;
    &:hover {
      color: $capt-maroon;
    }
  }
  th.views-field a:hover {
    text-decoration: underline;
  }
  #block-views-portal-access-block-1 {
    text-align: left;
    width: 49%;
    margin: 40px auto 0;
  }
}



body.section-portal {
  #content {
    .group-left {
      p {
        margin-bottom: 0px;
        padding-bottom: 1em;
      }
      ul {
        margin-top: 0px;
        padding-left: 1.8em;
        & > li {
          padding-bottom: 5px;
          & > p {
            padding: 5px 0px 5px;
          }
          & > ul {
            padding-top: 5px;
          }
        }
      }
      & > ul {
        padding-bottom: 5px;
      }
      a {
        word-break: keep-all;
      }
      h2 {
        color: $capt-green;
        font-weight: normal;
        font-size: 1.9em;
        margin: 1em 0 0.5em 0;
      }
      h3 {
        color: $capt-black;
        font-weight: bold;
        font-size: 1.6em;
        font-style: italic;
        margin: 1.25em 0 0.5em 0;
      }
      h4 {
        color: $capt-maroon;
        font-weight: bold;
        font-size: 1.25em;
        margin: 1.5em 0 0.75em 0;
      }
      h5 {
        color: $capt-black;
        font-weight: bold;
        font-size: 1em;
        margin: 1em 0 0.5em 0;
      }
      table {
        margin: 1em 0;
        width: 100%;
        thead {
          th {
            padding: 8px 6px;
            border-right: 1px solid #ccc;
          }
        }
        tbody {
          th {
            font-weight: bold;
            padding: 3px 6px;
            font-size: 0.9em;
            border-right: 1px solid #ccc;
            text-align: left;
          }
          td {
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }
}


#block-views-portals-block-5 {
  & > .view-portals {
    & > .view-content {
      border-bottom: 1px solid lighten($capt-green, 30%);
      & > .views-row {
        border: 1px solid lighten($capt-green, 30%);
        border-bottom: 0px;
        &.views-row-last {
          border-bottom: 1px;
        }
        & > .portal-grouping-label {
          width: 100%;
          margin: 0px;
          float: none;
          padding: 14px 24px;
          background: lighten($capt-green, 45%);
          color: darken($capt-green, 20%);
          font-size: 18px;
          background-position: 8px 20px;
          width: auto;
          background-repeat: no-repeat;
          background-image: url("../images/icons/hide-green.png");
          cursor: pointer;
          &.closed {
            background-image: url("../images/icons/show-green.png");
          }
        }
        & > .portal-grouping-content {
          & > .field-content {
            padding: 20px 16px;
            p {
              margin-bottom: 0px;
              padding-bottom: 1em;
            }
            ul {
              margin-top: 0px;
              padding-left: 1.2em;
              & > li {
                padding-bottom: 5px;
                & > p {
                  padding: 5px 0px 5px;
                }
                & > ul {
                  padding-top: 5px;
                }
              }
            }
            & > ul {
              padding-bottom: 5px;
            }
          }
        }
        &.views-row-first:before {
          display: block;
          background-color: $capt-green;
          height: 5px;
          width: 100%;
          content: "";
          position: relative;
          top: 0px;
          margin-left: -1px;
          padding-left: 2px;
        }
      }
    }
  }
}



.group-archiving {
  & > .description p {
    margin-top: 15px;
  }
  #edit-field-reminder-to-archive {
    .form-item {
      margin: 0px;
      .date-padding {
        padding-left: 0px;
      }
    }
  }
}

.field-name-field-portal-image {
  float: left;
  margin-right: 2em;
}






#edit-og-user {
  border: none;
  padding: 0px;
  legend {
    display: none;
  }
  .fieldset-wrapper {
    font-size: 2em;
    margin-top: 1.5em;
    & > .form-item {
      margin-top: 1.5em;
      font-size: 0.5em;
    }
  }
}

#og-ui-field-name {
  display: none;
}
