@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';


/**
 *  User profile page
 */

form#user-profile-form,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  margin-top: -20px;
  .horizontal-tabs {
    border: none;
    ul.horizontal-tabs-list {
      background: none;
      border-right: none;
      margin-bottom: 5px;
      top: 12px;
      li {
        background: none;
        border-right: none;
        padding: 1px;
        padding-top: 0;
        margin: 0;
        min-width: 5em;
        float: left;
        a {
          margin-top: 0px;
          margin-bottom: 0px;
          text-transform: uppercase;
          font-size: 1.3em;
          color: #CCCBCB;
          font-style: normal;
          position: relative;
          padding: 5px 20px;
          &:hover {
            outline: none;
            background-color: #fff;
          }
        }
        &.selected a strong {
          color: #577785;
        }
      }
    }
    .horizontal-tabs-panes {
      &:before {
        display: block;
        background-color: $capt-aqua;
        height: 5px;
        width: 100%;
        content: "";
        position: relative;
        top: 0px;
        margin-left: 0px;
        padding-left: 0px;
      }
    }
  }
  fieldset {
    border: 0px;
    border: 1px solid $capt-profgrey;
    border-top: none;
    margin: 0px;
    background: #eef1f3;
    padding: 0px 20px;
    legend {
      position: relative;
      span.fieldset-legend {
        color: $capt-aqua;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding: 0px 5px;
        left: 20px;
      }
      a {
        padding-left: 12px;
        color: $capt-aqua;
      }
    }
    fieldset legend {
      top: -12px;
    }
    /* end legend */
    fieldset {
      margin-right: 10px;
    }
    .fieldset-wrapper {
      width: 100%;
    }
  }
  /* end fieldset */
  span.label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 14px;
    margin-left: 1px;
  }
  .fieldset-wrapper div.form-item {
    label:not(.option) {
      font-size: 14px;
    }
    label.option {
      font-size: 13px;
    }
  }
  input.form-text {
    font-size: $input-font-size;
    padding: 5px;
    max-width: 400px;
    display: block;
    border: 1px solid #b6b6b6;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    &:focus {
      background: $capt-inputfocus;
      outline: none;
    }
  }
  .form-item {
    .description {
      font-size: 0.85em;
      line-height: 1.8em;
      margin-left: 2px;
      color: $capt-formgrey;
      max-width: 400px;
    }
    .confirm-parent, .password-parent {
      width: 40em !important;
    }
    div.password-suggestions {
      padding: 10px;
      background: $password-suggest;
      width: 560px;
      ul {
        margin-top: 0.5em;
      }
    }
  }
  // .fieldset-wrapper {
  //   border: 1px solid $capt-profgrey;
  //   border-top: 0px;
  //   padding-left: 10px;
  //   margin-left: -8px;
  //   margin-bottom: -30px;
  //   width: 100.45%;
  //   top: -17px;
  //   position: relative;
  //   padding-top: 17px;
  //   padding-bottom: 25px;
  // }
  // fieldset fieldset {
  //   div.fieldset-wrapper {
  //     width: 100.6%;
  //     /*97.86%;*/
  //     margin-left: -9px;
  //   }
  // }
  // div.fieldset-wrapper {
  //   /* margin-left: -20px;*/
  //   /*padding: 10px 17px;*/
  // }
  input#edit-submit, input#edit-cancel {
    background-color: $capt-orange;
    text-transform: capitalize;
  }
}


/* prevent overlap with bottom save & cancel buttons */
form#user-profile-form > div > fieldset > .fieldset-wrapper {
  padding-bottom: 90px;
}
