@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/*
 * prototype classes´
 */
/* line 11, ../../sass/phone/extensible-phone.scss */
.reset-layout {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 17, ../../sass/phone/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 23, ../../sass/phone/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, .mobile-login-lower-panel {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 33, ../../sass/phone/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, .mobile-login-lower-panel:before {
  top: -11px;
}

/* line 38, ../../sass/phone/extensible-phone.scss */
.before-style, .mobile-panel-rule:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 57, ../../sass/phone/extensible-phone.scss */
.mobile-login-lower-panel:before {
  background-color: white;
}

/* line 62, ../../sass/phone/extensible-phone.scss */
.show-hide-appearance, .show-hide-button, .event-show-hide h4 {
  cursor: pointer;
  background-image: url("../images/icons/show.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
}

/* line 69, ../../sass/phone/extensible-phone.scss */
.show-hide-text, .show-hide-button, .event-show-hide h4, .event-show-hide h4 span {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

/* line 76, ../../sass/phone/extensible-phone.scss */
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../../sass/phone/extensible-phone.scss */
.show-hide-button, .event-show-hide h4 {
  padding-left: 20px;
  background-repeat: no-repeat;
}

/* line 93, ../../sass/phone/extensible-phone.scss */
.show-hide-panel, .event-show-hide {
  background-color: #eef1f3;
  padding-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}

/* event primitive */
/* line 102, ../../sass/phone/extensible-phone.scss */
.event-show-hide h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 0px;
  margin-left: 20px;
  background-position: 0px 32px;
}
/* line 115, ../../sass/phone/extensible-phone.scss */
.event-show-hide div.field-items {
  margin-left: 20px;
  margin-bottom: 20px;
}

/*
 *  End Prototypes, Start Mixins
 */
