@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 * prototype classes´
 */
/* line 11, ../../sass/phone/extensible-phone.scss */
.reset-layout, div.bottom-footer,
div.bottom-footer-container,
div.disclaimer, body.not-logged-in.page-user:not(.page-user-register) div#page #main,
body.not-logged-in.page-anon-login div#page #main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 17, ../../sass/phone/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 23, ../../sass/phone/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-anon-login form#user-login, .mobile-login-lower-panel, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9 {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 33, ../../sass/phone/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, body.not-logged-in.page-user:not(.page-user-register) form#user-login:before,
body.not-logged-in.page-anon-login form#user-login:before, .mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before {
  top: -11px;
}

/* line 38, ../../sass/phone/extensible-phone.scss */
.before-style, .mobile-panel-rule:before, body.not-logged-in.page-user:not(.page-user-register) form#user-login:before,
body.not-logged-in.page-anon-login form#user-login:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 57, ../../sass/phone/extensible-phone.scss */
.mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before {
  background-color: white;
}

/* line 62, ../../sass/phone/extensible-phone.scss */
.show-hide-appearance, .show-hide-button, .event-show-hide h4 {
  cursor: pointer;
  background-image: url("../images/icons/show.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
}

/* line 69, ../../sass/phone/extensible-phone.scss */
.show-hide-text, .show-hide-button, .event-show-hide h4, .event-show-hide h4 span {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

/* line 76, ../../sass/phone/extensible-phone.scss */
.noselect, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login form#user-login,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9, body.not-logged-in.page-user:not(.page-user-register) form#user-login h1, body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h1,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h1,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
body.not-logged-in.page-anon-login form#user-login h1,
body.not-logged-in.page-anon-login form#user-login h2,
body.not-logged-in.page-anon-login div#block-block-8 h1,
body.not-logged-in.page-anon-login div#block-block-8 h2,
body.not-logged-in.page-anon-login div#block-block-9 h1,
body.not-logged-in.page-anon-login div#block-block-9 h2 {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../../sass/phone/extensible-phone.scss */
.show-hide-button, .event-show-hide h4 {
  padding-left: 20px;
  background-repeat: no-repeat;
}

/* line 93, ../../sass/phone/extensible-phone.scss */
.show-hide-panel, .event-show-hide {
  background-color: #eef1f3;
  padding-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}

/* event primitive */
/* line 102, ../../sass/phone/extensible-phone.scss */
.event-show-hide h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 0px;
  margin-left: 20px;
  background-position: 0px 32px;
}
/* line 115, ../../sass/phone/extensible-phone.scss */
.event-show-hide div.field-items {
  margin-left: 20px;
  margin-bottom: 20px;
}

/*
 *  End Prototypes, Start Mixins
 */
/*
 *  iPhone Styles -- User Login Page - yo
 */
/* line 12, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register),
body.not-logged-in.page-anon-login {
  /* reformatting panels for mobile */
  /* banner title text */
  /* h1#site-name.header__site-name {
     margin-left: -119px;
     margin-top: -30px;
     a {
       font-size: 0.8em;
     }
   }*/
  /* banner subtitle text */
    /*div#block-block-13 {

      color: white;
      font-size: 11px;
      margin-left: -225px;
      top: -100;
      position: absolute;
      margin-top: -8px;
      cursor: default;

    }*/
  /* all blocks */
  /* specific styles for responsive panel tops  ---*/
  /* lower two blocks */
  /* individual panel styles */
}
/* line 15, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#content,
body.not-logged-in.page-anon-login div#content {
  text-align: center;
}
/* line 38, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#content div#title-section,
body.not-logged-in.page-anon-login div#content div#title-section {
  /* border-bottom: 0px;
   margin: 0px auto;
   left: 0px;
   display: inline-block;
   height: 50px;
   margin-top: 30px;*/
}
/* line 47, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#content div#title-section h1#page-title,
body.not-logged-in.page-anon-login div#content div#title-section h1#page-title {
  padding: 0px;
  margin: 0px;
  /*width: 90%;
  
  margin-top: 0px;
  padding-left: 18px;
  margin-left: 0px;
  position: relative;*/
  font-size: 1.8em;
  /* margin-bottom: -30px;*/
}
/* line 61, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login form#user-login,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9 {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* line 72, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
body.not-logged-in.page-anon-login form#user-login h2,
body.not-logged-in.page-anon-login div#block-block-8 h2,
body.not-logged-in.page-anon-login div#block-block-9 h2 {
  margin-bottom: 6px;
}
/* line 83, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9 {
  border-top: 1px solid #d7d7d7;
}
/* line 87, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before {
  height: 0px;
}
/* line 91, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-anon-login div#title-section {
  background-color: transparent;
  border: 0px;
  width: 70px;
  float: left;
  margin-left: 2.5%;
  padding-left: 17px;
  cursor: default;
}
/* line 99, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#title-section:before,
body.not-logged-in.page-anon-login div#title-section:before {
  height: 0px;
  background-color: none;
}
/* line 106, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-anon-login form#user-login {
  padding-top: 0px;
  margin-top: 20px;
  padding-bottom: 0px;
  height: 300px;
}
/* line 111, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login input#edit-name,
body.not-logged-in.page-user:not(.page-user-register) form#user-login input#edit-pass,
body.not-logged-in.page-anon-login form#user-login input#edit-name,
body.not-logged-in.page-anon-login form#user-login input#edit-pass {
  width: 85%;
}
/* line 115, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login div.form-item.form-item-name,
body.not-logged-in.page-anon-login form#user-login div.form-item.form-item-name {
  padding-top: 0px;
  margin-top: -100px;
  clear: left;
  /* test*/
}
/* line 123, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login div#edit-actions input#edit-submit,
body.not-logged-in.page-anon-login form#user-login div#edit-actions input#edit-submit {
  display: block;
}
/* line 129, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body h2,
body.not-logged-in.page-anon-login div#block-block-8 .panel-body h2 {
  margin-left: 16px;
}
/* line 132, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body p,
body.not-logged-in.page-anon-login div#block-block-8 .panel-body p {
  margin-left: -14px;
}
/* line 137, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-9 {
  height: 130px;
  margin-bottom: -60px;
}
/* line 140, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2.block-title,
body.not-logged-in.page-anon-login div#block-block-9 h2.block-title {
  margin-left: 16px;
}
/* line 143, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 ul,
body.not-logged-in.page-anon-login div#block-block-9 ul {
  margin-left: 0px;
  padding-left: 30px;
}

/* line 151, ../../sass/phone/login-phone.scss */
div.bottom-footer {
  height: 50px;
  width: 100%;
  /*border-color: red;*/
}
/* line 155, ../../sass/phone/login-phone.scss */
div.bottom-footer div.bottom-footer-container {
  text-align: center;
  width: 100%;
}
/* line 158, ../../sass/phone/login-phone.scss */
div.bottom-footer div.bottom-footer-container div.disclaimer {
  width: 95%;
  max-width: 360px;
  margin-left: 3%;
  border: 0px solid transparent;
  height: 100px;
  text-align: left;
  padding: 0px;
}

/* line 169, ../../sass/phone/login-phone.scss */
div.bottom-footer,
div.bottom-footer-container,
div.disclaimer {
  max-width: 100%;
  text-align: left;
  display: block;
  margin: 0px;
}

/* merge with styles below? */
/* line 181, ../../sass/phone/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu {
  overflow: visible;
  /* admin*/
}
/* line 184, ../../sass/phone/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-589 {
  display: none;
}
/* line 188, ../../sass/phone/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 {
  overflow: visible;
}
/* line 190, ../../sass/phone/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 a {
  border-bottom: 1px solid white;
}
/* line 196, ../../sass/phone/login-phone.scss */
body.admin-menu div#content {
  margin-top: 50px;
}

/* line 200, ../../sass/phone/login-phone.scss */
body {
  overflow-x: hidden;
}

/* line 203, ../../sass/phone/login-phone.scss */
body, html {
  width: 100%;
  max-width: 100%;
}

/* line 210, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) footer,
body.not-logged-in.page-anon-login footer {
  width: 100%;
  max-width: 100%;
}
/* line 213, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) footer .disclaimer,
body.not-logged-in.page-anon-login footer .disclaimer {
  padding: 0px;
}
/* line 217, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div.top-header,
body.not-logged-in.page-anon-login div.top-header {
  width: 100%;
}
/* line 220, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#page,
body.not-logged-in.page-anon-login div#page {
  max-width: 100%;
  margin-bottom: -110px;
  padding-bottom: 210px;
  height: 550px !important;
  min-height: 550px;
}
/* line 226, ../../sass/phone/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#page #main,
body.not-logged-in.page-anon-login div#page #main {
  width: 100%;
}
