@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 * prototype classes´
 */
/* line 11, ../../sass/phone/extensible-phone.scss */
.reset-layout {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 17, ../../sass/phone/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 23, ../../sass/phone/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, .mobile-login-lower-panel {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 33, ../../sass/phone/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, .mobile-login-lower-panel:before {
  top: -11px;
}

/* line 38, ../../sass/phone/extensible-phone.scss */
.before-style, .mobile-panel-rule:before, body.page-events.section-events div#main div#content div#title-section:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 57, ../../sass/phone/extensible-phone.scss */
.mobile-login-lower-panel:before {
  background-color: white;
}

/* line 62, ../../sass/phone/extensible-phone.scss */
.show-hide-appearance, .show-hide-button, .event-show-hide h4, body.page-events.section-events div#main div#content div#title-section h1#page-title.page__title, body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region h2,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region h2 {
  cursor: pointer;
  background-image: url("../images/icons/show.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
}

/* line 69, ../../sass/phone/extensible-phone.scss */
.show-hide-text, .show-hide-button, .event-show-hide h4, body.page-events.section-events div#main div#content div#title-section h1#page-title.page__title, body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region h2,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region h2, .event-show-hide h4 span {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

/* line 76, ../../sass/phone/extensible-phone.scss */
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../../sass/phone/extensible-phone.scss */
.show-hide-button, .event-show-hide h4, body.page-events.section-events div#main div#content div#title-section h1#page-title.page__title, body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region h2,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region h2 {
  padding-left: 20px;
  background-repeat: no-repeat;
}

/* line 93, ../../sass/phone/extensible-phone.scss */
.show-hide-panel, .event-show-hide, body.page-events.section-events div#content > div.view-dashboard {
  background-color: #eef1f3;
  padding-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}

/* event primitive */
/* line 102, ../../sass/phone/extensible-phone.scss */
.event-show-hide h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 0px;
  margin-left: 20px;
  background-position: 0px 34px;
}
/* line 115, ../../sass/phone/extensible-phone.scss */
.event-show-hide div.field-items {
  margin-left: 20px;
  margin-bottom: 20px;
}

/*
 *  End Prototypes, Start Mixins
 */
/* line 10, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events {
  /* only controls view-dashboard on left column */
}
/* line 11, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#page {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
/* line 15, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events input#edit-reset,
body.page-events.section-events input#edit-submit-dashboard {
  width: 60px;
  padding: 8px 10px;
}
/* line 21, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#main div#content div#title-section {
  margin-top: -40px;
  width: 100%;
  position: relative;
  background: url("../images/icons/create-event-showhide.png") right 10px top 6px no-repeat;
  top: 104px;
  padding-bottom: 5px;
  padding-top: 10px;
  height: 50px;
  background-color: #eef1f3;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  display: block;
  margin-bottom: 104px;
}
/* line 37, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#main div#content div#title-section:before {
  top: -15px;
}
/* line 42, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#main div#content div#title-section h1#page-title.page__title {
  max-width: 100%;
  padding-left: 30px;
  margin-left: 0px;
  background-position: 8px 16px;
  padding-bottom: 0px;
  height: 30px;
}
/* line 57, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#content > div.view-dashboard {
  width: 100%;
  margin: 0px auto;
  float: none;
  margin-top: -50px;
  padding-top: 60px;
  border-bottom: 1px solid #d7d7d7;
}
/* line 67, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#content > div.view-dashboard div.item-list {
  margin-left: 10px;
  width: 90%;
}
/* line 71, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#content > div.view-dashboard:before {
  height: 0px;
}
/* line 82, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1 {
  border-bottom: 0px;
}
/* line 85, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region {
  width: 100%;
  margin: 0px;
  float: none;
  background-position: right -10px top 8px;
  border-top: 1px solid #d7d7d7;
}
/* line 94, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region h2,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region h2 {
  width: 100%;
  padding-left: 30px;
  margin-left: 0px;
  background-position: 8px 8px;
  margin-bottom: 0px;
}
/* line 102, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region:before,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region:before {
  height: 0px;
  background-color: transparent;
}
/* line 106, ../../sass/phone/phone-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region div.view-empty, body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region div.item-list,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region div.view-empty,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region div.item-list {
  margin-top: 10px;
}
