@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 * prototype classes´
 */
/* line 11, ../../sass/phone/extensible-phone.scss */
.reset-layout {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 17, ../../sass/phone/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 23, ../../sass/phone/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, .mobile-login-lower-panel {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 33, ../../sass/phone/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, .mobile-login-lower-panel:before {
  top: -11px;
}

/* line 38, ../../sass/phone/extensible-phone.scss */
.before-style, .mobile-panel-rule:before, body.node-type-event .ds-2col-stacked > .group-left div.group-audience:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 57, ../../sass/phone/extensible-phone.scss */
.mobile-login-lower-panel:before {
  background-color: white;
}

/* line 62, ../../sass/phone/extensible-phone.scss */
.show-hide-appearance, .show-hide-button, .event-show-hide h4, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4, body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
  cursor: pointer;
  background-image: url("../images/icons/show.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
}

/* line 69, ../../sass/phone/extensible-phone.scss */
.show-hide-text, .show-hide-button, .event-show-hide h4, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4, body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2, .event-show-hide h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4 span {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

/* line 76, ../../sass/phone/extensible-phone.scss */
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../../sass/phone/extensible-phone.scss */
.show-hide-button, .event-show-hide h4, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4, body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
  padding-left: 20px;
  background-repeat: no-repeat;
}

/* line 93, ../../sass/phone/extensible-phone.scss */
.show-hide-panel, .event-show-hide, body.node-type-event .ds-2col-stacked > .group-left div.group-audience, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter {
  background-color: #eef1f3;
  padding-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}

/* event primitive */
/* line 102, ../../sass/phone/extensible-phone.scss */
.event-show-hide h4, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 0px;
  margin-left: 20px;
  background-position: 0px 32px;
}
/* line 115, ../../sass/phone/extensible-phone.scss */
.event-show-hide div.field-items, body.node-type-event .ds-2col-stacked > .group-left div.group-audience div.field-items, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter div.field-items {
  margin-left: 20px;
  margin-bottom: 20px;
}

/*
 *  End Prototypes, Start Mixins
 */
/* event page styles */
/* line 9, ../../sass/phone/phone-event-detail.scss */
body.node-type-event {
  /* banner title text */
  /* banner subtitle text */
}
/* line 10, ../../sass/phone/phone-event-detail.scss */
body.node-type-event footer {
  left: 0px;
  margin-left: -30px;
}
/* line 13, ../../sass/phone/phone-event-detail.scss */
body.node-type-event footer .disclaimer {
  padding-right: 0px !important;
}
/* line 20, ../../sass/phone/phone-event-detail.scss */
body.node-type-event h1#site-name.header__site-name {
  margin-top: -35px;
  margin-left: -339px;
}
/* line 24, ../../sass/phone/phone-event-detail.scss */
body.node-type-event h1#site-name.header__site-name a {
  font-size: 1em;
}
/* line 30, ../../sass/phone/phone-event-detail.scss */
body.node-type-event div#block-block-13 {
  color: white;
  font-size: 11px;
  margin-left: -339px;
  top: -100;
  position: absolute;
  margin-top: -26px;
  cursor: default;
}
@media screen and (max-width: 512px) {
  /* line 43, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#block-block-7 {
    display: block;
    width: 100px;
  }
  /* line 47, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event h1#site-name.header__site-name {
    margin-top: -70px;
  }
  /* line 50, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#block-block-13 {
    margin-top: -60px;
  }
}
/* line 56, ../../sass/phone/phone-event-detail.scss */
body.node-type-event div#page {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 61, ../../sass/phone/phone-event-detail.scss */
body.node-type-event div#main div#content div#title-section {
  margin-top: 0px;
}
/* line 65, ../../sass/phone/phone-event-detail.scss */
body.node-type-event ul.tabs-primary {
  display: none;
}
/* line 68, ../../sass/phone/phone-event-detail.scss */
body.node-type-event h1.subtitle {
  margin-top: 50px;
}
/* line 71, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left,
body.node-type-event .ds-2col-stacked > .group-right {
  width: 100%;
  margin: 0px;
  float: none;
}
/* line 79, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds {
  border-top: 1px solid #d7d7d7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 99.5%;
}
/* line 82, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
  border-bottom: 0px;
  margin-left: 20px;
}
/* line 87, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds:before {
  height: 0px;
}
/* line 90, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds div.item-list {
  margin-left: 20px;
  border-top-width: 0px;
}
/* line 100, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left {
  /* make an extensible class?*/
}
/* line 107, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.group-audience p {
  width: 95%;
}
/* line 113, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.group-presenter p {
  width: 95%;
}
/* line 118, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- {
  /*br {
    display: none;
  }*/
  width: 100%;
  padding: 0px;
  background-color: white;
  border: 0px;
}
/* line 131, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- li.views-row > strong {
  display: list-item;
}
/* line 134, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul {
  padding-left: 13px;
}
/* line 136, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row {
  width: 90%;
  display: list-item;
  position: relative;
  top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
}
/* line 144, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row strong {
  position: relative;
}
/* line 148, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row span.date-display-single {
  position: relative;
}
/* line 154, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row div.views-field.views-field-ops {
  margin-left: 0px;
  position: relative;
}
/* line 160, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.field-item h2.block-title {
  color: #8c1d18;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 166, ../../sass/phone/phone-event-detail.scss */
body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s-:before {
  background-color: white;
  height: 0px;
}
