@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* Navigation bar
 * Uses the styles from responsive.css for mobile phone widths
 * change max? */
@media all and (max-width: 479px) {
  /* line 11, ../../sass/phone/phone.scss */
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }

  /* line 16, ../../sass/phone/phone.scss */
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 5, ../../sass/headers/extensible.scss */
  #block-block-12 .contextual-links-wrapper {
    width: 970px;
    margin: 0px auto;
  }

  /* line 10, ../../sass/headers/extensible.scss */
  .proto-disclaimer {
    position: relative;
    top: 30px;
    font-size: 10px;
    line-height: 1.4em;
    width: 420px;
    padding-right: 550px;
    margin: 0px auto;
    padding-bottom: 20px;
    left: 0px;
  }

  /* line 22, ../../sass/headers/extensible.scss */
  .basic-button {
    background-color: #c3791f;
    color: white;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }

  /* line 29, ../../sass/headers/extensible.scss */
  .panel, .panel-rule, .panel-rule-single {
    background-color: #eef1f3;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #d7d7d7;
    border-top: 0px;
  }
  /* line 35, ../../sass/headers/extensible.scss */
  .panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
    color: #8c1d18;
  }
  /* line 38, ../../sass/headers/extensible.scss */
  .panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
    border: 0px;
  }

  /* line 47, ../../sass/headers/extensible.scss */
  .panel-rule, .panel-rule-single {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px;
    /*5px solid $capt-aqua;*/
    font-size: 13px;
    margin-top: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
  }
  /* line 57, ../../sass/headers/extensible.scss */
  .panel-rule:before, .panel-rule-single:before {
    display: block;
    background-color: #577785;
    height: 5px;
    width: 100%;
    content: "";
    position: relative;
    top: -25px;
    margin-left: -1px;
    padding-left: 2px;
  }

  /* line 70, ../../sass/headers/extensible.scss */
  .panel-rule-single {
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    /* needs to be larger for dashboard panels */
  }

  /* line 78, ../../sass/headers/extensible.scss */
  .pager-link {
    background-repeat: no-repeat;
    color: #c3791f;
    font-size: 14px;
    font-weight: normal;
  }

  /* general styles */
  /*
   * prototype classes´
   */
  /* line 11, ../../sass/phone/extensible-phone.scss */
  .reset-layout, html div#page,
  body div#page, div.bottom-footer,
  div.bottom-footer-container,
  div.disclaimer, body.not-logged-in.page-user:not(.page-user-register) div#page #main,
  body.not-logged-in.page-anon-login div#page #main {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* for mobile panels with no top bars */
  /* line 17, ../../sass/phone/extensible-phone.scss */
  .top-bar-reset {
    background-color: none;
    height: 0px;
    width: 0px;
    position: static;
  }

  /* line 23, ../../sass/phone/extensible-phone.scss */
  .mobile-panel, .mobile-panel-rule, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
  body.not-logged-in.page-anon-login form#user-login, body.not-logged-in.section-user.page-user-password form#user-pass,
  body.not-logged-in.page-anon-login form#user-pass, .mobile-login-lower-panel, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login div#block-block-8,
  body.not-logged-in.page-anon-login div#block-block-9 {
    padding-top: 10px;
    text-align: left;
    margin: 0px auto;
    float: none;
    width: 94%;
    padding-left: 0px;
    background: no-repeat;
    background-color: #eef1f3;
  }
  /* line 33, ../../sass/phone/extensible-phone.scss */
  .mobile-panel:before, .mobile-panel-rule:before, body.not-logged-in.page-user:not(.page-user-register) form#user-login:before,
  body.not-logged-in.page-anon-login form#user-login:before, body.not-logged-in.section-user.page-user-password form#user-pass:before,
  body.not-logged-in.page-anon-login form#user-pass:before, .mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
  body.not-logged-in.page-anon-login div#block-block-8:before,
  body.not-logged-in.page-anon-login div#block-block-9:before {
    top: -11px;
  }

  /* line 38, ../../sass/phone/extensible-phone.scss */
  .before-style, .mobile-panel-rule:before, body.not-logged-in.page-user:not(.page-user-register) form#user-login:before,
  body.not-logged-in.page-anon-login form#user-login:before, body.not-logged-in.section-user.page-user-password form#user-pass:before,
  body.not-logged-in.page-anon-login form#user-pass:before, body.node-type-event .ds-2col-stacked > .group-left div.group-audience:before {
    display: block;
    background-color: #577785;
    height: 5px;
    width: 100%;
    content: "";
    position: relative;
    top: 0px;
    margin-left: -1px;
    padding-left: 2px;
  }

  /* line 57, ../../sass/phone/extensible-phone.scss */
  .mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
  body.not-logged-in.page-anon-login div#block-block-8:before,
  body.not-logged-in.page-anon-login div#block-block-9:before {
    background-color: white;
  }

  /* line 62, ../../sass/phone/extensible-phone.scss */
  .show-hide-basic, .show-hide, .show-hide-button, .event-show-hide h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4 span, body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
    cursor: pointer;
    background-image: url("../images/icons/hide.png");
    background-position: 0px 8px;
    background-repeat: no-repeat;
  }

  /* line 69, ../../sass/phone/extensible-phone.scss */
  .show-hide {
    font-size: 22px;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: 0px;
  }

  /* line 77, ../../sass/phone/extensible-phone.scss */
  .noselect, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login form#user-login,
  body.not-logged-in.page-anon-login div#block-block-8,
  body.not-logged-in.page-anon-login div#block-block-9, body.not-logged-in.page-user:not(.page-user-register) form#user-login h1, body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h1,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h1,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
  body.not-logged-in.page-anon-login form#user-login h1,
  body.not-logged-in.page-anon-login form#user-login h2,
  body.not-logged-in.page-anon-login div#block-block-8 h1,
  body.not-logged-in.page-anon-login div#block-block-8 h2,
  body.not-logged-in.page-anon-login div#block-block-9 h1,
  body.not-logged-in.page-anon-login div#block-block-9 h2 {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* line 87, ../../sass/phone/extensible-phone.scss */
  .show-hide-button, .event-show-hide h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4 span, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4 span, body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
    color: black;
    font-weight: normal;
    font-size: 20px;
    padding-left: 20px;
    background-repeat: no-repeat;
  }

  /* event primitive */
  /* line 97, ../../sass/phone/extensible-phone.scss */
  .event-show-hide, body.node-type-event .ds-2col-stacked > .group-left div.group-audience, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter {
    background-color: #eef1f3;
    padding-bottom: 10px;
    border: 1px solid #d7d7d7;
    border-top: 0px;
  }
  /* line 102, ../../sass/phone/extensible-phone.scss */
  .event-show-hide h4, body.node-type-event .ds-2col-stacked > .group-left div.group-audience h4, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 0px;
    margin-left: 20px;
  }
  /* line 111, ../../sass/phone/extensible-phone.scss */
  .event-show-hide div.field-items, body.node-type-event .ds-2col-stacked > .group-left div.group-audience div.field-items, body.node-type-event .ds-2col-stacked > .group-left div.group-presenter div.field-items {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  /*
   *  End Prototypes, Start Mixins
   */
  /* line 6, ../../sass/phone/general-phone.scss */
  html,
  body {
    width: 100%;
    min-width: 320px;
    overflow-x: visible;
    height: 100%;
    /* this was hiding the login button*/
    /* header */
  }
  /* line 13, ../../sass/phone/general-phone.scss */
  html div#block-captconnect-blocks-user-info,
  body div#block-captconnect-blocks-user-info {
    display: none;
  }
  /* line 16, ../../sass/phone/general-phone.scss */
  html div.top-header,
  body div.top-header {
    height: 115px;
    background-image: url("../images/design-elements/rainbow-divider.png");
    background-position: -124px 106px;
    background-repeat: repeat-x;
  }
  /* line 19, ../../sass/phone/general-phone.scss */
  html div.top-header div.top-header-container,
  body div.top-header div.top-header-container {
    width: 100%;
  }
  /* line 21, ../../sass/phone/general-phone.scss */
  html div.top-header div.top-header-container div.capt-logo,
  body div.top-header div.top-header-container div.capt-logo {
    background-image: url("../images/logos/CAPT-logo-phone.png");
    margin-left: 4%;
    top: 12px;
  }
  /* line 26, ../../sass/phone/general-phone.scss */
  html div.top-header div.top-header-container div.samhsa-logo,
  body div.top-header div.top-header-container div.samhsa-logo {
    margin-right: 4%;
    margin-bottom: 0px;
  }
  /* line 33, ../../sass/phone/general-phone.scss */
  html input#edit-search-block-form--2,
  body input#edit-search-block-form--2 {
    display: none;
  }
  /* line 36, ../../sass/phone/general-phone.scss */
  html div.region.region-header,
  body div.region.region-header {
    margin-top: 10px;
  }
  /* line 39, ../../sass/phone/general-phone.scss */
  html div#page,
  body div#page {
    min-height: 750px;
    display: inline-block;
    margin-bottom: -100px;
    padding-bottom: 100px;
  }
  /* line 46, ../../sass/phone/general-phone.scss */
  html div#block-search-form,
  body div#block-search-form {
    display: none;
  }
  /* line 51, ../../sass/phone/general-phone.scss */
  html div#page header#header,
  body div#page header#header {
    height: 89px;
    background: url("../images/banners/banner-iphone.png") 0 0 no-repeat;
  }
  /* line 56, ../../sass/phone/general-phone.scss */
  html div#content,
  body div#content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* padding-left: 0px;*/
    /* added 6.29 */
    padding-left: 16px;
    padding-right: 16px;
    /* border: 1px dotted orange;*/
  }

  /* switch user block */
  /* line 68, ../../sass/phone/general-phone.scss */
  div.block-devel#block-devel-switch-user {
    margin: 0px auto;
    text-align: left;
  }

  /* line 72, ../../sass/phone/general-phone.scss */
  div.block-devel#block-devel-switch-user {
    width: 50%;
    margin-top: 40px;
  }

  /*
   *  iPhone Styles -- User Login Page - yo
   */
  /* line 12, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register),
  body.not-logged-in.page-anon-login {
    /* reformatting panels for mobile */
    /* banner title text */
    /* h1#site-name.header__site-name {
       margin-left: -119px;
       margin-top: -30px;
       a {
         font-size: 0.8em;
       }
     }*/
    /* banner subtitle text */
    /*div#block-block-13 {

      color: white;
      font-size: 11px;
      margin-left: -225px;
      top: -100;
      position: absolute;
      margin-top: -8px;
      cursor: default;

    }*/
    /* all blocks */
    /* specific styles for responsive panel tops  ---*/
    /* lower two blocks */
    /* individual panel styles */
  }
  /* line 15, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#content,
  body.not-logged-in.page-anon-login div#content {
    text-align: center;
  }
  /* line 38, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#content div#title-section,
  body.not-logged-in.page-anon-login div#content div#title-section {
    /* border-bottom: 0px;
     margin: 0px auto;
     left: 0px;
     display: inline-block;
     height: 50px;
     margin-top: 30px;*/
  }
  /* line 47, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#content div#title-section h1#page-title,
  body.not-logged-in.page-anon-login div#content div#title-section h1#page-title {
    padding: 0px;
    margin: 0px;
    /*width: 90%;
    
    margin-top: 0px;
    padding-left: 18px;
    margin-left: 0px;
    position: relative;*/
    font-size: 1.8em;
    /* margin-bottom: -30px;*/
  }
  /* line 61, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login form#user-login,
  body.not-logged-in.page-anon-login div#block-block-8,
  body.not-logged-in.page-anon-login div#block-block-9 {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
  }
  /* line 72, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
  body.not-logged-in.page-anon-login form#user-login h2,
  body.not-logged-in.page-anon-login div#block-block-8 h2,
  body.not-logged-in.page-anon-login div#block-block-9 h2 {
    margin-bottom: 6px;
  }
  /* line 83, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login div#block-block-8,
  body.not-logged-in.page-anon-login div#block-block-9 {
    border-top: 1px solid #d7d7d7;
  }
  /* line 87, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
  body.not-logged-in.page-anon-login div#block-block-8:before,
  body.not-logged-in.page-anon-login div#block-block-9:before {
    height: 0px;
  }
  /* line 91, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#title-section,
  body.not-logged-in.page-anon-login div#title-section {
    background-color: transparent;
    border: 0px;
    width: 70px;
    float: left;
    margin-left: 2.5%;
    padding-left: 17px;
    cursor: default;
  }
  /* line 99, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#title-section:before,
  body.not-logged-in.page-anon-login div#title-section:before {
    height: 0px;
    background-color: none;
  }
  /* line 106, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login,
  body.not-logged-in.page-anon-login form#user-login {
    padding-top: 0px;
    margin-top: 20px;
    padding-bottom: 0px;
    height: 300px;
  }
  /* line 111, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login input#edit-name,
  body.not-logged-in.page-user:not(.page-user-register) form#user-login input#edit-pass,
  body.not-logged-in.page-anon-login form#user-login input#edit-name,
  body.not-logged-in.page-anon-login form#user-login input#edit-pass {
    width: 85%;
  }
  /* line 115, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login div.form-item.form-item-name,
  body.not-logged-in.page-anon-login form#user-login div.form-item.form-item-name {
    padding-top: 0px;
    margin-top: -100px;
    clear: left;
    /* test*/
  }
  /* line 123, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) form#user-login div#edit-actions input#edit-submit,
  body.not-logged-in.page-anon-login form#user-login div#edit-actions input#edit-submit {
    display: block;
  }
  /* line 129, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body h2,
  body.not-logged-in.page-anon-login div#block-block-8 .panel-body h2 {
    margin-left: 16px;
  }
  /* line 132, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body p,
  body.not-logged-in.page-anon-login div#block-block-8 .panel-body p {
    margin-left: -14px;
  }
  /* line 137, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login div#block-block-9 {
    height: 130px;
    margin-bottom: -60px;
  }
  /* line 140, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2.block-title,
  body.not-logged-in.page-anon-login div#block-block-9 h2.block-title {
    margin-left: 16px;
  }
  /* line 143, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 ul,
  body.not-logged-in.page-anon-login div#block-block-9 ul {
    margin-left: 0px;
    padding-left: 30px;
  }

  /* line 151, ../../sass/phone/login-phone.scss */
  div.bottom-footer {
    height: 50px;
    width: 100%;
    /*border-color: red;*/
  }
  /* line 155, ../../sass/phone/login-phone.scss */
  div.bottom-footer div.bottom-footer-container {
    text-align: center;
    width: 100%;
  }
  /* line 158, ../../sass/phone/login-phone.scss */
  div.bottom-footer div.bottom-footer-container div.disclaimer {
    width: 95%;
    max-width: 360px;
    margin-left: 3%;
    border: 0px solid transparent;
    height: 100px;
    text-align: left;
    padding: 0px;
  }

  /* line 169, ../../sass/phone/login-phone.scss */
  div.bottom-footer,
  div.bottom-footer-container,
  div.disclaimer {
    max-width: 100%;
    text-align: left;
    display: block;
    margin: 0px;
  }

  /* merge with styles below? */
  /* line 181, ../../sass/phone/login-phone.scss */
  body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu {
    overflow: visible;
    /* admin*/
  }
  /* line 184, ../../sass/phone/login-phone.scss */
  body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
  body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-589 {
    display: none;
  }
  /* line 188, ../../sass/phone/login-phone.scss */
  body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 {
    overflow: visible;
  }
  /* line 190, ../../sass/phone/login-phone.scss */
  body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 a {
    border-bottom: 1px solid white;
  }
  /* line 196, ../../sass/phone/login-phone.scss */
  body.admin-menu div#content {
    margin-top: 50px;
  }

  /* line 200, ../../sass/phone/login-phone.scss */
  body {
    overflow-x: hidden;
  }

  /* line 203, ../../sass/phone/login-phone.scss */
  body, html {
    width: 100%;
    max-width: 100%;
  }

  /* line 210, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) footer,
  body.not-logged-in.page-anon-login footer {
    width: 100%;
    max-width: 100%;
  }
  /* line 213, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) footer .disclaimer,
  body.not-logged-in.page-anon-login footer .disclaimer {
    padding: 0px;
  }
  /* line 217, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div.top-header,
  body.not-logged-in.page-anon-login div.top-header {
    width: 100%;
  }
  /* line 220, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#page,
  body.not-logged-in.page-anon-login div#page {
    max-width: 100%;
    margin-bottom: -110px;
    padding-bottom: 210px;
    height: 550px !important;
    min-height: 550px;
  }
  /* line 226, ../../sass/phone/login-phone.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#page #main,
  body.not-logged-in.page-anon-login div#page #main {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (max-width: 710px) {
  /* line 19, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs {
    width: 100%;
  }
  /* line 22, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list {
    margin-left: 0.7%;
    width: 100%;
    margin-bottom: 13px;
  }
  /* line 27, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    display: block;
    width: 98%;
    text-align: center;
    margin: 0px auto;
    height: 25px;
  }
}
@media screen and (max-width: 767px) {
  /* line 41, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#page,
  body.not-logged-in.page-user-register:not(.node-type-event) div#page,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#page {
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  /* line 48, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu #footer,
  body.not-logged-in.page-user-register:not(.node-type-event) #footer,
  body.not-logged-in.page-anon-register:not(.node-type-event) #footer {
    margin-top: -100px;
  }
  /* line 70, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content {
    border: 0px;
  }
  /* line 72, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content h1#page-title.page__title,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content h1#page-title.page__title,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content h1#page-title.page__title {
    text-align: left;
  }
  /* line 80, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before {
    width: 100.6%;
    padding: 0px;
  }
  /* line 85, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text {
    width: 90%;
  }
  /* line 88, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
  body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio {
    width: 20px;
    margin-left: -5px;
    margin-right: -2px;
  }
  /* line 94, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container {
    width: 90% !important;
  }
  /* line 119, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content fieldset.form-wrapper,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  /* line 123, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper {
    margin-left: -15px;
  }
  /* line 126, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content fieldset.form-wrapper:before,
  body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before,
  body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  /* line 139, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#page {
    padding-bottom: 1800px;
  }
  /* line 144, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu ul#main-menu li.menu-item a {
    width: 150px;
  }
  /* line 149, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content div#title-section {
    margin-top: 70px;
    height: 65px;
    margin-bottom: -10px;
  }
  /* line 153, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div#main div#content div#title-section h1#page-title.page__title {
    text-align: left;
  }
  /* line 161, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container {
    width: 90% !important;
  }
  /* line 164, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed:before {
    margin: 0px auto;
    width: 100%;
  }
  /* line 170, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper.horizontal-tabs-pane div.fieldset-wrapper {
    margin-left: 0px !important;
  }
  /* line 175, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset#edit-ckeditor span.fieldset-legend {
    width: 200%;
  }
  /* line 179, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) {
    margin-top: 30px;
  }
  /* line 181, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) legend {
    position: relative;
    top: 0px;
    left: 0px;
  }
  /* line 187, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset {
    border-top: 1px solid #d7d7d7;
  }
  /* line 193, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select {
    width: 80% !important;
  }
  /* line 196, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select .chosen-single {
    display: none;
  }
  /* line 199, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select fieldset {
    display: none;
  }
  /* line 203, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select div.chosen-container#edit_timezone__2_chosen {
    width: 80% !important;
    display: none;
  }
  /* line 208, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-item.form-type-radio {
    white-space: nowrap;
  }
  /* line 211, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container-multi {
    max-width: 80% !important;
    display: none;
  }
  /* line 219, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed label {
    whitespace: no-wrap;
  }
  /* line 222, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed input.form-text {
    width: 80%;
  }
  /* line 228, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass {
    width: 90% !important;
    margin: 0px;
    width: 10px;
  }
  /* line 232, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-password {
    width: 100% !important;
  }
  /* line 235, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-radio {
    display: none;
  }
  /* line 238, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength {
    display: none;
  }
  /* line 241, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass label, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass input, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.description {
    display: none;
  }

  /* password reset - you get to it via email link */
  /* line 261, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password #page,
  body.not-logged-in.page-anon-login #page {
    min-height: 0px !important;
    max-height: 300px !important;
  }
  /* line 265, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password div#title-section,
  body.not-logged-in.page-anon-login div#title-section {
    margin-left: 0px;
    max-width: 90%;
    padding-left: 15px;
  }
  /* line 270, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password div#title-section h1#page-title.page__title,
  body.not-logged-in.page-anon-login div#title-section h1#page-title.page__title {
    text-align: left;
    margin-left: 10px !important;
    padding: 0px;
  }
  /* line 277, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password form#user-pass,
  body.not-logged-in.page-anon-login form#user-pass {
    margin-top: 20px;
    padding: 0px;
    width: 95%;
  }
  /* line 283, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password form#user-pass input.form-text,
  body.not-logged-in.page-anon-login form#user-pass input.form-text {
    width: 90%;
    margin-left: 10px;
  }
  /* line 287, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password form#user-pass label,
  body.not-logged-in.section-user.page-user-password form#user-pass div#edit-actions,
  body.not-logged-in.page-anon-login form#user-pass label,
  body.not-logged-in.page-anon-login form#user-pass div#edit-actions {
    margin-left: 10px;
  }
  /* line 291, ../../sass/phone/phone-register-profile.scss */
  body.not-logged-in.section-user.page-user-password form#user-pass:before,
  body.not-logged-in.page-anon-login form#user-pass:before {
    width: 100%;
  }

  /* event page styles */
  /* line 11, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event {
    /* banner title text */
    /* banner subtitle text */
  }
  /* line 12, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event footer {
    left: 0px;
    margin-left: -30px;
  }
  /* line 15, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event footer .disclaimer {
    padding-right: 0px !important;
  }
  /* line 22, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event h1#site-name.header__site-name {
    margin-top: -35px;
    margin-left: -339px;
  }
  /* line 26, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event h1#site-name.header__site-name a {
    font-size: 1em;
  }
  /* line 32, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#block-block-13 {
    color: white;
    font-size: 11px;
    margin-left: -339px;
    top: -100;
    position: absolute;
    margin-top: -26px;
    cursor: default;
  }
}
@media screen and (max-width: 767px) and (max-width: 512px) {
  /* line 45, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#block-block-7 {
    display: block;
    width: 100px;
  }
  /* line 49, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event h1#site-name.header__site-name {
    margin-top: -70px;
  }
  /* line 52, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#block-block-13 {
    margin-top: -60px;
  }
}
@media screen and (max-width: 767px) {
  /* line 58, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#page {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 63, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event div#main div#content div#title-section {
    margin-top: 0px;
  }
  /* line 67, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event ul.tabs-primary {
    display: none;
  }
  /* line 70, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event h1.subtitle {
    margin-top: 50px;
  }
  /* line 73, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left,
  body.node-type-event .ds-2col-stacked > .group-right {
    width: 100%;
    margin: 0px;
    float: none;
  }
  /* line 81, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds {
    border-top: 1px solid #d7d7d7;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 99.5%;
  }
  /* line 84, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds h2 {
    border-bottom: 0px;
    margin-left: 20px;
  }
  /* line 89, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds:before {
    height: 0px;
  }
  /* line 92, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-right div.field-name-materials.field-type-ds div.item-list {
    margin-left: 20px;
    border-top-width: 0px;
  }
  /* line 102, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left {
    /* make an extensible class?*/
  }
  /* line 109, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.group-audience p {
    width: 95%;
  }
  /* line 115, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.group-presenter p {
    width: 95%;
  }
  /* line 120, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- {
    /*br {
      display: none;
    }*/
    width: 100%;
    padding: 0px;
    background-color: white;
    border: 0px;
  }
  /* line 133, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- li.views-row > strong {
    display: list-item;
  }
  /* line 136, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul {
    padding-left: 13px;
  }
  /* line 138, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row {
    width: 90%;
    display: list-item;
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  /* line 146, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row strong {
    position: relative;
  }
  /* line 150, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row span.date-display-single {
    position: relative;
  }
  /* line 156, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.item-list ul li.views-row div.views-field.views-field-ops {
    margin-left: 0px;
    position: relative;
  }
  /* line 162, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s- div.field-item h2.block-title {
    color: #8c1d18;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  /* line 168, ../../sass/phone/phone-event-detail.scss */
  body.node-type-event .ds-2col-stacked > .group-left div.field-type-ds.field-name-event-date-s-:before {
    background-color: white;
    height: 0px;
  }

  /* banner title text */
  /* line 11, ../../sass/phone/banner-phone.scss */
  h1#site-name.header__site-name {
    margin-left: -119px;
    margin-top: -30px;
  }
  /* line 14, ../../sass/phone/banner-phone.scss */
  h1#site-name.header__site-name a {
    font-size: 0.8em;
  }

  /* line 19, ../../sass/phone/banner-phone.scss */
  div#block-block-13 {
    color: white;
    font-size: 11px;
    margin-left: -225px;
    top: -100;
    position: absolute;
    margin-top: -8px;
    cursor: default;
  }

  /* line 32, ../../sass/phone/banner-phone.scss */
  body.logged-in h1#site-name.header__site-name {
    margin-left: -329px;
  }
  /* line 35, ../../sass/phone/banner-phone.scss */
  body.logged-in div#block-block-13 {
    margin-left: -325px;
  }

  /*
   *  iPhone 6 Styles -- Registration & Profile Page
   */
  /* center title on registration page */
  /* test */
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
  /* line 52, ../../sass/phone/phone.scss */
  form#user-profile-form fieldset.group-account, form#user-profile-form fieldset,
  body.admin-menu fieldset.group-account,
  body.admin-menu fieldset {
    margin-bottom: 0px;
  }
  /* line 53, ../../sass/phone/phone.scss */
  form#user-profile-form fieldset.group-account div.fieldset-wrapper, form#user-profile-form fieldset.group-account div.data-view, form#user-profile-form fieldset div.fieldset-wrapper, form#user-profile-form fieldset div.data-view,
  body.admin-menu fieldset.group-account div.fieldset-wrapper,
  body.admin-menu fieldset.group-account div.data-view,
  body.admin-menu fieldset div.fieldset-wrapper,
  body.admin-menu fieldset div.data-view {
    padding-top: 45px;
    margin-top: 8px;
  }
  /* line 60, ../../sass/phone/phone.scss */
  form#user-profile-form fieldset,
  body.admin-menu fieldset {
    margin-top: 0px;
  }
}
/**
 *  Logo Styles for iPhone 6 and iPhone 4 test!!!!!!
 */
/* iPhone 6 */
@media screen and (min-width: 361px) and (max-width: 767px) {
  /* line 89, ../../sass/phone/phone.scss */
  body.admin-menu div.top-header,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header,
  body.not-logged-in.page-anon-login div.top-header {
    height: 61px;
    background-image: url("../images/design-elements/rainbow-divider.png");
    background-position: -124px 52px;
    background-repeat: repeat-x;
  }
  /* line 93, ../../sass/phone/phone.scss */
  body.admin-menu div.top-header div.top-header-container div.capt-logo,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header div.top-header-container div.capt-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header div.top-header-container div.capt-logo,
  body.not-logged-in.page-anon-login div.top-header div.top-header-container div.capt-logo {
    top: 12px;
    background-size: 188.5px 29.9px;
    width: 188.5px;
    height: 29.9px;
  }
  /* line 98, ../../sass/phone/phone.scss */
  body.admin-menu div.top-header div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-anon-login div.top-header div.top-header-container div.samhsa-logo {
    top: 10px;
    background-size: 122.5px 35px;
    width: 122.5px;
    height: 35px;
  }
}
@media screen and (max-width: 425px) {
  /* line 111, ../../sass/phone/phone.scss */
  ul.tabs-primary li:nth-child(3), ul.tabs-primary li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  /* test */
  /* test*/
  /* line 10, ../../sass/phone/small-phone.scss */
  body.admin-menu div#block-block-8, body.admin-menu div#title-section, body.admin-menu div#block-block-9,
  body.not-logged-in.page-user-register:not(.node-type-event) div#block-block-8,
  body.not-logged-in.page-user-register:not(.node-type-event) div#title-section,
  body.not-logged-in.page-user-register:not(.node-type-event) div#block-block-9,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#title-section,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 {
    /*h1, h2.block-title, h2.custom_block_title {
      font-size: 1.65em;
    }*/
  }
  /* line 15, ../../sass/phone/small-phone.scss */
  body.admin-menu h1#page-title.page__title,
  body.not-logged-in.page-user-register:not(.node-type-event) h1#page-title.page__title,
  body.not-logged-in.page-user:not(.page-user-register) h1#page-title.page__title {
    font-size: 30px;
    padding-top: 10px;
  }
  /* line 20, ../../sass/phone/small-phone.scss */
  body.admin-menu ul#main-menu.main-menu li.menu-item > a,
  body.not-logged-in.page-user-register:not(.node-type-event) ul#main-menu.main-menu li.menu-item > a,
  body.not-logged-in.page-user:not(.page-user-register) ul#main-menu.main-menu li.menu-item > a {
    width: 125px;
  }
  /* line 24, ../../sass/phone/small-phone.scss */
  body.admin-menu div.top-header,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header {
    height: 61px;
    background-image: url("../images/design-elements/rainbow-divider.png");
    background-position: -124px 52px;
    background-repeat: repeat-x;
  }
  /* line 28, ../../sass/phone/small-phone.scss */
  body.admin-menu div.top-header div.top-header-container div.capt-logo,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header div.top-header-container div.capt-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header div.top-header-container div.capt-logo {
    top: 12px;
    background-size: 159.5px 25.3px;
    width: 159.5px;
    height: 25.3px;
  }
  /* line 32, ../../sass/phone/small-phone.scss */
  body.admin-menu div.top-header div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-user-register:not(.node-type-event) div.top-header div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header div.top-header-container div.samhsa-logo {
    top: 10px;
    background-size: 105px 30px;
    width: 105px;
    height: 30px;
  }
}
