@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 * prototype classes´
 */
/* line 11, ../../sass/phone/extensible-phone.scss */
.reset-layout {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 17, ../../sass/phone/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 23, ../../sass/phone/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, body.not-logged-in.section-user.page-user-password form#user-pass,
body.not-logged-in.page-anon-login form#user-pass, .mobile-login-lower-panel {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 33, ../../sass/phone/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, body.not-logged-in.section-user.page-user-password form#user-pass:before,
body.not-logged-in.page-anon-login form#user-pass:before, .mobile-login-lower-panel:before {
  top: -11px;
}

/* line 38, ../../sass/phone/extensible-phone.scss */
.before-style, .mobile-panel-rule:before, body.not-logged-in.section-user.page-user-password form#user-pass:before,
body.not-logged-in.page-anon-login form#user-pass:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 57, ../../sass/phone/extensible-phone.scss */
.mobile-login-lower-panel:before {
  background-color: white;
}

/* line 62, ../../sass/phone/extensible-phone.scss */
.show-hide-appearance, .show-hide-button, .event-show-hide h4 {
  cursor: pointer;
  background-image: url("../images/icons/show.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
}

/* line 69, ../../sass/phone/extensible-phone.scss */
.show-hide-text, .show-hide-button, .event-show-hide h4, .event-show-hide h4 span {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

/* line 76, ../../sass/phone/extensible-phone.scss */
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 86, ../../sass/phone/extensible-phone.scss */
.show-hide-button, .event-show-hide h4 {
  padding-left: 20px;
  background-repeat: no-repeat;
}

/* line 93, ../../sass/phone/extensible-phone.scss */
.show-hide-panel, .event-show-hide {
  background-color: #eef1f3;
  padding-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}

/* event primitive */
/* line 102, ../../sass/phone/extensible-phone.scss */
.event-show-hide h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 0px;
  margin-left: 20px;
  background-position: 0px 32px;
}
/* line 115, ../../sass/phone/extensible-phone.scss */
.event-show-hide div.field-items {
  margin-left: 20px;
  margin-bottom: 20px;
}

/*
 *  End Prototypes, Start Mixins
 */
@media screen and (max-width: 710px) {
  /* line 19, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs {
    width: 100%;
  }
  /* line 22, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list {
    margin-left: 0.7%;
    width: 100%;
    margin-bottom: 13px !important;
  }
  /* line 27, ../../sass/phone/phone-register-profile.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    display: block;
    width: 98%;
    text-align: center;
    margin: 0px auto;
    height: 25px;
  }
}
/* line 41, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#page,
body.not-logged-in.page-user-register:not(.node-type-event) div#page,
body.not-logged-in.page-anon-register:not(.node-type-event) div#page {
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 48, ../../sass/phone/phone-register-profile.scss */
body.admin-menu #footer,
body.not-logged-in.page-user-register:not(.node-type-event) #footer,
body.not-logged-in.page-anon-register:not(.node-type-event) #footer {
  margin-top: -100px;
}
/* line 70, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content {
  border: 0px;
}
/* line 72, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content h1#page-title.page__title,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content h1#page-title.page__title,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content h1#page-title.page__title {
  text-align: left;
}
/* line 80, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before {
  width: 100.6%;
  padding: 0px;
}
/* line 85, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text {
  width: 90%;
}
/* line 88, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio {
  width: 20px;
  margin-left: -5px;
  margin-right: -2px;
}
/* line 94, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container {
  width: 90% !important;
}
/* line 119, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content fieldset.form-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper {
  width: 95%;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
/* line 123, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper {
  margin-left: -15px;
}
/* line 126, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content fieldset.form-wrapper:before,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* line 142, ../../sass/phone/phone-register-profile.scss */
body.admin-menu ul#main-menu li.menu-item a {
  width: 150px;
}
/* line 147, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content div#title-section {
  margin-top: 70px;
  height: 65px;
  margin-bottom: -10px;
}
/* line 151, ../../sass/phone/phone-register-profile.scss */
body.admin-menu div#main div#content div#title-section h1#page-title.page__title {
  text-align: left;
}
/* line 159, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container {
  width: 90% !important;
}
/* line 162, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed:before {
  margin: 0px auto;
  width: 100%;
}
/* line 168, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper.horizontal-tabs-pane div.fieldset-wrapper {
  margin-left: 0px !important;
}
/* line 173, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset#edit-ckeditor span.fieldset-legend {
  width: 200%;
}
/* line 177, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) {
  margin-top: 30px;
}
/* line 179, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) legend {
  position: relative;
  top: 0px;
  left: 0px;
}
/* line 185, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset {
  border-top: 1px solid #d7d7d7;
}
/* line 191, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select {
  width: 80% !important;
}
/* line 194, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select .chosen-single {
  display: none;
}
/* line 197, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select fieldset {
  display: none;
}
/* line 201, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select div.chosen-container#edit_timezone__2_chosen {
  width: 80% !important;
  display: none;
}
/* line 206, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-item.form-type-radio {
  white-space: nowrap;
}
/* line 209, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container-multi {
  max-width: 80% !important;
  display: none;
}
/* line 217, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed label {
  whitespace: no-wrap;
}
/* line 220, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed input.form-text {
  width: 80%;
}
/* line 226, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass {
  width: 90% !important;
  margin: 0px;
  width: 10px;
}
/* line 230, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-password {
  width: 100% !important;
}
/* line 233, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-radio {
  display: none;
}
/* line 236, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength {
  display: none;
}
/* line 239, ../../sass/phone/phone-register-profile.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass label, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass input, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.description {
  display: none;
}

/* password reset - you get to it via email link */
/* line 259, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password #page,
body.not-logged-in.page-anon-login #page {
  min-height: 0px !important;
  max-height: 300px !important;
}
/* line 263, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password div#title-section,
body.not-logged-in.page-anon-login div#title-section {
  margin-left: 0px;
  max-width: 90%;
  padding-left: 15px;
}
/* line 268, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password div#title-section h1#page-title.page__title,
body.not-logged-in.page-anon-login div#title-section h1#page-title.page__title {
  text-align: left;
  margin-left: 10px !important;
  padding: 0px;
}
/* line 275, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password form#user-pass,
body.not-logged-in.page-anon-login form#user-pass {
  margin-top: 20px;
  padding: 0px;
  width: 95%;
}
/* line 281, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password form#user-pass input.form-text,
body.not-logged-in.page-anon-login form#user-pass input.form-text {
  width: 90%;
  margin-left: 10px;
}
/* line 285, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password form#user-pass label,
body.not-logged-in.section-user.page-user-password form#user-pass div#edit-actions,
body.not-logged-in.page-anon-login form#user-pass label,
body.not-logged-in.page-anon-login form#user-pass div#edit-actions {
  margin-left: 10px;
}
/* line 289, ../../sass/phone/phone-register-profile.scss */
body.not-logged-in.section-user.page-user-password form#user-pass:before,
body.not-logged-in.page-anon-login form#user-pass:before {
  width: 100%;
}
