/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 710px) {
  /* line 16, ../../sass/phone/register-profile-phone.scss */
  body.admin-menu div.horizontal-tabs,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs {
    width: 100%;
  }
  /* line 19, ../../sass/phone/register-profile-phone.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list {
    margin-left: 0.7%;
    width: 100%;
  }
  /* line 22, ../../sass/phone/register-profile-phone.scss */
  body.admin-menu div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-user-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button,
  body.not-logged-in.page-anon-register:not(.node-type-event) div.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    display: block;
    width: 98%;
    text-align: center;
    margin: 0px auto;
  }
}
/* line 35, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#page,
body.not-logged-in.page-user-register:not(.node-type-event) div#page,
body.not-logged-in.page-anon-register:not(.node-type-event) div#page {
  height: 100%;
}
/* line 59, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content {
  border: 0px;
}
/* line 61, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content h1#page-title.page__title,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content h1#page-title.page__title,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content h1#page-title.page__title {
  text-align: center;
}
/* line 68, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes:before {
  width: 100.6%;
  padding: 0px;
}
/* line 73, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-text {
  width: 90%;
}
/* line 76, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-checkbox,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane input.form-radio {
  width: 20px;
  margin-left: -5px;
  margin-right: -2px;
}
/* line 82, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content form#user-register-form div.horizontal-tabs-panes fieldset.form-wrapper.horizontal-tabs-pane .chosen-container {
  width: 90% !important;
}
/* line 107, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content fieldset.form-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper {
  width: 95%;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
/* line 111, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper div.fieldset-wrapper {
  margin-left: -15px;
}
/* line 114, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content fieldset.form-wrapper:before,
body.not-logged-in.page-user-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before,
body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content fieldset.form-wrapper:before {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* line 127, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#page {
  padding-bottom: 1800px;
}
/* line 132, ../../sass/phone/register-profile-phone.scss */
body.admin-menu ul#main-menu li.menu-item a {
  width: 150px;
}
/* line 137, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content div#title-section {
  margin-top: 70px;
  height: 65px;
  margin-bottom: -10px;
}
/* line 141, ../../sass/phone/register-profile-phone.scss */
body.admin-menu div#main div#content div#title-section h1#page-title.page__title {
  text-align: left;
}
/* line 149, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container {
  width: 90% !important;
}
/* line 152, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed:before {
  margin: 0px auto;
  width: 100%;
}
/* line 158, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper.horizontal-tabs-pane div.fieldset-wrapper {
  margin-left: 0px !important;
}
/* line 163, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset#edit-ckeditor span.fieldset-legend {
  width: 200%;
}
/* line 167, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) {
  margin-top: 30px;
}
/* line 169, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset.form-wrapper:not(.horizontal-tabs-pane) legend {
  position: relative;
  top: 0px;
  left: 0px;
}
/* line 175, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed fieldset {
  border-top: 1px solid #d7d7d7;
}
/* line 181, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select {
  width: 80% !important;
}
/* line 184, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select .chosen-single {
  display: none;
}
/* line 187, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select fieldset {
  display: none;
}
/* line 191, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-type-select div.chosen-container#edit_timezone__2_chosen {
  width: 80% !important;
  display: none;
}
/* line 196, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.form-item.form-type-radio {
  white-space: nowrap;
}
/* line 199, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div.chosen-container-multi {
  max-width: 80% !important;
  display: none;
}
/* line 207, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed label {
  whitespace: no-wrap;
}
/* line 210, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed input.form-text {
  width: 80%;
}
/* line 216, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass {
  background-color: red;
  width: 90% !important;
  margin: 0px;
  width: 10px;
}
/* line 221, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-password {
  width: 100% !important;
}
/* line 224, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.form-type-radio {
  display: none;
}
/* line 227, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength {
  display: none;
}
/* line 230, ../../sass/phone/register-profile-phone.scss */
body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.password-strength, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass label, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass input, body.admin-menu form#user-profile-form div.horizontal-tabs-panes.horizontal-tabs-processed div#edit-account div.form-item.form-type-password-confirm.form-item-pass div.description {
  display: none;
}
