@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';



body.node-type-event,
body.node-type-event-materials-group {
  .page-title  {
    color: $masstapp-blue;
    text-align: center;
    font-weight: bold;
   
  }
  // subtitle
  #block-block-20 h2 {
    color: $masstapp-blue;
    text-align: center;
    width: 100%;
    margin-top: 2px;
  }
  h1 span {
    display: block;
  }
  h1 span:nth-child(n+2) {
    font-size: 21px;
  }
  .main-content {
    .region-help {
      .pageblock {
        padding-left: 30px;
        h2 {
         
        }
      }
    }
  }
  .field-name-field-event-details {
    margin-top: 0px;
  }
  .group-description p{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .group-footer p:first-child {
    margin-top: 0px;
    padding-top: 0px;
  }
  #pagecontent {
    padding: 0 25px 0 30px;
    .ds-2col-stacked > .group-left {
      width: 49.5%;
      margin-right: 4%;
    }
    .ds-2col-stacked > .group-right {
      width: 46.5%;
      margin-top: 30px;
      .field {
        margin: 0 0 25px 0;
      }
    }
  }
  .field-name-field-materials-groups,
   .field-name-event-date-s-,
  .field-name-materials { 
    margin-top: 10px;
    border: 1px solid #2986ed; //#1ca64c; //#d7d7d7;
    margin-left: 5px;
  }
  .field-name-field-learning-objectives-stem .field-label {
    margin-bottom: 10px;
    /* hide the colon */
    width: 142px; /* lower case - 114px; */
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
  }
  ul.learning-objectives li {
    list-style-type: disc;
    margin-left: 14px;
  }
  ul.learning-objectives li {
    padding-left: 5px;
  }
  /* hide second subtitle */
  div.region-content div.group-header {
    display: none
  }
  .field-name-event-date-s-,
  .field-name-materials {
      padding: 0px 15px 15px 15px;
     h2 {
      margin-top: 0;
      padding: 2px 0px;
      text-align: center;
      background: #2986ed; //#1ca64c; //#CBE1EE; //#DFECF4;
      margin: 0px -15px 5px -15px;
      color: white;
    }

  }
  .field-name-field-event-details,
  .field-name-field-materials-groups > .field-items {
     a {
      color: #07b24d;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .field-name-field-materials-groups > .field-items {
    padding: 0 15px 0px 15px;
   
  }

  .field-name-field-materials-groups .field-label {
    background-color: #2986ed;
    color: white;
    text-align: center;
    padding: 5px 0px;
    margin: 0px auto;
  }
  article.node-material {
    margin-bottom: 0px;
  }
  #pagecontent img.file-icon {
    margin-right: 5px;
  }
  .presenter-location {
    font-weight: normal;
  }
  .field-name-event-date-s- {


   
   
    .view-instances {
      .view-instances {
        ul {
          margin: 0;
          li.views-row {
            padding-top: 5px;
          }
        }
        .views-row {
          padding: 0 0 5px 0;
        }
      }
    }
  }
  .field-name-materials {
    h2 {
      margin-top: 0;
    }
    .view-materials {
      ul {
        margin: 0;
        li.views-row {
          padding-top: 5px;
        }
      }
      .views-row {
        padding: 0 0 5px 0;
      }
    }
  }
  .field-name-event-date-s- {
    .flag-registration {
      a {
        -moz-transition: all 0.2s ease-in-out 0s;
        border-radius: 5px;
        cursor: pointer;
        background: none repeat scroll 0 0 #09AF4D;
        border: 0px solid #9D4D2C;
        color: #fff;
        padding: 4px 6px;
        text-shadow: 1px 1px 1px #300033;
        margin-right: 4px;
        margin-bottom: 5px;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }
  }
  div.field-name-field-materials-groups {
    
    div.field-label {
      font-size: 16px;
    }
    h2.title a{
      text-decoration: none
    }
    h2.title {
      font-size: 13px;
    }
    .node-resource-author header,
    .field-name-field-author,
    .node-material header h2 a,
    div.field-name-field-source {
      display: none;
    }
    .field-name-field-resource-note {
      font-style: italic;
    }
    .node-material a {
      display: block;
    }
   /* .presenter-name,
    .presenter-position,
    .presenter-location {
      
      
      font-style: italic;

    }*/
    .presenter-position, 
    .presenter-location {
      font-weight: normal;
    }
   /* .field-name-field-presenter-name,
    .field-name-field-presenter-position,
    .field-name-field-presenter-location {
       float: left;
       font-size: 13px;
       margin-top: 20px;
       display: inline;


    }
    .node-event-materials-group header {
      float: left; 
    }
    .field-name-field-presenter-position,
    .field-name-field-presenter-location {
      margin-left: 7px;
  
      position: relative;
        &:before {
        content:',';
        float: left;
        position: absolute;
        left: -7px;
       }
    }
    .field-name-field-materials {
      clear: both;
    }*/
  }
}
.my-archived-events {
  .view-display-id-block_2 {
    margin-top: 20px;
  }
}
body.events {
  .region-content {
    padding: 0 30px;
  }
  #sidebar {
    padding: 15px 15px 15px 15px;
  }
}