@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';



body.node-type-event {
  .page-title  {
    color: $masstapp-blue;
    text-align: center;
    font-weight: bold;
  }
  .main-content {
    .region-help {
      .pageblock {
        padding-left: 30px;
        h2 {
         
        }
      }
    }
  }
  #pagecontent {
    padding: 0 25px 0 30px;
    .ds-2col-stacked > .group-left {
      width: 49.5%;
      margin-right: 4%;
    }
    .ds-2col-stacked > .group-right {
      width: 46.5%;
      margin-top: -25px;
      .field {
        margin: 0 0 25px 0;
      }
    }
  }
  .field-name-event-date-s-,
  .field-name-materials {
     padding: 0px 15px 15px 15px;
    border: 1px solid #2986ed; //#1ca64c; //#d7d7d7;
     h2 {
      margin-top: 0;
      padding: 2px 0px;
      text-align: center;
      background: #2986ed; //#1ca64c; //#CBE1EE; //#DFECF4;
      margin: 0px -15px 5px -15px;
      color: white;
    }

  }
  .field-name-event-date-s- {


   
   
    .view-instances {
      .view-instances {
        ul {
          margin: 0;
          li.views-row {
            padding-top: 5px;
          }
        }
        .views-row {
          padding: 0 0 5px 0;
        }
      }
    }
  }
  .field-name-materials {
    h2 {
      margin-top: 0;
    }
    .view-materials {
      ul {
        margin: 0;
        li.views-row {
          padding-top: 5px;
        }
      }
      .views-row {
        padding: 0 0 5px 0;
      }
    }
  }
  .field-name-event-date-s- {
    .flag-registration {
      a {
        -moz-transition: all 0.2s ease-in-out 0s;
        border-radius: 5px;
        cursor: pointer;
        background: none repeat scroll 0 0 #09AF4D;
        border: 0px solid #9D4D2C;
        color: #fff;
        padding: 4px 6px;
        text-shadow: 1px 1px 1px #300033;
        margin-right: 4px;
        margin-bottom: 5px;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }
  }
}
.my-archived-events {
  .view-display-id-block_2 {
    margin-top: 20px;
  }
}
body.events {
  .region-content {
    padding: 0 30px;
  }
  #sidebar {
    padding: 15px 15px 15px 15px;
  }
}