@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

body.page-user-register, body.page-anon-register, body.page-admin-people-create {
  input, select, fieldset, .form-select {
    border: 2px solid #d7d7d7;
    border-radius: 0;
  }
  select, .form-select {
    -webkit-appearance: none;
    -webkit-background: none;
    -webkit-border-radius: 0;
    -moz-appearance: none;
    -moz-background: none;
    -moz-border-radius: 0;
    appearance: none;
  }
  #breadcrumbs {
    border-bottom: none;
  }
  #small-login-close {
    display: none;
  }
  ul#multipage-panes-list {
  margin-top: 20px;
    margin-bottom: 5px;
    li {
      //list-style-type: none;
      font-size: 14px;
      color: $capt-midgrey;
      font-weight: bold;
      padding: 2px 0;
      &.active {
        color: #00a73a;
      }
      .pane-link {
        .step {
          font-size: 20px;
          font-weight: normal;
          vertical-align: middle;
        }
        .title {
          vertical-align: middle;
        }
      }
    }
  }
  h2.multipage-pane-title {
    display: none;
  }
  .fieldset-wrapper.multipage-pane-wrapper {
    border: #d7d7d7 solid 4px;
    padding: 1.5em;
    margin-bottom: 1em;
      #edit-timezone {
        .fieldset-legend {
          position: absolute;
          top: 5px;
        }
        > .fieldset-wrapper {
          margin-top: 40px;
        }
      }
  }
  .chosen-container-single .chosen-single {
    background: none;
    border: none;
  }
}
.page-user.logged-in {
  .region-sidebar-first #block-menu-block-4 ul.menu li.menu-mlid-5825 a {
    color: #207cdf;
  }
}