/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/**
 *  User profile page
 */
/* line 10, ../../sass/main_pages/profile.scss */
form#user-profile-form,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  margin-top: -20px;
  /* end fieldset */
}
/* line 14, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs {
  border: none;
}
/* line 16, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs ul.horizontal-tabs-list,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list {
  background: none;
  border-right: none;
  margin-bottom: 5px;
  top: 12px;
}
/* line 21, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs ul.horizontal-tabs-list li,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li {
  background: none;
  border-right: none;
  padding: 1px;
  padding-top: 0;
  margin: 0;
  min-width: 5em;
  float: left;
}
/* line 29, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs ul.horizontal-tabs-list li a,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li a,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li a {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #CCCBCB;
  font-style: normal;
  position: relative;
  padding: 5px 20px;
}
/* line 38, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs ul.horizontal-tabs-list li a:hover,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li a:hover,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  outline: none;
  background-color: #fff;
}
/* line 43, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs ul.horizontal-tabs-list li.selected a strong,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li.selected a strong,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs ul.horizontal-tabs-list li.selected a strong {
  color: #577785;
}
/* line 49, ../../sass/main_pages/profile.scss */
form#user-profile-form .horizontal-tabs .horizontal-tabs-panes:before,
body.not-logged-in.page-user-register:not(.node-type-event) .horizontal-tabs .horizontal-tabs-panes:before,
body.not-logged-in.page-anon-register:not(.node-type-event) .horizontal-tabs .horizontal-tabs-panes:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
/* line 62, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset {
  border: 0px;
  border: 1px solid #dbdbd9;
  border-top: none;
  margin: 0px;
  background: #eef1f3;
  padding: 0px 20px;
  /* end legend */
}
/* line 69, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset legend,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset legend,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset legend {
  position: relative;
}
/* line 71, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset legend span.fieldset-legend,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset legend span.fieldset-legend,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset legend span.fieldset-legend {
  color: #577785;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 0px 5px;
  left: 20px;
}
/* line 79, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset legend a,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset legend a,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset legend a {
  padding-left: 12px;
  color: #577785;
}
/* line 84, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset fieldset legend,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset fieldset legend,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset fieldset legend {
  top: -12px;
}
/* line 88, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset fieldset,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset fieldset,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset fieldset {
  margin-right: 10px;
}
/* line 91, ../../sass/main_pages/profile.scss */
form#user-profile-form fieldset .fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset .fieldset-wrapper,
body.not-logged-in.page-anon-register:not(.node-type-event) fieldset .fieldset-wrapper {
  width: 100%;
}
/* line 96, ../../sass/main_pages/profile.scss */
form#user-profile-form span.label,
body.not-logged-in.page-user-register:not(.node-type-event) span.label,
body.not-logged-in.page-anon-register:not(.node-type-event) span.label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
  margin-left: 1px;
}
/* line 103, ../../sass/main_pages/profile.scss */
form#user-profile-form .fieldset-wrapper div.form-item label:not(.option),
body.not-logged-in.page-user-register:not(.node-type-event) .fieldset-wrapper div.form-item label:not(.option),
body.not-logged-in.page-anon-register:not(.node-type-event) .fieldset-wrapper div.form-item label:not(.option) {
  font-size: 14px;
}
/* line 106, ../../sass/main_pages/profile.scss */
form#user-profile-form .fieldset-wrapper div.form-item label.option,
body.not-logged-in.page-user-register:not(.node-type-event) .fieldset-wrapper div.form-item label.option,
body.not-logged-in.page-anon-register:not(.node-type-event) .fieldset-wrapper div.form-item label.option {
  font-size: 13px;
}
/* line 110, ../../sass/main_pages/profile.scss */
form#user-profile-form input.form-text,
body.not-logged-in.page-user-register:not(.node-type-event) input.form-text,
body.not-logged-in.page-anon-register:not(.node-type-event) input.form-text {
  font-size: 14px;
  padding: 5px;
  max-width: 400px;
  display: block;
  border: 1px solid #b6b6b6;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
/* line 119, ../../sass/main_pages/profile.scss */
form#user-profile-form input.form-text:focus,
body.not-logged-in.page-user-register:not(.node-type-event) input.form-text:focus,
body.not-logged-in.page-anon-register:not(.node-type-event) input.form-text:focus {
  background: #F5FAFC;
  outline: none;
}
/* line 125, ../../sass/main_pages/profile.scss */
form#user-profile-form .form-item .description,
body.not-logged-in.page-user-register:not(.node-type-event) .form-item .description,
body.not-logged-in.page-anon-register:not(.node-type-event) .form-item .description {
  font-size: 0.85em;
  line-height: 1.8em;
  margin-left: 2px;
  color: #5c5c5c;
  max-width: 400px;
}
/* line 132, ../../sass/main_pages/profile.scss */
form#user-profile-form .form-item .confirm-parent, form#user-profile-form .form-item .password-parent,
body.not-logged-in.page-user-register:not(.node-type-event) .form-item .confirm-parent,
body.not-logged-in.page-user-register:not(.node-type-event) .form-item .password-parent,
body.not-logged-in.page-anon-register:not(.node-type-event) .form-item .confirm-parent,
body.not-logged-in.page-anon-register:not(.node-type-event) .form-item .password-parent {
  width: 40em !important;
}
/* line 135, ../../sass/main_pages/profile.scss */
form#user-profile-form .form-item div.password-suggestions,
body.not-logged-in.page-user-register:not(.node-type-event) .form-item div.password-suggestions,
body.not-logged-in.page-anon-register:not(.node-type-event) .form-item div.password-suggestions {
  padding: 10px;
  background: #F7F7F7;
  width: 560px;
}
/* line 139, ../../sass/main_pages/profile.scss */
form#user-profile-form .form-item div.password-suggestions ul,
body.not-logged-in.page-user-register:not(.node-type-event) .form-item div.password-suggestions ul,
body.not-logged-in.page-anon-register:not(.node-type-event) .form-item div.password-suggestions ul {
  margin-top: 0.5em;
}
/* line 167, ../../sass/main_pages/profile.scss */
form#user-profile-form input#edit-submit, form#user-profile-form input#edit-cancel,
body.not-logged-in.page-user-register:not(.node-type-event) input#edit-submit,
body.not-logged-in.page-user-register:not(.node-type-event) input#edit-cancel,
body.not-logged-in.page-anon-register:not(.node-type-event) input#edit-submit,
body.not-logged-in.page-anon-register:not(.node-type-event) input#edit-cancel {
  background-color: #c3791f;
  text-transform: capitalize;
}

/* prevent overlap with bottom save & cancel buttons */
/* line 175, ../../sass/main_pages/profile.scss */
form#user-profile-form > div > fieldset > .fieldset-wrapper {
  padding-bottom: 90px;
}
