/* CSS Document */

img.file-icon {
	display: none;
}
.pdf {
	background: url(../images/resource-icons/sm-icon-pdf.gif) 0 0 no-repeat;
	padding-left: 22px;
	padding-bottom: 6px;
}

.word,.docx {
	background: url(../images/resource-icons/sm-icon-word.gif) 0 0 no-repeat;
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.field-type-link-field a, .url {
	background: url(../images/resource-icons/sm-icon-web.gif) 0 0 no-repeat;
	padding-left: 22px;
	padding-bottom: 6px;

}

.podcast {
	background: url(../images/resource-icons/podcast.gif) 0 0 no-repeat;
	padding-left: 22px;
}

.video,.mpg,.mp4 {
	background: url(../images/resource-icons/video.gif) 0 0 no-repeat;
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.zip {
	background: url(../images/resource-icons/sm-icon-zip.gif) 0 0 no-repeat;
	padding-left: 22px;
}
.powerpoint,.pptx {
	background: url(../images/resource-icons/PowerPoint-16x16.png) 0 0 no-repeat;
	padding-left: 22px;
	padding-bottom: 6px;
}
.excel {
	background: url(../images/resource-icons/Excel-16x16.png) 0 0 no-repeat;
	padding-left: 22px;
}