/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

/**
 * Menus.
 */
.region-sidebar-first {
  #block-menu-block-4 {
    .content {
      border: 1px solid #d7d7d7;
    }
    ul.menu {
      padding: 5px 0 0;
      border: none;
      li.leaf {
        padding: 7px 15px 0px 18px;
        border: none;
        list-style-type: none;
        list-style-image: none;
        background: rgba(0, 0, 0, 0) url("../images/bullet-gray.jpg") no-repeat scroll 18px 12px;
        padding: 5px 0 3px 30px;
        &:before {
          //content: '';
          //width: 0px;
          //height: 0px;
          //border-style: solid;
          //border-width: 4px 0 4px 5px;
          //border-color: transparent transparent transparent #333333;  
          //display: inline-block;
          //vertical-align: middle;
          //margin-right: 8px;
        }
        a {
          color: #333333;
        }
      }
    }
  }
}
#header-inn {
  .user-menu {
    a[href="http://masstapp.edc.org/masstapp-technical-assistance-request-form"] {
      span.ext {
        display: none;
      }
    }
  }
}
.region-sidebar-first {
  #block-menu-block-4 {
    ul.menu {
      li {
        a {
          color: #4a4a4a;
          &:hover {
            color: #105eb4;
          }
        }
      }
      li.active {
        a.active {
          color: #207cdf;
        }
      }
    }
  }
}
// #127038281: add horizontal margin to green message box when it appear in front end page 
.messages.status {
  margin-left: 30px;
  margin-right: 25px;
}

// #136190099: Style up the "print certificate" button
.my-archived-events {
  .views-row {
    .button {
      a {
        display: inline-block;
        width: 94px; 
        color: #ffffff;
        letter-spacing: 0.5px;
        text-shadow: 1px 1px 1px #300033;
        font-weight: bold;
        cursor: pointer;
        background-color: #09af4d;
        padding: 4px 6px;
        border-radius: 5px;
        margin-top: 5px;
        &:hover {
          background-color: #105eb4;
        }
      }
    }
  }
}

// #136385803: Style the "confirm registration details" page
.page-flag-confirm-flag-registration {
  .confirmation {
    .panel {
      background-color: transparent;
      border: none;
      > div {
        margin-bottom: 10px;
      }
      .label {
        font-weight: bold;
      }
      .saver, .editor {
        display: inline-block !important;
        color: #ffffff;
        letter-spacing: 0.5px;
        text-shadow: 1px 1px 1px #300033 !important;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
        background: none repeat scroll 0 0 #09af4d;
        padding: 2px 6px 1px;
        border-radius: 5px;
        margin-top: 5px;
        margin-right: 4px;
        margin-bottom: 5px;
        &:hover {
          background: none repeat scroll 0 0 #CF5240;
        }
      }
    }
  }
}