/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/* line 5, ../../sass/sitewide/general.scss */
.section-events .field-type-ds,
.section-event .field-type-ds {
  margin-top: 0px !important;
}

/* line 13, ../../sass/sitewide/general.scss */
.field-container fieldset {
  border: 0px;
  padding-left: 0px;
}
/* line 17, ../../sass/sitewide/general.scss */
.field-container legend,
.field-container span.fieldset-legend {
  font-weight: bold;
}
/* line 21, ../../sass/sitewide/general.scss */
.field-container input.form-submit {
  margin-top: 0px;
}

/*
 *  End inherited primitives
 */
/* pager */
/* line 31, ../../sass/sitewide/general.scss */
.pager-clip {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: 6px;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* line 42, ../../sass/sitewide/general.scss */
body {
  /* changed font per the spec */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

/* eliminate blue links */
/* line 53, ../../sass/sitewide/general.scss */
#page div.view-content .panel a, #page div.view-content .panel-rule a, #page div.view-content .panel-rule-single a, #page div.view-content .panel a.flag-action, #page div.view-content .panel-rule a.flag-action, #page div.view-content .panel-rule-single a.flag-action {
  /* color: $capt-black;*/
}
/* line 56, ../../sass/sitewide/general.scss */
#page div.view-content .panel .item-list h3, #page div.view-content .panel-rule .item-list h3, #page div.view-content .panel-rule-single .item-list h3 {
  font-size: 16px;
}
/* line 59, ../../sass/sitewide/general.scss */
#page div.view-content .panel a:hover, #page div.view-content .panel-rule a:hover, #page div.view-content .panel-rule-single a:hover {
  color: #8c1d18;
}

/* line 65, ../../sass/sitewide/general.scss */
#page > header {
  position: relative;
  padding-bottom: 20px;
  background: #86a9b5;
}

/* line 74, ../../sass/sitewide/general.scss */
ul.main-menu {
  margin-top: 40px;
}

/* inherited class */
/* line 80, ../../sass/sitewide/general.scss */
.button-reset, ul.main-menu a, input[type="submit"],
a.button, .page-user-edit .button, .group-right .button .flag-wrapper a, .group-right .button .field-content > a, .view-dashboard .button .flag-wrapper a, .view-dashboard .button .field-content > a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
}

/* line 87, ../../sass/sitewide/general.scss */
ul.main-menu a {
  color: #333333;
  background: #eef1f3;
  padding: 12px 20px 4px 20px;
  font-size: 15px;
}
/* line 93, ../../sass/sitewide/general.scss */
ul.main-menu a:active {
  color: #8c1d18;
}

/* submit & other buttons*/
/* line 100, ../../sass/sitewide/general.scss */
input[type="submit"],
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: #292929;
  padding: 8px 20px;
}

/* line 109, ../../sass/sitewide/general.scss */
.page-user-edit .button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  padding: 4px 16px;
  width: 50px;
}
/* line 115, ../../sass/sitewide/general.scss */
.page-user-edit .button.save-button {
  background: #c3791f;
}
/* line 117, ../../sass/sitewide/general.scss */
.page-user-edit .button.save-button:hover {
  background: #df9336;
}
/* line 121, ../../sass/sitewide/general.scss */
.page-user-edit .button.cancel-button {
  background: #334b56;
  margin-top: 10px;
}
/* line 124, ../../sass/sitewide/general.scss */
.page-user-edit .button.cancel-button:hover {
  background: #466776;
}
/* line 128, ../../sass/sitewide/general.scss */
.page-user-edit .button.edit-button {
  background: #c3791f;
}
/* line 130, ../../sass/sitewide/general.scss */
.page-user-edit .button.edit-button:hover {
  background: #df9336;
}

/* line 137, ../../sass/sitewide/general.scss */
.group-right .button .flag-wrapper a, .group-right .button .field-content > a, .view-dashboard .button .flag-wrapper a, .view-dashboard .button .field-content > a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: normal;
}
/* line 145, ../../sass/sitewide/general.scss */
.group-right .button.register .flag-wrapper a, .group-right .button.register .flag-wrapper a:visited, .view-dashboard .button.register .flag-wrapper a, .view-dashboard .button.register .flag-wrapper a:visited {
  background: #888a55;
  font-weight: normal;
}
/* line 149, ../../sass/sitewide/general.scss */
.group-right .button.register .flag-wrapper a:hover, .view-dashboard .button.register .flag-wrapper a:hover {
  background-color: #a3a56d;
}
/* line 152, ../../sass/sitewide/general.scss */
.group-right .button.cancel .flag-wrapper a, .group-right .button.cancel.flag-wrapper a:visited, .view-dashboard .button.cancel .flag-wrapper a, .view-dashboard .button.cancel.flag-wrapper a:visited {
  background: #8c1d18;
  font-weight: normal;
}
/* line 156, ../../sass/sitewide/general.scss */
.group-right .button.cancel .flag-wrapper a:hover, .view-dashboard .button.cancel .flag-wrapper a:hover {
  background-color: #b8261f;
}
/* line 159, ../../sass/sitewide/general.scss */
.group-right .button.participate, .view-dashboard .button.participate {
  margin: 5px 0;
  font-weight: normal;
}
/* line 162, ../../sass/sitewide/general.scss */
.group-right .button.participate .flag-wrapper a, .group-right .button.participate .field-content > a, .group-right .button.participate .flag-wrapper a:visited, .group-right .button.participate .field-content > a:visited, .view-dashboard .button.participate .flag-wrapper a, .view-dashboard .button.participate .field-content > a, .view-dashboard .button.participate .flag-wrapper a:visited, .view-dashboard .button.participate .field-content > a:visited {
  background: #c3791f;
  font-size: 13px;
  padding: 5px 16px;
  font-weight: normal;
}
/* line 168, ../../sass/sitewide/general.scss */
.group-right .button.participate .flag-wrapper a:hover, .group-right .button.participate .field-content > a:hover, .view-dashboard .button.participate .flag-wrapper a:hover, .view-dashboard .button.participate .field-content > a:hover {
  background-color: #df9336;
}

/*ul.main-menu a:hover, */
/* line 176, ../../sass/sitewide/general.scss */
ul.sub-menu {
  background: #292929;
}
/* line 178, ../../sass/sitewide/general.scss */
ul.sub-menu li {
  white-space: nowrap;
  margin: 6px 0;
}

/* line 184, ../../sass/sitewide/general.scss */
input[type="submit"] {
  margin-right: 1em;
  border: none;
  /*font-weight: bold;*/
  margin-top: 1em;
  padding: 8px 18px;
  text-transform: capitalize;
  background-color: #c3791f;
}
/* line 192, ../../sass/sitewide/general.scss */
input[type="submit"]:hover {
  background-color: #df9336;
}
/* line 195, ../../sass/sitewide/general.scss */
input[type="submit"][value="Cancel"], input[type="submit"][value="Remove"], input[type="submit"][value="Delete"], input[type="submit"][value="Reset"] {
  background-color: #577785;
}
/* line 197, ../../sass/sitewide/general.scss */
input[type="submit"][value="Cancel"]:hover, input[type="submit"][value="Remove"]:hover, input[type="submit"][value="Delete"]:hover, input[type="submit"][value="Reset"]:hover {
  background-color: #6f91a0;
}

/* line 203, ../../sass/sitewide/general.scss */
.ief-entity-operations input[type="submit"] {
  margin-top: 0;
}

/* line 207, ../../sass/sitewide/general.scss */
h1 {
  font-size: 3.25em;
  line-height: 1.25em;
}

/* line 212, ../../sass/sitewide/general.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 219, ../../sass/sitewide/general.scss */
h3 {
  font-size: 1.75em;
  font-style: italic;
}

/* line 224, ../../sass/sitewide/general.scss */
h4 {
  font-size: 1.25em;
  margin-bottom: .5em;
}

/* line 229, ../../sass/sitewide/general.scss */
h5 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

/* FORMS */
/* general styles */
/* line 237, ../../sass/sitewide/general.scss */
a {
  color: #c3791f;
}

/* line 241, ../../sass/sitewide/general.scss */
a.button,
a.button:hover {
  background-color: #c3791f;
  color: white;
}

/* line 249, ../../sass/sitewide/general.scss */
.view-presenters .views-field-field-presenter-image {
  float: left;
  margin: 0 1em 0.5em 0;
}
/* line 253, ../../sass/sitewide/general.scss */
.view-presenters .views-row:not(last-child) {
  margin-bottom: 2em;
}

/* line 258, ../../sass/sitewide/general.scss */
.field-group-fieldset,
.view-presenters .views-row {
  clear: both;
}

/* line 263, ../../sass/sitewide/general.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 267, ../../sass/sitewide/general.scss */
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 272, ../../sass/sitewide/general.scss */
a:hover {
  text-decoration: underline;
}

/* line 277, ../../sass/sitewide/general.scss */
.tabs-primary__tab a {
  color: #333;
}
/* line 279, ../../sass/sitewide/general.scss */
.tabs-primary__tab a:visited {
  color: #333;
}

/* line 284, ../../sass/sitewide/general.scss */
table {
  width: 100%;
}
/* line 287, ../../sass/sitewide/general.scss */
table thead tr {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 290, ../../sass/sitewide/general.scss */
table thead tr th {
  text-align: left;
  font-size: 1.2em;
  font-weight: normal;
  background-color: #bcccd3;
  border-top: 5px solid #577785;
  border-bottom: none;
  padding: 8px 8px;
}
/* line 298, ../../sass/sitewide/general.scss */
table thead tr th:last-child {
  border-right: 1px solid #ccc;
}
/* line 305, ../../sass/sitewide/general.scss */
table tbody tr {
  border: 1px solid #ccc;
}
/* line 307, ../../sass/sitewide/general.scss */
table tbody tr.odd {
  background-color: #F7F7F7;
}
/* line 311, ../../sass/sitewide/general.scss */
table tbody tr td {
  padding: 3px 6px;
}
/* line 313, ../../sass/sitewide/general.scss */
table tbody tr td:last-child {
  border-right: 1px solid #ccc;
}
/* line 316, ../../sass/sitewide/general.scss */
table tbody tr td a, table tbody tr td a:visited {
  color: #c3791f;
  text-decoration: none;
}
/* line 319, ../../sass/sitewide/general.scss */
table tbody tr td a:hover, table tbody tr td a:visited:hover {
  text-decoration: none;
  color: #e39f4c;
}
/* line 324, ../../sass/sitewide/general.scss */
table tbody tr td.inline-entity-form-node-field_body {
  width: 400px;
}

/* line 332, ../../sass/sitewide/general.scss */
.admin-only {
  background: #c7ff86;
  float: right;
  width: 150px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* line 342, ../../sass/sitewide/general.scss */
.view-registrations table caption {
  font-size: 1.5em;
  margin: 1em 0 .5em;
}

/* end forms */
/* line 350, ../../sass/sitewide/general.scss */
body {
  background: url("../images/design-elements/wrapper-background.png");
}

/* line 354, ../../sass/sitewide/general.scss */
.top-header {
  width: 100%;
  /*border-bottom: 5px solid black;*/
  height: 30px;
}

/* line 360, ../../sass/sitewide/general.scss */
.bottom-footer {
  width: 100%;
  display: block;
  top: 100px;
  position: relative;
}

/**********************************************************
 *                                                        *
 *  Section_3 - Region-Specific Styles                    *
 *                                                        *
 **********************************************************/
/* line 376, ../../sass/sitewide/general.scss */
body.not-front.not-logged-in.node-type-event header#header #name-and-slogan {
  padding-top: 80px;
}

/*
 *  Specific event page styling for the footer.
 */
/* line 384, ../../sass/sitewide/general.scss */
#page {
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  margin: 0 auto -100px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 391, ../../sass/sitewide/general.scss */
.top-header-container,
.bottom-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* line 398, ../../sass/sitewide/general.scss */
.capt-logo {
  float: left;
}

/* line 402, ../../sass/sitewide/general.scss */
.samhsa-logo {
  float: right;
}

/*
.disclaimer {
    width: 600px;
    }*/
/* treating this as the container for now */
/* line 412, ../../sass/sitewide/general.scss */
#main {
  width: 1000px;
  margin-left: 0px;
  margin-right: 0px;
}

/* page */
/* line 420, ../../sass/sitewide/general.scss */
#page {
  background: #FFF;
  padding-bottom: 2em;
  clear: both;
  /* from the spec */
  width: 1000px;
}

/* line 428, ../../sass/sitewide/general.scss */
.header__name-and-slogan {
  float: none;
  clear: both;
}

/* line 433, ../../sass/sitewide/general.scss */
.region-header {
  float: right;
  margin-top: 10px;
  margin-bottom: -10px;
}
/* line 437, ../../sass/sitewide/general.scss */
.region-header div, .region-header form {
  display: inline;
}

/* line 442, ../../sass/sitewide/general.scss */
.group-dates,
.group-event,
.group-presenter,
.group-materials,
.field-name-add-a-date + .field,
.field-name-add-a-presenter + .field {
  clear: both;
}

/* line 451, ../../sass/sitewide/general.scss */
.view-instances.view-display-id-registration > .view-content > .views-row div {
  display: inline;
}

/* line 455, ../../sass/sitewide/general.scss */
body.node-type-event #title-section {
  width: auto;
  /*280px;*/
}

/* line 460, ../../sass/sitewide/general.scss */
.region-help #block-block-1 {
  text-align: center;
  float: right;
  margin-left: -260px;
  width: 240px;
  padding-right: 10px;
  /*margin-top: 1em;*/
}

/*
 *  Viewing a Registered Event
 */
/* view registration and edit notification buttons */
/* line 475, ../../sass/sitewide/general.scss */
div#block-block-1.contextual-links-region a.button {
  width: 116px;
  display: block;
  float: right;
  margin-bottom: 14px;
}

/* make links orange */
/* line 485, ../../sass/sitewide/general.scss */
a.flag-action,
div.view-materials a,
a.unflag-action {
  color: #c3791f;
}

/* line 491, ../../sass/sitewide/general.scss */
.vertical-tabs {
  clear: both;
}

/* line 495, ../../sass/sitewide/general.scss */
img.file-icon {
  position: relative;
  top: 4px;
}

/* form stuff */
/* line 504, ../../sass/sitewide/general.scss */
#event-notifications-node-form .form-field-type-entityreference.field-widget-inline-entity-form-single .cke_top {
  display: none;
}

/* line 509, ../../sass/sitewide/general.scss */
.role-event-creator .text-format-wrapper .filter-wrapper {
  display: none;
}

/* line 513, ../../sass/sitewide/general.scss */
.rules-debug-log,
.tabs-primary {
  clear: both;
}

/* new styles */
/* not used yet */
/* line 521, ../../sass/sitewide/general.scss */
.back-to-top {
  color: #333333;
}

/* line 525, ../../sass/sitewide/general.scss */
.content-container {
  width: 970px;
  margin-left: 15px;
  margin-right: 15px;
}

/* not used yet */
/* line 533, ../../sass/sitewide/general.scss */
h4.black {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 9px;
}

/* line 543, ../../sass/sitewide/general.scss */
div#content {
  border: 1px solid #d7d7d7;
  width: 970px;
  /* set to min height to avoid breaking layout */
  min-height: 466px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 24px;
  z-index: 10px;
  top: 8px;
  position: relative;
  border-top: 1px solid white;
  padding-left: 15px;
  padding-top: 20px;
}
