@import 'variables';
@import 'capt-mixins';
@import 'extensible';



/* dashboard lists */
/* MATT NOTE: THIS ALL LOOKS GLOBAL... NOT DASHBOARD-SPECIFIC */

li.views-row {
  list-style-image: url("../images/icons/arrow-icons.png");
  margin-bottom: -2px;
}

li.views-row:last-child {
  margin-bottom: -3px;
}

div.view-content div.item-list {
  padding-left: 0px;
  padding-top: 10px;
  &:first-of-type {
    padding-top: 0;
  }
  h3 {
    margin-bottom: 10px;
    padding-top: 0px;
    line-height: 16px;
    margin-top: 0;
    a:hover {
      text-decoration: none;
    }
  }
  ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


p {
  margin: 0 0 1em 0;
  line-height: 1.6em;
}






.section-events {
  #block-views-exp-dashboard-page-1 {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .view-dashboard.view-display-id-page_1 {
    @extend .panel-rule-single;
    background-color: white;
    border-width: 0px;
    width: 45%;
    display: block;
    margin-top: 20px;
    float: left;
    &:before {
      margin-left: 0px;
      padding-left: 0px;
    }
  }
  #block-views-dashboard-block-1 {

  }
  #block-views-dashboard-block-2 {
    clear: right;
  }
  #block-views-dashboard-block-1,
  #block-views-dashboard-block-2 {
    float: right;
    width: 45%;
    h2.block-title {
      font-weight: normal;
      margin-bottom: 20px;
      margin-top: 3px;
      font-size: 24px;
      margin-left: 20px;
      color: $capt-darkblue;
    }
  }
}









/* panels */

.field-name-my-registered-events {
  background: url("../images/icons/registered.png") 405px 21px no-repeat;
}

.field-name-my-archived-events.field-type-ds,
.field-name-my-registered-events.field-type-ds {
  overflow: none;
  /*min-height: 245px;*/
  padding-bottom: 30px;
  margin-right: 0px;
  padding-right: 30px;
  padding-left: 0px;
  div.field-items {
    margin: 0 26px;
  }
  .view-dashboard {
    /*border-bottom: 1px solid $capt-midgrey;*/
    padding-top: 0px;
    div.view-empty {
      margin-top: 40px;
    }
  }
  /* debold the title */
  h2.block-title {
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 3px;
    color: $capt-darkblue;
  }
  /* blacken the links */
  h3 a {
    font-style: normal;
    font-size: 14px;
    color: black;
  }
  /* format list of events */
  div#content {
    padding-left: 30px;
  }
  div.view-content {
    /*padding-left: 20px;*/
    /*we may need this to be more specific elsewhere*/
    div.item-list ul {
      padding-left: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: 1px solid $capt-midgrey;
      padding-bottom: 10px;
      li {
        margin-bottom: 0px;
        padding-left: 0px;
      }
    }
    div.item-list:last-child ul {
      border-bottom: none;
    }
  }
  div.item-list {
    border-width: 0px;
  }
  /* pager logic */
  ul.pager {
    margin-bottom: -10px;
    li.pager-item {
      border: 1px solid $capt-aqua;
      /*padding: 6px 9px;*/
    /* a {
padding: 4px 7px;
}*/
}
li.pager-current {
  background-color: $capt-aqua;
  border: 1px solid $capt-aqua;
}
li.pager-next,
li.pager-last {
  a {
    background-image: url("../images/icons/right-arrow-aqua.png");
  }
}
li.pager-previous,
li.pager-first {
  a {
    background-image: url("../images/icons/left-arrow-aqua.png");
  }
}
li.pager-item,
li.pager-current,
li.pager-previous,
li.pager-last,
li.pager-first,
li.pager-next {
  a {
    color: $capt-aqua;
  }
}
}
}

.field-name-my-archived-events.field-type-ds {
  background: url("../images/icons/archived.png") 405px 21px no-repeat;
  .view-dashboard {
    /* min-height: 170px;*/
    div.view-empty {
      margin-top: 20px;
    }
  }
  .views-field-flagged {
    font-size: 12px;
    line-height: 1em;
    font-style: italic;
    margin-bottom: 6px;
  }
  div.view-content {
    div.item-list {
      margin-left: 0px;
      ul {
        padding-bottom: 6px;
      }
    }
  }
  h2.block-title {
    font-weight: normal;
  }
  div.view-empty {
    margin-top: 30px;
  }
  ul.pager {
    /*margin-bottom: -30px;*/
    padding-bottom: 0px;
  }
}

/* upcoming events panel  */

body.logged-in {
  /* old*/
  .field-name-upcoming-events.field-type-ds,
  div.view.view-dashboard {
    /*background-color: white;*/
    border-width: 5px 0px 0px 0px;
    margin-right: 40px;
    margin-left: 0px;
    h2.block-title {
      font-weight: normal;
      /* best way to do it?*/
      display: none;
    }
    h3,
    span.date-display-single {
      font-style: normal;
      font-size: 14px;
      a {
        color: black;
      }
    }
    h3 {
      margin-top: 0px;
    }
  }
}

/*
NK (7/30): dashboard update.
we may deprecate field-name-upcoming-events selector

*/

body.page-events.section-events {
  div.bottom-footer div.disclaimer {
    display: inline-block;
    margin-left: 90px;
    top: -20px;
  }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
  }
  html, body, #page {
     height: 100%;
  }
  /* right matter */
  section.region.region-sidebar-second {
    position: relative;
    width: 50%;
    margin-top: 180px;
    left: -510px;
    /*border: 1px dashed orange;*/
    // registered events, archived events
    div#block-views-dashboard-block-1,
    div#block-views-dashboard-block-2 {
      @extend .panel-rule-single;
      overflow: none;
      padding-bottom: 30px;
      margin-right: 0px;
      padding-right: 30px;
      padding-left: 0px;
      &:before {
        width: 478px;
      }
      div.field-items {
        margin: 0 26px;
      }
      div.view.view-dashboard {
        /*border-bottom: 1px solid $capt-midgrey;*/
        padding-top: 0px;
        div.view-empty {
          margin-top: 40px;
        }
      }
      /* debold the title */
      h2.block-title {
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 3px;
        font-size: 24px;
        margin-left: 20px;
        color: $capt-darkblue;
      }
      /* blacken the links */
      h3 a {
        font-style: normal;
        font-size: 14px;
        color: black;
      }
      /* format list of events */
      div#content {
        padding-left: 30px;
      }
      div.view-content {
        margin-left: 20px;
        /*we may need this to be more specific elsewhere*/
        div.item-list ul {
          padding-left: 16px;
          margin-top: 0px;
          margin-bottom: 0px;
          border-bottom: 1px solid $capt-midgrey;
          padding-bottom: 10px;
          li {
            margin-bottom: 0px;
            padding-left: 0px;
          }
        }
        div.item-list:last-child ul {
          border-bottom: none;
        }
      }
      div.item-list {


      }
      /* pager logic */
      ul.pager {
        margin-bottom: -10px;
        width: 100%;
        margin-left: 0px;
        li.pager-item {
          border: 1px solid $capt-aqua;
        }
        li.pager-current {
          background-color: $capt-aqua;
          border: 1px solid $capt-aqua;
        }
        li.pager-next,
        li.pager-last {
          a {
            background-image: url("../images/icons/right-arrow-aqua.png");
          }
        }
        li.pager-previous,
        li.pager-first {
          a {
            background-image: url("../images/icons/left-arrow-aqua.png");
          }
        }
        li.pager-item,
        li.pager-current,
        li.pager-previous,
        li.pager-last,
        li.pager-first,
        li.pager-next {
          a {
            color: $capt-aqua;
          }
        }
      }
    }
  }
  div#block-views-dashboard-block-1 {
    background: url("../images/icons/registered.png") 405px 21px no-repeat;
    a.flag-action.flag-link-normal {
      padding: 10px 20px;
      margin-left: -30px;
      position: relative;
      top: 20px;
    }

  }

  div#block-views-dashboard-block-2 > div > div.item-list {

      margin: 0px auto;
      width: 475px;
      ul.pager {
        margin-left: 0px;
      }
  }
  div#block-views-dashboard-block-2 {
    background: url("../images/icons/archived.png") 405px 21px no-repeat;
    .view-dashboard {
      /* min-height: 170px;*/
      div.view-empty {
        margin-top: 20px;
      }


    }


    .views-field-flagged {
      font-size: 12px;
      line-height: 1em;
      font-style: italic;
      margin-bottom: 6px;
    }
    div.view-content {
      div.item-list {
        margin-left: 0px;
        ul {
          padding-bottom: 6px;
        }
      }
    }
    h2.block-title {
      font-weight: normal;
    }
    div.view-empty {
      margin-top: 30px;
    }
    ul.pager {
      /*margin-bottom: -30px;*/
      padding-bottom: 0px;
    }
  }
  div.field-name-upcoming-events,
  div.view.view-dashboard {
    padding-bottom: 0px;
    div.view-content {
      /* set to min-height to avoid breaking layout */
      /*min-height: 450px;*/
      /*border-bottom: 5px solid $capt-aqua;*/
      padding-bottom: 0px;
      margin-bottom: 0px;
      ul {
        padding-left: 14px;
        border-bottom: 1px solid $capt-midgrey;
        padding-bottom: 14px;
      }
      div.item-list {
        margin-left: 0px;
      }
      div.item-list:last-child ul {
        border-bottom: none;
      }
    }
    ul.pager {
      margin-top: 45px;
      padding-left: 0px;
      width: 390px;
      margin-left: -7px;
    }
  }
}

/* *
 * Pager styles
 */

 ul.pager {
  padding-top: 5px;
  height: 40px;
  text-align: center;
  text-overflow: visible;
  a:hover {
    text-decoration: none;
  }
  /* width: 106%;*/
  li.pager-ellipsis {
    padding: 0px;
  }
  li.pager-item {
    background-color: $capt-lightgrey;
    color: $capt-orange;
    height: 30px;
    /*padding: 8px 0px 8px 0px;*/
    width: 50px;
    a {
      color: $capt-orange;
      /*padding: 4px 7px;*/
    }
  }
  /* no link within pager-current */
  li.pager-current {
    background-color: $capt-orange;
    width: 60px;
    color: $capt-lightgrey;
  }
  li.pager-last a {
    background-position: 33px 8px;
  }
  /* first & previous on left */
  li.pager-first,
  li.pager-previous {
    padding: 0px;
    margin: 0px 4px 0px 0px;
    a {
      @extend .pager-link;
      background-image: url("../images/icons/left-arrow-orange.png");
      background-position: 0 8px;
      padding: 8px 0px 8px 20px;
    }
  }
  /* next & last on right */
  li.pager-next,
  li.pager-last {
    padding: 0px;
    margin: 0px 0px 0px 4px;
    a {
      @extend .pager-link;
      background-image: url("../images/icons/right-arrow-orange.png");
      background-position: 33px 7px;
      padding: 8px 24px 8px 0px;
    }
  }
  li.pager-last a {
    background-position: 30px 7px;
  }
  li.pager-current {
    margin-left: 3px;
    margin-right: 3px;
    padding: 6px 9px;
  }
  li.pager-item {
    /* not sure why we need vert padding but not horiz padding.*/
    padding: 6px 0px;
    margin-right: 3px;
    margin-left: 3px;
    a {
      padding: 6px 9px;
    }
  }
  // throbber needs to be on its own line
  // so as not to affect the pager
  div.ajax-progress {
    float: right;
    display: inline;
    top: 20px;
    left: center;
    position: relative;
    margin-left: -20px;
  }
  #page {
    height: 100%;
    margin-bottom: -200px;
  }
}

#dashboard-search {
  input[type="text"] {
    font-size: $input-font-size;
    padding: 5px;
    margin-right: 15px;
    max-width: 400px;
    border: 1px solid #b6b6b6;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    &:focus {
      background: $capt-inputfocus;
      outline: none;
    }
  }
}
