@import 'variables';
@import 'capt-mixins';
@import 'extensible';

/*
 *  Start Login Page
 */

body.not-logged-in.page-user:not(.page-user-register),
body.not-logged-in.page-anon-login {
  height: 100%;
  ul.tabs-primary {
    display: none;
  }
  h1#page-title {
    font-size: 2.25em;
    text-transform: capitalize;
    margin-left: 17px;
    color: $capt-darkblue;
  }
  div#content {
    border: 0px solid white;
    margin-top: 0;
    padding-top: 0;
  }
  form#user-login,
  div#title-section {
    margin-left: 85px;
    width: 320px;
    margin-top: 0px;
  }
  &.section-anon-login form#user-login {
    margin: 0 auto;
    float: none;
    width: 360px;
  }
  div#title-section {
    @extend .panel-rule;
    margin-bottom: 0px;
  }
  form#user-login {
    @extend .panel;
    height: 311px;
    margin-top: -20px;
    padding-top: 10px;
    float: left;
    padding-bottom: 10px;
    input#edit-submit {
      margin-left: $login-margin-left;
    }
    div.description {
      display: none;
    }
    div.form-item-name {
      margin-bottom: 10px;
      padding-top: 20px;
    }
    input#edit-name {
      margin-bottom: 0px;
    }
    input#edit-name,
    input#edit-pass {
      margin: 5px 0px 5px $login-margin-left;
      width: 89%;
      margin-top: 0px;
      font-size: 14px;
      padding: 5px;
      display: block;
      border: 1px solid #b6b6b6;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }
    div.form-item-pass {
      margin-top: 0px;
    }
    label {
      font-weight: normal;
      color: $capt-black;
      margin-left: $login-margin-left;
      margin-bottom: 0px;
      font-size: $login-font;
    }
    div.description {
      margin-left: 16px;
    }
    div.request-new-password a {
      margin-left: $login-margin-left + 4px;
      font-weight: normal;
      text-decoration: underline;
      position: relative;
      top: -10px;
      color: $capt-maroon;
      font-size: 13px;
    }
    div.request-new-password a:hover {
      text-decoration: none;
    }
  }
  /* RIGHT */
  #block-block-8 {
    @extend .panel-rule-single;
    padding-bottom: 20px;
    background-image: none;
    background-repeat: no-repeat;
    h2.block-title {
      display: none;
    }
    h2.custom_block_title {
      margin-top: 0px;
      margin-left: $newto-margin-left;
      font-size: 1.8em;
    }
    margin-top: -79px;
    a {
      color: $capt-orange;
      font-size: 20px;
      background: url("../images/icons/right-arrow-orange.png") 103px 1px no-repeat;
      font-weight: normal;
      width: 150px;
      display: block;
      margin-left: $newto-margin-left;
    }
  }
  /* why register */
  #block-block-9 {
    @extend .panel-rule-single;
    background-image: url("../images/icons/register.png");
    background-position: 270px 30px;
    background-repeat: no-repeat;
    height: 190px;
    margin-top: 9px;
    h2.block-title {
      margin-left: $login-margin-left;
      font-size: 1.8em;
    }
    ul {
      margin-left: 4px;
      li {
        list-style-image: url("../images/icons/arrow-icons-aqua.png");
        font-size: 16px;
        font-weight: normal;
      }
    }
    a {
      /* color needed? */
      color: $capt-black;
      font-weight: normal;
    }
  }
  #block-block-9,
  #block-block-8 {
    @extend .panel-rule-single;
    margin-right: 85px;
    width: 390px;
    float: right;
    background-repeat: no-repeat;
    h2 {
      font-weight: normal;
      color: $capt-darkblue;
      margin-left: 28px;
    }
  }
}

body.not-logged-in.page-user.page-user-password h1#page-title {
  margin-left: 27px;
  text-transform: capitalize;
}