body, table.body {
  background: url(http://dev.captconnect.edc.org/sites/captconnect.edc.org/themes/capt/images/mail/pattern.png);
  width:100% !important;
  min-width: 100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:30px;
  padding:0;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: #222222;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}

a {
  font-weight: bold;
  color: #C47E28;
  text-decoration: none;
}

a:hover {
  color: #E7942F;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #888a55;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: #577785;
}

h3 {
  font-size:24px;
  font-style: italic;
  font-weight: bold;
  color: #333333;
}

h4 {
  font-size: 18px;
  color: #8C1D18;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

body, table.body, p, td {
  font-size: 14px;
  line-height: 19px;
}

table, tbody, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;
}

img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}

table.center {
  background: white;
  width: 580px;
  margin: 0 auto;
}

table.header, table.footer {
  width: 100%;
}

table.logos {
  background: transparent;
  height: 80px;
}

table.logos td.capt-logo {
  background: url(http://dev.captconnect.edc.org/sites/captconnect.edc.org/themes/capt/images/mail/capt-logo.png) no-repeat 0px 36px;
  width: 330px;
}

table.logos td.samhsa-logo {
  background: url(http://dev.captconnect.edc.org/sites/captconnect.edc.org/themes/capt/images/mail/samhsa-logo.png) no-repeat 0px 12px;
  width: 250px;
}

table.colorband {
  background: url(http://dev.captconnect.edc.org/sites/captconnect.edc.org/themes/capt/images/mail/colorband.png);
  width: 100%;
  height: 8px;
}

table.banner td.overlay {
  background: url(http://dev.captconnect.edc.org/sites/captconnect.edc.org/themes/capt/images/mail/banner.png);
  background-size: contain;
  height: 136px;
}

table.banner td.overlay img {
  visibility: hidden;
}

table.banner td.overlay div {
  margin-top: 60px;
  margin-bottom: -1000px;
  color: white;
  font-weight: bold;
}

table.mailing {
  background: transparent;
  height: 100px;
}

table.mailing td {
  vertical-align: top;
  padding-top: 15px;
}

table.mailing p {
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 5px;
}

table.section td {
  padding: 10px;
}

table.rule h4 {
  border-top: 1px solid #C8D9E0;
  margin-top: 5px;
}

table.box {
  width: 100%;
}

table.box.gray {
  background: #E3E4E0;
}

table.box.green {
  background: #D8E2C8;
}

table.box p {
  font-size: 12px;
  line-height: 17px;
}

table.box.center p,
table.box.center h4 {
  text-align: center;
}

table.box h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

p.ics {
  margin-top: 10px;
}

p.ics a {
  margin-top: 10px;
  width: 260px;
  background: #C47E28;
  border: 1px solid #915B19;
  padding: 5px 30px;
  color: white;
  text-decoration: none;
}

p.ics a:hover {
  background: #E7942F !important;
}
