body {
  width:100% !important;
  min-width: 100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  padding:0;
}

h1, h2, h3, h4, h5, h6, p, td {
  color: #222222;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
}

#date {
  display: none;
}

p {
  margin-bottom: 6px;
  font-size: 14px;
  &.ics, &.orange-button {
    margin-top: 10px;
    a {
      margin-top: 10px;
      width: 260px;
      background: #C47E28;
      border: 1px solid #915B19;
      padding: 5px 30px;
      color: white;
      text-decoration: none;
      word-break: break-all;
      &:hover {
        background: #E7942F !important;
      }
    }
  }
}

.hide-ics p.ics {
  display: none;
}

a {
  font-weight: bold;
  color: #C47E28;
  text-decoration: none;
  &:hover {
    color: #E7942F;
  }
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #888a55;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: #577785;
}

h3 {
  font-size:24px;
  font-style: italic;
  font-weight: bold;
  color: #333333;
}

h4 {
  font-size: 18px;
  color: #8C1D18;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

h6 {
  font-size: 20px;
}

table, tbody, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;
  &.center {
    background: white;
    width: 600px;
    margin: 0 auto;
  }
  &.header, &.footer {
    width: 100%;
  }
  &.logos {
    background: transparent;
    height: 80px;
    .capt-logo {
      width: 330px;
    }
    .samhsa-logo {
      width: 250px;
    }
  }
  &.colorband {
    width: 100%;
    height: 8px;
  }
  &.banner > tr > td > div {
    margin-bottom: -1000px;
    margin-left: 30px;
    color: white;
    font-weight: bold;
  }
  &.mailing {
    background: transparent;
    height: 100px;
    td {
      vertical-align: top;
      padding-top: 15px;
      p {
        text-align: center;
        font-size: 11px;
        margin-bottom: 5px;
      }
    }
  }
  &.section td {
    padding: 10px;
  }
  &.rule h4 {
    border-top: 1px solid #C8D9E0;
  }
  &.box {
    width: 100%;
    &.gray {
      background: #E3E4E0;
    }
    &.green {
      background: #D8E2C8;
    }
    &.red {
      background: #8C1D18;
      p, h4 {
        color: white !important;
      }
    }
    &.yellow {
      background: #F3E2B5;
    }
    p {
      font-size: 12px;
    }
    h4 {
      margin: 0px;
      padding: 0px;
      font-size: 14px;
      padding-top: 5px;
    }
    &.center p, &.center h4 {
      text-align: center;
    }

  }
}

.views-row {
  clear: both;
  padding-top: 10px;
  &.views-row-first {
    padding-top: 0px;
  }
  img {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 160px;
    height: 120px;
  }
}

img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
  margin: 0px;
}
