table.content {
  background: #FFF;
  margin: 0 auto;
  width: 640px;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10pt;
  a, a:visited {
    text-decoration: underline;
    color: #333333;
  }
  tbody {
    tr {
      td {
        padding: 0px 25px;
        div {
          line-height: 1.2em;
        }
      }
      &.title {
        .capt {
          font-size: 11pt;
          margin-bottom: 15px;
          font-weight: bold;
        }
        .email-type {
          font-size: 14pt;
          color: #51738e;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .event-title {
          font-size: 30pt;
          color: #888a55;
          font-weight: bold;
        }
        .subtitle {
          font-size: 24pt;
          color: #577785;
        }
        .event-type {
          font-size: 14pt;
          margin: 8px 0;
          font-weight: bold;
          font-style: italic;
          color: #333333;
        }
        .line {
          background: #d7d7d7;
          width: 100%;
          height: 1px;
        }
        .intro {
          margin: 8px 0;
        }
      }
      &.chunk {
        .section-heading {
          font-size: 12pt;
          color: #8c1d18;
          font-weight: bold;
          margin: 15px 0 5px;
        }
        .section-text {
          p {
            line-height: 1.2em;
          }
          .subitem {
            .label {
              font-weight: bold;
            }
            .ics a {
              font-weight: bold;
              color: #C27C28;
              text-decoration: none;
            }
          }
          .view-presenters {
            .views-row {
              margin-bottom: 15px;
              clear: both;
              .views-field-field-presenter-image {
                margin: 0px 15px 15px 0px;
                float: left;
              }
              h5 {
                font-size: 11pt;
                font-weight: bold;
                margin: 0px 0px 5px;
              }
            }
          }
        }
      }
      &.footer {
        td {
          padding-top: 20px;
          .about {
            background: #ecebe6;
            .about-heading {
              font-size: 9pt;
              color: #8c1d18;
              margin-top: 10px;
              font-weight: bold;
            }
            .about-text {
              font-size: 9pt;
            }
          }
        }
      }
      &.mailing {
        margin-top: 15px;
        td {
          border-bottom: #51738e 10px solid;
          .address {
            text-align: center;
            font-size: 9pt;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
