/**
 *  User profile page
 */

form#user-profile-form,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  fieldset {
    border: 0px;
    border-top: 5px solid $capt-aqua;
    margin: 40px 0px 18px;
    background: #eef1f3;
    legend {
      margin-left: 4px;
      top: -13px;
      position: relative;
      border-bottom: 5px solid #577785;
      span.fieldset-legend {
        color: $capt-aqua;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding: 0px 5px;
        left: 20px;
      }
      a {
        padding-left: 12px;
        color: $capt-aqua;
      }
    }
    fieldset legend {
      top: -12px;
    }
    /* end legend */
    fieldset {
      margin-right: 10px;
    }
  }
  /* end fieldset */
  span.label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 14px;
    margin-left: 1px;
  }
  .fieldset-wrapper div.form-item {
    label:not(.option) {
      font-size: 14px;
    }
    label.option {
      font-size: 13px;
    }
  }
  input.form-text {
    font-size: $input-font-size;
    padding: 5px;
    max-width: 400px;
    display: block;
    border: 1px solid #b6b6b6;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    &:focus {
      background: $capt-inputfocus;
      outline: none;
    }
  }
  .form-item {
    .description {
      font-size: 0.85em;
      line-height: 1.8em;
      margin-left: 2px;
      color: $capt-formgrey;
      max-width: 400px;
    }
    .confirm-parent, .password-parent {
      width: 40em !important;
    }
    div.password-suggestions {
      padding: 10px;
      background: $password-suggest;
      width: 560px;
      ul {
        margin-top: 0.5em;
      }
    }
  }
  div.data-view, div.fieldset-wrapper {
    border: 1px solid $capt-profgrey;
    border-top: 0px;
    padding-left: 10px;
    margin-left: -8px;
    margin-bottom: -30px;
    width: 100.45%;
    top: -17px;
    position: relative;
    padding-top: 17px;
    padding-bottom: 25px;
  }
  fieldset fieldset {
    div.fieldset-wrapper {
      width: 100.6%;
      /*97.86%;*/
      margin-left: -9px;
    }
  }
  div.fieldset-wrapper {
    /* margin-left: -20px;*/
    /*padding: 10px 17px;*/
  }
  input#edit-submit, input#edit-cancel {
    background-color: $capt-orange;
    text-transform: capitalize;
  }
}


/* prevent overlap with bottom save & cancel buttons */
form#user-profile-form > div > fieldset > .fieldset-wrapper {
  padding-bottom: 90px;
}