/**
* @file
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*
* When you turn on CSS aggregation at admin/config/development/performance, all
* of these @include files will be combined into a single file.
*/
/* HTML element (SMACSS base) rules */

@import "normalize.css";
/* Layout rules */

@import "layouts/responsive.css";
/* Component (SMACSS module) rules */

@import "components/misc.css";
/* Optionally, add your own components here. */

@import "print.css";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */

/*fonts*/
$default-stack: Arial,
Helvetica,
sans-serif;
/* colors*/
$capt-orange: #c3791f;
$capt-maroon: #8c1d18;
$capt-green: #888a55;
$capt-aqua: #577785;
$capt-darkblue: #334b56;
$capt-black: #333333;
$capt-darkgrey: #959595;
$capt-midgrey: #d7d7d7;
$capt-lightgrey: #eef1f3;
$capt-hovergrey: #efefef; /*#e4e4e4;*/
$capt-tabsgrey: #e4e3e0;

/*measurements */
$header-height: 100px;
$rainbow-height: 10px;
$page-width: 1000px;
$logo-margin: 16px;
$dash-nudge: 2px;
$login-margin-left: 17px;

/*fonts*/
$login-font: 16px;
/* mixins */

/* for tabs! */
@mixin bottom-line ($thickness) {
    background-image: -o-linear-gradient(bottom, black $thickness, transparent $thickness);
    background-image: -moz-linear-gradient(center bottom , black, $thickness, transparent $thickness/2);
    background-image: -webkit-linear-gradient(bottom, black $thickness, transparent $thickness);
    background-image: linear-gradient(center bottom , black, $thickness, transparent $thickness);
    
}
/* for rounded elements */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
/* for header & footer */
@mixin rainbow-bar ($y_pos) {
    background-image: url('../images/design-elements/rainbow-divider.png');
    background-position: -124px $y_pos;
    background-repeat: repeat-x;
}
@mixin main-active-link () {
    background-color: white;
    border: 1px solid $capt-midgrey;
    border-bottom: 1px solid white;
    color: $capt-maroon;
    height: 26px;
}
@mixin horiz_scale ($val) {
    -moz-transform: scaleX($val);
    -o-transform: scaleX($val);
    -webkit-transform: scaleX($val);
    transform: scaleX($val);
}
/* inherited prototype classes */

/* panels */
.panel {
    background-color: $capt-lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $capt-midgrey;
    border-top: 0px;
}
#block-block-12 .contextual-links-wrapper {
    width: 970px;
    margin: 0px auto;
  
}
.proto-disclaimer {
        
        position: relative;
        top: 30px;
        font-size: 10px;
        line-height: 12px;
        width: 380px;
        padding-right: 590px;
        margin: 0px auto;
        padding-bottom: 5px;
        left: 0px;

}
.panel-rule {
    @extend .panel;
    padding-top: 20px;
    border-top: 5px solid $capt-aqua;
    border-bottom: 0px;
    @include border-radius(1px);
}
.panel-rule-single {
    @extend .panel-rule;
    margin-bottom: 20px;
    border-bottom: 1px solid $capt-midgrey;

    /* needs to be larger for dashboard panels */
}
.field-container {
    fieldset {
        border: 0px;
        padding-left: 0px;
    }
    legend,
    span.fieldset-legend {
        font-weight: bold;
    }
    input.form-submit {
        margin-top: 0px;
    }
}
/* pager */

.pager-link {
    background-repeat: no-repeat;
    color: $capt-orange;

}
.pager-clip {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 6px;
    display: inline-block;
    width: 30px;
    height: 20px;
}
/* from Hemali's primary styles */

body {
    /* changed font per the spec */
    
    font-family: $default-stack;
    font-size: 13px;
    color: $capt-black;
}
/* eliminate blue links */
#page {
    div.view-content {
        a {
            color: $capt-orange;
            font-size: 15px;
        }

    }

}
#page > header {
    position: relative;
    padding-bottom: 20px;
    background: #86a9b5;
}
.ds-2col-stacked-fluid > .group-left {
    margin-right: 1%;
    width: 49%;
}
/* from the Hemali's first and second style sheets */
/* these are the top nav form buttons. */

ul.main-menu {
    margin-top: 40px;
}
/* inherited class */
.button-reset {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
}
ul.main-menu a {
    color: $capt-black;
    background: $capt-lightgrey;
    padding: 8px 20px 8px 20px;
    @extend .button-reset;
    &:active {
        color: $capt-maroon;
    }
}
/* submit & other buttons*/

input[type="submit"],
a.button {
    @include border-radius(5px);
    color: #ffffff;
    background: #292929;
    padding: 8px 20px 8px 20px;
    @extend .button-reset;
}


/*ul.main-menu a:hover, */

input[type="submit"]:hover,
a.button:hover {
    background: #595959;
    text-decoration: none;
}
ul.sub-menu {
    background: #292929;
    li {
        white-space: nowrap;
        margin: 6px 0;
    }
}
input[type="submit"] {
    margin-right: 1em;
    border: none;
    /*font-weight: bold;*/
    
    margin-top: 1em;
}
h1 {
    font-size: 3.25em;
    line-height: 1.25em;
}
h2 {
    font-size: 2.25em;
    line-height: 1.25em;
    margin-top: .5em;
    margin-bottom: .5em;
}
h3 {
    font-size: 1.75em;
    font-style: italic;
}
h4 {
    font-size: 1.25em;
    margin-bottom: .5em;
}
h5 {
    font-size: 1em;
    margin-bottom: .5em;
}



/* FORMS */

/* general styles */

a {
    color: $capt-orange;
}
a.button,
a.button:hover {
    background-color: $capt-orange;
    color: white;
}
/* dashboard */


/* the main panels */

.node-dashboard {
    .group-left .field-type-ds, .group-right .field-type-ds {
        @extend .panel-rule-single;
    }
}
.node-event .group-right .group-materials {
   /* background: #efeef5;
    @include border-radius(5px);*/
   /* padding: 10px;
    margin-bottom: 10px;*/
    /*border: 3px solid #cdcdcd;*/
}
/* adopting h4:black for this one */

.node-dashboard h2.block-title {
    /* artifacts */
    
    margin-top: 0;
    margin-bottom: 0.5em;
    /* new */
    
    font-size: 24px;
    color: $capt-black;
}
/* dashboard lists */

li.views-row {
    margin-bottom: 1em;
    list-style-image: url('../images/icons/arrow-icons.png');
     margin-bottom: -2px;
}
li.views-row:last-child {
    margin-bottom: -3px;
}

div.view-content div.item-list {
    padding-left: 0px;
    margin-bottom: -21px;
    h3 {
        margin-bottom: 10px;
        padding-top: 0px;
        line-height: 16px;
        /*margin-left: -16px;*/

        /*background-color: blue;*/
    }
    /* TODO: add variant for registered events */
    ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
div.field-name-upcoming-events { 
     
       padding-bottom: 0px;
    div.view-content {
        /* set to min-height to avoid breaking layout */
        margin-top: -30px;
        /*min-height: 450px;*/
        margin-left: -16px;
        /*border-bottom: 5px solid $capt-aqua;*/
        width: 410px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        ul {
            padding-left: 14px;
            border-bottom: 1px solid $capt-midgrey;
            width: 394px;
            padding-bottom: 13px;
        }
        div.item-list { 
          margin-left: 0px;
        }
  }
  ul.pager {
    margin-top: 45px;
    padding-left: 0px;
    width: 390px;
    margin-left: -7px;
  }
}
/* pager */

ul.pager {

    padding-top: 5px;
    height: 40px;
    text-align: center;
    text-overflow: visible;
    a:hover {
        text-decoration: none;
    }
    /* width: 106%;*/
    li.pager-ellipsis {
        padding: 0px;
    }
    li.pager-item {
        background-color: $capt-lightgrey;
        color: $capt-orange;
        height: 30px;
        padding: 8px 0px 8px 0px;
        width: 50px;
        a {
            color: $capt-orange;
            padding: 4px 7px;
            
        }  
    }
     /* no link within pager-current */
    li.pager-current {
        background-color: $capt-orange;
     
        padding: 8px 7px;
        width: 60px;
        color: $capt-lightgrey;
    }


    li.pager-last a {
        background-position: 33px 8px;
    }
    /* first & previous on left */
    li.pager-first,
    li.pager-previous {
        padding: 0px;
        margin: 0px 4px 0px 0px;
        a {
          @extend .pager-link;
          background-image: url('../images/icons/left-arrow.png');
          background-position: 0 8px;
          padding: 8px 0px 8px 20px;
      }
  }
  /* next & last on right */
  li.pager-next,
  li.pager-last {
    padding: 0px;
    margin: 0px 0px 0px 4px;
    a {
        @extend .pager-link;
        background-image: url('../images/icons/right-arrow.png');
        background-position: 35px 8px;
        padding: 8px 24px 8px 0px;
    }

}
li.pager-last a {
    background-position: 34px 8px;
}

li.pager-item,
li.pager-current {
    margin-left: 3px;
    margin-right: 3px;

}
    // throbber needs to be on its own line 
    // so as not to affect the pager
    div.ajax-progress {
        float: right;
        display: inline;
        top: 20px;
        left: center;
        position: relative;
        margin-left: -20px;
    }

   
    
}
/* end pager styles */
.view-presenters {
    .views-field-field-presenter-image {
        float: left;
        margin: 0 1em 0.5em 0;
    }
    .views-row:not(last-child) {
        margin-bottom: 2em;
    }
}
.field-group-fieldset,
.view-presenters .views-row {
    clear: both;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #3884e1;
    &:visited {
        text-decoration: none;
        font-weight: bold;
        color: #3884e1;
    }
    &:hover {
        text-decoration: underline;
    }
}
.tabs-primary__tab a {
    color: #333;
    &:visited {
        color: #333;
    }
}
table {
    width: 100%;
    thead th {
        text-align: left;
    }
}
.admin-only {
    background: #c7ff86;
    float: right;
    width: 150px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
.view-registrations table {
    margin-bottom: 50px;
    caption {
        font-size: 1.5em;
        margin: .2em 0;
    }
}
/* end forms */

body {
    background: url('../images/design-elements/wrapper-background.png');
}
/*
* to do: add background-image to top and bottom headers. 
*/

.top-header {
    width: 100%;
    /*border-bottom: 5px solid black;*/
    
    height: 30px;
}
body.node-type-dashboard  {

    #page {
    height: 100%; /* changed from 1000px*/
   }
  
}
.bottom-footer {
    width: 100%;
    display: block;
    top: 100px;
    position: relative;
}


/*
 *  Specific event page styling for the footer. 
 */

#page {
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
 
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
    }
.top-header-container,
.bottom-footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.capt-logo {
    float: left;
}
.samhsa-logo {
    float: right;
}
/*
.disclaimer {
    width: 600px;
}*/
/* treating this as the container for now */

#main {
    width: $page-width;
    margin-left: 12px;
    margin-right: 14px;
}
/* page */

#page {
    background: #FFF;
    padding-bottom: 2em;
    clear: both;
    /* from the spec */
    
    width: $page-width;
}
.header__name-and-slogan {
    float: none;
    clear: both;
}
.region-header {
    float: right;
    div, form {
        display: inline;
    }
}
.group-dates,
.group-event,
.group-presenter,
.group-materials,
.field-name-add-a-date + .field,
.field-name-add-a-presenter + .field {
    clear: both;
}
.view-instances.view-display-id-registration > .view-content > .views-row div {
    display: inline;
}

.ds-2col > {
    .group-left {
        float: left;
        width: auto;
        margin-right: 280px;
    }
    .group-right {
        float: left;
        width: 240px;
        margin-left: -260px;
    }
}


body.logged-in .node-type-event #title-section {
    width: auto;
    margin-right: 280px;
    float: left;
    
}
.region-help #block-block-1 {
    text-align: center;
    float: right;
    margin-left: -260px;
    width: 240px;
    padding-right: 10px;
    /*margin-top: 1em;*/

}


/*
 *  Viewing a Registered Event
 */

 /* view registration and edit notification buttons */
 div#block-block-1.contextual-links-region {
    a.button {
        width: 116px;
        display: block;
        float: right;
        margin-bottom: 14px;
    }
}
/* make links orange */
a.flag-action,
div.view-materials a,
a.unflag-action {
    color: $capt-orange;
}

/* banners */
.view-event-banner {
    .views-row {
        font-size: 3em;
        font-weight: bold;
    }
}
.vertical-tabs {
    clear: both;
}
/* form stuff */

#event-notifications-node-form {
    .form-field-type-entityreference.field-widget-inline-entity-form-single {
        float: left;
        width: 56%;
        padding-right: 1%;
        clear: both;
    }
    .form-field-type-markup {
        float: left;
        width: 43%;
        .views-field-field-email-body > div > div > table {
            margin: 0 1.5% !important;
            transform: scale(0.75);
            transform-origin: 0 0;
            -moz-transform: scale(0.75);
            -moz-transform-origin: top left;
        }
    }
    .form-field-type-entityreference.field-widget-inline-entity-form-single .cke_top {
        display: none;
    }
}
.role-event-creator .text-format-wrapper .filter-wrapper {
    display: none;
}
.rules-debug-log,
.tabs-primary {
    clear: both;
}
/* new styles */
/* not used yet */

.back-to-top {
    color: $capt-black;
}
.content-container {
    width: 970px;
    margin-left: 15px;
    margin-right: 15px;
}
/* not used yet */

h4.black {
    color: $capt-black;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 9px;
}
/* panels */

.field-name-my-registered-events {
    background: url('../images/icons/registered-events.png') 396px 10px no-repeat;
}
.field-name-my-archived-events.field-type-ds,
.field-name-my-registered-events.field-type-ds {
    overflow: none;
    min-height: 245px;
    margin-right: 14px;
    padding-right: 30px;
    padding-left: 0px;
    padding-bottom: 30px;

    div.field-items {
        margin-left: 20px;
    }

    .view-dashboard {
      
        /*border-bottom: 1px solid $capt-midgrey;*/
        padding-top: 0px;

    }
    li.views-row {
       
   }
   div.item-list {
    /*background-color: red;*/
    margin-right: 12px;
    margin-left: -6px;

  
   }
   /* debold the title */
   h2.block-title {
    font-weight: normal;
    margin-bottom: -10px;
    margin-top: 3px;
    color: $capt-darkblue;
    margin-left: -10px;

}
/* blacken the links */
h3 a {
    font-style: normal;
    font-size: 14px;
    color: black;
}
/* format list of events */
div.view-content div.item-list ul {
    padding-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid $capt-midgrey;
    padding-bottom: 0px;
    li {
        margin-bottom: 0px;
        padding-left: 0px;
    }
}
/* cancel registration link */
a.unflag-action {
    font-weight: normal;
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: -12px;
}
div.item-list {
    border-width: 0px
}
/* pager logic */
ul.pager {
   margin-bottom: 10px;
   li.pager-item {
    border: 1px solid $capt-aqua;
    a {
        padding: 4px 7px;
    }
}
li.pager-current {
    background-color: $capt-aqua;
    border: 1px solid $capt-aqua;
}
li.pager-next,
li.pager-last {
    a {
        background-image: url('../images/icons/right-arrow-aqua.png');
    }

}
li.pager-previous,
li.pager-first {
    a {
        background-image: url('../images/icons/left-arrow-aqua.png');
    }

}
li.pager-item,
li.pager-current,
li.pager-previous,
li.pager-last,
li.pager-first,
li.pager-next {
    a {
        color: $capt-aqua;
    }
}

}

}
.field-name-my-archived-events.field-type-ds {
    padding-bottom: 30px;
    background: url('../images/icons/archived-events.png') 396px 10px no-repeat;
    .view-dashboard {
        min-height: 170px;
    }
    div.view-content {
        margin-left: -8px;
          div.item-list {
        margin-left: 0px;
        ul {
            padding-bottom: 5px;
        }
   
    }
    }
  
    h2.block-title {
        font-weight: normal;
    }
    div.view-empty {
        margin-top: 30px;
    }
    ul.pager {
        margin-top: 48px;
        margin-bottom: -30px;
        padding-bottom: 0px;
    }

}
.field-name-my-archived-events,
.field-name-my-registered-events {
    .view-dashboard {
       
    }
}
/* upcoming events panel  */

body.logged-in {
    .field-name-upcoming-events.field-type-ds {
        background-color: white;
        border-width: 5px 0px 0px 0px;
        margin-right: 40px;
        margin-left: 14px;
        div.item-list {
            margin-top: 34px;
            /*border: 1px solid red;*/
        }
        h2.block-title {
            font-weight: normal;
            /* best way to do it?*/
            display: none;
        }
        h3 {
            font-style: normal;
            font-size: 16px;
            a {
                color: black;
            }
        }
    }
}

/*logos above header - move up to general area? */

div.top-header {
    @include rainbow-bar($header-height - $rainbow-height);
    /*background-image: url('../images/design-elements/rainbow-divider.png');
background-position: -124px $header-height - $rainbow-height;
background-repeat: repeat-x;*/

height: $header-height;
}
/*
*  Logos
*/

div.top-header-container {
    height: 100px;
    width: $page-width;
    /* logos */
    
    div.capt-logo {
        background: url('../images/logos/CAPT-logo.png') 0 0 no-repeat;
        width: 340px;
        margin-left: $logo-margin;
        margin-bottom: 0px;
        top: 32px;
    }
    div.samhsa-logo {
        background: url('../images/logos/SAMHSA-logo.png') 0 0 no-repeat;
        width: 295px;
        background-size: 295px 73px;
        margin-right: $logo-margin;
        top: 6px;
    }
    div.capt-logo,
    div.samhsa-logo {
        height: $header-height;
        position: relative;
    }
}
/* Welcome line near search box on dashboard*/

div#block-block-7 {
    color: white;
    a {
        color: white;
        font-weight: normal;
        text-decoration: underline;
    }
}
/*
 *  Sitewide styles 
 */
 /* search */

 input#edit-search-block-form--2 {
    @include border-radius(5px);
    border: 0px;
    margin-left: 16px;
    height: 22px;
    width: 170px;
    font-weight: normal;
    background: url('../images/icons/hand-lens.png') 150px 4px no-repeat;
    background-color: white;
}


form#search-block-form { 
    div#edit-actions, div#edit-actions--2  { 
      input#edit-submit, input#edit-submit--2 {
        border: 1px solid white;
        background-color: transparent;
        height: 24px;
        padding: 4px;
        width: 70px;
        margin-left: 8px;
    }
  }

}

div#edit-actions {
    padding-bottom: 10px;
}


/* 
*  Banners
*/
/* Event Dashboard banner */

header#header {
    height: 191px;
    background: url('../images/banners/event-dashboard.png') 0 0 no-repeat;
}
/* 
*  Navigation
*/

#block-responsive-dropdown-menus-main-menu {
    margin-left: -10px;
    /*border-bottom: 1px solid $capt-midgrey;*/
    
    height: 27px;
    width: 870px;
    padding-left: 0px;
}

ul#main-menu.main-menu > li.menu-item > a.active {
    @include main-active-link();

}
ul#main-menu.main-menu {
   margin-top: 28px;
   border-bottom: 1px solid $capt-midgrey;
   width: 970px;
   margin-left: $dash-nudge;
   height: 43px;
   

   li.menu-item > a {
    text-transform: uppercase;
    display: block;
    height: 27px;
    width: 200px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $capt-tabsgrey; /*$capt-midgrey;*/
   }
/* submenu active */

    li.menu-item > a:hover {
        background-color: $capt-hovergrey;
    }
  li.menu-item > a.active {
    background-color: white;
    color: $capt-maroon;
  }
}
/**
 * Dropdown Logic
 */

#navigation .links li {
    padding: 0px 5px 0px 0px;
}

/* needed to eliminate a grey border on right side of dropdown */
#navigation .links li.menu-parent li {
    padding: 0px;
}
li.menu-parent {
    ul.sub-menu.tier-two {
        width: 194px;
        padding: 0px;
        margin-top: 0px;
 
        padding-right: 0px;
        li {
            width: 194px;
            padding: 0px;
            margin: 0px;
            height: 48px;
            background-color: $capt-darkgrey;
            display: block;
            a {
                width: 110px;
                border: 1px solid $capt-darkgrey;
                display: block;
                margin: 0px;
                height: 28px;
                padding: 10px 0;
              
                text-align: center;
            }
            a.active {
                background-color: white;
            }
            li#menu-item-1187.menu-item.last a {
                height: 34px;
                background-color: orange;
            }
        }
    }
}
/* hiding text in key areas! */
div.view-event-banner div.field-content,
h1#site-name,
div.samhsa-logo,
div.capt-logo {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}



div.bottom-footer {
    @include rainbow-bar(0px);
    div.disclaimer {
       @extend .proto-disclaimer;
    }
}




div#block-block-12 {
       /*height: 100px;*/
       margin-bottom: 0px;
}




/* 
 *  End Sitewide Styles
 */



 /*
  *  Start Event Dashboard 
  */
  /* event dashboard content */
  /* which styles will be specific to dashboard? */

/* this has a large role in determining page height */
  div#content {
    border: 1px solid $capt-midgrey;
    width: 970px;
    /* set to min height to avoid breaking layout */
    min-height: 466px;
    padding-right: 15px;
    margin-left: $dash-nudge;
    margin-right: 5px;
    margin-top: 24px;
    z-index: 10px;
    top: 8px;
    position: relative;
    border-top: 1px solid white;
}
/* my profile page; we need the "you are here" style too" */

body.admin-menu {
    div#content {
        /*height: 1750px;*/
        /* currently too general. if height is needed, make it specific to profile page. */
        input#edit-submit {
            background-color: $capt-orange;
        }
    }
}

body.page-user-edit, body.page-user {
   
    ul#main-menu.main-menu {
        li#menu-item-591 {
            a {
                @include main-active-link();
            }
        }
    }
}
// admin tab is always white in an admin section.
body.admin-menu.section-administration {
    li#menu-item-1185.menu-item.active-trail.menu-parent.last > a {
        @include main-active-link();
    }
    li#menu-item-1185:hover {
         ul.sub-menu.tier-two {
            display: block;
         }

    }
}


/* View | Edit | Manage Display | etc. tabs */

ul.tabs-primary, ul.tabs-secondary {
    @include bottom-line (1px);


    li:first-child {
        margin-left: 10px;
    }
    li {
        border: 0px;
        a,a.is-active {
        background-image: none;
        background-color: white;
        font-family: ArialMT, Arial;
        font-weight: 500;
        padding: 3px 20px;
        }

        a:not(.is-active) {
            border: 0px;
          
            
        }
        a:hover {
            background-color: white;
        }
    }
    li.tabs-primary__tab.is-active {
        border-color: black;
        border-bottom-color: white;
    }

}
  


/* form elements for Edit & Create Event */


form#event-node-form {
    div.fieldset-wrapper, div#field-subtitle-add-more-wrapper {
        /* @extend .panel;*/
    }
    /* form panels */
    /* title */
    
    div.form-item.form-item-title {
        @extend .panel-rule;
        margin-bottom: 0px;
    }
    div#edit-field-subtitle.form-field-type-text {
        margin-top: 0px;
    }
    div#field-subtitle-add-more-wrapper {
        margin-top: 0px;
        /*.form-item.form-type-textfield.form-item-field-subtitle-und-0-value {
      margin-top: 0px; // remove to add more space betw title and subtitle
      }*/
  }
    //div.form-field-name-field-date-instance /*.fieldset-wrapper*/ 
    div#edit-field-date-instance {
        @extend .field-container;
        @extend .panel-rule;
        margin-bottom: 20px;
        padding-bottom: 20px;
        div#edit-field-date-instance-und-actions {
            padding-top: 0px;
        }
        fieldset#edit-field-date-instance-und {
            padding-left: 0px;
        }
    }
    div#edit-field-subtitle,
    {
        @extend .panel;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    div#edit-field-type-event.form-wrapper {
        @extend .panel-rule-single;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    div#edit-field-category {
        @extend .panel;
        margin-top: -20px;
        padding-bottom: 10px; // inheritance? 
        padding-top: 10px;
    }
    div#field-banner-text-add-more-wrapper {
        @extend .panel;
        margin-top: -20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    div.form-field-name-field-date-instance {
        margin-bottom: 20px;
    }
    /* audience */
    
    div#edit-field-audience,
    div#edit-field-body {
        @extend .panel-rule-single;
        padding-top: 0px;
        padding-bottom: 10px;
        label {
            margin-top: -10px;
        }
        div.form-textarea-wrapper {
            margin-bottom: 20px;
        }
        div.grippie {
            background-color: $capt-midgrey;
        }
    }
    input.form-submit {
        background-color: $capt-orange;
    }
}
div#edit-field-presenter {
    @extend .panel-rule;
    @extend .field-container;
    span.fieldset-legend {
        margin-top: -30px;
        text-transform: uppercase;
        color: $capt-aqua;
    }
}
div#edit-field-related-material {
    @extend .panel;
    @extend .field-container;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
div#edit-field-contact-name {
    @extend .panel-rule;
    padding-top: 0px;
    margin-bottom: 0px;
}
div#edit-field-contact-email {
    @extend .panel;
    margin-top: -20px;
    padding-top: 5px;
}
div#edit-field-related-notifications {
    @extend .panel;
    margin-top: -20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
/* save */

form#event-node-form {
    input.form-submit {
        padding: 6px;
        height: 36px;
    }
}
/* end create event form */
/* overall page heights */

body.page-node-add-event.page-node-add.section-node-add {
    #page {
        height: 95%;
    }
    /* needed so that save button has space above border */
    
    div#content {
        height: 100%;
        padding-bottom: 20px;
    }
}

/* 
 *  Editing an event
 */

 form#event-node-form {
   div#edit-field-date-instance, 
   div#edit-field-presenter,
   div#edit-field-related-material {

    input.form-submit {
      padding: 0px 10px;
      margin: 5px 13px 5px 0px;
      height: 30px;
      margin-top: 5px;
  }
  a {
    color: $capt-orange;
}
}
}

/* 
 *  Start Login Page
 */
 body.not-logged-in.page-user {
    height: 100%;
   
    header#header {
       height: 417px;
       background: url('../images/banners/login.png') 0 0 no-repeat;
       margin-top: -2px;
       display: block;
       margin-bottom: 51px;
   }   
   h1#page-title {
    background-image: none;
    font-size: 24pt;
    color: $capt-darkblue;
    margin-left: $login-margin-left;
    background-repeat:no-repeat;
}
div#content {
    border: 0px solid white;

}

form#user-login, div#title-section {
    margin-left: 85px;
    width: 315px;
    
}
div#title-section {
    @extend .panel-rule;
    margin-bottom: 0px;

}
form#user-login {
    @extend .panel;
    height: 322px;

    margin-top: -20px;
    padding-top: 10px;
    float: left;
    padding-bottom: 10px;
  
    input#edit-submit {
        background-color: $capt-orange;
        padding: 10px 10px;
        height: 40px;
        border: 0px solid transparent;
        margin-left: $login-margin-left;
        position: relative;
        top: 60px;
        width: 75px;
    }
  
    div.description {
        display: none;
    }
    div.form-item-name {
        margin-bottom: 10px;
    }
    input#edit-name {
        margin-bottom: 0px;
    }
    input#edit-name, input#edit-pass {
        font-size: 1.6em;
        margin: 5px 0px 5px $login-margin-left;
        width: 89%;
        margin-top: 0px;
    }
    div.form-item-pass {
        margin-top: 0px;
    }
    label {
        font-weight: normal;
        color: $capt-black;
        margin-left: $login-margin-left;
        margin-bottom: 0px;
        font-size: $login-font;
    }
    div.description {
        margin-left: 16px;
    }
    a.request-password {
        margin-left: $login-margin-left + 4px;
        font-weight: normal;
        text-decoration: underline;
        position: relative;
        top: -22px;
        color: $capt-maroon;
        font-size: $login-font;
    }
    a.request-password:hover {
        text-decoration: none;
    }
}


/* RIGHT */
#block-block-8 {
    @extend .panel-rule-single;
    h2.block-title { 
        display: none;
    }
    h2.custom_block_title {
        margin-top: 0px;
        margin-left: $login-margin-left;
    }
    margin-top: -64px;

    a {
        color: $capt-orange;
        font-size: 20px;
        background: url('../images/icons/right-arrow.png') 106px 5px no-repeat;
        font-weight: normal;
        width: 150px;
        display: block;
        margin-left: $login-margin-left;
    }


}
/* why register */
#block-block-9 {
    @extend .panel-rule-single;
    background-image: url('../images/icons/register.png');
    background-position: 270px 30px;
    background-repeat: no-repeat;
    height: 217px;
    h2.block-title {
        margin-left: $login-margin-left;
    }
    ul {
        margin-left: 4px;
        li {
          list-style-image: url('../images/icons/arrow-icons-aqua.png');
          font-size: 16px;
          font-weight: normal;
      }
  }
  a {
    /* color needed? */
    color: $capt-black;
    font-weight: normal;

}
}
#block-block-9, #block-block-8 {
    @extend .panel-rule-single;
    margin-right: 75px;
    width: 365px;
    float: right;
    background-repeat: no-repeat;
    h2 {
        font-weight: normal;
        color: $capt-darkblue;
        margin-left: 28px;
    }


}


}
/*
 *  Logged in Event Page
 */

/* 
*  Events Page
*/
/* title of events page; font size & position may need to be fine-tuned */
h1#page-title {
    font-weight: normal;
}
/*recently removed node-type event on 6/2; keep an eye out for issues */
body.logged-in {
    h1#page-title {
        background: url('../images/icons/create-event.png') 0 0 no-repeat;
        padding-left: 70px;
        /* variable? deviate from spec and reduce? */

        padding-top: 7px;
        color: $capt-maroon;
        min-height: 44px;
        font-size: 26pt;
        /* from h2 in the specs */

        margin-top: 36px;
        margin-bottom: 21px;
    }
    h2 {
        margin-bottom: 0px;
    }
    div#title-section h3 {
        margin-bottom: 0px;
        font-weight: normal;
        margin-top: 0px;
        color: $capt-aqua;
    }
   
}
/*
 * event pages - both anonymous and logged in 
 */
body.node-type-event {
     
    ul#main-menu.main-menu li#menu-item-588 {
        a {
             @include main-active-link();
        }
       

    }
    div#content.column {
        border-top-color: black;

    }
    .view-content > .views-row div {
        margin-left: 5px;
    }
    /* header */
    div#title-section h2 {
        margin-left: 10px;
    }
    /*div.group-audience,
    div.group-description {
        margin-left: 12px;
    }*/
    h1, h2 {
        color: $capt-aqua;
        font-weight: normal;
    }
    h3 {
        color: $capt-black;
        margin-bottom: 10px;
    }
    h5 {
        margin-top: 4px;
    }
    h1,h3 {
        margin-left: 10px;
    }
    h2 {
        margin-left: 0px;
    }
    h2 a {
        font-size: 20px;
        color: $capt-orange;
    }
    div.field-items ul a {
        color: $capt-orange;
    }
    div#content {
        border-top: 1px solid $capt-midgrey;
        padding-top: 20px;
    }
    div.group-left {
        display: block;
    }

    // block with two buttons (edit notif, view reg)
    .region-help #block-block-1 {
        // needed so it doesn't run into  the text
        position: absolute;

        top: 10px;
        right: 10px;
        margin-top: 0px;
        padding-right: 0px;
        a.button {
            margin-left: 20px;
            margin-right: 0px;
        }
    }
  
 
    /* panels */
    div.group-left, div.group-right {
        overflow: hidden;
    }
    /*div.group-dates,*/
    div.group-presenter,
    div.group-materials,
    div.group-audience,
    div.group-description {
        @extend .panel-rule-single;
        @include border-radius(0px);
        display: inline-block;
        padding: 10px 16px 16px 16px;
        width: 900px;
        margin-left: 10px;
        h4 {
            margin-top: 0px;
        }


    }

    
    h2.element-invisible {
        display: none;
    }
    
    .ds-2col > .group-right {
       float: left;
       width: 300px;
       margin: 0px;
       overflow: visible;
       display: block;
       clear: both;

   }
   /* home button on event page */
   div#block-block-11 {
    /* the absolute positioning keeps its position constant across pages*/
    position: absolute;
    top: -60px;
    height: 0px;
    margin: 0px 0px 0px -10px;


    p {
      list-style-type: none;
      list-style-image: none;
      margin-left: 0px;

      a.anonymous_home {
        background-color: $capt-orange;
        font-size: 16px;
        color: white;
        width: 100px;
        padding: 3px;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        height: 24px;
        position:relative;
        top: 0px;
        float: left;
        @include border-radius(5px);
        /*  color: $capt-aqua;*/
    }
    a.anonymous_home:hover {
        text-decoration: none;
    }
  }
  z-index: 20;
}



}

/* 
 *  Event Report
 */
 body.page-administration-event-report {

    table.views-table {

        tbody  {
            border: 1px solid $capt-midgrey;
        }
        tr {

            th {
                padding-right: 10px;
            }
            td:first-child {
                padding-left: 10px;
                width: 230px;
            }
            td {
                padding-right: 10px;
            }
            td:nth-child(n+5)
            {
                text-align: center;
            }
        }
    }
}

/*
 *  styles from Nancy on 5/21-5/22:
 */
#account-pass-restrictions {
  border: 1px solid #ff9933;
  font-family: Georgia, Palatino, serif;
  padding: 0 6px;
}
 
#account-pass-restrictions li {
  font-size: 120%;
  line-height: 1.25em;
  list-style-image: url("/misc/menu-collapsed.png");
}

/* Float image on Presenters in Event view. */
.field-name-field-presenter .node-teaser .field-name-field-presenter-image {
  float: left;
  margin-right: 1em;
}

/* 
 *  Responsive theming!
 */

$iPh6W: 667px;
$iPh6H: 375px;
@media screen and (min-width: 0px)
and (max-width: $iPh6W)   {

    /* prototype class */
    .reset-layout {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    @mixin side-borders ($color){
        border-left: 1px solid $color;
        border-right: 1px solid $color;
    }

    html, body {
     width: 100%;
     overflow-x: hidden;
     height: 100%;
    }
    body.not-logged-in.page-user {
       height: 100%;
         div#page {
            height: 750px;
            @extend .reset-layout;
            display: inline-block;
            margin-bottom: 0px;
        }
}


#main {
    @extend .reset-layout;

}
body.not-logged-in.page-user {
    div#title-section {
        padding-top: 6px;
        padding-bottom: 6px;

    }
    header#header {
       height: 89px;
       background: url('../images/banners/login-phone.png') 0 0 no-repeat;
   }
 
   form#user-login, 
   div#title-section,
   div#block-block-8, 
   div#block-block-9, {

    @include side-borders($capt-midgrey);
    padding-top: 10px;
    margin: 0px auto;
    float: none;
    margin: 0px auto;
    width: 85%;
    display: block;
   
 
    // headers for form and blocks.
    h1, h2 {
        font-size: 22px;
        padding-left: 20px;
        cursor: pointer;
        background-image: url('../images/icons/hide.png');
        background-position: 0px 8px;
        background-repeat: no-repeat;
        margin-left: 0px;
        margin-top: 0px;
    }
    h2 {
        margin-bottom: 6px;
    }
    


}
    // why register
    div#block-block-9 {
        height: 140px;
      

    }

/* mobile styles, cont'd s*/
    div#block-block-8,
    div#block-block-9 {
        border: 1px solid $capt-midgrey;
        background-image: none;
        background-repeat: no-repeat;
    }
    form#user-login {
        height: 250px;
        input#edit-submit {
            margin-top: 0px;
            top: 0px;
        }

    }


}

div#content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    /* border: 1px dotted orange;*/

}
body {
    width: 100%;
    /* border: 1px solid black;*/
    height: 100%;

}

div.bottom-footer  {
    
    width: 100%;
    div.bottom-footer-container {
     /* border: 1px solid blue;*/
     width: 100%;
     
     div.disclaimer {
        width: 80%;
        margin: 0px auto;
    }
}

}

div.bottom-footer,
div.bottom-footer-container,
div.disclaimer {
    @extend .reset-layout;
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0px;
}


}



/*
 *  Request password page
 */
body.page-user-password {
      
     div#content div#title-section {
        width: 370px;
        margin: 0px auto;
       }
    input#edit-submit {
        background-color: $capt-orange;
    }
  
}



form#user-pass {
 @extend .panel;
 width: 330px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 35px;
 padding-right: 35px;
 margin: -20px auto 0;
}
/**
 * Disclaimer Placement Section
 */
body.node-type-event #block-block-12 .disclaimer {
    padding: 0px 0px 5px 0px;
    left: -300px;
}
body.node-type-event.page-node-edit {
  .disclaimer {    
    left: 20px;
   }
}
body.page-user-edit div.disclaimer {
    margin-bottom: 40px;
}

/* page administration */
body.page-administration {
    div#content div#title-section {
        h2 {
        display: none;
    }
  }
}

