/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover, .node-dashboard .group-left .field-type-ds h3 a:hover, .node-dashboard .group-right .field-type-ds h3 a:hover, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard h3 a:hover, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 h3 a:hover,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper, .node-dashboard .group-left .field-type-ds .filter-wrapper, .node-dashboard .group-right .field-type-ds .filter-wrapper, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard .filter-wrapper, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 .filter-wrapper,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before, .node-dashboard .group-left .field-type-ds:before, .node-dashboard .group-right .field-type-ds:before, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard:before, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1:before,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard, body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link, ul.pager li.pager-first a,
ul.pager li.pager-previous a, ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/* line 8, ../sass/dashboard.scss */
.ds-2col-stacked-fluid > .group-left
body.page-events.section-events div#content {
  margin-right: 1%;
  width: 970px;
}

/* dashboard */
/* the main panels */
/* adopting h4:black for this one */
/* line 27, ../sass/dashboard.scss */
.node-dashboard h2.block-title {
  /* artifacts */
  margin-top: 0;
  margin-bottom: 0.5em;
  /* new */
  font-size: 24px;
  color: #333333;
}

/* dashboard lists */
/* line 38, ../sass/dashboard.scss */
li.views-row {
  list-style-image: url("../images/icons/arrow-icons.png");
  margin-bottom: -2px;
}

/* line 43, ../sass/dashboard.scss */
li.views-row:last-child {
  margin-bottom: -3px;
}

/* line 47, ../sass/dashboard.scss */
div.view-content div.item-list {
  padding-left: 0px;
  padding-top: 10px;
  /* TODO: add variant for registered events */
}
/* line 50, ../sass/dashboard.scss */
div.view-content div.item-list:first-of-type {
  padding-top: 0;
}
/* line 53, ../sass/dashboard.scss */
div.view-content div.item-list h3 {
  margin-bottom: 10px;
  padding-top: 0px;
  line-height: 16px;
  margin-top: 0;
}
/* line 58, ../sass/dashboard.scss */
div.view-content div.item-list h3 a:hover {
  text-decoration: none;
}
/* line 63, ../sass/dashboard.scss */
div.view-content div.item-list ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 69, ../sass/dashboard.scss */
p {
  margin: 0 0 1em 0;
  line-height: 1.6em;
}

/* end pager styles */
/*
 *  Cancelling a registered event -- still needed?
 */
/* line 84, ../sass/dashboard.scss */
body.node-type-dashboard #page {
  height: 100%;
  /* changed from 1000px*/
}

/* panels */
/* line 99, ../sass/dashboard.scss */
.field-name-my-registered-events {
  background: url("../images/icons/registered.png") 405px 21px no-repeat;
}

/* line 103, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds,
.field-name-my-registered-events.field-type-ds {
  overflow: none;
  /*min-height: 245px;*/
  padding-bottom: 30px;
  margin-right: 0px;
  padding-right: 30px;
  padding-left: 0px;
  /* debold the title */
  /* blacken the links */
  /* format list of events */
  /* pager logic */
}
/* line 111, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.field-items,
.field-name-my-registered-events.field-type-ds div.field-items {
  margin: 0 26px;
}
/* line 114, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds .view-dashboard,
.field-name-my-registered-events.field-type-ds .view-dashboard {
  /*border-bottom: 1px solid $capt-midgrey;*/
  padding-top: 0px;
}
/* line 117, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds .view-dashboard div.view-empty,
.field-name-my-registered-events.field-type-ds .view-dashboard div.view-empty {
  margin-top: 40px;
}
/* line 122, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds h2.block-title,
.field-name-my-registered-events.field-type-ds h2.block-title {
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 3px;
  color: #334b56;
}
/* line 129, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds h3 a,
.field-name-my-registered-events.field-type-ds h3 a {
  font-style: normal;
  font-size: 14px;
  color: black;
}
/* line 135, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div#content,
.field-name-my-registered-events.field-type-ds div#content {
  padding-left: 30px;
}
/* line 138, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content,
.field-name-my-registered-events.field-type-ds div.view-content {
  /*padding-left: 20px;*/
  /*we may need this to be more specific elsewhere*/
}
/* line 141, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content div.item-list ul,
.field-name-my-registered-events.field-type-ds div.view-content div.item-list ul {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
}
/* line 147, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content div.item-list ul li,
.field-name-my-registered-events.field-type-ds div.view-content div.item-list ul li {
  margin-bottom: 0px;
  padding-left: 0px;
}
/* line 152, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content div.item-list:last-child ul,
.field-name-my-registered-events.field-type-ds div.view-content div.item-list:last-child ul {
  border-bottom: none;
}
/* line 156, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.item-list,
.field-name-my-registered-events.field-type-ds div.item-list {
  border-width: 0px;
}
/* line 160, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager,
.field-name-my-registered-events.field-type-ds ul.pager {
  margin-bottom: -10px;
}
/* line 162, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager li.pager-item,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-item {
  border: 1px solid #577785;
  /*padding: 6px 9px;*/
    /* a {
padding: 4px 7px;
}*/
}
/* line 169, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager li.pager-current,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-current {
  background-color: #577785;
  border: 1px solid #577785;
}
/* line 175, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager li.pager-next a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-last a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-next a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow-aqua.png");
}
/* line 181, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager li.pager-previous a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-first a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-previous a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-first a {
  background-image: url("../images/icons/left-arrow-aqua.png");
}
/* line 191, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager li.pager-item a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-current a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-previous a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-last a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-first a,
.field-name-my-archived-events.field-type-ds ul.pager li.pager-next a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-item a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-current a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-previous a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-last a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-first a,
.field-name-my-registered-events.field-type-ds ul.pager li.pager-next a {
  color: #577785;
}

/* line 198, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds {
  background: url("../images/icons/archived.png") 405px 21px no-repeat;
}
/* line 200, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds .view-dashboard {
  /* min-height: 170px;*/
}
/* line 202, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds .view-dashboard div.view-empty {
  margin-top: 20px;
}
/* line 206, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds .views-field-flagged {
  font-size: 12px;
  line-height: 1em;
  font-style: italic;
  margin-bottom: 6px;
}
/* line 213, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content div.item-list {
  margin-left: 0px;
}
/* line 215, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-content div.item-list ul {
  padding-bottom: 6px;
}
/* line 220, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds h2.block-title {
  font-weight: normal;
}
/* line 223, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds div.view-empty {
  margin-top: 30px;
}
/* line 226, ../sass/dashboard.scss */
.field-name-my-archived-events.field-type-ds ul.pager {
  /*margin-bottom: -30px;*/
  padding-bottom: 0px;
}

/* upcoming events panel  */
/* line 234, ../sass/dashboard.scss */
body.logged-in {
  /* old*/
}
/* line 236, ../sass/dashboard.scss */
body.logged-in .field-name-upcoming-events.field-type-ds,
body.logged-in div.view.view-dashboard {
  /*background-color: white;*/
  border-width: 5px 0px 0px 0px;
  margin-right: 40px;
  margin-left: 0px;
}
/* line 242, ../sass/dashboard.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h2.block-title,
body.logged-in div.view.view-dashboard h2.block-title {
  font-weight: normal;
  /* best way to do it?*/
  display: none;
}
/* line 247, ../sass/dashboard.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3,
body.logged-in .field-name-upcoming-events.field-type-ds span.date-display-single,
body.logged-in div.view.view-dashboard h3,
body.logged-in div.view.view-dashboard span.date-display-single {
  font-style: normal;
  font-size: 14px;
}
/* line 251, ../sass/dashboard.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3 a,
body.logged-in .field-name-upcoming-events.field-type-ds span.date-display-single a,
body.logged-in div.view.view-dashboard h3 a,
body.logged-in div.view.view-dashboard span.date-display-single a {
  color: black;
}
/* line 255, ../sass/dashboard.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3,
body.logged-in div.view.view-dashboard h3 {
  margin-top: 0px;
}

/*
NK (7/30): dashboard update.
we may deprecate field-name-upcoming-events selector

*/
/* line 267, ../sass/dashboard.scss */
body.page-events.section-events {
  /* right matter */
}
/* line 268, ../sass/dashboard.scss */
body.page-events.section-events div.bottom-footer div.disclaimer {
  display: inline-block;
  margin-left: 90px;
  top: -20px;
}
/* line 273, ../sass/dashboard.scss */
body.page-events.section-events .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}
/* line 276, ../sass/dashboard.scss */
body.page-events.section-events html, body.page-events.section-events body, body.page-events.section-events #page {
  height: 100%;
}
/* line 280, ../sass/dashboard.scss */
body.page-events.section-events div#main div#content {
  width: 973px;
  margin-left: 13px;
}
/* line 287, ../sass/dashboard.scss */
body.page-events.section-events div#main div#content div.view.view-dashboard.view-id-dashboard {
  background-color: white;
  border-width: 0px;
  width: 45%;
  display: block;
}
/* line 298, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second {
  position: relative;
  width: 50%;
  margin-top: 180px;
  left: -510px;
  /*border: 1px dashed orange;*/
}
/* line 305, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 {
  overflow: none;
  padding-bottom: 30px;
  margin-right: 0px;
  padding-right: 30px;
  padding-left: 0px;
  /* debold the title */
  /* blacken the links */
  /* format list of events */
  /* pager logic */
}
/* line 313, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1:before,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2:before {
  width: 478px;
}
/* line 316, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.field-items,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.field-items {
  margin: 0 26px;
}
/* line 319, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view.view-dashboard,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view.view-dashboard {
  /*border-bottom: 1px solid $capt-midgrey;*/
  padding-top: 0px;
}
/* line 322, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view.view-dashboard div.view-empty,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view.view-dashboard div.view-empty {
  margin-top: 40px;
}
/* line 327, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 h2.block-title,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 h2.block-title {
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 3px;
  font-size: 24px;
  margin-left: 20px;
  color: #334b56;
}
/* line 336, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 h3 a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 h3 a {
  font-style: normal;
  font-size: 14px;
  color: black;
}
/* line 342, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div#content,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div#content {
  padding-left: 30px;
}
/* line 345, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view-content,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view-content {
  margin-left: 20px;
  /*we may need this to be more specific elsewhere*/
}
/* line 348, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view-content div.item-list ul,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view-content div.item-list ul {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
}
/* line 354, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view-content div.item-list ul li,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view-content div.item-list ul li {
  margin-bottom: 0px;
  padding-left: 0px;
}
/* line 359, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 div.view-content div.item-list:last-child ul,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 div.view-content div.item-list:last-child ul {
  border-bottom: none;
}
/* line 368, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager {
  margin-bottom: -10px;
  width: 100%;
  margin-left: 0px;
}
/* line 372, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-item,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-item {
  border: 1px solid #577785;
}
/* line 375, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-current,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-current {
  background-color: #577785;
  border: 1px solid #577785;
}
/* line 381, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-next a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-last a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-next a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow-aqua.png");
}
/* line 387, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-previous a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-first a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-previous a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-first a {
  background-image: url("../images/icons/left-arrow-aqua.png");
}
/* line 397, ../sass/dashboard.scss */
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-item a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-current a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-previous a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-last a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-first a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-1 ul.pager li.pager-next a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-item a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-current a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-previous a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-last a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-first a,
body.page-events.section-events section.region.region-sidebar-second div#block-views-dashboard-block-2 ul.pager li.pager-next a {
  color: #577785;
}
/* line 404, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1 {
  background: url("../images/icons/registered.png") 405px 21px no-repeat;
}
/* line 406, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1 a.flag-action.flag-link-normal {
  padding: 10px 20px;
  margin-left: -30px;
  position: relative;
  top: 20px;
}
/* line 415, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 > div > div.item-list {
  margin: 0px auto;
  width: 475px;
}
/* line 419, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 > div > div.item-list ul.pager {
  margin-left: 0px;
}
/* line 423, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 {
  background: url("../images/icons/archived.png") 405px 21px no-repeat;
}
/* line 425, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 .view-dashboard {
  /* min-height: 170px;*/
}
/* line 427, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 .view-dashboard div.view-empty {
  margin-top: 20px;
}
/* line 435, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 .views-field-flagged {
  font-size: 12px;
  line-height: 1em;
  font-style: italic;
  margin-bottom: 6px;
}
/* line 442, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 div.view-content div.item-list {
  margin-left: 0px;
}
/* line 444, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 div.view-content div.item-list ul {
  padding-bottom: 6px;
}
/* line 449, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 h2.block-title {
  font-weight: normal;
}
/* line 452, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 div.view-empty {
  margin-top: 30px;
}
/* line 455, ../sass/dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-2 ul.pager {
  /*margin-bottom: -30px;*/
  padding-bottom: 0px;
}
/* line 460, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events,
body.page-events.section-events div.view.view-dashboard {
  padding-bottom: 0px;
}
/* line 463, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events div.view-content,
body.page-events.section-events div.view.view-dashboard div.view-content {
  /* set to min-height to avoid breaking layout */
  /*min-height: 450px;*/
  /*border-bottom: 5px solid $capt-aqua;*/
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 469, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events div.view-content ul,
body.page-events.section-events div.view.view-dashboard div.view-content ul {
  padding-left: 14px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 14px;
}
/* line 474, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events div.view-content div.item-list,
body.page-events.section-events div.view.view-dashboard div.view-content div.item-list {
  margin-left: 0px;
}
/* line 477, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events div.view-content div.item-list:last-child ul,
body.page-events.section-events div.view.view-dashboard div.view-content div.item-list:last-child ul {
  border-bottom: none;
}
/* line 481, ../sass/dashboard.scss */
body.page-events.section-events div.field-name-upcoming-events ul.pager,
body.page-events.section-events div.view.view-dashboard ul.pager {
  margin-top: 45px;
  padding-left: 0px;
  width: 390px;
  margin-left: -7px;
}

/* *
 * Pager styles
 */
/* line 494, ../sass/dashboard.scss */
ul.pager {
  padding-top: 5px;
  height: 40px;
  text-align: center;
  text-overflow: visible;
  /* width: 106%;*/
  /* no link within pager-current */
  /* first & previous on left */
  /* next & last on right */
}
/* line 499, ../sass/dashboard.scss */
ul.pager a:hover {
  text-decoration: none;
}
/* line 503, ../sass/dashboard.scss */
ul.pager li.pager-ellipsis {
  padding: 0px;
}
/* line 506, ../sass/dashboard.scss */
ul.pager li.pager-item {
  background-color: #eef1f3;
  color: #c3791f;
  height: 30px;
  /*padding: 8px 0px 8px 0px;*/
  width: 50px;
}
/* line 512, ../sass/dashboard.scss */
ul.pager li.pager-item a {
  color: #c3791f;
  /*padding: 4px 7px;*/
}
/* line 518, ../sass/dashboard.scss */
ul.pager li.pager-current {
  background-color: #c3791f;
  width: 60px;
  color: #eef1f3;
}
/* line 523, ../sass/dashboard.scss */
ul.pager li.pager-last a {
  background-position: 33px 8px;
}
/* line 527, ../sass/dashboard.scss */
ul.pager li.pager-first,
ul.pager li.pager-previous {
  padding: 0px;
  margin: 0px 4px 0px 0px;
}
/* line 531, ../sass/dashboard.scss */
ul.pager li.pager-first a,
ul.pager li.pager-previous a {
  background-image: url("../images/icons/left-arrow-orange.png");
  background-position: 0 8px;
  padding: 8px 0px 8px 20px;
}
/* line 539, ../sass/dashboard.scss */
ul.pager li.pager-next,
ul.pager li.pager-last {
  padding: 0px;
  margin: 0px 0px 0px 4px;
}
/* line 543, ../sass/dashboard.scss */
ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow-orange.png");
  background-position: 33px 7px;
  padding: 8px 24px 8px 0px;
}
/* line 550, ../sass/dashboard.scss */
ul.pager li.pager-last a {
  background-position: 30px 7px;
}
/* line 553, ../sass/dashboard.scss */
ul.pager li.pager-current {
  margin-left: 3px;
  margin-right: 3px;
  padding: 6px 9px;
}
/* line 558, ../sass/dashboard.scss */
ul.pager li.pager-item {
  /* not sure why we need vert padding but not horiz padding.*/
  padding: 6px 0px;
  margin-right: 3px;
  margin-left: 3px;
}
/* line 563, ../sass/dashboard.scss */
ul.pager li.pager-item a {
  padding: 6px 9px;
}
/* line 569, ../sass/dashboard.scss */
ul.pager div.ajax-progress {
  float: right;
  display: inline;
  top: 20px;
  left: center;
  position: relative;
  margin-left: -20px;
}
/* line 577, ../sass/dashboard.scss */
ul.pager #page {
  height: 100%;
  margin-bottom: -200px;
}

/* line 584, ../sass/dashboard.scss */
#dashboard-search input[type="text"] {
  font-size: 14px;
  padding: 5px;
  margin-right: 15px;
  max-width: 400px;
  border: 1px solid #b6b6b6;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
/* line 593, ../sass/dashboard.scss */
#dashboard-search input[type="text"]:focus {
  background: #F5FAFC;
  outline: none;
}
