@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/*
 * prototype classes´
 */
/* line 6, ../sass/extensible-phone.scss */
.reset-layout {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 12, ../sass/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 18, ../sass/extensible-phone.scss */
.mobile-panel, .mobile-panel-rule, .mobile-login-lower-panel {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 94%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 28, ../sass/extensible-phone.scss */
.mobile-panel:before, .mobile-panel-rule:before, .mobile-login-lower-panel:before {
  top: -11px;
}

/* line 34, ../sass/extensible-phone.scss */
.mobile-panel-rule:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: 0px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 48, ../sass/extensible-phone.scss */
.mobile-login-lower-panel:before {
  background-color: white;
}

/* line 54, ../sass/extensible-phone.scss */
.show-hide {
  font-size: 22px;
  padding-left: 20px;
  cursor: pointer;
  background-image: url("../images/icons/hide.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-top: 0px;
}

/* line 65, ../sass/extensible-phone.scss */
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 *  End Prototypes, Start Mixins
 */
