/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
*  Events Page
*/
/* title of events page; font size & position may need to be fine-tuned */
/* line 10, ../sass/logged-in.scss */
h1#page-title {
  font-weight: normal;
}
/* line 12, ../sass/logged-in.scss */
h1#page-title em {
  color: #333333;
  font-size: .75em;
  display: block;
  font-weight: normal;
}

/*recently removed node-type event on 6/2; keep an eye out for issues */
/* line 22, ../sass/logged-in.scss */
body.logged-in {
  /* changed margin top for event view logged-in page in chrome*/
}
/* line 23, ../sass/logged-in.scss */
body.logged-in h1#page-title {
  /* variable? deviate from spec and reduce? */
  padding-top: 7px;
  color: #8c1d18;
  min-height: 44px;
  font-size: 26pt;
  /* from h2 in the specs */
  margin-top: 36px;
  margin-bottom: 21px;
  margin-top: 0px;
}
/* line 34, ../sass/logged-in.scss */
body.logged-in.section-events h1#page-title {
  background: url("../images/icons/dashboard.png") 0 0 no-repeat;
  padding-left: 70px;
}
/* line 38, ../sass/logged-in.scss */
body.logged-in.section-node-add h1#page-title {
  background: url("../images/icons/create.png") 0 0 no-repeat;
  padding-left: 70px;
}
/* line 42, ../sass/logged-in.scss */
body.logged-in.section-administration h1#page-title {
  background: url("../images/icons/admin.png") 0 0 no-repeat;
  padding-left: 70px;
}
/* line 46, ../sass/logged-in.scss */
body.logged-in.page-user-edit h1#page-title {
  background: url("../images/icons/profile.png") 0 0 no-repeat;
  padding-left: 55px;
}
/* line 50, ../sass/logged-in.scss */
body.logged-in h2 {
  margin-bottom: 0px;
}
/* line 54, ../sass/logged-in.scss */
body.logged-in div#title-section h3 {
  margin-bottom: 0px;
  font-weight: normal;
  margin-top: 14px;
  color: #577785;
}
/* line 61, ../sass/logged-in.scss */
body.logged-in.node-type-dashboard #title-section {
  float: left;
}
/* line 64, ../sass/logged-in.scss */
body.logged-in.node-type-dashboard .region-help {
  float: right;
}
