@charset "UTF-8";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 * prototype classes´
 */
/* line 6, ../sass/extensible-phone.scss */
.reset-layout, div.bottom-footer,
div.bottom-footer-container,
div.disclaimer, body div#page #main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* for mobile panels with no top bars */
/* line 12, ../sass/extensible-phone.scss */
.top-bar-reset {
  background-color: none;
  height: 0px;
  width: 0px;
  position: static;
}

/* line 18, ../sass/extensible-phone.scss */
.mobile-panel, .mobile-login-lower-panel, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-anon-login form#user-login,
body.not-logged-in.page-anon-login div#title-section {
  padding-top: 10px;
  text-align: left;
  margin: 0px auto;
  float: none;
  width: 95%;
  padding-left: 0px;
  background: no-repeat;
  background-color: #eef1f3;
}
/* line 27, ../sass/extensible-phone.scss */
.mobile-panel:before, .mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before, body.not-logged-in.page-user:not(.page-user-register) form#user-login:before,
body.not-logged-in.page-user:not(.page-user-register) div#title-section:before,
body.not-logged-in.page-anon-login form#user-login:before,
body.not-logged-in.page-anon-login div#title-section:before {
  top: -12px;
}

/* line 33, ../sass/extensible-phone.scss */
.mobile-login-lower-panel:before, body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before {
  background-color: white;
}

/* line 37, ../sass/extensible-phone.scss */
.show-hide {
  font-size: 22px;
  padding-left: 20px;
  cursor: pointer;
  background-image: url("../images/icons/hide.png");
  background-position: 0px 8px;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-top: 0px;
}

/* line 48, ../sass/extensible-phone.scss */
.noselect, body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login form#user-login,
body.not-logged-in.page-anon-login div#title-section,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9, body.not-logged-in.page-user:not(.page-user-register) form#user-login h1, body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
body.not-logged-in.page-user:not(.page-user-register) div#title-section h1,
body.not-logged-in.page-user:not(.page-user-register) div#title-section h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h1,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h1,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
body.not-logged-in.page-anon-login form#user-login h1,
body.not-logged-in.page-anon-login form#user-login h2,
body.not-logged-in.page-anon-login div#title-section h1,
body.not-logged-in.page-anon-login div#title-section h2,
body.not-logged-in.page-anon-login div#block-block-8 h1,
body.not-logged-in.page-anon-login div#block-block-8 h2,
body.not-logged-in.page-anon-login div#block-block-9 h1,
body.not-logged-in.page-anon-login div#block-block-9 h2 {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 *  End Prototypes, Start Mixins
 */
/*
  *  iPhone Styles -- User Login Page - yo
  */
/* line 14, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register),
body.not-logged-in.page-anon-login {
  /* reformatting panels for mobile */
  /* banner title text */
  /* banner subtitle text */
  /* all blocks */
  /* specific styles for responsive panel tops  ---*/
  /* lower two blocks */
  /* individual panel styles */
}
/* line 16, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-anon-login div#title-section {
  padding-top: 6px;
  padding-bottom: 0px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* line 23, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#content,
body.not-logged-in.page-anon-login div#content {
  text-align: center;
}
/* line 27, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) h1#site-name.header__site-name,
body.not-logged-in.page-anon-login h1#site-name.header__site-name {
  margin-left: -119px;
  margin-top: -30px;
}
/* line 30, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) h1#site-name.header__site-name a,
body.not-logged-in.page-anon-login h1#site-name.header__site-name a {
  font-size: 0.8em;
}
/* line 35, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-13,
body.not-logged-in.page-anon-login div#block-block-13 {
  color: white;
  font-size: 11px;
  margin-left: -225px;
  top: -100;
  position: absolute;
  margin-top: -8px;
  cursor: default;
}
/* line 46, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-anon-login div#title-section {
  border-bottom: 0px;
  margin: 0px auto;
  left: 0px;
  display: inline-block;
  height: 50px;
  margin-top: 30px;
}
/* line 54, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#title-section h1#page-title,
body.not-logged-in.page-anon-login div#title-section h1#page-title {
  width: 90%;
  margin-top: 0px;
  padding-left: 18px;
  margin-left: 0px;
  position: relative;
  font-size: 1.8em;
  /* margin-bottom: -30px;*/
}
/* line 65, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-user:not(.page-user-register) div#title-section,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login form#user-login,
body.not-logged-in.page-anon-login div#title-section,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9 {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* line 76, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login h2,
body.not-logged-in.page-user:not(.page-user-register) div#title-section h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 h2,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2,
body.not-logged-in.page-anon-login form#user-login h2,
body.not-logged-in.page-anon-login div#title-section h2,
body.not-logged-in.page-anon-login div#block-block-8 h2,
body.not-logged-in.page-anon-login div#block-block-9 h2 {
  margin-bottom: 6px;
}
/* line 86, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-8,
body.not-logged-in.page-anon-login div#block-block-9 {
  border-top: 1px solid #d7d7d7;
}
/* line 90, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8:before,
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9:before,
body.not-logged-in.page-anon-login div#block-block-8:before,
body.not-logged-in.page-anon-login div#block-block-9:before {
  height: 0px;
}
/* line 95, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login,
body.not-logged-in.page-anon-login form#user-login {
  padding-top: 0px;
  margin-top: -20px;
  padding-bottom: 0px;
  height: 250px;
}
/* line 100, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) form#user-login div#edit-actions input#edit-submit,
body.not-logged-in.page-anon-login form#user-login div#edit-actions input#edit-submit {
  display: block;
}
/* line 106, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body h2,
body.not-logged-in.page-anon-login div#block-block-8 .panel-body h2 {
  margin-left: 16px;
}
/* line 109, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-8 .panel-body p,
body.not-logged-in.page-anon-login div#block-block-8 .panel-body p {
  margin-left: -14px;
}
/* line 114, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
body.not-logged-in.page-anon-login div#block-block-9 {
  height: 130px;
  margin-bottom: -60px;
}
/* line 117, ../sass/login-phone.scss */
body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 h2.block-title,
body.not-logged-in.page-anon-login div#block-block-9 h2.block-title {
  margin-left: 16px;
}

/* line 124, ../sass/login-phone.scss */
div.bottom-footer {
  height: 50px;
  width: 100%;
  /*border-color: red;*/
}
/* line 128, ../sass/login-phone.scss */
div.bottom-footer div.bottom-footer-container {
  text-align: center;
  width: 100%;
}
/* line 131, ../sass/login-phone.scss */
div.bottom-footer div.bottom-footer-container div.disclaimer {
  width: 95%;
  /*370px;*/
  max-width: 370px;
  margin-left: 1.5%;
  border: 1px solid transparent;
  height: 100px;
  text-align: left;
}

/* line 142, ../sass/login-phone.scss */
div.bottom-footer,
div.bottom-footer-container,
div.disclaimer {
  max-width: 100%;
  text-align: left;
  display: block;
  margin: 0px;
}

 /*
body.logged-in.page-user-edit {
  div#title-section {
    h1#page-title.page__title {
      margin-left: 30px;
    }
  }
  }*/
/* merge with styles below? */
/* line 162, ../sass/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu {
  overflow: visible;
  /* admin*/
}
/* line 165, ../sass/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-589 {
  display: none;
}
/* line 169, ../sass/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 {
  overflow: visible;
}
/* line 171, ../sass/login-phone.scss */
body.admin-menu div#navigation ul#main-menu.main-menu.responsive-menu li#menu-item-591 a {
  border-bottom: 1px solid white;
}
/* line 177, ../sass/login-phone.scss */
body.admin-menu div#content {
  margin-top: 50px;
}

/* line 181, ../sass/login-phone.scss */
body {
  overflow-x: hidden;
}
/* line 183, ../sass/login-phone.scss */
body div#page {
  overflow-x: hidden;
  margin-bottom: -110px;
  min-height: 550px;
}
