/* line 1, ../sass/mail.scss */
body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  font-size: 10pt;
}

/* line 10, ../sass/mail.scss */
h1, h2, h3, h4, h5, h6, p, td {
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
}

/* line 21, ../sass/mail.scss */
ul {
  margin-top: 0px;
}

/* line 25, ../sass/mail.scss */
#date {
  display: none;
}

/* line 29, ../sass/mail.scss */
.date-display-range {
  display: inline;
}

/* line 33, ../sass/mail.scss */
p {
  word-break: break-word;
  font-size: 10pt;
  margin-bottom: 10px;
}
/* line 37, ../sass/mail.scss */
p.ics, p.orange-button {
  margin-top: 20px;
  float: right;
}
/* line 40, ../sass/mail.scss */
p.ics a, p.orange-button a {
  margin-top: 10px;
  font-weight: normal;
  background: #C47E28;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 53, ../sass/mail.scss */
p.green-button {
  float: right;
  position: absolute;
  right: 25px;
  top: 60px;
}
/* line 58, ../sass/mail.scss */
p.green-button a {
  margin-top: 10px;
  font-weight: normal;
  background: #888a55;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 73, ../sass/mail.scss */
.hide-ics p.ics {
  display: none;
}

/* line 77, ../sass/mail.scss */
a {
  font-weight: normal;
  color: #222;
  text-decoration: underline;
  word-break: break-word;
}
/* line 82, ../sass/mail.scss */
a:hover {
  color: #474747;
}

/* line 87, ../sass/mail.scss */
h1 {
  font-size: 23pt;
  font-weight: bold;
  color: #888a55;
  padding-bottom: 12px;
  margin-top: 15px;
}

/* line 95, ../sass/mail.scss */
h2 {
  font-size: 18px;
  font-weight: normal;
  color: #577785;
}

/* line 101, ../sass/mail.scss */
h3 {
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  color: #333333;
}

/* line 108, ../sass/mail.scss */
h4 {
  font-size: 13pt;
  color: #8C1D18;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* line 116, ../sass/mail.scss */
h5 {
  font-size: 11pt;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 122, ../sass/mail.scss */
table, tbody, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
/* line 129, ../sass/mail.scss */
table br, tbody br, tr br, td br {
  line-height: 1.3;
}
/* line 133, ../sass/mail.scss */
table ul li, tbody ul li, tr ul li, td ul li {
  line-height: 1.3;
}
/* line 137, ../sass/mail.scss */
table.center, tbody.center, tr.center, td.center {
  background: white;
  width: 600px;
  margin: 0 auto;
}
/* line 142, ../sass/mail.scss */
table.header, table.footer, tbody.header, tbody.footer, tr.header, tr.footer, td.header, td.footer {
  width: 100%;
}
/* line 145, ../sass/mail.scss */
table.logos, tbody.logos, tr.logos, td.logos {
  background: transparent;
  height: 80px;
}
/* line 148, ../sass/mail.scss */
table.logos .capt-logo, tbody.logos .capt-logo, tr.logos .capt-logo, td.logos .capt-logo {
  width: 330px;
}
/* line 151, ../sass/mail.scss */
table.logos .samhsa-logo, tbody.logos .samhsa-logo, tr.logos .samhsa-logo, td.logos .samhsa-logo {
  width: 250px;
}
/* line 155, ../sass/mail.scss */
table.colorband, tbody.colorband, tr.colorband, td.colorband {
  width: 100%;
  height: 8px;
}
/* line 159, ../sass/mail.scss */
table.banner > tr > td > div, tbody.banner > tr > td > div, tr.banner > tr > td > div, td.banner > tr > td > div {
  margin-bottom: -1000px;
  margin-left: 30px;
  color: white;
  font-weight: bold;
}
/* line 165, ../sass/mail.scss */
table.mailing, tbody.mailing, tr.mailing, td.mailing {
  background: transparent;
  height: 100px;
}
/* line 168, ../sass/mail.scss */
table.mailing td, tbody.mailing td, tr.mailing td, td.mailing td {
  vertical-align: top;
  padding-top: 15px;
}
/* line 171, ../sass/mail.scss */
table.mailing td p, tbody.mailing td p, tr.mailing td p, td.mailing td p {
  text-align: center;
  margin-bottom: 5px;
  font-size: 9pt;
  line-height: 1;
}
/* line 176, ../sass/mail.scss */
table.mailing td p br, tbody.mailing td p br, tr.mailing td p br, td.mailing td p br {
  line-height: 1;
}
/* line 182, ../sass/mail.scss */
table.section td, tbody.section td, tr.section td, td.section td {
  padding: 10px 25px;
}
/* line 185, ../sass/mail.scss */
table.rule h4, tbody.rule h4, tr.rule h4, td.rule h4 {
  border-top: 1px solid #C8D9E0;
}
/* line 188, ../sass/mail.scss */
table.box, tbody.box, tr.box, td.box {
  width: 100%;
  margin: 10px 0px 20px;
}
/* line 191, ../sass/mail.scss */
table.box.gray, tbody.box.gray, tr.box.gray, td.box.gray {
  background: #E3E4E0;
}
/* line 194, ../sass/mail.scss */
table.box.gray.small p, tbody.box.gray.small p, tr.box.gray.small p, td.box.gray.small p {
  font-size: 9pt;
}
/* line 197, ../sass/mail.scss */
table.box.gray.small h4, tbody.box.gray.small h4, tr.box.gray.small h4, td.box.gray.small h4 {
  font-size: 11pt;
}
/* line 202, ../sass/mail.scss */
table.box.green, tbody.box.green, tr.box.green, td.box.green {
  background: #D8E2C8;
}
/* line 205, ../sass/mail.scss */
table.box.red, tbody.box.red, tr.box.red, td.box.red {
  background: #8C1D18;
}
/* line 207, ../sass/mail.scss */
table.box.red p, table.box.red h4, table.box.red a, tbody.box.red p, tbody.box.red h4, tbody.box.red a, tr.box.red p, tr.box.red h4, tr.box.red a, td.box.red p, td.box.red h4, td.box.red a {
  color: white !important;
}
/* line 211, ../sass/mail.scss */
table.box.yellow, tbody.box.yellow, tr.box.yellow, td.box.yellow {
  background: #F3E2B5;
}
/* line 214, ../sass/mail.scss */
table.box h4, tbody.box h4, tr.box h4, td.box h4 {
  margin: 0px;
  padding: 0px;
  font-size: 13pt;
  padding-top: 5px;
  padding-bottom: 0px;
}
/* line 221, ../sass/mail.scss */
table.box.center p, table.box.center h4, tbody.box.center p, tbody.box.center h4, tr.box.center p, tr.box.center h4, td.box.center p, td.box.center h4 {
  text-align: center;
}
/* line 224, ../sass/mail.scss */
table.box td, tbody.box td, tr.box td, td.box td {
  padding: 10px;
}

/* line 231, ../sass/mail.scss */
.views-row {
  clear: both;
  padding-top: 10px;
}
/* line 234, ../sass/mail.scss */
.views-row.views-row-first {
  padding-top: 0px;
}
/* line 237, ../sass/mail.scss */
.views-row img {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 160px;
  height: 120px;
}

/* line 247, ../sass/mail.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
  margin: 0px;
}

/* line 260, ../sass/mail.scss */
table.content {
  height: 450px;
}
/* line 262, ../sass/mail.scss */
table.content tr {
  vertical-align: top;
}

/* line 268, ../sass/mail.scss */
.when-block h3 {
  font-style: normal;
  font-weight: normal;
  color: #577785;
  font-size: 12pt;
}
/* line 273, ../sass/mail.scss */
.when-block h3 div {
  margin: 15px 0 5px;
}
/* line 275, ../sass/mail.scss */
.when-block h3 div.row-0 {
  margin-top: 0px;
}
/* line 280, ../sass/mail.scss */
.when-block div.view-instances .views-row div {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* line 283, ../sass/mail.scss */
.when-block div.view-instances .views-row div.views-field {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 290, ../sass/mail.scss */
.disclaimer {
  border: 3px solid #DDDDDD;
}
/* line 292, ../sass/mail.scss */
.disclaimer p {
  margin-bottom: 0px;
  font-size: 8pt;
  text-align: center;
}

/* line 299, ../sass/mail.scss */
.announcement {
  margin-top: -20px;
  position: relative;
}

/* line 304, ../sass/mail.scss */
.unsubscribe {
  font-size: 9pt;
  line-height: 1;
  margin-bottom: 10px;
  border: 3px solid rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
}
