/* line 1, ../sass/mail.scss */
body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

/* line 9, ../sass/mail.scss */
h1, h2, h3, h4, h5, h6, p, td {
  color: #222222;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
}

/* line 20, ../sass/mail.scss */
#date {
  display: none;
}

/* line 24, ../sass/mail.scss */
p {
  margin-bottom: 6px;
  font-size: 14px;
}
/* line 27, ../sass/mail.scss */
p.ics, p.orange-button {
  margin-top: 10px;
}
/* line 29, ../sass/mail.scss */
p.ics a, p.orange-button a {
  margin-top: 10px;
  width: 260px;
  background: #C47E28;
  border: 1px solid #915B19;
  padding: 5px 30px;
  color: white;
  text-decoration: none;
}
/* line 37, ../sass/mail.scss */
p.ics a:hover, p.orange-button a:hover {
  background: #E7942F !important;
}

/* line 44, ../sass/mail.scss */
.hide-ics p.ics {
  display: none;
}

/* line 48, ../sass/mail.scss */
a {
  font-weight: bold;
  color: #C47E28;
  text-decoration: none;
}
/* line 52, ../sass/mail.scss */
a:hover {
  color: #E7942F;
}

/* line 57, ../sass/mail.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #888a55;
}

/* line 63, ../sass/mail.scss */
h2 {
  font-size: 30px;
  font-weight: normal;
  color: #577785;
}

/* line 69, ../sass/mail.scss */
h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  color: #333333;
}

/* line 76, ../sass/mail.scss */
h4 {
  font-size: 18px;
  color: #8C1D18;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
}

/* line 84, ../sass/mail.scss */
h5 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

/* line 90, ../sass/mail.scss */
h6 {
  font-size: 20px;
}

/* line 94, ../sass/mail.scss */
table, tbody, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;
}
/* line 100, ../sass/mail.scss */
table.center, tbody.center, tr.center, td.center {
  background: white;
  width: 600px;
  margin: 0 auto;
}
/* line 105, ../sass/mail.scss */
table.header, table.footer, tbody.header, tbody.footer, tr.header, tr.footer, td.header, td.footer {
  width: 100%;
}
/* line 108, ../sass/mail.scss */
table.logos, tbody.logos, tr.logos, td.logos {
  background: transparent;
  height: 80px;
}
/* line 111, ../sass/mail.scss */
table.logos .capt-logo, tbody.logos .capt-logo, tr.logos .capt-logo, td.logos .capt-logo {
  width: 330px;
}
/* line 114, ../sass/mail.scss */
table.logos .samhsa-logo, tbody.logos .samhsa-logo, tr.logos .samhsa-logo, td.logos .samhsa-logo {
  width: 250px;
}
/* line 118, ../sass/mail.scss */
table.colorband, tbody.colorband, tr.colorband, td.colorband {
  width: 100%;
  height: 8px;
}
/* line 122, ../sass/mail.scss */
table.banner > tr > td > div, tbody.banner > tr > td > div, tr.banner > tr > td > div, td.banner > tr > td > div {
  margin-bottom: -1000px;
  margin-left: 30px;
  color: white;
  font-weight: bold;
}
/* line 128, ../sass/mail.scss */
table.mailing, tbody.mailing, tr.mailing, td.mailing {
  background: transparent;
  height: 100px;
}
/* line 131, ../sass/mail.scss */
table.mailing td, tbody.mailing td, tr.mailing td, td.mailing td {
  vertical-align: top;
  padding-top: 15px;
}
/* line 134, ../sass/mail.scss */
table.mailing td p, tbody.mailing td p, tr.mailing td p, td.mailing td p {
  text-align: center;
  font-size: 11px;
  margin-bottom: 5px;
}
/* line 141, ../sass/mail.scss */
table.section td, tbody.section td, tr.section td, td.section td {
  padding: 10px;
}
/* line 144, ../sass/mail.scss */
table.rule h4, tbody.rule h4, tr.rule h4, td.rule h4 {
  border-top: 1px solid #C8D9E0;
}
/* line 147, ../sass/mail.scss */
table.box, tbody.box, tr.box, td.box {
  width: 100%;
}
/* line 149, ../sass/mail.scss */
table.box.gray, tbody.box.gray, tr.box.gray, td.box.gray {
  background: #E3E4E0;
}
/* line 152, ../sass/mail.scss */
table.box.green, tbody.box.green, tr.box.green, td.box.green {
  background: #D8E2C8;
}
/* line 155, ../sass/mail.scss */
table.box.red, tbody.box.red, tr.box.red, td.box.red {
  background: #8C1D18;
}
/* line 157, ../sass/mail.scss */
table.box.red p, table.box.red h4, tbody.box.red p, tbody.box.red h4, tr.box.red p, tr.box.red h4, td.box.red p, td.box.red h4 {
  color: white !important;
}
/* line 161, ../sass/mail.scss */
table.box.yellow, tbody.box.yellow, tr.box.yellow, td.box.yellow {
  background: #F3E2B5;
}
/* line 164, ../sass/mail.scss */
table.box p, tbody.box p, tr.box p, td.box p {
  font-size: 12px;
}
/* line 167, ../sass/mail.scss */
table.box h4, tbody.box h4, tr.box h4, td.box h4 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  padding-top: 5px;
}
/* line 173, ../sass/mail.scss */
table.box.center p, table.box.center h4, tbody.box.center p, tbody.box.center h4, tr.box.center p, tr.box.center h4, td.box.center p, td.box.center h4 {
  text-align: center;
}

/* line 180, ../sass/mail.scss */
.views-row {
  clear: both;
  padding-top: 10px;
}
/* line 183, ../sass/mail.scss */
.views-row.views-row-first {
  padding-top: 0px;
}
/* line 186, ../sass/mail.scss */
.views-row img {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 120px;
}

/* line 196, ../sass/mail.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
  margin: 0px;
}
