/**
 * General Mobile Styles
 */
@media screen and (max-width: 1024px) {
  /* line 6, ../sass/mobile.scss */
  div#main {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 11, ../sass/mobile.scss */
  div#main div#navigation {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
  }
  /* line 15, ../sass/mobile.scss */
  div#main div#navigation div.region.region-navigation {
    margin-top: 20px;
  }
  /* line 17, ../sass/mobile.scss */
  div#main div#navigation div.region.region-navigation div.contextual-links-region {
    margin: 0px auto;
    width: 100%;
  }
  /* line 20, ../sass/mobile.scss */
  div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu {
    width: 96.75%;
    overflow: visible;
    margin: 0px auto;
    padding: 0px;
    /* hide admin*/
  }
  /* line 26, ../sass/mobile.scss */
  div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
  div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-589 {
    display: none;
  }
}
