/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/* line 6, ../sass/register-profile-phone.scss */
form#user-profile-form,
body.admin-menu,
body.not-logged-in.page-user-register:not(.node-type-event) {
  /* iphone 6 */
  /* declare variable */
  /*fieldset.field-group-fieldset {
    background-color: white;
    }*/
  /* user profile specific stuff! */
}
/* line 9, ../sass/register-profile-phone.scss */
form#user-profile-form div#block-block-3.block.block-block,
body.admin-menu div#block-block-3.block.block-block,
body.not-logged-in.page-user-register:not(.node-type-event) div#block-block-3.block.block-block {
  width: 85%;
  margin: 0px auto;
}
/* line 13, ../sass/register-profile-phone.scss */
form#user-profile-form div#edit-actions,
body.admin-menu div#edit-actions,
body.not-logged-in.page-user-register:not(.node-type-event) div#edit-actions {
  text-align: center;
}
/* line 17, ../sass/register-profile-phone.scss */
form#user-profile-form ul#main-menu.main-menu li.menu-item > a,
body.admin-menu ul#main-menu.main-menu li.menu-item > a,
body.not-logged-in.page-user-register:not(.node-type-event) ul#main-menu.main-menu li.menu-item > a {
  width: 150px;
}
/* line 21, ../sass/register-profile-phone.scss */
form#user-profile-form h1#page-title.page__title.title,
body.admin-menu h1#page-title.page__title.title,
body.not-logged-in.page-user-register:not(.node-type-event) h1#page-title.page__title.title {
  margin: 0px auto;
  text-align: center;
}
/* line 25, ../sass/register-profile-phone.scss */
form#user-profile-form div.bottom-footer div.disclaimer,
body.admin-menu div.bottom-footer div.disclaimer,
body.not-logged-in.page-user-register:not(.node-type-event) div.bottom-footer div.disclaimer {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}
/* line 31, ../sass/register-profile-phone.scss */
form#user-profile-form div#content,
body.admin-menu div#content,
body.not-logged-in.page-user-register:not(.node-type-event) div#content {
  width: 96.8%;
  margin: 0px auto;
  margin-top: 55px;
  /* different from iPad */
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  /* may only be for registration*/
  border-width: 0px;
}
/* line 41, ../sass/register-profile-phone.scss */
form#user-profile-form div#content ul.tabs-primary,
body.admin-menu div#content ul.tabs-primary,
body.not-logged-in.page-user-register:not(.node-type-event) div#content ul.tabs-primary {
  width: 97%;
  margin: 0px auto;
  margin-bottom: 20px;
}
/* line 48, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.group-demographic-information div.data-view div.button.edit-button,
body.admin-menu fieldset.group-demographic-information div.data-view div.button.edit-button,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.group-demographic-information div.data-view div.button.edit-button {
  top: 130px;
}
/* line 51, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.group-demographic-information div.save-button:first-child, form#user-profile-form fieldset.group-demographic-information div.cancel-button:nth-child(2),
body.admin-menu fieldset.group-demographic-information div.save-button:first-child,
body.admin-menu fieldset.group-demographic-information div.cancel-button:nth-child(2),
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.group-demographic-information div.save-button:first-child,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.group-demographic-information div.cancel-button:nth-child(2) {
  display: none;
}
/* line 55, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.fieldset-wrapper,
body.admin-menu fieldset div.fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper {
  border-width: 0px;
}
/* line 61, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item {
  width: 300px;
  margin: 0px;
}
/* line 64, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-field,
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-confirm,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-field,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-confirm,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-field,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input.form-text.password-confirm {
  width: 300px;
  float: left;
  clear: left;
  margin-bottom: 10px;
}
/* line 71, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.description,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.description,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.description {
  clear: left;
}
/* line 74, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-suggestions,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-suggestions,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-suggestions {
  width: 112%;
}
/* line 77, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input#edit-pass-pass2,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input#edit-pass-pass2,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item input#edit-pass-pass2 {
  margin-top: -20px;
}
/* line 82, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass1 label,
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass2 label,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass1 label,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass2 label,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass1 label,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.form-item-pass-pass2 label {
  clear: left;
  float: left;
}
/* line 87, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-parent,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-parent,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-parent {
  width: 85%;
}
/* line 90, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-strength,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-strength,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.form-type-password-confirm.form-item div.password-strength {
  width: 300px;
  float: left;
  /*background-color: yellow;*/
  margin-bottom: 20px;
}
/* line 97, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper input.form-text,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper input.form-text,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper input.form-text {
  width: 90%;
}
/* line 100, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.description,
body.admin-menu fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.description,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset.required-fields.group-account.field-group-fieldset.form-wrapper div.description {
  margin-right: 5px;
}
/* line 107, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset,
body.admin-menu fieldset,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset {
  padding-top: 0px;
  width: 85%;
  min-width: 0px;
  margin: 0px auto;
  margin-bottom: -20px;
  border: 1px solid #dbdbd9;
  border-top: 0px;
  background-color: white;
  margin-bottom: 16px;
  /* widths of all contents must be controlled */
  /* edit button */
}
/* line 117, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset:before,
body.admin-menu fieldset:before,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  left: -20px;
  top: -30px;
  margin-left: -1px;
  padding-left: 21px;
  padding-right: 21px;
}
/* line 130, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset .chosen-container,
body.admin-menu fieldset .chosen-container,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset .chosen-container {
  width: 100% !important;
}
/* line 134, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.field-type-entityreference,
form#user-profile-form fieldset label,
form#user-profile-form fieldset div.form-item.form-type-select,
form#user-profile-form fieldset input.text-full,
body.admin-menu fieldset div.field-type-entityreference,
body.admin-menu fieldset label,
body.admin-menu fieldset div.form-item.form-type-select,
body.admin-menu fieldset input.text-full,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.field-type-entityreference,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset label,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.form-item.form-type-select,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset input.text-full {
  width: 100%;
}
/* line 141, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset fieldset,
body.admin-menu fieldset fieldset,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset fieldset {
  display: none;
}
/* line 144, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.data-view, form#user-profile-form fieldset div.fieldset-wrapper,
body.admin-menu fieldset div.data-view,
body.admin-menu fieldset div.fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.data-view,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper {
  width: 100.7%;
  margin-top: 0px;
}
/* line 147, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.data-view .item, form#user-profile-form fieldset div.fieldset-wrapper .item,
body.admin-menu fieldset div.data-view .item,
body.admin-menu fieldset div.fieldset-wrapper .item,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.data-view .item,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper .item {
  margin-right: 16px;
}
/* line 152, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.data-view div.edit-button,
body.admin-menu fieldset div.data-view div.edit-button,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.data-view div.edit-button {
  position: relative;
  top: -24px;
  font-size: 18px;
}
/* line 158, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.fieldset-wrapper div.save-button, form#user-profile-form fieldset div.fieldset-wrapper div.cancel-button,
body.admin-menu fieldset div.fieldset-wrapper div.save-button,
body.admin-menu fieldset div.fieldset-wrapper div.cancel-button,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper div.save-button,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper div.cancel-button {
  font-size: 18px;
}
/* line 161, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.fieldset-wrapper div.save-button:first-child, form#user-profile-form fieldset div.fieldset-wrapper div.cancel-button:nth-child(2),
body.admin-menu fieldset div.fieldset-wrapper div.save-button:first-child,
body.admin-menu fieldset div.fieldset-wrapper div.cancel-button:nth-child(2),
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper div.save-button:first-child,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper div.cancel-button:nth-child(2) {
  top: -30px;
  position: relative;
}
/* line 167, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset legend span.fieldset-legend,
body.admin-menu fieldset legend span.fieldset-legend,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset legend span.fieldset-legend {
  margin-left: -300px;
  left: 283px;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
  left: 300px;
  display: block;
}
/* line 176, ../sass/register-profile-phone.scss */
form#user-profile-form fieldset div.fieldset-wrapper, form#user-profile-form fieldset div.data-view,
body.admin-menu fieldset div.fieldset-wrapper,
body.admin-menu fieldset div.data-view,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.fieldset-wrapper,
body.not-logged-in.page-user-register:not(.node-type-event) fieldset div.data-view {
  padding-top: 40px;
  margin-top: -3px;
  margin-bottom: 0px;
  z-index: 0;
}
/* line 183, ../sass/register-profile-phone.scss */
form#user-profile-form div#title-section,
body.admin-menu div#title-section,
body.not-logged-in.page-user-register:not(.node-type-event) div#title-section {
  margin-left: 6%;
  padding-left: 0px;
}
/* line 186, ../sass/register-profile-phone.scss */
form#user-profile-form div#title-section h1#page-title.page__title,
body.admin-menu div#title-section h1#page-title.page__title,
body.not-logged-in.page-user-register:not(.node-type-event) div#title-section h1#page-title.page__title {
  text-align: left;
  margin-left: 0px;
}
/* line 193, ../sass/register-profile-phone.scss */
form#user-profile-form form#user-profile-form fieldset,
body.admin-menu form#user-profile-form fieldset,
body.not-logged-in.page-user-register:not(.node-type-event) form#user-profile-form fieldset {
  background-color: #eef1f3;
}
/* line 195, ../sass/register-profile-phone.scss */
form#user-profile-form form#user-profile-form fieldset:before,
body.admin-menu form#user-profile-form fieldset:before,
body.not-logged-in.page-user-register:not(.node-type-event) form#user-profile-form fieldset:before {
  width: 100%;
  padding-left: 8px;
  padding-right: 9px;
  margin-left: 12px;
}
/* line 201, ../sass/register-profile-phone.scss */
form#user-profile-form form#user-profile-form fieldset div.data-view,
body.admin-menu form#user-profile-form fieldset div.data-view,
body.not-logged-in.page-user-register:not(.node-type-event) form#user-profile-form fieldset div.data-view {
  border-width: 0px;
}
/* line 207, ../sass/register-profile-phone.scss */
form#user-profile-form body.not-logged-in.page-user-register:not(.node-type-event) div#title-section,
body.admin-menu body.not-logged-in.page-user-register:not(.node-type-event) div#title-section,
body.not-logged-in.page-user-register:not(.node-type-event) body.not-logged-in.page-user-register:not(.node-type-event) div#title-section {
  margin-left: 0px;
}
/* line 209, ../sass/register-profile-phone.scss */
form#user-profile-form body.not-logged-in.page-user-register:not(.node-type-event) div#title-section h1#page-title.page__title,
body.admin-menu body.not-logged-in.page-user-register:not(.node-type-event) div#title-section h1#page-title.page__title,
body.not-logged-in.page-user-register:not(.node-type-event) body.not-logged-in.page-user-register:not(.node-type-event) div#title-section h1#page-title.page__title {
  margin: 0px auto;
  text-align: center;
}
