/**
* @file
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*
* When you turn on CSS aggregation at admin/config/development/performance, all
* of these @include files will be combined into a single file.
*/
/* HTML element (SMACSS base) rules */
@import url(normalize.css);
/* Layout rules */
@import url(layouts/responsive.css);
/* Component (SMACSS module) rules */
@import url(components/misc.css);
/* Optionally, add your own components here. */
@import url(print.css);
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*variables, yo!*/
/* mixins */
/* inherited classes */
/* panels */
/* line 71, ../sass/styles.scss */
.panel, .panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body, body.not-logged-in.page-user #block-block-8, body.not-logged-in.page-user #block-block-9, body.node-type-event div.group-dates,
body.node-type-event div.group-presenter,
body.node-type-event div.group-materials, form#event-node-form div.form-item.form-item-title, form#event-node-form div#edit-field-date-instance, div#edit-field-presenter, div#edit-field-contact-name, body.not-logged-in.page-user div#title-section, form#event-node-form div#edit-field-subtitle, form#event-node-form div#edit-field-category, form#event-node-form div#field-banner-text-add-more-wrapper, div#edit-field-related-material, div#edit-field-contact-email, div#edit-field-related-notifications, body.not-logged-in.page-user form#user-login {
  background-color: #eef1f3;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 0px;
}

/* line 77, ../sass/styles.scss */
.panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body, body.not-logged-in.page-user #block-block-8, body.not-logged-in.page-user #block-block-9, body.node-type-event div.group-dates,
body.node-type-event div.group-presenter,
body.node-type-event div.group-materials, form#event-node-form div.form-item.form-item-title, form#event-node-form div#edit-field-date-instance, div#edit-field-presenter, div#edit-field-contact-name, body.not-logged-in.page-user div#title-section {
  padding-top: 20px;
  border-top: 5px solid #577785;
}

/* line 82, ../sass/styles.scss */
.panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body, body.not-logged-in.page-user #block-block-8, body.not-logged-in.page-user #block-block-9, body.node-type-event div.group-dates,
body.node-type-event div.group-presenter,
body.node-type-event div.group-materials {
  margin-bottom: 20px;
  /* needs to be larger for dashboard panels */
}

/* line 88, ../sass/styles.scss */
.field-container fieldset, form#event-node-form div#edit-field-date-instance fieldset, div#edit-field-presenter fieldset, div#edit-field-related-material fieldset {
  border: 0px;
  padding-left: 0px;
}
/* line 92, ../sass/styles.scss */
.field-container legend, form#event-node-form div#edit-field-date-instance legend, div#edit-field-presenter legend, div#edit-field-related-material legend,
.field-container span.fieldset-legend,
form#event-node-form div#edit-field-date-instance span.fieldset-legend,
div#edit-field-presenter span.fieldset-legend,
div#edit-field-related-material span.fieldset-legend {
  font-weight: bold;
}
/* line 96, ../sass/styles.scss */
.field-container input.form-submit, form#event-node-form div#edit-field-date-instance input.form-submit, div#edit-field-presenter input.form-submit, div#edit-field-related-material input.form-submit {
  margin-top: 0px;
}

/* pager */
/* line 102, ../sass/styles.scss */
.pager-link, ul.pager li.pager-first a,
ul.pager li.pager-previous a, ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-repeat: no-repeat;
  color: #c3791f;
}

/* line 107, ../sass/styles.scss */
.pager-clip {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: 6px;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* from Hemali's primary styles */
/* line 118, ../sass/styles.scss */
body {
  /* changed font per the spec */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

/* eliminate blue links */
/* line 128, ../sass/styles.scss */
#page div.view-content a {
  color: #c3791f;
}

/* line 135, ../sass/styles.scss */
#page > header {
  position: relative;
  padding-bottom: 20px;
  background: #86a9b5;
}

/* line 140, ../sass/styles.scss */
.ds-2col-stacked-fluid > .group-left {
  margin-right: 1%;
  width: 49%;
}

/* from the Hemali's first and second style sheets */
/* these are the top nav form buttons. */
/* line 147, ../sass/styles.scss */
ul.main-menu {
  margin-top: 40px;
}

/* inherited class */
/* line 151, ../sass/styles.scss */
.button-reset, ul.main-menu a, input[type="submit"],
a.button {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
}

/* line 157, ../sass/styles.scss */
ul.main-menu a {
  color: #333333;
  background: #eef1f3;
  padding: 8px 20px 8px 20px;
}
/* line 162, ../sass/styles.scss */
ul.main-menu a:active {
  color: #8c1d18;
}

/* submit & other buttons*/
/* line 168, ../sass/styles.scss */
input[type="submit"],
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: #292929;
  padding: 8px 20px 8px 20px;
}

/*ul.main-menu a:hover, */
/* line 180, ../sass/styles.scss */
input[type="submit"]:hover,
a.button:hover {
  background: #595959;
  text-decoration: none;
}

/* line 185, ../sass/styles.scss */
ul.sub-menu {
  background: #292929;
}
/* line 187, ../sass/styles.scss */
ul.sub-menu li {
  white-space: nowrap;
  margin: 6px 0;
}

/* line 192, ../sass/styles.scss */
input[type="submit"] {
  margin-right: 1em;
  border: none;
  /*font-weight: bold;*/
  margin-top: 1em;
}

/* line 199, ../sass/styles.scss */
h1 {
  font-size: 3.25em;
  line-height: 1.25em;
}

/* line 203, ../sass/styles.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 209, ../sass/styles.scss */
h3 {
  font-size: 1.75em;
  font-style: italic;
}

/* line 213, ../sass/styles.scss */
h4 {
  font-size: 1.25em;
  margin-bottom: .5em;
}

/* line 217, ../sass/styles.scss */
h5 {
  font-size: 1em;
  margin-bottom: .5em;
}

/* FORMS */
/* general styles */
/* line 224, ../sass/styles.scss */
a {
  color: #c3791f;
}

/* line 227, ../sass/styles.scss */
a.button,
a.button:hover {
  background-color: #c3791f;
  color: white;
}

/* dashboard */
/* line 234, ../sass/styles.scss */
body.node-type-dashboard #page {
  height: 100%;
  /* changed from 1000px*/
}

/* the main panels */
/* line 244, ../sass/styles.scss */
.node-event .group-right .group-materials {
  background: #efeef5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  /*border: 3px solid #cdcdcd;*/
}

/* adopting h4:black for this one */
/* line 253, ../sass/styles.scss */
.node-dashboard h2.block-title {
  /* artifacts */
  margin-top: 0;
  margin-bottom: 0.5em;
  /* new */
  font-size: 24px;
  color: #333333;
}

/* dashboard lists */
/* line 265, ../sass/styles.scss */
li.views-row {
  margin-bottom: 1em;
  list-style-image: url("../images/icons/arrow-icons.png");
  margin-top: 0px;
}

/* line 270, ../sass/styles.scss */
div.view-content div.item-list {
  /* TODO: add variant for registered events */
}
/* line 271, ../sass/styles.scss */
div.view-content div.item-list h3 {
  margin-bottom: 0px;
}
/* line 275, ../sass/styles.scss */
div.view-content div.item-list ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 281, ../sass/styles.scss */
div.field-name-upcoming-events div.view-content {
  /* set to min-height to avoid breaking layout */
  min-height: 450px;
}
/* line 285, ../sass/styles.scss */
div.field-name-upcoming-events div.view-content div.item-list {
  border-bottom: 1px solid #d7d7d7;
}

/* pager */
/* keeps pager in the same position */
/* line 298, ../sass/styles.scss */
ul.pager {
  padding-top: 5px;
  height: 30px;
  text-align: right;
  text-overflow: visible;
  /* width: 106%;*/
  /* first & previous on left */
  /* next & last on right */
  /* no link within pager-current */
}
/* line 304, ../sass/styles.scss */
ul.pager a:hover {
  text-decoration: none;
}
/* line 308, ../sass/styles.scss */
ul.pager li.pager-ellipsis {
  padding: 0px;
}
/* line 311, ../sass/styles.scss */
ul.pager li.pager-item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background-color: #eef1f3;
  color: #c3791f;
  height: 30px;
  padding: 8px 0px 8px 0px;
  width: 50px;
}
/* line 318, ../sass/styles.scss */
ul.pager li.pager-item a {
  color: #c3791f;
  padding: 8px 10px;
}
/* line 325, ../sass/styles.scss */
ul.pager li.pager-last a {
  background-position: 33px 8px;
}
/* line 329, ../sass/styles.scss */
ul.pager li.pager-first,
ul.pager li.pager-previous {
  padding: 0px;
  margin: 0px 4px 0px 0px;
}
/* line 333, ../sass/styles.scss */
ul.pager li.pager-first a,
ul.pager li.pager-previous a {
  background-image: url("../images/icons/left-arrow.png");
  background-position: 0 8px;
  padding: 8px 0px 8px 20px;
}
/* line 341, ../sass/styles.scss */
ul.pager li.pager-next,
ul.pager li.pager-last {
  padding: 0px;
  margin: 0px 0px 0px 4px;
}
/* line 345, ../sass/styles.scss */
ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow.png");
  background-position: 35px 8px;
  padding: 8px 24px 8px 0px;
}
/* line 353, ../sass/styles.scss */
ul.pager li.pager-last a {
  background-position: 34px 8px;
}
/* line 357, ../sass/styles.scss */
ul.pager li.pager-item,
ul.pager li.pager-current {
  margin-left: 3px;
  margin-right: 3px;
}
/* line 365, ../sass/styles.scss */
ul.pager div.ajax-progress {
  float: right;
  display: inline;
  top: 20px;
  left: center;
  position: relative;
  margin-left: -20px;
}
/* line 375, ../sass/styles.scss */
ul.pager li.pager-current {
  background-color: #c3791f;
  height: 30px;
  padding: 8px 10px 8px 10px;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: #eef1f3;
}

/* end pager styles */
/* line 387, ../sass/styles.scss */
.view-presenters .views-field-field-presenter-image {
  float: left;
  margin: 0 1em 0.5em 0;
}
/* line 391, ../sass/styles.scss */
.view-presenters .views-row:not(last-child) {
  margin-bottom: 2em;
}

/* line 395, ../sass/styles.scss */
.field-group-fieldset,
.view-presenters .views-row {
  clear: both;
}

/* line 399, ../sass/styles.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 403, ../sass/styles.scss */
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 408, ../sass/styles.scss */
a:hover {
  text-decoration: underline;
}

/* line 412, ../sass/styles.scss */
.tabs-primary__tab a {
  color: #333;
}
/* line 414, ../sass/styles.scss */
.tabs-primary__tab a:visited {
  color: #333;
}

/* line 418, ../sass/styles.scss */
table {
  width: 100%;
}
/* line 420, ../sass/styles.scss */
table thead th {
  text-align: left;
}

/* line 424, ../sass/styles.scss */
.admin-only {
  background: #c7ff86;
  float: right;
  width: 150px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* line 432, ../sass/styles.scss */
.view-registrations table {
  margin-bottom: 50px;
}
/* line 434, ../sass/styles.scss */
.view-registrations table caption {
  font-size: 1.5em;
  margin: .2em 0;
}

/* end forms */
/* line 441, ../sass/styles.scss */
body {
  background: url("../images/design-elements/wrapper-background.png");
}

/*
* to do: add background-image to top and bottom headers. 
*/
/* line 448, ../sass/styles.scss */
.top-header {
  width: 100%;
  /*border-bottom: 5px solid black;*/
  height: 30px;
}

/* line 454, ../sass/styles.scss */
.bottom-footer {
  width: 100%;
  /*border-top: 5px solid black;*/
  height: 100px;
}

/* line 460, ../sass/styles.scss */
.top-header-container,
.bottom-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* line 466, ../sass/styles.scss */
.capt-logo {
  float: left;
}

/* line 469, ../sass/styles.scss */
.samhsa-logo {
  float: right;
}

/* line 472, ../sass/styles.scss */
.disclaimer {
  width: 600px;
}

/* treating this as the container for now */
/* line 477, ../sass/styles.scss */
#main {
  width: 1000px;
  margin-left: 12px;
  margin-right: 14px;
}

/* page */
/* line 484, ../sass/styles.scss */
#page {
  background: #FFF;
  padding-bottom: 2em;
  clear: both;
  /* from the spec */
  width: 1000px;
}

/* line 492, ../sass/styles.scss */
.header__name-and-slogan {
  float: none;
  clear: both;
}

/* line 496, ../sass/styles.scss */
.region-header {
  float: right;
}
/* line 498, ../sass/styles.scss */
.region-header div, .region-header form {
  display: inline;
}

/* line 502, ../sass/styles.scss */
.group-dates,
.group-event,
.group-presenter,
.group-materials,
.field-name-add-a-date + .field,
.field-name-add-a-presenter + .field {
  clear: both;
}

/* line 510, ../sass/styles.scss */
.view-instances.view-display-id-registration > .view-content > .views-row div {
  display: inline;
}

/* line 515, ../sass/styles.scss */
.ds-2col > .group-left {
  float: left;
  width: auto;
  margin-right: 280px;
}
/* line 520, ../sass/styles.scss */
.ds-2col > .group-right {
  float: left;
  width: 240px;
  margin-left: -260px;
}

/* line 528, ../sass/styles.scss */
body.logged-in .node-type-event #title-section {
  width: auto;
  margin-right: 280px;
  float: left;
}

/* line 533, ../sass/styles.scss */
.region-help #block-block-1 {
  text-align: center;
  float: right;
  margin-left: -260px;
  width: 240px;
  padding-right: 10px;
  margin-top: 1em;
}

/*
 *  Viewing a Registered Event
 */
/* view registration and edit notification buttons */
/* line 550, ../sass/styles.scss */
div#block-block-1.contextual-links-region a.button {
  width: 116px;
  display: block;
  float: right;
  margin-bottom: 14px;
}

/* make links orange */
/* line 558, ../sass/styles.scss */
a.flag-action,
div.view-materials a,
a.unflag-action {
  color: #c3791f;
}

/* banners */
/* line 566, ../sass/styles.scss */
.view-event-banner .views-row {
  font-size: 3em;
  font-weight: bold;
}

/* line 571, ../sass/styles.scss */
.vertical-tabs {
  clear: both;
}

/* form stuff */
/* line 577, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-entityreference.field-widget-inline-entity-form-single {
  float: left;
  width: 56%;
  padding-right: 1%;
  clear: both;
}
/* line 583, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-markup {
  float: left;
  width: 43%;
}
/* line 586, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-markup .views-field-field-email-body > div > div > table {
  margin: 0 1.5% !important;
  transform: scale(0.75);
  transform-origin: 0 0;
  -moz-transform: scale(0.75);
  -moz-transform-origin: top left;
}
/* line 594, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-entityreference.field-widget-inline-entity-form-single .cke_top {
  display: none;
}

/* line 598, ../sass/styles.scss */
.role-event-creator .text-format-wrapper .filter-wrapper {
  display: none;
}

/* line 601, ../sass/styles.scss */
.rules-debug-log,
.tabs-primary {
  clear: both;
}

/* new styles */
/* not used yet */
/* line 608, ../sass/styles.scss */
.back-to-top {
  color: #333333;
}

/* line 611, ../sass/styles.scss */
.content-container {
  width: 970px;
  margin-left: 15px;
  margin-right: 15px;
}

/* not used yet */
/* line 618, ../sass/styles.scss */
h4.black {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 9px;
}

/* panels */
/* line 627, ../sass/styles.scss */
.field-name-my-registered-events {
  background: url("../images/icons/registered-events.png") 396px 10px no-repeat;
}

/* line 630, ../sass/styles.scss */
.field-name-my-archived-events,
.field-name-my-registered-events {
  /* fixed height? */
  /*overflow: hidden; /* needed? */
  overflow: none;
  min-height: 245px;
  /* debold the title */
  /* blacken the links */
  /* format list of events */
  /* cancel registration link */
  /* pager logic */
}
/* line 637, ../sass/styles.scss */
.field-name-my-archived-events div.field-items,
.field-name-my-registered-events div.field-items {
  margin-left: 20px;
}
/* line 640, ../sass/styles.scss */
.field-name-my-archived-events .view-dashboard,
.field-name-my-registered-events .view-dashboard {
  border-bottom: 1px solid #d7d7d7;
}
/* line 643, ../sass/styles.scss */
.field-name-my-archived-events li.views-row,
.field-name-my-registered-events li.views-row {
  /* height: 20px;*/
}
/* line 647, ../sass/styles.scss */
.field-name-my-archived-events h2.block-title,
.field-name-my-registered-events h2.block-title {
  font-weight: normal;
  margin-bottom: -10px;
}
/* line 652, ../sass/styles.scss */
.field-name-my-archived-events h3 a,
.field-name-my-registered-events h3 a {
  font-style: normal;
  font-size: 14px;
  color: black;
}
/* line 658, ../sass/styles.scss */
.field-name-my-archived-events .view-content .item-list ul,
.field-name-my-registered-events .view-content .item-list ul {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 664, ../sass/styles.scss */
.field-name-my-archived-events a.unflag-action,
.field-name-my-registered-events a.unflag-action {
  font-weight: normal;
  color: black;
  text-decoration: underline;
  display: block;
  margin-bottom: -12px;
}
/* line 671, ../sass/styles.scss */
.field-name-my-archived-events div.item-list,
.field-name-my-registered-events div.item-list {
  border-width: 0px;
}
/* line 675, ../sass/styles.scss */
.field-name-my-archived-events ul.pager,
.field-name-my-registered-events ul.pager {
  margin-bottom: 10px;
}
/* line 677, ../sass/styles.scss */
.field-name-my-archived-events ul.pager li.pager-item,
.field-name-my-registered-events ul.pager li.pager-item {
  border: 1px solid #577785;
}
/* line 680, ../sass/styles.scss */
.field-name-my-archived-events ul.pager li.pager-current,
.field-name-my-registered-events ul.pager li.pager-current {
  background-color: #577785;
}
/* line 685, ../sass/styles.scss */
.field-name-my-archived-events ul.pager li.pager-next a,
.field-name-my-archived-events ul.pager li.pager-last a,
.field-name-my-registered-events ul.pager li.pager-next a,
.field-name-my-registered-events ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow-aqua.png");
}
/* line 692, ../sass/styles.scss */
.field-name-my-archived-events ul.pager li.pager-previous a,
.field-name-my-archived-events ul.pager li.pager-first a,
.field-name-my-registered-events ul.pager li.pager-previous a,
.field-name-my-registered-events ul.pager li.pager-first a {
  background-image: url("../images/icons/left-arrow-aqua.png");
}
/* line 703, ../sass/styles.scss */
.field-name-my-archived-events ul.pager li.pager-item a,
.field-name-my-archived-events ul.pager li.pager-current a,
.field-name-my-archived-events ul.pager li.pager-previous a,
.field-name-my-archived-events ul.pager li.pager-last a,
.field-name-my-archived-events ul.pager li.pager-first a,
.field-name-my-archived-events ul.pager li.pager-next a,
.field-name-my-registered-events ul.pager li.pager-item a,
.field-name-my-registered-events ul.pager li.pager-current a,
.field-name-my-registered-events ul.pager li.pager-previous a,
.field-name-my-registered-events ul.pager li.pager-last a,
.field-name-my-registered-events ul.pager li.pager-first a,
.field-name-my-registered-events ul.pager li.pager-next a {
  color: #577785;
}

/* line 711, ../sass/styles.scss */
.field-name-my-archived-events {
  padding-bottom: 20px;
  background: url("../images/icons/archived-events.png") 396px 10px no-repeat;
}
/* line 714, ../sass/styles.scss */
.field-name-my-archived-events .view-dashboard {
  height: 170px;
}
/* line 717, ../sass/styles.scss */
.field-name-my-archived-events h2.block-title {
  font-weight: normal;
}
/* line 720, ../sass/styles.scss */
.field-name-my-archived-events div.view-empty {
  margin-top: 30px;
}

/* line 727, ../sass/styles.scss */
.field-name-my-archived-events .view-dashboard,
.field-name-my-registered-events .view-dashboard {
  /*border-top: 1px solid $capt-midgrey;*/
}

/* upcoming events panel  */
/* line 734, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds {
  background-color: white;
  /* from specs */
}
/* line 738, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h2.block-title {
  font-weight: normal;
  /* best way to do it?*/
  display: none;
}
/* line 744, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3 {
  font-style: normal;
  font-size: 16px;
}
/* line 747, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3 a {
  color: black;
}

/* 
*  Events Page
*/
/* title of events page; font size & position may need to be fine-tuned */
/* line 757, ../sass/styles.scss */
h1#page-title {
  font-weight: normal;
}

/* line 761, ../sass/styles.scss */
body.logged-in h1#page-title {
  background: url("../images/icons/create-event.png") 0 0 no-repeat;
  padding-left: 70px;
  /* variable? deviate from spec and reduce? */
  padding-top: 7px;
  color: #8c1d18;
  min-height: 44px;
  font-size: 26pt;
  /* from h2 in the specs */
  margin-top: 55px;
  margin-bottom: 35px;
}

/*logos above header - move up to general area? */
/* line 778, ../sass/styles.scss */
div.top-header {
  background-image: url("../images/design-elements/rainbow-divider.png");
  background-position: -124px 90px;
  background-repeat: repeat-x;
    /*background-image: url('../images/design-elements/rainbow-divider.png');
background-position: -124px $header-height - $rainbow-height;
background-repeat: repeat-x;*/
  height: 100px;
}

/*
*  Logos
*/
/* line 790, ../sass/styles.scss */
div.top-header-container {
  height: 100px;
  width: 1000px;
  /* logos */
}
/* line 795, ../sass/styles.scss */
div.top-header-container div.capt-logo {
  background: url("../images/logos/CAPT-logo.png") 0 0 no-repeat;
  width: 340px;
  margin-left: 16px;
  margin-bottom: 0px;
  top: 32px;
}
/* line 802, ../sass/styles.scss */
div.top-header-container div.samhsa-logo {
  background: url("../images/logos/SAMHSA-logo.png") 0 0 no-repeat;
  width: 295px;
  background-size: 295px 73px;
  margin-right: 16px;
  top: 6px;
}
/* line 809, ../sass/styles.scss */
div.top-header-container div.capt-logo,
div.top-header-container div.samhsa-logo {
  height: 100px;
  position: relative;
}

/* Welcome line near search box on dashboard*/
/* line 817, ../sass/styles.scss */
div#block-block-7 {
  color: white;
}
/* line 819, ../sass/styles.scss */
div#block-block-7 a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

/*
 *  Sitewide styles 
 */
/* search */
/* line 830, ../sass/styles.scss */
input#edit-search-block-form--2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  margin-left: 16px;
  height: 22px;
  width: 170px;
  font-weight: normal;
  background: url("../images/icons/hand-lens.png") 150px 4px no-repeat;
  background-color: white;
}

/* line 840, ../sass/styles.scss */
input#edit-submit {
  border: 1px solid white;
  background-color: transparent;
  height: 24px;
  padding: 4px;
  width: 70px;
  margin-left: 8px;
}

/* 
*  Banners
*/
/* Event Dashboard banner */
/* line 853, ../sass/styles.scss */
header#header {
  height: 191px;
  background: url("../images/banners/event-dashboard.png") 0 0 no-repeat;
}

/* 
*  Navigation
*/
/* line 861, ../sass/styles.scss */
#block-responsive-dropdown-menus-main-menu {
  margin-left: -10px;
  /*border-bottom: 1px solid $capt-midgrey;*/
  height: 27px;
  width: 970px;
  padding-left: 0px;
}

/* line 869, ../sass/styles.scss */
ul#main-menu.main-menu > li.menu-item > a.active {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* line 872, ../sass/styles.scss */
ul#main-menu.main-menu {
  border-bottom: 1px solid #d7d7d7;
  width: 970px;
  margin-left: 2px;
  height: 27px;
  /* submenu active */
}
/* line 877, ../sass/styles.scss */
ul#main-menu.main-menu li.menu-item > a {
  text-transform: uppercase;
  background-color: #d7d7d7;
}
/* line 883, ../sass/styles.scss */
ul#main-menu.main-menu li.menu-item > a.active {
  background-color: white;
  color: #8c1d18;
}

/* dropdown */
/* line 891, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two {
  width: 194px;
  padding: 0px;
  margin-top: 3px;
}
/* line 895, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li {
  width: 194px;
  padding: 0px;
  margin: 0px;
  height: 32px;
  background-color: #959595;
  display: block;
}
/* line 902, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li a {
  width: 184px;
  border: 1px solid #959595;
  display: block;
  margin: 0px;
  height: 28px;
  padding: 4px 0 0 0;
  padding-left: 20px;
}
/* line 911, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li a.active {
  background-color: white;
}
/* line 914, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li li#menu-item-1187.menu-item.last a {
  height: 34px;
  background-color: orange;
}

/* hiding text in key areas! */
/* line 922, ../sass/styles.scss */
div.view-event-banner div.field-content,
h1#site-name,
div.samhsa-logo,
div.capt-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 930, ../sass/styles.scss */
ul#main-menu.main-menu {
  margin-top: 20px;
}

/* footer */
/* line 935, ../sass/styles.scss */
div.bottom-footer {
  background-image: url("../images/design-elements/rainbow-divider.png");
  background-position: -124px 0px;
  background-repeat: repeat-x;
}
/* line 937, ../sass/styles.scss */
div.bottom-footer div.disclaimer {
  margin-left: 100px;
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 12px;
  width: 390px;
}

/* 
 *  End Sitewide Styles
 */
/*
 *  Start Event Dashboard 
 */
/* event dashboard content */
/* which styles will be specific to dashboard? */
/* line 959, ../sass/styles.scss */
div#content {
  border: 1px solid #d7d7d7;
  width: 970px;
  /* set to min height to avoid breaking layout */
  min-height: 817px;
  padding-right: 15px;
  margin-left: 2px;
  margin-right: 5px;
  z-index: 10px;
  top: 8px;
  position: relative;
  border-top: 1px solid white;
}

/* my profile page; we need the "you are here" style too" */
/* line 975, ../sass/styles.scss */
body.admin-menu div#content {
  /*height: 1750px;*/
  /* currently too general. if height is needed, make it specific to profile page. */
}
/* line 978, ../sass/styles.scss */
body.admin-menu div#content input#edit-submit {
  background-color: #c3791f;
}

/* line 984, ../sass/styles.scss */
body.page-user-edit div#content {
  height: 2200px;
}
/* line 989, ../sass/styles.scss */
body.page-user-edit ul#main-menu.main-menu li#menu-item-591 a {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* line 997, ../sass/styles.scss */
body.admin-menu.section-administration li#menu-item-1185.menu-item.active-trail.menu-parent.last > a {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* form elements for create event */
/* line 1003, ../sass/styles.scss */
form#event-node-form {
  /* form panels */
  /* title */
  /* audience */
}
/* line 1004, ../sass/styles.scss */
form#event-node-form div.fieldset-wrapper, form#event-node-form div#field-subtitle-add-more-wrapper {
  /* @extend .panel;*/
}
/* line 1010, ../sass/styles.scss */
form#event-node-form div.form-item.form-item-title {
  margin-bottom: 0px;
}
/* line 1014, ../sass/styles.scss */
form#event-node-form div#edit-field-subtitle.form-field-type-text {
  margin-top: 0px;
}
/* line 1017, ../sass/styles.scss */
form#event-node-form div#field-subtitle-add-more-wrapper {
  margin-top: 0px;
  /*.form-item.form-type-textfield.form-item-field-subtitle-und-0-value {
margin-top: 0px; // remove to add more space betw title and subtitle
}*/
}
/* line 1024, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 1029, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance div#edit-field-date-instance-und-actions {
  padding-top: 0px;
}
/* line 1032, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance fieldset#edit-field-date-instance-und {
  padding-left: 0px;
}
/* line 1036, ../sass/styles.scss */
form#event-node-form div#edit-field-subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 1043, ../sass/styles.scss */
form#event-node-form div#edit-field-type-event.form-wrapper {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
/* line 1049, ../sass/styles.scss */
form#event-node-form div#edit-field-category {
  margin-top: -20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 1055, ../sass/styles.scss */
form#event-node-form div#field-banner-text-add-more-wrapper {
  margin-top: -20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 1061, ../sass/styles.scss */
form#event-node-form div.form-field-name-field-date-instance {
  margin-bottom: 20px;
}
/* line 1066, ../sass/styles.scss */
form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body {
  padding-top: 0px;
  padding-bottom: 10px;
}
/* line 1071, ../sass/styles.scss */
form#event-node-form div#edit-field-audience label,
form#event-node-form div#edit-field-body label {
  margin-top: -10px;
}
/* line 1074, ../sass/styles.scss */
form#event-node-form div#edit-field-audience div.form-textarea-wrapper,
form#event-node-form div#edit-field-body div.form-textarea-wrapper {
  margin-bottom: 20px;
}
/* line 1077, ../sass/styles.scss */
form#event-node-form div#edit-field-audience div.grippie,
form#event-node-form div#edit-field-body div.grippie {
  background-color: #d7d7d7;
}
/* line 1081, ../sass/styles.scss */
form#event-node-form input.form-submit {
  background-color: #c3791f;
}

/* line 1088, ../sass/styles.scss */
div#edit-field-presenter span.fieldset-legend {
  margin-top: -30px;
  text-transform: uppercase;
  color: #577785;
}

/* line 1094, ../sass/styles.scss */
div#edit-field-related-material {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* line 1101, ../sass/styles.scss */
div#edit-field-contact-name {
  padding-top: 0px;
  margin-bottom: 0px;
}

/* line 1106, ../sass/styles.scss */
div#edit-field-contact-email {
  margin-top: -20px;
  padding-top: 5px;
}

/* line 1111, ../sass/styles.scss */
div#edit-field-related-notifications {
  margin-top: -20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* save */
/* line 1120, ../sass/styles.scss */
form#event-node-form input.form-submit {
  padding: 6px;
  height: 36px;
}

/* end create event form */
/* overall page heights */
/* line 1128, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add {
  /* needed so that save button has space above border */
}
/* line 1129, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add #page {
  height: 95%;
}
/* line 1134, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add div#content {
  height: 100%;
  padding-bottom: 20px;
}

/* 
 *  Editing an event
 */
/* line 1149, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance input.form-submit,
form#event-node-form div#edit-field-presenter input.form-submit,
form#event-node-form div#edit-field-related-material input.form-submit {
  padding: 0px 10px;
  margin: 5px 13px 5px 0px;
  height: 30px;
  margin-top: 5px;
}
/* line 1155, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance a,
form#event-node-form div#edit-field-presenter a,
form#event-node-form div#edit-field-related-material a {
  color: #c3791f;
}

/* 
 *  Start Login Page
 */
/* anonymous user / login screen */
/* line 1166, ../sass/styles.scss */
body.not-logged-in.page-user {
  /* RIGHT */
}
/* line 1167, ../sass/styles.scss */
body.not-logged-in.page-user #page {
  height: 1010px;
}
/* line 1170, ../sass/styles.scss */
body.not-logged-in.page-user header#header {
  height: 417px;
  background: url("../images/banners/login.png") 0 0 no-repeat;
  margin-top: -2px;
}
/* line 1175, ../sass/styles.scss */
body.not-logged-in.page-user h1#page-title {
  background-image: none;
  font-size: 24pt;
  color: #577785;
  margin-left: 16px;
}
/* line 1181, ../sass/styles.scss */
body.not-logged-in.page-user div#content {
  border: 0px solid white;
}
/* line 1184, ../sass/styles.scss */
body.not-logged-in.page-user div#title-section {
  margin-bottom: 0px;
}
/* line 1190, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login, body.not-logged-in.page-user div#title-section {
  margin-left: 50px;
  width: 350px;
}
/* line 1194, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login {
  height: 322px;
  margin-top: -20px;
  padding-top: 10px;
  float: left;
  padding-bottom: 0px;
}
/* line 1202, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login input#edit-submit {
  background-color: #c3791f;
  padding: 10px 10px;
  height: 40px;
  border: 0px solid transparent;
  margin-left: 16px;
  position: relative;
  top: 60px;
}
/* line 1211, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login div.description {
  display: none;
}
/* line 1214, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login div.form-item-name {
  margin-bottom: 10px;
}
/* line 1217, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login input#edit-name {
  margin-bottom: 0px;
}
/* line 1220, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login input#edit-name, body.not-logged-in.page-user form#user-login input#edit-pass {
  font-size: 1.6em;
  margin: 5px 16px;
  width: 90%;
  margin-top: 0px;
}
/* line 1226, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login div.form-item-pass {
  margin-top: 0px;
}
/* line 1229, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login label {
  font-weight: normal;
  color: #577785;
  margin-left: 16px;
  margin-bottom: 0px;
}
/* line 1235, ../sass/styles.scss */
body.not-logged-in.page-user form#user-login div.description {
  margin-left: 16px;
}
/* line 1240, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-8 {
  margin-top: -64px;
}
/* line 1244, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-8 a {
  color: #c3791f;
  font-size: 20px;
  background: url("../images/icons/right-arrow.png") 106px 5px no-repeat;
  font-weight: normal;
  width: 150px;
  display: block;
  margin-left: 26px;
}
/* line 1256, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9 {
  height: 207px;
}
/* line 1259, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9 ul {
  margin-left: 14px;
}
/* line 1261, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9 ul li {
  list-style-image: url("../images/icons/arrow-icons.png");
  font-size: 16px;
  font-weight: normal;
}
/* line 1267, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9 a {
  color: black;
  font-weight: normal;
}
/* line 1273, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9, body.not-logged-in.page-user #block-block-8 {
  margin-right: 50px;
  width: 390px;
  float: right;
}
/* line 1278, ../sass/styles.scss */
body.not-logged-in.page-user #block-block-9 h2, body.not-logged-in.page-user #block-block-8 h2 {
  font-weight: normal;
  color: #577785;
  margin-left: 28px;
}

/* line 1290, ../sass/styles.scss */
body.logged-in.node-type-event div#title-section h3 {
  margin-bottom: -100px;
}

/* anonymous user pages */
/* line 1295, ../sass/styles.scss */
body.node-type-event {
  /* panels */
  /* may be a stopgap measure */
}
/* line 1296, ../sass/styles.scss */
body.node-type-event h1, body.node-type-event h2 {
  color: #577785;
  font-weight: normal;
}
/* line 1300, ../sass/styles.scss */
body.node-type-event h3 {
  color: #333333;
  margin-bottom: 10px;
}
/* line 1304, ../sass/styles.scss */
body.node-type-event h5 {
  margin-top: 4px;
}
/* line 1307, ../sass/styles.scss */
body.node-type-event h1, body.node-type-event h2, body.node-type-event h3 {
  margin-left: 10px;
}
/* line 1310, ../sass/styles.scss */
body.node-type-event div#content {
  border-top: 1px solid #d7d7d7;
  padding-top: 20px;
}
/* line 1314, ../sass/styles.scss */
body.node-type-event div.group-left {
  display: block;
}
/* line 1319, ../sass/styles.scss */
body.node-type-event .region-help #block-block-1 {
  top: -140px;
  margin-top: 0px;
  padding-right: 0px;
}
/* line 1324, ../sass/styles.scss */
body.node-type-event .region-help #block-block-1 a.button {
  margin-left: 20px;
  margin-right: 0px;
}
/* line 1330, ../sass/styles.scss */
body.node-type-event div.group-left, body.node-type-event div.group-right {
  overflow: hidden;
}
/* line 1333, ../sass/styles.scss */
body.node-type-event div.group-dates,
body.node-type-event div.group-presenter,
body.node-type-event div.group-materials {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  padding: 10px 16px 16px 16px;
  width: 900px;
  margin-left: 10px;
}
/* line 1342, ../sass/styles.scss */
body.node-type-event div.group-dates h4,
body.node-type-event div.group-presenter h4,
body.node-type-event div.group-materials h4 {
  margin-top: 0px;
}
/* line 1349, ../sass/styles.scss */
body.node-type-event h2.element-invisible {
  display: none;
}
/* line 1353, ../sass/styles.scss */
body.node-type-event .ds-2col > .group-right {
  float: left;
  width: 300px;
  margin: 0px;
  overflow: visible;
  display: block;
  clear: both;
}
/* line 1363, ../sass/styles.scss */
body.node-type-event div#block-block-11 {
  position: relative;
  top: -242px;
  height: 0px;
  margin: 0px 0px 0px -10px;
  z-index: 20;
}
/* line 1370, ../sass/styles.scss */
body.node-type-event div#block-block-11 p {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0px;
}
/* line 1375, ../sass/styles.scss */
body.node-type-event div#block-block-11 p a.anonymous_home {
  background-color: #c3791f;
  font-size: 16px;
  color: white;
  width: 100px;
  padding: 3px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  height: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  /*  color: $capt-aqua;*/
}
/* line 1388, ../sass/styles.scss */
body.node-type-event div#block-block-11 p a.anonymous_home:hover {
  text-decoration: none;
}

/* 
 *  Event Report
 */
/* line 1406, ../sass/styles.scss */
body.page-administration-event-report table.views-table tbody {
  border: 1px solid #d7d7d7;
}
/* line 1411, ../sass/styles.scss */
body.page-administration-event-report table.views-table tr th {
  padding-right: 10px;
}
/* line 1414, ../sass/styles.scss */
body.page-administration-event-report table.views-table tr td:first-child {
  padding-left: 10px;
  width: 230px;
}
/* line 1418, ../sass/styles.scss */
body.page-administration-event-report table.views-table tr td {
  padding-right: 10px;
}
/* line 1421, ../sass/styles.scss */
body.page-administration-event-report table.views-table tr td:nth-child(n+5) {
  text-align: center;
}

/* 
 *  Responsive theming!
 */
/* to do: 
swap in new banner 
add in show/ hide icons

*/
@media screen and (min-width: 0px) and (max-width: 667px) {
  /* prototype class */
  /* line 1443, ../sass/styles.scss */
  .reset-layout, body.not-logged-in.page-user div#page, #main, div.bottom-footer,
  div.bottom-footer-container,
  div.disclaimer {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* line 1453, ../sass/styles.scss */
  html, body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
  }

  /* line 1458, ../sass/styles.scss */
  body.not-logged-in.page-user {
    height: 100%;
  }
  /* line 1460, ../sass/styles.scss */
  body.not-logged-in.page-user div#page {
    height: 700px;
    display: inline-block;
    margin-bottom: 0px;
  }

  /* line 1475, ../sass/styles.scss */
  body.not-logged-in.page-user header#header {
    height: 89px;
    background: url("../images/banners/login-phone.png") 0 0 no-repeat;
  }
  /* line 1480, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login,
  body.not-logged-in.page-user div#title-section,
  body.not-logged-in.page-user div#block-block-8,
  body.not-logged-in.page-user div#block-block-9 {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    margin: 0px auto;
    float: none;
    margin: 0px auto;
    width: 85%;
    display: block;
  }
  /* line 1491, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login h2,
  body.not-logged-in.page-user div#title-section h2,
  body.not-logged-in.page-user div#block-block-8 h2,
  body.not-logged-in.page-user div#block-block-9 h2 {
    margin-left: 0px;
  }
  /* line 1496, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login h1,
  body.not-logged-in.page-user div#title-section h1,
  body.not-logged-in.page-user div#block-block-8 h1,
  body.not-logged-in.page-user div#block-block-9 h1 {
    margin-left: -4px;
  }
  /* line 1499, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login h1, body.not-logged-in.page-user form#user-login h2,
  body.not-logged-in.page-user div#title-section h1,
  body.not-logged-in.page-user div#title-section h2,
  body.not-logged-in.page-user div#block-block-8 h1,
  body.not-logged-in.page-user div#block-block-8 h2,
  body.not-logged-in.page-user div#block-block-9 h1,
  body.not-logged-in.page-user div#block-block-9 h2 {
    font-size: 22px;
    padding-left: 20px;
    cursor: pointer;
    background: url("../images/icons/hide.png") 0px 8px no-repeat;
  }
  /* line 1509, ../sass/styles.scss */
  body.not-logged-in.page-user div#block-block-9 {
    height: 140px;
  }
  /* line 1514, ../sass/styles.scss */
  body.not-logged-in.page-user div#block-block-8,
  body.not-logged-in.page-user div#block-block-9 {
    border: 1px solid #d7d7d7;
  }
  /* line 1518, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login {
    height: 230px;
  }
  /* line 1520, ../sass/styles.scss */
  body.not-logged-in.page-user form#user-login input#edit-submit {
    margin-top: 0px;
    top: 0px;
  }

  /* line 1529, ../sass/styles.scss */
  div#content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    /* border: 1px dotted orange;*/
  }

  /* line 1537, ../sass/styles.scss */
  body {
    width: 100%;
    /* border: 1px solid black;*/
    height: 100%;
  }

  /* line 1544, ../sass/styles.scss */
  div.bottom-footer {
    /*border: 1px solid green;*/
    width: 100%;
  }
  /* line 1551, ../sass/styles.scss */
  div.bottom-footer div.bottom-footer-container {
    /* border: 1px solid blue;*/
    width: 100%;
  }
  /* line 1555, ../sass/styles.scss */
  div.bottom-footer div.bottom-footer-container div.disclaimer {
    width: 80%;
    margin: 0px auto;
  }

  /* line 1563, ../sass/styles.scss */
  div.bottom-footer,
  div.bottom-footer-container,
  div.disclaimer {
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0px;
  }
}
