/**
* @file
* Styles are organized using the SMACSS technique. @see http://smacss.com/book/
*
* When you turn on CSS aggregation at admin/config/development/performance, all
* of these @include files will be combined into a single file.
*/
/* HTML element (SMACSS base) rules */
@import url(normalize.css);
/* Layout rules */
@import url(layouts/responsive.css);
/* Component (SMACSS module) rules */
@import url(components/misc.css);
/* Optionally, add your own components here. */
@import url(print.css);
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*variables, yo!*/
/* mixins */
/* inherited classes */
/* panels */
/* line 71, ../sass/styles.scss */
.panel, .panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body, form#event-node-form div.form-item.form-item-title, form#event-node-form div#edit-field-date-instance, div#edit-field-presenter, div#edit-field-contact-name, form#event-node-form div#edit-field-subtitle, form#event-node-form div#edit-field-category, form#event-node-form div#field-banner-text-add-more-wrapper, div#edit-field-related-material, div#edit-field-contact-email, div#edit-field-related-notifications {
  background-color: #eef1f3;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 0px;
}

/* line 77, ../sass/styles.scss */
.panel-rule, .panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body, form#event-node-form div.form-item.form-item-title, form#event-node-form div#edit-field-date-instance, div#edit-field-presenter, div#edit-field-contact-name {
  padding-top: 20px;
  border-top: 5px solid #577785;
}

/* line 82, ../sass/styles.scss */
.panel-rule-single, .node-dashboard .group-left .field-type-ds, .node-dashboard .group-right .field-type-ds, form#event-node-form div#edit-field-type-event.form-wrapper, form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body {
  margin-bottom: 20px;
  /* needs to be larger for dashboard panels */
}

/* line 88, ../sass/styles.scss */
.field-container fieldset, form#event-node-form div#edit-field-date-instance fieldset, div#edit-field-presenter fieldset, div#edit-field-related-material fieldset {
  border: 0px;
  padding-left: 0px;
}
/* line 92, ../sass/styles.scss */
.field-container legend, form#event-node-form div#edit-field-date-instance legend, div#edit-field-presenter legend, div#edit-field-related-material legend,
.field-container span.fieldset-legend,
form#event-node-form div#edit-field-date-instance span.fieldset-legend,
div#edit-field-presenter span.fieldset-legend,
div#edit-field-related-material span.fieldset-legend {
  font-weight: bold;
}
/* line 96, ../sass/styles.scss */
.field-container input.form-submit, form#event-node-form div#edit-field-date-instance input.form-submit, div#edit-field-presenter input.form-submit, div#edit-field-related-material input.form-submit {
  margin-top: 0px;
}

/* pager */
/* line 102, ../sass/styles.scss */
.pager-link, ul.pager li.pager-first a,
ul.pager li.pager-previous a, ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-repeat: no-repeat;
  color: #c3791f;
}

/* line 107, ../sass/styles.scss */
.pager-clip {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: 6px;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* from Hemali's primary styles */
/* line 118, ../sass/styles.scss */
body {
  /* changed font per the spec */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

/* line 125, ../sass/styles.scss */
#page > header {
  position: relative;
  padding-bottom: 20px;
  background: #86a9b5;
}

/* line 130, ../sass/styles.scss */
.ds-2col-stacked-fluid > .group-left {
  margin-right: 1%;
  width: 49%;
}

/* from the Hemali's first and second style sheets */
/* these are the top nav form buttons. */
/* line 137, ../sass/styles.scss */
ul.main-menu {
  margin-top: 40px;
}

/* inherited class */
/* line 141, ../sass/styles.scss */
.button-reset, ul.main-menu a, input[type="submit"],
a.button {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
}

/* line 147, ../sass/styles.scss */
ul.main-menu a {
  color: #333333;
  background: #eef1f3;
  padding: 8px 20px 8px 20px;
}
/* line 152, ../sass/styles.scss */
ul.main-menu a:active {
  color: #8c1d18;
}

/* submit & other buttons*/
/* line 158, ../sass/styles.scss */
input[type="submit"],
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: #292929;
  padding: 8px 20px 8px 20px;
}

/*ul.main-menu a:hover, */
/* line 170, ../sass/styles.scss */
input[type="submit"]:hover,
a.button:hover {
  background: #595959;
  text-decoration: none;
}

/* line 175, ../sass/styles.scss */
ul.sub-menu {
  background: #292929;
}
/* line 177, ../sass/styles.scss */
ul.sub-menu li {
  white-space: nowrap;
  margin: 6px 0;
}

/* line 182, ../sass/styles.scss */
input[type="submit"] {
  margin-right: 1em;
  border: none;
  /*font-weight: bold;*/
  margin-top: 1em;
}

/* line 189, ../sass/styles.scss */
h1 {
  font-size: 3.25em;
  line-height: 1.25em;
}

/* line 193, ../sass/styles.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 199, ../sass/styles.scss */
h3 {
  font-size: 1.75em;
  font-style: italic;
}

/* line 203, ../sass/styles.scss */
h4 {
  font-size: 1.25em;
  margin-bottom: .5em;
}

/* line 207, ../sass/styles.scss */
h5 {
  font-size: 1em;
  margin-bottom: .5em;
}

/* FORMS */
/* general styles */
/* line 214, ../sass/styles.scss */
a.button,
a.button:hover {
  background-color: #c3791f;
}

/* dashboard */
/* line 220, ../sass/styles.scss */
body.node-type-dashboard #page {
  height: 100%;
  /* changed from 1000px*/
}

/* the main panels */
/* line 230, ../sass/styles.scss */
.node-event .group-right .group-materials {
  background: #efeef5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  /*border: 3px solid #cdcdcd;*/
}

/* adopting h4:black for this one */
/* line 239, ../sass/styles.scss */
.node-dashboard h2.block-title {
  /* artifacts */
  margin-top: 0;
  margin-bottom: 0.5em;
  /* new */
  font-size: 24px;
  color: #333333;
}

/* dashboard lists */
/* line 251, ../sass/styles.scss */
li.views-row {
  margin-bottom: 1em;
  list-style-image: url("../images/icons/arrow-icons.png");
  margin-top: 0px;
}

/* line 256, ../sass/styles.scss */
div.view-content div.item-list {
  /* TODO: add variant for registered events */
}
/* line 257, ../sass/styles.scss */
div.view-content div.item-list h3 {
  margin-bottom: 0px;
}
/* line 261, ../sass/styles.scss */
div.view-content div.item-list ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 267, ../sass/styles.scss */
div.field-name-upcoming-events div.view-content {
  height: 450px;
}
/* line 269, ../sass/styles.scss */
div.field-name-upcoming-events div.view-content div.item-list {
  border-bottom: 1px solid #d7d7d7;
}

/* pager */
/* keeps pager in the same position */
/* line 282, ../sass/styles.scss */
ul.pager {
  padding-top: 5px;
  height: 30px;
  text-align: right;
  text-overflow: visible;
  /* width: 106%;*/
  /* first & previous on left */
  /* next & last on right */
  /* no link within pager-current */
}
/* line 288, ../sass/styles.scss */
ul.pager a:hover {
  text-decoration: none;
}
/* line 292, ../sass/styles.scss */
ul.pager li.pager-ellipsis {
  padding: 0px;
}
/* line 295, ../sass/styles.scss */
ul.pager li.pager-item {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background-color: #eef1f3;
  color: #c3791f;
  height: 30px;
  padding: 8px 0px 8px 0px;
  width: 50px;
}
/* line 302, ../sass/styles.scss */
ul.pager li.pager-item a {
  color: #c3791f;
  padding: 8px 10px;
}
/* line 309, ../sass/styles.scss */
ul.pager li.pager-last a {
  background-position: 33px 8px;
}
/* line 313, ../sass/styles.scss */
ul.pager li.pager-first,
ul.pager li.pager-previous {
  padding: 0px;
  margin: 0px 4px 0px 0px;
}
/* line 317, ../sass/styles.scss */
ul.pager li.pager-first a,
ul.pager li.pager-previous a {
  background-image: url("../images/icons/left-arrow.png");
  background-position: 0 8px;
  padding: 8px 0px 8px 20px;
}
/* line 325, ../sass/styles.scss */
ul.pager li.pager-next,
ul.pager li.pager-last {
  padding: 0px;
  margin: 0px 0px 0px 4px;
}
/* line 329, ../sass/styles.scss */
ul.pager li.pager-next a,
ul.pager li.pager-last a {
  background-image: url("../images/icons/right-arrow.png");
  background-position: 35px 8px;
  padding: 8px 24px 8px 0px;
}
/* line 337, ../sass/styles.scss */
ul.pager li.pager-last a {
  background-position: 34px 8px;
}
/* line 341, ../sass/styles.scss */
ul.pager li.pager-item,
ul.pager li.pager-current {
  margin-left: 3px;
  margin-right: 3px;
}
/* line 349, ../sass/styles.scss */
ul.pager div.ajax-progress {
  float: right;
  display: inline;
  top: 20px;
  left: center;
  position: relative;
  margin-left: -20px;
}
/* line 359, ../sass/styles.scss */
ul.pager li.pager-current {
  background-color: #c3791f;
  height: 30px;
  padding: 8px 10px 8px 10px;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: #eef1f3;
}

/* end pager styles */
/* line 371, ../sass/styles.scss */
.view-presenters .views-field-field-presenter-image {
  float: left;
  margin: 0 1em 0.5em 0;
}
/* line 375, ../sass/styles.scss */
.view-presenters .views-row:not(last-child) {
  margin-bottom: 2em;
}

/* line 379, ../sass/styles.scss */
.field-group-fieldset,
.view-presenters .views-row {
  clear: both;
}

/* line 383, ../sass/styles.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 387, ../sass/styles.scss */
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #3884e1;
}
/* line 392, ../sass/styles.scss */
a:hover {
  text-decoration: underline;
}

/* line 396, ../sass/styles.scss */
.tabs-primary__tab a {
  color: #333;
}
/* line 398, ../sass/styles.scss */
.tabs-primary__tab a:visited {
  color: #333;
}

/* line 402, ../sass/styles.scss */
table {
  width: 100%;
}
/* line 404, ../sass/styles.scss */
table thead th {
  text-align: left;
}

/* line 408, ../sass/styles.scss */
.admin-only {
  background: #c7ff86;
  float: right;
  width: 150px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* line 416, ../sass/styles.scss */
.view-registrations table {
  margin-bottom: 50px;
}
/* line 418, ../sass/styles.scss */
.view-registrations table caption {
  font-size: 1.5em;
  margin: .2em 0;
}

/* end forms */
/* line 425, ../sass/styles.scss */
body {
  background: url("../images/design-elements/wrapper-background.png");
}

/*
* to do: add background-image to top and bottom headers. 
*/
/* line 432, ../sass/styles.scss */
.top-header {
  width: 100%;
  /*border-bottom: 5px solid black;*/
  height: 30px;
}

/* line 438, ../sass/styles.scss */
.bottom-footer {
  width: 100%;
  /*border-top: 5px solid black;*/
  height: 100px;
}

/* line 444, ../sass/styles.scss */
.top-header-container,
.bottom-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* line 450, ../sass/styles.scss */
.capt-logo {
  float: left;
}

/* line 453, ../sass/styles.scss */
.samhsa-logo {
  float: right;
}

/* line 456, ../sass/styles.scss */
.disclaimer {
  width: 600px;
}

/* treating this as the container for now */
/* line 461, ../sass/styles.scss */
#main {
  width: 1000px;
  margin-left: 12px;
  margin-right: 14px;
}

/* page */
/* line 468, ../sass/styles.scss */
#page {
  background: #FFF;
  padding-bottom: 2em;
  clear: both;
  /* from the spec */
  width: 1000px;
}

/* line 476, ../sass/styles.scss */
.header__name-and-slogan {
  float: none;
  clear: both;
}

/* line 480, ../sass/styles.scss */
.region-header {
  float: right;
}
/* line 482, ../sass/styles.scss */
.region-header div, .region-header form {
  display: inline;
}

/* line 486, ../sass/styles.scss */
.group-dates,
.group-event,
.group-presenter,
.group-materials,
.field-name-add-a-date + .field,
.field-name-add-a-presenter + .field {
  clear: both;
}

/* line 494, ../sass/styles.scss */
.view-instances.view-display-id-registration > .view-content > .views-row div {
  display: inline;
}

/* line 498, ../sass/styles.scss */
.ds-2col > .group-left {
  float: left;
  width: auto;
  margin-right: 280px;
}
/* line 503, ../sass/styles.scss */
.ds-2col > .group-right {
  float: left;
  width: 240px;
  margin-left: -260px;
}

/* line 509, ../sass/styles.scss */
.node-type-event #title-section {
  width: auto;
  margin-right: 280px;
  float: left;
}

/* line 514, ../sass/styles.scss */
.region-help #block-block-1 {
  text-align: center;
  float: right;
  margin-left: -260px;
  width: 240px;
  padding-right: 10px;
  margin-top: 1em;
}

/* view registration and edit notification buttons */
/* line 525, ../sass/styles.scss */
div#block-block-1.contextual-links-region a.button {
  width: 116px;
  display: block;
  float: right;
  margin-bottom: 14px;
}

/* line 532, ../sass/styles.scss */
a.unflag-action {
  color: #c3791f;
}

/* banners */
/* line 538, ../sass/styles.scss */
.view-event-banner .views-row {
  font-size: 3em;
  font-weight: bold;
}

/* line 543, ../sass/styles.scss */
.vertical-tabs {
  clear: both;
}

/* form stuff */
/* line 549, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-entityreference.field-widget-inline-entity-form-single {
  float: left;
  width: 56%;
  padding-right: 1%;
  clear: both;
}
/* line 555, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-markup {
  float: left;
  width: 43%;
}
/* line 558, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-markup .views-field-field-email-body > div > div > table {
  margin: 0 1.5% !important;
  transform: scale(0.75);
  transform-origin: 0 0;
  -moz-transform: scale(0.75);
  -moz-transform-origin: top left;
}
/* line 566, ../sass/styles.scss */
#event-notifications-node-form .form-field-type-entityreference.field-widget-inline-entity-form-single .cke_top {
  display: none;
}

/* line 570, ../sass/styles.scss */
.role-event-creator .text-format-wrapper .filter-wrapper {
  display: none;
}

/* line 573, ../sass/styles.scss */
.rules-debug-log,
.tabs-primary {
  clear: both;
}

/* new styles */
/* not used yet */
/* line 580, ../sass/styles.scss */
.back-to-top {
  color: #333333;
}

/* line 583, ../sass/styles.scss */
.content-container {
  width: 970px;
  margin-left: 15px;
  margin-right: 15px;
}

/* not used yet */
/* line 590, ../sass/styles.scss */
h4.black {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 9px;
}

/* panels */
/* line 599, ../sass/styles.scss */
.field-name-my-registered-events {
  /* fixed height? */
  /*overflow: hidden; /* needed? */
  overflow: none;
  height: 245px;
  background: url("../images/icons/registered-events.png") 396px 10px no-repeat;
}
/* line 605, ../sass/styles.scss */
.field-name-my-registered-events .view-dashboard {
  /*estimated*/
  height: 170px;
  /* keep */
  border-bottom: 1px solid #d7d7d7;
}
/* line 612, ../sass/styles.scss */
.field-name-my-registered-events li.views-row {
  height: 20px;
}
/* line 615, ../sass/styles.scss */
.field-name-my-registered-events h2.block-title {
  font-weight: normal;
  margin-bottom: -10px;
}
/* line 619, ../sass/styles.scss */
.field-name-my-registered-events h3 a {
  font-style: normal;
  font-size: 14px;
  color: black;
}
/* line 624, ../sass/styles.scss */
.field-name-my-registered-events .view-content .item-list ul {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 629, ../sass/styles.scss */
.field-name-my-registered-events a.unflag-action {
  font-weight: normal;
  color: black;
  text-decoration: underline;
}
/* line 634, ../sass/styles.scss */
.field-name-my-registered-events div.item-list {
  border-width: 0px;
}
/* line 637, ../sass/styles.scss */
.field-name-my-registered-events li.pager-item {
  border: 1px solid #c3791f;
}

/* line 641, ../sass/styles.scss */
.field-name-my-archived-events {
  padding-bottom: 20px;
  background: url("../images/icons/archived-events.png") 396px 10px no-repeat;
}
/* line 644, ../sass/styles.scss */
.field-name-my-archived-events .view-dashboard {
  height: 170px;
}
/* line 647, ../sass/styles.scss */
.field-name-my-archived-events h2.block-title {
  font-weight: normal;
}

/* line 654, ../sass/styles.scss */
.field-name-my-archived-events .view-dashboard,
.field-name-my-registered-events .view-dashboard {
  /*border-top: 1px solid $capt-midgrey;*/
}

/* upcoming events panel  */
/* line 661, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds {
  background-color: white;
  /* from specs */
}
/* line 665, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h2.block-title {
  font-weight: normal;
  /* best way to do it?*/
  display: none;
}
/* line 671, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3 {
  font-style: normal;
  font-size: 16px;
}
/* line 674, ../sass/styles.scss */
body.logged-in .field-name-upcoming-events.field-type-ds h3 a {
  color: black;
}

/* 
*  Events Page
*/
/* title of events page; font size & position may need to be fine-tuned */
/* line 685, ../sass/styles.scss */
h1#page-title {
  background: url("../images/icons/create-event.png") 0 0 no-repeat;
  padding-left: 70px;
  /* variable? deviate from spec and reduce? */
  padding-top: 7px;
  font-weight: normal;
  color: #8c1d18;
  min-height: 44px;
  font-size: 26pt;
  /* from h2 in the specs */
  margin-top: 55px;
  margin-bottom: 35px;
}

/*logos above header - move up to general area? */
/* line 702, ../sass/styles.scss */
div.top-header {
  background-image: url("../images/design-elements/rainbow-divider.png");
  background-position: -124px 90px;
  background-repeat: repeat-x;
    /*background-image: url('../images/design-elements/rainbow-divider.png');
background-position: -124px $header-height - $rainbow-height;
background-repeat: repeat-x;*/
  height: 100px;
}

/*
*  Logos
*/
/* line 714, ../sass/styles.scss */
div.top-header-container {
  height: 100px;
  width: 1000px;
  /* logos */
}
/* line 719, ../sass/styles.scss */
div.top-header-container div.capt-logo {
  background: url("../images/logos/CAPT-logo.png") 0 0 no-repeat;
  width: 340px;
  margin-left: 16px;
  margin-bottom: 0px;
  top: 32px;
}
/* line 726, ../sass/styles.scss */
div.top-header-container div.samhsa-logo {
  background: url("../images/logos/SAMHSA-logo.png") 0 0 no-repeat;
  width: 295px;
  background-size: 295px 73px;
  margin-right: 16px;
  top: 6px;
}
/* line 733, ../sass/styles.scss */
div.top-header-container div.capt-logo,
div.top-header-container div.samhsa-logo {
  height: 100px;
  position: relative;
}

/* Welcome line near search box on dashboard*/
/* line 741, ../sass/styles.scss */
div#block-block-7 {
  color: white;
}
/* line 743, ../sass/styles.scss */
div#block-block-7 a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

/* search */
/* line 751, ../sass/styles.scss */
input#edit-search-block-form--2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  margin-left: 16px;
  height: 22px;
  width: 170px;
  font-weight: normal;
  background: url("../images/icons/hand-lens.png") 150px 4px no-repeat;
  background-color: white;
}

/* line 761, ../sass/styles.scss */
input#edit-submit {
  border: 1px solid white;
  background-color: transparent;
  height: 24px;
  padding: 4px;
  width: 70px;
  margin-left: 8px;
}

/* 
*  Banners
*/
/* Event Dashboard banner */
/* line 774, ../sass/styles.scss */
header#header {
  height: 191px;
  background: url("../images/banners/event-dashboard.png") 0 0 no-repeat;
}

/* 
*  Navigation
*/
/* line 782, ../sass/styles.scss */
#block-responsive-dropdown-menus-main-menu {
  margin-left: -10px;
  /*border-bottom: 1px solid $capt-midgrey;*/
  height: 27px;
  width: 970px;
  padding-left: 0px;
}

/* line 790, ../sass/styles.scss */
ul#main-menu.main-menu > li.menu-item > a.active {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* line 793, ../sass/styles.scss */
ul#main-menu.main-menu {
  border-bottom: 1px solid #d7d7d7;
  width: 970px;
  margin-left: 2px;
  height: 27px;
  /* submenu active */
}
/* line 798, ../sass/styles.scss */
ul#main-menu.main-menu li.menu-item > a {
  text-transform: uppercase;
  background-color: #d7d7d7;
}
/* line 804, ../sass/styles.scss */
ul#main-menu.main-menu li.menu-item > a.active {
  background-color: white;
  color: #8c1d18;
}

/* dropdown */
/* line 812, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two {
  width: 194px;
  padding: 0px;
  margin-top: 3px;
}
/* line 816, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li {
  width: 194px;
  padding: 0px;
  margin: 0px;
  height: 32px;
  background-color: #959595;
  display: block;
}
/* line 823, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li a {
  width: 184px;
  border: 1px solid #959595;
  display: block;
  margin: 0px;
  height: 28px;
  padding: 4px 0 0 0;
  padding-left: 20px;
}
/* line 832, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li a.active {
  background-color: white;
}
/* line 835, ../sass/styles.scss */
li.menu-parent ul.sub-menu.tier-two li li#menu-item-1187.menu-item.last a {
  height: 34px;
  background-color: orange;
}

/* hiding text in key areas! */
/* line 843, ../sass/styles.scss */
div.view-event-banner div.field-content,
h1#site-name,
div.samhsa-logo,
div.capt-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 851, ../sass/styles.scss */
ul#main-menu.main-menu {
  margin-top: 20px;
}

/* footer */
/* line 856, ../sass/styles.scss */
div.bottom-footer {
  background-image: url("../images/design-elements/rainbow-divider.png");
  background-position: -124px 0px;
  background-repeat: repeat-x;
}
/* line 858, ../sass/styles.scss */
div.bottom-footer div.disclaimer {
  margin-left: 100px;
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 12px;
  width: 390px;
}

/* event dashboard content */
/* which styles will be specific to dashboard? */
/* line 870, ../sass/styles.scss */
div#content {
  border: 1px solid #d7d7d7;
  width: 970px;
  height: 817px;
  padding-right: 15px;
  margin-left: 2px;
  margin-right: 5px;
  z-index: 10px;
  top: 8px;
  position: relative;
  border-top: 1px solid white;
}

/* my profile page; we need the "you are here" style too" */
/* line 885, ../sass/styles.scss */
body.admin-menu div#content {
  height: 1750px;
}
/* line 887, ../sass/styles.scss */
body.admin-menu div#content input#edit-submit {
  background-color: #c3791f;
}

/* line 893, ../sass/styles.scss */
body.page-user-edit div#content {
  height: 2200px;
}
/* line 898, ../sass/styles.scss */
body.page-user-edit ul#main-menu.main-menu li#menu-item-591 a {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* line 906, ../sass/styles.scss */
body.admin-menu.section-administration li#menu-item-1185.menu-item.active-trail.menu-parent.last > a {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  color: #8c1d18;
}

/* form elements for create event */
/* line 912, ../sass/styles.scss */
form#event-node-form {
  /* form panels */
  /* title */
  /* audience */
}
/* line 913, ../sass/styles.scss */
form#event-node-form div.fieldset-wrapper, form#event-node-form div#field-subtitle-add-more-wrapper {
  /* @extend .panel;*/
}
/* line 919, ../sass/styles.scss */
form#event-node-form div.form-item.form-item-title {
  margin-bottom: 0px;
}
/* line 923, ../sass/styles.scss */
form#event-node-form div#edit-field-subtitle.form-field-type-text {
  margin-top: 0px;
}
/* line 926, ../sass/styles.scss */
form#event-node-form div#field-subtitle-add-more-wrapper {
  margin-top: 0px;
  /*.form-item.form-type-textfield.form-item-field-subtitle-und-0-value {
margin-top: 0px; // remove to add more space betw title and subtitle
}*/
}
/* line 933, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 938, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance div#edit-field-date-instance-und-actions {
  padding-top: 0px;
}
/* line 941, ../sass/styles.scss */
form#event-node-form div#edit-field-date-instance fieldset#edit-field-date-instance-und {
  padding-left: 0px;
}
/* line 945, ../sass/styles.scss */
form#event-node-form div#edit-field-subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 952, ../sass/styles.scss */
form#event-node-form div#edit-field-type-event.form-wrapper {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
/* line 958, ../sass/styles.scss */
form#event-node-form div#edit-field-category {
  margin-top: -20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 964, ../sass/styles.scss */
form#event-node-form div#field-banner-text-add-more-wrapper {
  margin-top: -20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 970, ../sass/styles.scss */
form#event-node-form div.form-field-name-field-date-instance {
  margin-bottom: 20px;
}
/* line 975, ../sass/styles.scss */
form#event-node-form div#edit-field-audience,
form#event-node-form div#edit-field-body {
  padding-top: 0px;
  padding-bottom: 10px;
}
/* line 980, ../sass/styles.scss */
form#event-node-form div#edit-field-audience label,
form#event-node-form div#edit-field-body label {
  margin-top: -10px;
}
/* line 983, ../sass/styles.scss */
form#event-node-form div#edit-field-audience div.form-textarea-wrapper,
form#event-node-form div#edit-field-body div.form-textarea-wrapper {
  margin-bottom: 20px;
}
/* line 986, ../sass/styles.scss */
form#event-node-form div#edit-field-audience div.grippie,
form#event-node-form div#edit-field-body div.grippie {
  background-color: #d7d7d7;
}
/* line 990, ../sass/styles.scss */
form#event-node-form input.form-submit {
  background-color: #c3791f;
}

/* line 997, ../sass/styles.scss */
div#edit-field-presenter span.fieldset-legend {
  margin-top: -30px;
  text-transform: uppercase;
  color: #577785;
}

/* line 1003, ../sass/styles.scss */
div#edit-field-related-material {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* line 1010, ../sass/styles.scss */
div#edit-field-contact-name {
  padding-top: 0px;
  margin-bottom: 0px;
}

/* line 1015, ../sass/styles.scss */
div#edit-field-contact-email {
  margin-top: -20px;
  padding-top: 5px;
}

/* line 1020, ../sass/styles.scss */
div#edit-field-related-notifications {
  margin-top: -20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* save */
/* line 1029, ../sass/styles.scss */
form#event-node-form input.form-submit {
  padding: 6px;
  height: 36px;
}

/* end create event form */
/* overall page heights */
/* line 1037, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add {
  /* needed so that save button has space above border */
}
/* line 1038, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add #page {
  height: 95%;
}
/* line 1043, ../sass/styles.scss */
body.page-node-add-event.page-node-add.section-node-add div#content {
  height: 100%;
  padding-bottom: 20px;
}
