/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/**
 * Start iPad theming
 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*
   *  Login Page Variables
   */
  /* line 17, ../sass/tablet.scss */
  html,
  body.not-logged-in.page-user:not(.page-user-register),
  body.not-logged-in.page-anon-login,
  body.admin-menu,
  body.page-user-register {
    width: 100%;
    /* login screen */
  }
  /* line 22, ../sass/tablet.scss */
  html div.bottom-footer div.disclaimer,
  body.not-logged-in.page-user:not(.page-user-register) div.bottom-footer div.disclaimer,
  body.not-logged-in.page-anon-login div.bottom-footer div.disclaimer,
  body.admin-menu div.bottom-footer div.disclaimer,
  body.page-user-register div.bottom-footer div.disclaimer {
    width: 60%;
    padding: 0px;
    margin-left: 7%;
    padding-bottom: 8px;
  }
  /* line 28, ../sass/tablet.scss */
  html input#edit-search-block-form--2,
  body.not-logged-in.page-user:not(.page-user-register) input#edit-search-block-form--2,
  body.not-logged-in.page-anon-login input#edit-search-block-form--2,
  body.admin-menu input#edit-search-block-form--2,
  body.page-user-register input#edit-search-block-form--2 {
    width: 100px;
    background-position: 80px 4px;
    padding-right: 20px;
  }
  /* line 33, ../sass/tablet.scss */
  html div#main,
  html div#content,
  body.not-logged-in.page-user:not(.page-user-register) div#main,
  body.not-logged-in.page-user:not(.page-user-register) div#content,
  body.not-logged-in.page-anon-login div#main,
  body.not-logged-in.page-anon-login div#content,
  body.admin-menu div#main,
  body.admin-menu div#content,
  body.page-user-register div#main,
  body.page-user-register div#content {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }
  /* line 41, ../sass/tablet.scss */
  html div#page,
  body.not-logged-in.page-user:not(.page-user-register) div#page,
  body.not-logged-in.page-anon-login div#page,
  body.admin-menu div#page,
  body.page-user-register div#page {
    width: 83.3333%;
    margin-top: -2px;
  }
  /* line 45, ../sass/tablet.scss */
  html div.top-header-container,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header-container,
  body.not-logged-in.page-anon-login div.top-header-container,
  body.admin-menu div.top-header-container,
  body.page-user-register div.top-header-container {
    width: 100%;
  }
  /* line 47, ../sass/tablet.scss */
  html div.top-header-container div.capt-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header-container div.capt-logo,
  body.not-logged-in.page-anon-login div.top-header-container div.capt-logo,
  body.admin-menu div.top-header-container div.capt-logo,
  body.page-user-register div.top-header-container div.capt-logo {
    margin-left: 8%;
  }
  /* line 50, ../sass/tablet.scss */
  html div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-user:not(.page-user-register) div.top-header-container div.samhsa-logo,
  body.not-logged-in.page-anon-login div.top-header-container div.samhsa-logo,
  body.admin-menu div.top-header-container div.samhsa-logo,
  body.page-user-register div.top-header-container div.samhsa-logo {
    margin-right: 8%;
  }

  /* line 58, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#main,
  body.not-logged-in.page-user:not(.page-user-register) div#content,
  body.not-logged-in.page-anon-login div#main,
  body.not-logged-in.page-anon-login div#content {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 65, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#title-section,
  body.not-logged-in.page-user:not(.page-user-register) div#content form#user-login,
  body.not-logged-in.page-anon-login div#title-section,
  body.not-logged-in.page-anon-login div#content form#user-login {
    margin-left: 0px;
    width: 41.71367%;
    margin-left: 4%;
    margin-right: 0px;
  }
  /* line 72, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-8,
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login div#block-block-8,
  body.not-logged-in.page-anon-login div#block-block-9 {
    width: 46.24985%;
    float: right;
    margin-right: 4%;
  }
  /* line 78, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9,
  body.not-logged-in.page-anon-login div#block-block-9 {
    background-position: 92% 25%;
    background-size: 75.2px 82.40px;
  }
  /* line 81, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 ul,
  body.not-logged-in.page-anon-login div#block-block-9 ul {
    margin-left: -5px;
  }
  /* line 83, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register) div#block-block-9 ul a,
  body.not-logged-in.page-anon-login div#block-block-9 ul a {
    font-size: 14px;
  }

  /* line 93, ../sass/tablet.scss */
  body.admin-menu div.bottom-footer div.disclaimer,
  body.page-user-register div.bottom-footer div.disclaimer {
    padding: 0px;
    margin-left: 8.5%;
    width: 500px;
  }
  /* line 98, ../sass/tablet.scss */
  body.admin-menu div#block-block-3,
  body.page-user-register div#block-block-3 {
    margin-left: 12px;
  }
  /* line 103, ../sass/tablet.scss */
  body.admin-menu div#main div#navigation div.region.region-navigation,
  body.page-user-register div#main div#navigation div.region.region-navigation {
    margin-top: 20px;
  }
  /* line 107, ../sass/tablet.scss */
  body.admin-menu div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
  body.admin-menu div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-589,
  body.page-user-register div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-1185,
  body.page-user-register div#main div#navigation div.region.region-navigation div.contextual-links-region ul#main-menu.main-menu.responsive-menu li#menu-item-589 {
    display: none;
  }
  /* line 125, ../sass/tablet.scss */
  body.admin-menu div#main div#content,
  body.page-user-register div#main div#content {
    width: 96.8%;
    margin: 0px auto;
    margin-top: 16.5px;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 132, ../sass/tablet.scss */
  body.admin-menu div#main div#content ul.tabs-primary,
  body.page-user-register div#main div#content ul.tabs-primary {
    width: 97%;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  /* line 137, ../sass/tablet.scss */
  body.admin-menu div#main div#content input#edit-cancel.form-submit,
  body.page-user-register div#main div#content input#edit-cancel.form-submit {
    margin-left: 10px;
    text-align: center;
  }
  /* line 141, ../sass/tablet.scss */
  body.admin-menu div#main div#content div#title-section,
  body.page-user-register div#main div#content div#title-section {
    margin-left: 0px;
  }
  /* line 143, ../sass/tablet.scss */
  body.admin-menu div#main div#content div#title-section h1#page-title.page__title,
  body.page-user-register div#main div#content div#title-section h1#page-title.page__title {
    background-position: 8px 0px;
    font-size: 34px;
    margin-left: 3.5%;
    /*padding-left: 60px !important;*/
    margin-bottom: 40px;
    /*border: 1px solid red;*/
  }
  /* line 153, ../sass/tablet.scss */
  body.admin-menu div#main div#content fieldset,
  body.page-user-register div#main div#content fieldset {
    width: 94%;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
    padding-right: 0px;
    border-right: 1px solid #d7d7d7;
  }

  /* line 166, ../sass/tablet.scss */
  body.page-user-register ul.tabs-primary, body.page-user-register ul.tabs-primary a {
    border-bottom: 2px solid white;
  }

  /* password reset - you get to it via email link */
  /* line 175, ../sass/tablet.scss */
  body.not-logged-in.section-user.page-user div#title-section,
  body.not-logged-in.page-anon-login div#title-section {
    margin: 0px auto;
    width: 360px;
  }

  /* line 181, ../sass/tablet.scss */
  body.not-logged-in div#block-block-13 {
    position: absolute;
    width: 210px;
    top: 50px;
    left: 420px;
    font-size: 13px;
  }

  /* line 188, ../sass/tablet.scss */
  div#title-section h1#page-title {
    font-size: 25px;
  }

  /* line 195, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-8 h2.block-title, body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-8 h2.custom_block_title,
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-9 h2.block-title,
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-9 h2.custom_block_title {
    font-size: 1.65em;
    margin-left: 30px;
  }
  /* line 201, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-9 ul#why-register {
    margin-left: 30px;
    padding-left: 14px;
  }
  /* line 206, ../sass/tablet.scss */
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login div#block-block-8 {
    margin-top: -70px;
  }
}
