/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/* variables */
/* colors*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../sass/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../sass/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../sass/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../sass/extensible.scss */
.panel, .panel-rule, .panel-rule-single, form#user-pass {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../sass/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover, form#user-pass h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../sass/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper, form#user-pass .filter-wrapper {
  border: 0px;
}

/* line 43, ../sass/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 53, ../sass/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 66, ../sass/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 74, ../sass/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/*
 *  Request password page
 */
/* line 10, ../sass/user-password.scss */
body.page-user-password div#content div#title-section {
  width: 400px;
  margin: 0px auto;
}
/* line 14, ../sass/user-password.scss */
body.page-user-password input#edit-name {
  font-size: 14px;
  padding: 5px;
  display: block;
  border: 1px solid #b6b6b6;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
/* line 22, ../sass/user-password.scss */
body.page-user-password input#edit-name:focus {
  background-color: #F5FAFC;
  outline: none;
  border: 2px solid #d7d7d7;
}

/* line 30, ../sass/user-password.scss */
form#user-pass {
  width: 348px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 26px;
  padding-right: 26px;
  margin: -20px auto 0;
}

/* line 40, ../sass/user-password.scss */
.messages {
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  color: #ffffff;
  line-height: 1.5em;
}
/* line 46, ../sass/user-password.scss */
.messages.ok, .messages.messages--status {
  background-color: #7AA04F;
  background-image: url("../images/icons/status.png") !important;
}
/* line 49, ../sass/user-password.scss */
.messages.ok a, .messages.ok a:visited, .messages.messages--status a, .messages.messages--status a:visited {
  color: #F9F98C;
  text-decoration: underline;
}
/* line 54, ../sass/user-password.scss */
.messages.error, .messages.messages--error {
  background-color: #CC5454;
  background-image: url("../images/icons/error.png") !important;
}
/* line 57, ../sass/user-password.scss */
.messages.error a, .messages.error a:visited, .messages.messages--error a, .messages.messages--error a:visited {
  color: #FBE170;
  text-decoration: underline;
}
/* line 62, ../sass/user-password.scss */
.messages.warning, .messages.messages--warning {
  background-color: #D4B447;
  background-image: url("../images/icons/error.png") !important;
}
/* line 65, ../sass/user-password.scss */
.messages.warning a, .messages.warning a:visited, .messages.messages--warning a, .messages.messages--warning a:visited {
  color: #8E1A1A;
  text-decoration: underline;
}
