@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

/*
 *  Banners
 */



body {
  width: 100%;
  margin: 0px;
  &.node-type-event, &.logged-in, &.node-type-page, &.page-views {
    header#header {
      padding: 0px;
      .header-blue-2 {
        height: 100%;
        background: url("../images/banners/event-and-logged-in-blue.png") 0 0 no-repeat;
        width: 715px;
        margin-left: 290px;
        position: relative;
      }
      .header-photos-2 {
        height: 100%;
        width: 290px;
        float: left;
        background: white;
        div.photos {
          float: left;
          width: 32.35%;
          display: inline-block;
          background-position: 50% 50%;
          vertical-align: middle;
          margin-right: 1%;
          margin-bottom: 1%;
          &.photo-1 {
            clear: both;
          }
          &.photo-3 {
            margin-right: 0;
          }
          .photo-inner {
            display: block;
            height: 0;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover !important;
            &:nth-child(2) {
              margin-top: -100%;
            }
          }
          &.row-1 {
            &.photo-1 .photo-inner {
              background: url("../images/banner-photos/1.jpg");
            }
            &.photo-2 .photo-inner {
              background: url("../images/banner-photos/2.jpg");
            }
            &.photo-3 .photo-inner {
              background: url("../images/banner-photos/3.jpg");
            }
          }
          &.row-2 {
            &.photo-1 .photo-inner {
              background: url("../images/banner-photos/4.jpg");
            }
            &.photo-2 .photo-inner {
              background: url("../images/banner-photos/5.jpg");
            }
            &.photo-3 .photo-inner {
              background: url("../images/banner-photos/6.jpg");
            }
          }
        }
      }
    }
  }
  &.front, &.not-logged-in:not(.node-type-event):not(.page-views) {
    header#header {
      padding: 0px;
      .header-blue {
        height: 131px;
        background: url("../images/banners/banner-desktop-login-blue.png") 0 0 no-repeat;
        padding-left: 100px;
        margin-left: 0px;
        #name-and-slogan {
          padding-top: 55px;
          float: left;
          clear: none;
          h1 {
            font-size: 3em;
            line-height: 1em;
          }
          a.header__site-link {
            color: white;
            text-decoration: none;
            font-weight: normal;
            &:hover {
              text-decoration: none;
              color: white;
            }
          }
          em {
            font-weight: normal;
          }
        }
        .region-highlighted {
          padding: 70px 0 0 20px;
          font-size: 1.25em;
          text-transform: uppercase;
          color: white;
          float: left;
          margin-bottom: -10px;
        }
      }
      .header-photos {
        clear: both;
        width: 100%;
        background: white;
        div.photos {
          float: left;
          width: 12.28%;
          display: inline-block;
          background-position: 50% 50%;
          vertical-align: middle;
          margin-top: .25%;
          margin-right: .25%;
          &.photo-1 {
            clear: both;
          }
          &.photo-8 {
            margin-right: 0;
          }
          .photo-inner {
            display: block;
            height: 0;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover !important;
            &:nth-child(2) {
              margin-top: -100%;
            }
          }
          &.row-1 {
            &.photo-1 .photo-inner {
              background: url("../images/banner-photos/1.jpg");
            }
            &.photo-2 .photo-inner {
              background: url("../images/banner-photos/2.jpg");
            }
            &.photo-3 .photo-inner {
              background: url("../images/banner-photos/3.jpg");
            }
            &.photo-4 .photo-inner {
              background: url("../images/banner-photos/4.jpg");
            }
            &.photo-5 .photo-inner {
              background: url("../images/banner-photos/5.jpg");
            }
            &.photo-6 .photo-inner {
              background: url("../images/banner-photos/6.jpg");
            }
            &.photo-7 .photo-inner {
              background: url("../images/banner-photos/7.jpg");
            }
            &.photo-8 .photo-inner {
              background: url("../images/banner-photos/8.jpg");
            }
          }
          &.row-2 {
            &.photo-1 .photo-inner {
              background: url("../images/banner-photos/9.jpg");
            }
            &.photo-2 .photo-inner {
              background: url("../images/banner-photos/10.jpg");
            }
            &.photo-3 .photo-inner {
              background: url("../images/banner-photos/11.jpg");
            }
            &.photo-4 .photo-inner {
              background: url("../images/banner-photos/12.jpg");
            }
            &.photo-5 .photo-inner {
              background: url("../images/banner-photos/13.jpg");
            }
            &.photo-6 .photo-inner {
              background: url("../images/banner-photos/14.jpg");
            }
            &.photo-7 .photo-inner {
              background: url("../images/banner-photos/15.jpg");
            }
            &.photo-8 .photo-inner {
              background: url("../images/banner-photos/16.jpg");
            }
          }
        }
      }

    }
  }
  &.not-front.logged-in, &.not-front.node-type-event, &.not-front.node-type-page:not(.page-403), &.not-front.page-views {
    header#header {
      .region-header {
        position: absolute;
        top: 10px;
        right: 15px;
        float: none;
        margin: 0;
      }
      height: 191px;
      #name-and-slogan {
        top: 70px;
        left: 40px;
        position: absolute;
        h1 {
          font-size: 3.25em;
          line-height: 1em;
        }
        a.header__site-link {
          color: white;
          text-decoration: none;
          font-weight: normal;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
        em {
          font-weight: normal;
        }
        &.category {
          h1 {
            font-size: 2.25em;
          }
        }
      }
      .region-highlighted {
        font-size: 1.25em;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 120px;
        left: 40px;
        &.category {
          text-transform: none;
          font-weight: bold;
          font-size: 3em;
          opacity: 0.5;
          overflow: hidden;
          height: auto;
          line-height: 1em;
          margin-top: 0px;
          top: 110px;
        }
      }
    }
  }
}


/*logos above header - move up to general area? */

div.top-header {
  @include rainbow-bar($header-height - $rainbow-height);
    background-image: url('../images/design-elements/rainbow-divider.png');
background-position: -124px $header-height - $rainbow-height;
background-repeat: repeat-x;
  height: $header-height;
}

/*
*  Logos
*/

div.top-header-container {
  height: 100px;
  width: $page-width;
  /* logos */
  div.capt-logo {
    background: url("../images/logos/CAPT-logo-portal.png") 0 0 no-repeat;
    width: 340px;
    margin-left: 0px;
    /*$logo-margin;*/
    margin-bottom: 0px;
    top: 48px;
  }
  div.samhsa-logo {
    background: url("../images/logos/SAMHSA-logo.png") 0 0 no-repeat;
    width: 295px;
    background-size: 295px 73px;
    margin-right: $logo-margin;
    top: 22px;
  }
  div.capt-logo,
  div.samhsa-logo {
    height: $header-height;
    position: relative;
  }
}

/* Welcome line near search box on dashboard*/

div#block-block-7 {
  color: white;
  a {
    color: white;
    font-weight: normal;
    text-decoration: underline;
  }
}

/* search */

input#edit-search-block-form--2 {
  @include border-radius(5px);
  border: 0px;
  margin-left: 16px;
  padding-right: 20px;
  height: 22px;
  width: 150px;
  font-weight: normal;
  background: url("../images/icons/hand-lens.png") 150px 4px no-repeat;
  background-color: white;
}

form#search-block-form {
  div#edit-actions, div#edit-actions--2 {
    input#edit-submit, input#edit-submit--2 {
      border: 1px solid white;
      background-color: transparent;
      height: 24px;
      padding: 4px;
      width: 70px;
      margin-left: 8px;
    }
  }
}

div#edit-actions {
  padding-bottom: 10px;
}

/* hiding text in key areas! */

div.samhsa-logo,
div.capt-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div.bottom-footer {
  @include rainbow-bar(0px);
  // div.disclaimer {
  //   @extend .proto-disclaimer;
  // }
}
//
// div#block-block-12 {
//   /*height: 100px;*/
//   margin-bottom: 0px;
// }






div.bottom-footer {
  top: 0px !important;
  clear: both;
  .bottom-footer-container {
    padding-top: 20px;
    width: 100%;
    footer#footer {
      width: 1000px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
      #block-block-12 {
        width: 550px;
        p {
          line-height: 1.25em;
        }
        a {
          font-weight: normal;
          text-decoration: underline;
          color: #333333;
        }
      }
    }
  }
}
