@import 'variables';
@import 'capt-mixins';
@import 'extensible';

/*
 *  Banners
 */
 
body {
  &.front, &.not-logged-in:not(.node-type-event) {
    header#header {
      height: 380px;
      background: url("../images/banners/login-banner-desktop.png") 0 0 no-repeat;
      padding-left: 135px;
      #name-and-slogan {
        padding-top: 55px;
        float: left;
        clear: none;
        h1 {
          font-size: 3em;
          line-height: 1em;
        }
        a.header__site-link {
          color: white;
          text-decoration: none;
          font-weight: normal;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
        em {
          font-weight: normal;
        }
      }
      .region-highlighted {
        padding: 70px 0 0 20px;
        font-size: 1.25em;
        text-transform: uppercase;
        color: white;
        float: left;
      }
    }
  }
  &.not-front {
    header#header {
      height: 191px;
      background: url("../images/banners/blank-banner-desktop.png") 0 0 no-repeat;
      padding-left: 360px;
      #name-and-slogan {
        padding: 40px 0 8px 0;
        h1 {
          font-size: 3.25em;
          line-height: 1em;
        }
        a.header__site-link {
          color: white;
          text-decoration: none;
          font-weight: normal;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
        em {
          font-weight: normal;
        }
        &.category {
          h1 {
            font-size: 2.25em;
          }
        }
      }
      .region-highlighted {
        font-size: 1.25em;
        text-transform: uppercase;
        color: white;
        &.category {
          text-transform: none;
          font-weight: bold;
          font-size: 3.25em;
          opacity: 0.5;
          overflow: hidden;
          height: 70px;
          line-height: 1.5em;
          margin-top: -10px;
        }
      }
    }
  }
}


/*logos above header - move up to general area? */

div.top-header {
  @include rainbow-bar($header-height - $rainbow-height);
    /*background-image: url('../images/design-elements/rainbow-divider.png');
background-position: -124px $header-height - $rainbow-height;
background-repeat: repeat-x;*/
  height: $header-height;
}

/*
*  Logos
*/

div.top-header-container {
  height: 100px;
  width: $page-width;
  /* logos */
  div.capt-logo {
    background: url("../images/logos/CAPT-logo-portal.png") 0 0 no-repeat;
    width: 340px;
    margin-left: 0px;
    /*$logo-margin;*/
    margin-bottom: 0px;
    top: 48px;
  }
  div.samhsa-logo {
    background: url("../images/logos/SAMHSA-logo.png") 0 0 no-repeat;
    width: 295px;
    background-size: 295px 73px;
    margin-right: $logo-margin;
    top: 22px;
  }
  div.capt-logo,
  div.samhsa-logo {
    height: $header-height;
    position: relative;
  }
}

/* Welcome line near search box on dashboard*/

div#block-block-7 {
  color: white;
  a {
    color: white;
    font-weight: normal;
    text-decoration: underline;
  }
}

/* search */

input#edit-search-block-form--2 {
  @include border-radius(5px);
  border: 0px;
  margin-left: 16px;
  padding-right: 20px;
  height: 22px;
  width: 150px;
  font-weight: normal;
  background: url("../images/icons/hand-lens.png") 150px 4px no-repeat;
  background-color: white;
}

form#search-block-form {
  div#edit-actions, div#edit-actions--2 {
    input#edit-submit, input#edit-submit--2 {
      border: 1px solid white;
      background-color: transparent;
      height: 24px;
      padding: 4px;
      width: 70px;
      margin-left: 8px;
    }
  }
}

div#edit-actions {
  padding-bottom: 10px;
}

/* hiding text in key areas! */

div.samhsa-logo,
div.capt-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div.bottom-footer {
  @include rainbow-bar(0px);
  div.disclaimer {
    @extend .proto-disclaimer;
  }
}

div#block-block-12 {
  /*height: 100px;*/
  margin-bottom: 0px;
}
