@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';




body.not-front {
  &.node-type-event, &.logged-in, &.node-type-page {
    header#header {
      height: 150px;
      .header-blue-2 {
        width: auto;
        overflow: hidden;
        margin-left: 230px;
        .region-header {

        }
        #name-and-slogan {
          font-size: 0.8em;
          left: 20px;
          top: 55px;
          &.category {
            top: 45px;
          }
        }
        .region-highlighted {
          left: 20px;
          top: 95px;
          font-size: 1em;
          &.category {
            font-size: 2.5em;
            top: 75px;
          }
        }
      }
      .header-photos-2 {
        width: 229px;
      }
    }
  }
}
