@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

@import 'tablet-variables';
@import 'capt-mixins-tablet';

// profile and registration screen, iPad

body.logged-in.page-user-edit,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event)  {
$reg-margin-left: 1.6%;

  div#edit-actions {
   padding: 0px;
   margin-top: -20px;
   margin-bottom: -10px;
   margin-left: 2.5%;
   input#edit-submit {
    margin-left: $reg-margin-left;
  }
}
/* tabs! */
div.horizontal-tabs  {
  width: 100%;
  ul.horizontal-tabs-list {

    padding-left: 0px;
    background-color: transparent;
    width: 95%;
    margin-bottom: 10px !important;
    text-align: left;
    li:first-child {
      margin-left: 0px;
    }
    li.horizontal-tab-button {
      float: none;
      clear: both;
     a {
      padding: 5px 10px !important;
      strong {
        font-size: 0.9em;
      }

    }
  }
  li.horizontal-tab-button-0 {
    width: 50%;
  }
  li.horizontal-tab-button-1 {
    width: 50%;
  }
  li.horizontal-tab-button-2 {
    width: 50%;
  }
}
.horizontal-tabs-panes.horizontal-tabs-processed {
  &:before {
   margin: 0px auto;
 }
}
}
// div.bottom-footer div.disclaimer {
//   padding: 0px;
//   margin-left: 8.5%;
//   width: 500px;
// }
div#block-block-3 {
  margin-left: 12px;
}
div#main {
  div#navigation {
    div.region.region-navigation {
      margin-top: 20px;
      div.contextual-links-region {
        ul#main-menu.main-menu.responsive-menu {
          li#menu-item-1185,
          li#menu-item-589 {
            display: none;
          }
        }
      }
    }
  }
      div#content {
        margin: 10px 2% 0;
        width: 96%;
        form#user-register-form {
          width: 100%;
          margin: 0px auto;
          width: 100%;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

        }
        ul.tabs-primary {
          width: 97%;
          margin: 0px auto;
          margin-bottom: 20px;
        }
        input#edit-cancel.form-submit {
          margin-left: 10px;
          text-align: center;
        }
        div#title-section {
          padding: 0 0 0 0;
          h1#page-title.page__title {
           background-position: 8px 0px;
           font-size: 34px;
           margin-bottom: 10px;
           margin-left: -11px;
           margin-top: 10px;

         }
       }
       div#edit-actions {
         margin-left: 0px;
         margin-top: 0px;
         margin-bottom: 15px;
         input {
           margin-left: 0px;
         }
       }
       #block-block-3 {
        width: 100%;
        margin: 0px;
        padding-top: 30px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .horizontal-tabs-panes {
        &:before {
          width: 100%;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        fieldset {
          width: 100%;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0px auto;
          display: block;
          padding: 0px;
          border-right: 1px solid $capt-midgrey;
          &:before {
            width: 100%;
            padding: 0px;

          }
          .fieldset-wrapper {
            .form-item {
              padding: 0 20px;
              &.form-type-radio, &.form-type-checkbox {
                padding: 0 0px;
              }
            }
          }

        }
      }
    }
  }
}
/* specific to registration*/
body.page-user-register {
  ul.tabs-primary, ul.tabs-primary a {
    border-bottom: 2px solid white;
  }
}

/* specific to user edit */
body.page-user-edit {
  div#title-section {
    border: none !important;
    margin-left: -12px !important;
  }
  div#block-block-3 {
    border: none !important;
    padding: 20px 0px 10px 0px !important;
    margin-top: 10px !important;
    width: 100% !important;
  }
  fieldset {
    margin-left: 0px !important;
    width: 100% !important;
  }
  div#edit-actions {
    margin-left: 0px !important;
  }
  .fieldset-wrapper {
    .form-item {
      padding: 0px !important;
    }
  }
}

body.not-logged-in.page-anon-register:not(.node-type-event) div#main div#content div#edit-actions {
  margin-top: 0px;
}
