@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
/**
 * Start iPad theming
 */

body.not-logged-in.page-user,
body.page-user-register,
body.not-logged-in.page-anon-login  {
  &.front, &.not-logged-in:not(.node-type-event) {
    /* blue section */
    header#header {
      height: 132px;
      padding-top: 0px;
      padding-bottom: 0px;
      background: url("../images/banners/banner-desktop-login-blue.png") 0 0 no-repeat;
      margin-bottom: 0px;
    }
    /* photo section */
    div#page div#main div#content {

      background: url("../images/banners/banner-desktop-login-photos.png") 0 0 no-repeat;
      background-size: 100%;
      width: 100%;
    }
    /* subtitle */
    div#block-block-13 {
      top: 60px;
    }
  }
}
body.not-front.logged-in, body.not-front.node-type-event {
  header#header div#name-and-slogan {
    padding: 70px 0 10px 0;
    h1#site-name.header__site-name {
      margin-left: -45px;
      a {
        font-size: 1em;
      }
    }
  }
  header#header div.region-highlighted {
    height: 50px;
    div#block-block-13 {
      font-size: 1em;
      margin-top: 0px;
      top: 0px;
      overflow: visible;
      line-height: 1em;
      margin-left: -45px;
    }
  }
  header#header div#name-and-slogan.category {
    padding: 50px 0 15px 0;
    h1#site-name.header__site-name {
      margin-left: -45px;
      a {
        font-size: 1em;
      }
    }
  }
  header#header div.region-highlighted.category {
    height: 80px;
    margin-left: -45px;
    div#block-block-13 {
      font-size: 1em;
      margin-top: 0px;
      top: 0px;
      overflow: visible;
      line-height: 1em;
      margin-left: 0;
    }
  }
}


/* specifics */
body.page-anon-login,
body.not-logged-in.page-user:not(.page-user-register) {
  div#page div#main div#content {
     padding-top: 30%;
     margin-top: -48px;
  }
}
body.page-user-register {
  div#page div#main div#content {
      margin-top: -10px;
      padding-top: 27%;/*268px;*/
  }
}
body.logged-in.node-type-event {
  div.region.region-highlighted.category {
    margin-left: -45px;
  div#block-block-13 {
    margin-left: 0px;
  }
 }
}

body.not-logged-in:not(.node-type-event).page-anon-register {
  header#header div#name-and-slogan {
    padding-top: 40px;
  }
  header#header div.region-highlighted {
    margin-left: 0px;
    padding: 0px;
    float: none;
    clear: both;
  }
  header#header {
    height: 132px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: url("../images/banners/banner-desktop-login-blue.png") 0 0 no-repeat;
    margin-bottom: 0px;
  }
  /* photo section */
  div#page div#main div#content {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 0;
    background: url("../images/banners/banner-desktop-login-photos.png") 0 -1px no-repeat;
    width: 100%;
    background-size: 100%;
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    padding-top: 24%;
    margin-left: 0;
    margin-right: 0;
    top: 0;
  }
  div#page div#main {
    width: 100%;
  }
  /* subtitle */
  div#block-block-13 {
    top: 60px;
  }
}
