@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
@import 'tablet-variables';


/* password reset - you get to it via email link */
body.section-user.page-user-password {
 #page {
  min-height: 0px !important;
  height: 700px !important;
}

div#content div#title-section {
  /*margin: 0px auto;*/
  margin-bottom: 0px;

}
div.form-item label {
	float: left; 
	clear: both;
}
input#edit-name.form-text {
  width: 90%;
  margin-left: 0px;
  margin-top: 5px;
  clear: both;
}
}




