@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";

$tablet-margin-gutter: 15px;
$right-column-width: 45%;
$left-column-width: 48%;

body.section-events {
	div#main div#content div#title-section {
		margin-top: 10px;
	    h1#page-title.page__title {
		padding-left: 75px;
		background-position: 16px 0px;
	    }
	}

	div.view-content, div.view-dashboard {
		margin-left: $tablet-margin-gutter;

	}
	/* only controls view-dashboard on left column */
	div#content {
		width: auto;
		top: 0px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		> div.view-dashboard {
			width: $left-column-width;
			clear: both;
		}
	}
	#navigation ul#main-menu.main-menu {
		width: 95%;
	}
	div.view-dashboard div.view-content {
        margin-left: 0px;
	}

    .views-exposed-widgets {
    float: right;
    margin-top: -50px;
   }

	div#block-views-dashboard-block-1,
	div#block-views-dashboard-block-2 {
		width: 48%;
		// width: $right-column-width;
		background-position: right -10px top 8px;
		background-size: 60px 45px;

		div.view-content {
			margin-left: 0px;
			padding-left: 0px;
		}
		h2.block-title.block__title {
			margin-left: 12px;
			padding-left: 0px;
			font-size: 21px;
			margin-top: 0px;
		}
		div.view-empty {
			margin-left: 0px;
		}


	}

	div#block-views-dashboard-block-1 {
		float: left;
	}




}
