@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

@import 'tablet-variables';
@import 'capt-mixins-tablet';

// profile and registration screen, iPad

body.logged-in.page-user-edit,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event)  {
$reg-margin-left: 1.6%;

  div#edit-actions {
   padding: 0px;
   margin-top: -20px;
   margin-bottom: -10px;
   margin-left: 2.5%;
   input#edit-submit {
    margin-left: $reg-margin-left;
  }
}
/* tabs! */
div.horizontal-tabs  {
  width: 100%;
  ul.horizontal-tabs-list {

    padding-left: 0px;
    background-color: transparent;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10px !important;
    text-align: left;
    li:first-child {
      margin-left: 0px;
    }
    li.horizontal-tab-button {
     a {
      padding: 5px 10px !important;
      strong {
        font-size: 1em;
      }

    }
  }
  li.horizontal-tab-button-0 {
    width: 16%;
  }
  li.horizontal-tab-button-1 {
    width: 36%;
  }
  li.horizontal-tab-button-2 {
    width: 42%;
  }
}
.horizontal-tabs-panes.horizontal-tabs-processed {
  &:before {
   margin: 0px auto;
 }
}
}
div.bottom-footer div.disclaimer {
  padding: 0px;
  margin-left: 8.5%;
  width: 500px;
}
div#block-block-3 {
  margin-left: 12px;
}
div#main {
  div#navigation {
    div.region.region-navigation {
      margin-top: 20px;
      div.contextual-links-region {
        ul#main-menu.main-menu.responsive-menu {
          li#menu-item-1185,
          li#menu-item-589 {
            display: none;
          }
              // end items
            }
            // end menu
          }
          // end contextual links
        }
        // end region nav
      }
      // end nav
      // content, profile screen, iPad for registration d
      div#content {
        width: 96.8%;
        padding-left: 0px;
        padding-right: 0px;
        border: 0px;
        form#user-register-form {
          width: 100%;
          margin: 0px auto;
        }
        ul.tabs-primary {
          width: 97%;
          margin: 0px auto;
          margin-bottom: 20px;
        }
        input#edit-cancel.form-submit {
          margin-left: 10px;
          text-align: center;
        }
        div#title-section {
          margin-left: 2.5%;
          h1#page-title.page__title {
           background-position: 8px 0px;
           font-size: 34px;
           padding-left: 60px;
           margin-bottom: 10px;
           margin-left: 0px;
           margin-top: 10px;
          
         }
       }
       #block-block-3 {
        width: 95%;
      }

      fieldset {
        width: 92%;
        margin: 0px auto;
        display: block;
        margin-bottom: 20px;
        padding-right: 0px;
        border-right: 1px solid $capt-midgrey;
        &:before {
          width: 100%;
          padding: 0px;

        }

      }
    }
  }
}
/* specific to registration*/
body.page-user-register {
  ul.tabs-primary, ul.tabs-primary a {
    border-bottom: 2px solid white;
  }
}






