@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
@import 'tablet-variables';

 /* general styles for tablet */
 html,
  body.not-logged-in.page-user,
  body.not-logged-in.page-anon-login,
  body.logged-in.page-user-edit,
  body.page-user-register {
    width: 100%;
    // div.bottom-footer div.disclaimer {
    //   width: 365px;
    //   padding: 0px;
    //   margin-left: 4%;
    //   padding-bottom: 8px;
    // }
    input#edit-search-block-form--2 {
      width: 100px;
      background-position: 80px 4px;
      padding-right: 20px;
    }
    div#page {
      width: 94%;
      margin-top: -2px;
    }
    div.top-header-container {
      width: 100%;
      div.capt-logo {
        margin-left: 3%;
      }
    }
  }

  body.not-logged-in.node-type-event #content {
    width: auto;
  }

body {
  .top-header {
    height: 100px;
    background-position: -124px 90px;
    .top-header-container {
      .capt-logo, .samhsa-logo {
        height: 100px;
        background-size: 90% !important;
      }
      .capt-logo {
        background-position: 0px -5px;
      }
      .samhsa-logo {

      }
    }
  }
  .header-blue-2 {
    background: url("../images/banners/event-and-logged-in-blue-tablet.png") 0 0 no-repeat !important;
  }
  &.page-user-edit {
    #page-title {
      margin-left: 10px !important;
    }
  }
}

body.page-user-register, body.page-anon-register {
  div#content {
    border: 1px solid $capt-midgrey;
  }
}

body:not(.node-type-page) {
  div#content {
    width: 100%;
    .node-page {
      width: 60%;
    }
  }
}
body.node-type-page {
  div#content {
    width: auto;
    padding-left: 100px !important;
    padding-right: 100px !important;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 17px;
  }
  &.section-terms, &.section-capt-connect-documentation {
    div#content {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &.section-administration, &.section-events {
    div#content {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

body.page-user-cancel {
  div#content {
    margin: 17px auto 0px !important;
    width: 96%;
  }
  ul#main-menu.main-menu.responsive-menu {
    width: 98%;
    margin-top: 21px;
    margin-left: 28px;
    li {
      margin-right: 10px;
    }
  }
}


.section-404.not-logged-in,
.section-403.not-logged-in {
  #name-and-slogan {
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
  }
  .region-highlighted {
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
    #block-block-13 {
      margin-top: 25px !important;
      margin-left: -280px !important;
    }
  }
  #content {
    width: auto !important;
  }
}

.section-404.logged-in,
.section-403.logged-in {
  #content {
    width: auto !important;
    margin-top: 16px !important;
  }
}



div.bottom-footer {
  top: 0px !important;
  clear: both;
  .bottom-footer-container {
    padding-top: 20px;
    width: 100%;
    footer#footer {
      width: 94%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
      #block-block-12 {
        width: 550px;
        p {
          line-height: 1.25em;
        }
        a {
          font-weight: normal;
          text-decoration: underline;
          color: #333333;
        }
      }
    }
  }
}



.section-administration,
.section-node-add,
.section-groups {
  #content {
    width: 96% !important;
    border: 1px solid #d7d7d7 !important;
    border-top: none !important;
    margin: 17px auto 0px !important;
    padding-top: 20px;
    min-height: 466px;
    padding-right: 15px;
    top: 8px;
    position: relative;
    padding-left: 15px;
    padding-bottom: 35px;
  }
  #main-menu {
    width: 96% !important;
    li.menu-item {
      width: 45%;
      max-width: 200px;
      margin-right: 10px;
      padding: 0px 5px 0px 0px;
    }
  }
  .disclaimer {
    font-size: 11px;
    line-height: normal !important;
  }


}
