@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
/**
 * Start iPad theming
 */

body.not-logged-in.page-user,
body.page-user-register,
body.not-logged-in.page-anon-login  {
  &.front, &.not-logged-in:not(.node-type-event) {
    /* blue section */
    header#header {
      height: 132px;
      padding-top: 0px;
      padding-bottom: 0px;
      background: url("../images/banners/banner-desktop-login-blue.png") 0 0 no-repeat;
      margin-bottom: 0px;
    }
    /* photo section */
    div#page div#main div#content {
  
      background: url("../images/banners/banner-desktop-login-photos.png") 0 0 no-repeat;
      background-size: 100%;
      width: 100%;
    }
    /* subtitle */
    div#block-block-13 {
      top: 60px;
    }
  }
}
body.logged-in {
  h1#site-name.header__site-name a {
    font-size: 35px;
  }
  div#block-block-13 {
    font-size: 15px;
    margin-top: 0px;
    top: 0px;
  }
  div#block-block-13,
  h1#site-name.header__site-name {
    margin-left: -45px;
  }
}
/* specifics */
body.page-anon-login,
body.not-logged-in.page-user:not(.page-user-register) {
  div#page div#main div#content {
     padding-top: 30%;
     margin-top: -48px;
  }
}
body.page-user-register {
  div#page div#main div#content {
      margin-top: -10px;
      padding-top: 27%;/*268px;*/
  }
}
