@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";


$panel-margin-left: 20px;
$header-pad-left: 20px;


body.node-type-event {
  footer {
    left: 0px;
    margin-left: -30px;
    .disclaimer {
      padding-right: 0px !important;
    }
  }

  div#block-block-13 {

  }
   div.view-content {
      h1.subtitle,h2.views-field {
        padding-left: 0px;
      }
    }
  div#main div#content div#title-section  {
    h1#page-title.page__title {
      padding-left:  0px;
    }

  }
  div.group-right {
    position: relative;
  }
  ul.tabs-primary {
    display: none;
  }
}
