@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import 'tablet-variables';

$top-pad: 60px;
$header-pos: 10px;
$title-buffer: 104px;

body.page-events.section-events,
body.logged-in.page-user-edit,
body.role-authenticated-user.node-type-event {

	// transfer to phone-navigation
        ul#main-menu.main-menu  {
            width: 95%;
            margin: 0px auto;
            overflow: visible;
            li.menu-item {
               width: 45%;
               max-width: 200px;
               margin-right: 10px;
               a {
                  width: 100%;
               }
            }
        }
        /* put in banner region */
        div.header__region.region-header {
            width: 375px;
            margin: 3px 0px -10px 0px;
            text-align: right;

        }
        //navigation
        #block-responsive-dropdown-menus-main-menu {
            width: 100%;
            margin: 0px auto;




        }
        // the styles below are changed for iPad
        #block-views-exp-dashboard-page-1 {
          margin-top: -25px;
          position: relative;
          width: 95%;
          padding-left: 3%;
          margin-bottom: 30px;
        }

        div#main div#content {
           border: 1px solid $capt-midgrey;
           border-top: 0px;
           margin: 0px auto;
           margin-top: 17px;
           width: 95%;
           padding-top: 5px;
        }

}

body.logged-in.page-user-edit div#main div#content {
  border: 1px solid $capt-midgrey !important;
  border-top: none !important;
  margin: 17px auto 0px !important;
}

body.page-events.logged-in {
  #content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
