@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
@import 'tablet-variables';

 /* general styles for tablet */
 html,
  body.not-logged-in.page-user,
  body.not-logged-in.page-anon-login,
  body.logged-in.page-user-edit,
  body.page-user-register {
    width: 100%;
    div.bottom-footer div.disclaimer {
      width: 365px;
      padding: 0px;
      margin-left: 4%;
      padding-bottom: 8px;
    }
    input#edit-search-block-form--2 {
      width: 100px;
      background-position: 80px 4px;
      padding-right: 20px;
    }
    div#page {
      width: 94%;
      margin-top: -2px;
    }
    div.top-header-container {
      width: 100%;
      div.capt-logo {
        margin-left: 3%;
      }
    }
  }

  body.not-logged-in.node-type-event #content {
    width: auto;
  }

body {
  .top-header {
    height: 100px;
    background-position: -124px 90px;
    .top-header-container {
      .capt-logo, .samhsa-logo {
        background-size: 85% !important;
        height: 100px;
      }
      .samhsa-logo {
        margin-right: -1% !important;
      }
    }
  }
  &.page-user-edit {
    #page-title {
      margin-left: 10px !important;
    }
  }
}

body.page-user-register, body.page-anon-register {
  div#content {
    border: 1px solid $capt-midgrey;
  }
}

div#content {
  width: 100%;
  .node-page {
    width: 60%;
  }
}
