@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";


$panel-margin-left: 20px;
$header-pad-left: 20px;


body.node-type-event {
  .ds-2col-stacked {
    .group-left {
      padding-right: 310px;
    }
    .group-right {
      position: relative;
      width: 290px;
      margin-left: -290px;
      .field-type-ds {
        width: 235px;
      }
    }
  }
  footer {
    left: 0px;
    margin-left: -30px;
    .disclaimer {
      padding-right: 0px !important;
    }
  }
  div#main div#content {
    div#title-section  {
      h1#page-title.page__title {
        padding-left:  0px;
        margin-top: 15px;
      }
    }
    ul.tabs-primary {
      display: none;
    }
    div.view-content {
     h1.subtitle,h2.views-field {
       padding-left: 0px;
     }
   }
  }
  .field-name-already-registered-please-login input.form-text {
    width: 195px !important;
  }
}
