@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';
/**
 * Start iPad theming
 */

@media screen and (min-width: $phone-tablet-divide + 1px) and (max-width: $iPadH) {
  /*
   *  Login Page Variables
   */
  $iPad-login-width: 0.3476;
  $iPad-page-width: 0.8333;
  $iPad-intro-width: 0.3854;
  // styles for all iPad-ready pages
  html,
  body.not-logged-in.page-user:not(.page-user-register),
  body.not-logged-in.page-anon-login,
  body.admin-menu,
  body.page-user-register {
    div.bottom-footer div.disclaimer {
      width: 60%;
      padding: 0px;
      margin-left: 7%;
      padding-bottom: 8px;
    }
    input#edit-search-block-form--2 {
      width: 100px;
      background-position: 80px 4px;
      padding-right: 20px;
    }
    div#main,
    div#content {
      width: 100%;
      margin-left: 0px;
      padding-left: 0px;
    }
    width: 100%;
    /* login screen */
    div#page {
      width: 83.3333%;
      margin-top: -2px;
    }
    div.top-header-container {
      width: 100%;
      div.capt-logo {
        margin-left: 8%;
      }
      div.samhsa-logo {
        margin-right: 8%;
      }
    }
  }
  // login screen, iPad
  body.not-logged-in.page-user:not(.page-user-register),
  body.not-logged-in.page-anon-login {
    div#main,
    div#content {
      width: 100%;
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    div#title-section,
    div#content form#user-login {
      margin-left: 0px;
      width: $iPad-login-width / $iPad-page-width * 100%;
      margin-left: 4%;
      margin-right: 0px;
    }
    div#block-block-8 {
      margin-top: -78px;
    }
    div#block-block-8,
    div#block-block-9 {
      width: $iPad-intro-width / $iPad-page-width * 100%;
      float: right;
      margin-right: 4%;
    }
    div#block-block-9 {
      background-position: 92% 25%;
      background-size: 75.2px 82.40px;
      ul {
        margin-left: 0px;
        a {
          font-size: 14px;
        }
      }
    }
  }

  // profile screen, iPad
  body.admin-menu,
  body.page-user-register {
    div.bottom-footer div.disclaimer {
      padding: 0px;
      margin-left: 8.5%;
      width: 500px;
    }
    div#block-block-3 {
      margin-left: 12px;
    }
    div#main {
      div#navigation {
        div.region.region-navigation {
          margin-top: 20px;
          div.contextual-links-region {
            ul#main-menu.main-menu.responsive-menu {
              li#menu-item-1185,
              li#menu-item-589 {
                display: none;
              }
              // end items
            }
            // end menu
         
          }
          // end contextual links
       
        }
        // end region nav
     
      }
      // end nav
      // content, profile screen, iPad for registration d
      div#content {
        width: 96.8%;
        margin: 0px auto;
        margin-top: 16.5px;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        ul.tabs-primary {
          width: 97%;
          margin: 0px auto;
          margin-bottom: 20px;
        }
        input#edit-cancel.form-submit {
          margin-left: 10px;
          text-align: center;
        }
        div#title-section {
          margin-left: 0px;
          h1#page-title.page__title {
             background-position: 8px 0px;
             font-size: 34px;
             margin-left: 3.5%;
             /*padding-left: 60px !important;*/
             margin-bottom: 40px;
             /*border: 1px solid red;*/
          }
        }
        div.fieldset-wrapper {
           border: 0px;
        }
        fieldset {
          width: 94%;
          margin: 0px auto;
          display: block;
          margin-bottom: 20px;
          padding-right: 0px;
          border-right: 1px solid $capt-midgrey;
     
        }
      }
    }
  }
  body.page-user-register {
    ul.tabs-primary, ul.tabs-primary a {
      border-bottom: 2px solid white;
    }
  }
  // TO DO: event dashboard, iPad
  // TO DO: event detail, iPad
  /* password reset - you get to it via email link */
  body.not-logged-in.section-user.page-user,
  body.not-logged-in.page-anon-login {
    div#title-section {
      margin: 0px auto;
      width: 360px;
    }
  }
  // banner subtitle
  body.not-logged-in div#block-block-13 {
    position: absolute;
    width: 210px;
    top: 50px;
    left: 420px;
    font-size: 13px;
  }
  div#title-section h1#page-title {
    font-size: 25px;
  }
  body.not-logged-in.page-user:not(.page-user-register)
  body.not-logged-in.page-anon-login {
    div#block-block-8,
    div#block-block-9 {
      h2.block-title, h2.custom_block_title {
        font-size: 1.65em;
        margin-left: $newto-margin-left;
      }
    }
    div#block-block-9 {
      ul#why-register {
        margin-left: $newto-margin-left;
        padding-left: 14px;
      }
    }
    div#block-block-8 {
      margin-top: -78px;
     
    }
  }
}
