@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";


$panel-margin-left: 20px;
$header-pad-left: 20px;
$header-margin-left: 10px;


body.node-type-event {
  footer {
    left: 0px;
    margin-left: -30px;
    .disclaimer {

      padding-right: 0px !important;
    }
  }
  // banner 
  /* banner title text */
  h1#site-name.header__site-name {
  }

  div#block-block-13 {

  }
   div.view-content {
      h1.subtitle,h2.views-field {
        margin-left: $header-margin-left;
        padding-left: 0px;
      }
    }
  div#main div#content div#title-section  {
    h1#page-title.page__title {
      margin-left: $header-margin-left;
      padding-left:  0px;
    }

  }
  div.group-right {
    position: relative;
    left: -10px;
  }
  div.group-left {
    margin-left: 10px;
  }
  ul.tabs-primary {
    display: none;
  }
}
