/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/


$default-stack: Arial, Helvetica, sans-serif;



$capt-orange: #c3791f;
$capt-maroon: #8c1d18;
$capt-green: #888a55;
$capt-aqua: #577785;
$capt-darkblue: #334b56;
$capt-black: #333333;
$capt-darkgrey: #959595;
$capt-midgrey: #d7d7d7;
$capt-lightgrey: #eef1f3;
$capt-hovergrey: #efefef;
$capt-formgrey: #5c5c5c;
$capt-inputfocus: #F5FAFC;
$password-suggest: #F7F7F7;

/*#e4e4e4;*/

$capt-tabsgrey: #e3e4e0;

/*#e4e3e0;*/
$capt-profgrey: #dbdbd9;

/*measurements */

$header-height: 115px;
$rainbow-height: 9px;
$page-width: 1000px;
$logo-margin: 0px;
$dash-nudge: 15px;
$login-margin-left: 17px;
$newto-margin-left: 30px;

$event-right-panel-pos: -27px;

/*fonts*/

$login-font: 16px;
$edit-margin-right: 0px;
$input-font-size: 14px;

/* responsive */

$iPh6H: 667px;
$iPh6W: 375px;
$iPadH: 1024px;
$iPadW: 768px;
$phone-tablet-divide: 767px;

/* logos */

$capt-iPh6-scale: 0.50;
$samhsa-iPh6-scale: 0.42;

$capt-iPh4-scale: 0.50;
$samhsa-iPh4-scale: 0.39;

$small-tablet-scale: 0.85;

$mobile-header-height: 91px;
$mobile-header-height: 61px;

$capt-phone-logo-width: 290px;
$capt-logo-width: 342px;
$capt-logo-height: 49px;

$samhsa-phone-logo-width: 175px;
$samhsa-phone-logo-height: 50px;
$samhsa-logo-width: 300px;
$samhsa-logo-height: 74px;

$top-margin: 10px;
$small-phone-width: 365px;

/* end logos */

/* mixins */
/* for tabs! */


