/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/* variables */
/*fonts*/
/*#e4e4e4;*/
/*#e4e3e0;*/
/*measurements */
/*fonts*/
/* responsive */
/* logos */
/* end logos */
/* mixins */
/* for tabs! */
/* for rounded elements */
/* for header & footer */
/* line 5, ../../sass/headers/extensible.scss */
#block-block-12 .contextual-links-wrapper {
  width: 970px;
  margin: 0px auto;
}

/* line 10, ../../sass/headers/extensible.scss */
.proto-disclaimer {
  position: relative;
  top: 30px;
  font-size: 10px;
  line-height: 1.4em;
  width: 420px;
  padding-right: 550px;
  margin: 0px auto;
  padding-bottom: 20px;
  left: 0px;
}

/* line 22, ../../sass/headers/extensible.scss */
.basic-button {
  background-color: #c3791f;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 29, ../../sass/headers/extensible.scss */
.panel, .panel-rule, .panel-rule-single {
  background-color: #eef1f3;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d7d7d7;
  border-top: 0px;
}
/* line 35, ../../sass/headers/extensible.scss */
.panel h3 a:hover, .panel-rule h3 a:hover, .panel-rule-single h3 a:hover {
  color: #8c1d18;
}
/* line 38, ../../sass/headers/extensible.scss */
.panel .filter-wrapper, .panel-rule .filter-wrapper, .panel-rule-single .filter-wrapper {
  border: 0px;
}

/* line 47, ../../sass/headers/extensible.scss */
.panel-rule, .panel-rule-single {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px;
  /*5px solid $capt-aqua;*/
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}
/* line 57, ../../sass/headers/extensible.scss */
.panel-rule:before, .panel-rule-single:before {
  display: block;
  background-color: #577785;
  height: 5px;
  width: 100%;
  content: "";
  position: relative;
  top: -25px;
  margin-left: -1px;
  padding-left: 2px;
}

/* line 70, ../../sass/headers/extensible.scss */
.panel-rule-single {
  margin-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  /* needs to be larger for dashboard panels */
}

/* line 78, ../../sass/headers/extensible.scss */
.pager-link {
  background-repeat: no-repeat;
  color: #c3791f;
  font-size: 14px;
  font-weight: normal;
}

/* line 9, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events {
  /* only controls view-dashboard on left column */
}
/* line 10, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#main div#content div#title-section h1#page-title.page__title {
  padding-left: 75px;
}
/* line 14, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div.view-content, body.page-events.section-events div.view-dashboard {
  margin-left: 15px;
}
/* line 19, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#content > div.view-dashboard {
  width: 48%;
}
/* line 22, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div.view-dashboard div.view-content {
  margin-left: 0px;
}
/* line 28, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region {
  margin-right: 15px;
  width: 45%;
  background-position: right -10px top 8px;
}
/* line 34, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region div.view-content,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region div.view-content {
  margin-left: 0px;
  padding-left: 0px;
}
/* line 38, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region h2.block-title.block__title,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region h2.block-title.block__title {
  margin-left: 12px;
  padding-left: 0px;
  font-size: 21px;
  margin-top: 0px;
}
/* line 44, ../../sass/tablet/tablet-event-dashboard.scss */
body.page-events.section-events div#block-views-dashboard-block-1.contextual-links-region div.view-empty,
body.page-events.section-events div#block-views-dashboard-block-2.contextual-links-region div.view-empty {
  margin-left: 0px;
}
