@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";


body {
  div#page {
    header#header {
      height: 90px;
      .header-blue, .header-blue-2 {
        height: 90px;
        background: url("../images/banners/banner-iphone.png") 0 0 no-repeat;
        padding-left: 0px;
        width: 100%;
        margin-left: 0px;
        .region-header {

        }
        #name-and-slogan {
          top: 30px;
          font-size: .65em;
          position: absolute;
          left: 10px;
          padding-top: 0px;
          &.category {

          }
        }
        .region-highlighted {
          top: 60px;
          position: absolute;
          left: 10px;
          padding-top: 0px;
          padding-left: 0px;
          font-size: 1em;
          &.category {
            top: 50px;
            font-size: 2em;
          }
        }
      }
      .header-photos, .header-photos-2 {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
      }
    }
  }
  &.not-logged-in.page-user-register,
  &.not-logged-in.page-anon-register {
    #name-and-slogan, .region-highlighted {
      left: 20px !important;
    }
  }
}
