@import "../headers/variables";
@import "../headers/capt-mixins";

$panel-margin-left: 20px;
$header-pad-left: 20px;

  /*
   * prototype classes´
   */

  .reset-layout {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  /* for mobile panels with no top bars */
  .top-bar-reset {
    background-color: none;
    height: 0px;
    width: 0px;
    position: static;
  }
.mobile-panel {
    padding-top: 10px;
    text-align: left;
    margin: 0px auto;
    float: none;
    width: 94%;
   
    padding-left: 0px;
    background: no-repeat;
    background-color: $capt-lightgrey;
    &:before {
      top: -11px;
    }
}

.before-style {
   display: block;
    background-color: $capt-aqua;
    height: 5px;
    width: 100%;
    content: "";
    position: relative;
    top: 0px;
    margin-left: -1px;
    padding-left: 2px;

}
.mobile-panel-rule {
  @extend .mobile-panel;
   &:before {
    @extend .before-style;
  }
}
  .mobile-login-lower-panel {
    @extend .mobile-panel;
    &:before {
      background-color: white;
    }
  }

.show-hide-appearance {
    cursor: pointer;
    background-image: url("../images/icons/show.png");
    background-position: 0px 8px;
    background-repeat: no-repeat;

  }
.show-hide-text {
 color: black;
 font-weight: normal;
 font-size: 20px;
}


.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// show-hide button class
.show-hide-button {
 @extend .show-hide-text;
 @extend .show-hide-appearance;
 padding-left: $header-pad-left;
 background-repeat: no-repeat;
}
// for h2 classes that use show-hides
.show-hide-header {
  @extend .show-hide-button;
  padding-left: 30px;
  padding-bottom: 16px;
  margin: 0px;
  background-position: 8px 8px;
}
.show-hide-panel {
  background-color: $capt-lightgrey;
  padding-bottom: 10px;
  border: 1px solid $capt-midgrey;
  border-top: 0px;
}
.show-hide-content {
     background-color: white;
     padding-top: 20px;
     margin-top: 0px;
     border-top: 1px solid $capt-midgrey;
     padding-bottom: 10px;
}
/* event primitive */

.event-show-hide {
  @extend .show-hide-panel;
  h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 0px;
    margin-left: 0px;
    padding-left: 18px + $panel-margin-left;
    background-color: $capt-lightgrey;
    padding-bottom: 20px;
    margin-bottom: 0px;
    padding-top: 22px;
    
     @extend .show-hide-button;
    background-position: 20px 28px;
    span {
      @extend .show-hide-text;
    }
  
 }
 div.field-items {
  margin-left: 0px;
  padding-left: $panel-margin-left;
  margin-bottom: 20px;
}
}
  /*
   *  End Prototypes, Start Mixins
   */
