@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "extensible-phone";

html,
body {
  width: 100%;
  min-width: 320px;
  overflow-x: visible;
  height: 100%;
  div#page {
    @extend .reset-layout;
    display: inline-block;
    // padding: 0 0 110px 0;
    // margin: 0 0 -110px 0;
    div#main {
      padding-top: 0px;
      div#content {
        border: none;
        width: auto;
        margin: 0 auto;
        margin-top: 70px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        .ds-2col-stacked > .group-left {
          padding-right: 0px;
        }
        .node-page {
          width: 90%;
        }
      }
      div#navigation {
        #main-menu {
          width: 95%;
        }
      }
    }
  }
  &.node-type-event {
    div#main {
      margin-bottom: 15px;
    }
  }
  &.front,
  &.page-anon-register,
  &.page-anon-login,
  &.page-user-register,
  &.page-user-password,
  &.page-user-reset {
    div#page div#main div#content {
      margin-top: 60px !important;
    }
  }
  &.not-logged-in {
    div#page div#main div#content {
      margin-top: 0px;
    }
  }
  &.logged-in {
    div#page div#main div#content {
      border: 1px solid $capt-midgrey;
      border-top: none;
      padding-top: 10px;
      margin: 55px 10px 20px !important;
    }
    &.logged-in.page-user-edit {
      div#page div#main div#content {
        #title-section {
          margin-top: 20px;
        }
        .horizontal-tabs-pane::before {
          padding-left: 13px;
        }
      }
    }
  }
}


body.logged-in #title-section h1#page-title {
  padding-left: 55px;
  background-size: 60px auto;
  background-position: 0px 4px;
  font-size: 20pt;
}

body.node-type-page:not(.section-events):not(.section-administration) #title-section h1#page-title {
  padding-left: 0px;
}


#edit-field-demographic-info-intro, #edit-field-omb p {
  margin-left: 15px;
}


/* switch user block */
div.block-devel#block-devel-switch-user {
  margin: 0px auto;
  text-align: left;
}
div.block-devel#block-devel-switch-user {
  width: 50%;
  margin-top: 40px;
}

body .horizontal-tabs ul.horizontal-tabs-list li {
  clear: both;
}


ul.tabs-primary {
  display: none;
}


body.page-user-edit #block-block-3 p,
body.page-user-register #block-block-3 p,
body.page-anon-register #block-block-3 p {
  font-size: 11px !important;
}

// div.bottom-footer div.bottom-footer-container footer#footer div.disclaimer {
//   margin: 0px !important;
//   width: auto;
// }

body.node-type-page {
  div#content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .node-page {
      width: auto !important;
      input[type="text"] {
        max-width: 320px;
      }
    }
  }
}

body.page-user-cancel h1#page-title {
  padding-left: 0px !important;
}



.section-404.not-logged-in,
.section-403.not-logged-in {
  #title-section {
    margin-top: 30px !important;
  }

}




div.bottom-footer {
  top: 0px !important;
  clear: both;
  .bottom-footer-container {
    padding-top: 20px;
    width: 100%;
    footer#footer {
      width: 100%;
      margin: 0 auto !important;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 11px;
      #block-block-12 {
        width: 94%;
        margin-top: 20px;
        p {
          line-height: 1.25em;
        }
        a {
          font-weight: normal;
          text-decoration: underline;
          color: #333333;
        }
      }
    }
  }
}


body.not-logged-in.page-user:not(.page-user-register) div#page div#main,
body.not-logged-in.page-anon-login div#page div#main {
  margin-bottom: 100px;
}

body .top-header .top-header-container {
  padding: 0px !important;
}


.page-portals.logged-in .messages {
  margin-right: 0px;
}
