@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "extensible-phone";

html,
body {
  width: 100%;
  min-width: 320px;
  overflow-x: visible;
  height: 100%;
  div#page {
    @extend .reset-layout;
    display: inline-block;
    padding: 0 0 110px 0;
    margin: 0 0 -110px 0;
    div#main {
      padding-top: 0px;
      div#content {
        border: none;
        width: 95%;
        margin: 0 auto;
        margin-top: 70px;
        padding: 0px;
        padding-left: 16px;
        padding-right: 16px;
        .ds-2col-stacked > .group-left {
          padding-right: 0px;
        }
      }
      div#navigation {
        #main-menu {
          width: 95%;
        }
      }
    }
  }
  &.node-type-event {
    div#main {
      margin-bottom: 15px;
    }
  }
  &.front,
  &.page-anon-register,
  &.page-anon-login,
  &.page-user-register,
  &.page-user-password,
  &.page-user-reset {
    div#page div#main div#content {
      margin-top: 60px !important;
    }
  }
  &.not-logged-in {
    div#page div#main div#content {
      margin-top: 0px;
    }
  }
  &.logged-in {
    div#page div#main div#content {
      margin-top: 55px !important;
      border: 1px solid $capt-midgrey;
      border-top: none;
      padding-top: 10px;
      margin-bottom: 20px;
    }
    &.logged-in.page-user-edit {
      div#page div#main div#content {
        #title-section {
          margin-top: 20px;
        }
        .horizontal-tabs-pane::before {
          padding-left: 13px;
        }
      }
    }
  }
}







/* switch user block */
div.block-devel#block-devel-switch-user {
  margin: 0px auto;
  text-align: left;
}
div.block-devel#block-devel-switch-user {
  width: 50%;
  margin-top: 40px;
}

body .horizontal-tabs ul.horizontal-tabs-list li {
  clear: both;
}
