@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import 'capt-mixins-phone';
@import 'extensible-phone';




 body.not-logged-in.page-user:not(.page-user-register),
 body.not-logged-in.page-anon-login {
  overflow-x: hidden;
  div#page {
    div#main {
      margin-top: -30px !important;
      div#content {
        .messages {
          text-align: left;
          margin-bottom: 40px;
          &+ #title-section {
            padding-top: 20px;
          }
        }
        div#title-section {
          margin-left: 16px;
          background-color: transparent;
          border: 0px;
          float: left;
          padding-left: 4%;
          cursor: default;
          margin-top: 25px;
          &:before {
            height: 0px;
            background-color: none;
          }
          h1#page-title {
            padding: 0px;
            margin: -20px 0 0 0;
            font-size: 1.8em;
          }
        }
      }

      form#user-login,
      div#block-block-8,
      div#block-block-9 {
        @extend .noselect;
        @include side_borders($capt-midgrey);
        h1, h2 {
          @extend .noselect;
        }
        h2 {
          margin-bottom: 6px;
        }
      }

      form#user-login {
        @extend .mobile-panel-rule;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        height: 300px;
        input#edit-name,
        input#edit-pass {
          width: 85%;
        }
        div.form-item.form-item-name {
          padding-top: 0px;
          margin-top: -100px;
          clear: left;
        }
        div#edit-actions input#edit-submit {
          display: block;
        }
      }
      div#block-block-8,
      div#block-block-9,
      div#block-block-18 {
        @extend .mobile-login-lower-panel;
        border-top: 1px solid $capt-midgrey;
        margin-top: -15px;
        padding: 20px 0;
        &:before {
          height: 0px;
        }
        h2 {
          margin-left: 16px !important;
        }
        p {
          margin-left: -14px;
        }
        ul {
          margin-left: 0px;
          padding-left: 30px;
        }
      }
      div#block-block-9 {
        height: auto;
        margin-bottom: -30px;
        #why-register-icon {
          width: 115px;
          background-position: 5px;
        }
      }
      div#block-block-18 {
        h2 {
          font-size: 1.8em;
        }
        a.arrow-link {
          max-width: 335px;
          width: 100%;
        }
      }
    }
  }
}

div.bottom-footer {
  @extend .reset-layout;
  height: 50px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  display: block;
  margin: 0px;
  div.bottom-footer-container {
    @extend .reset-layout;
    text-align: left;
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0px;
    footer#footer {
      width: 100%;
      max-width: 100%;
      // div.disclaimer {
      //   @extend .reset-layout;
      //   width: 95%;
      //   max-width: 360px;
      //   border: none;
      //   height: 100px;
      //   text-align: left;
      //   padding: 0px;
      //   margin: 0 0 0 3%;
      // }
    }
  }
}

.page-anon-login form#user-login {
  height: 340px !important;
}

#why-register-icon {
  background-size: 60px;
  width: 80px !important;
  background-position-y: 0px !important;
}
