@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import 'capt-mixins-phone';
@import 'extensible-phone';


body.section-portal {
  div#main div#navigation div.region.region-navigation #block-views-portals-block-4 {
    margin: 30px 0 0 30px;
  }
  .ds-2col {
    .group-left {
      float: none;
      width: 100%;
      padding-right: 0px;
    }
    .group-right {
      float: none;
      width: 100%;
      margin-left: 0px;
      margin-top: 30px;
      .field-type-ds {
        width: auto;
      }
    }
  }
}

body.role-authenticated-user {
  ul#main-menu.main-menu {
    li.menu-item {
      width: 30%;
      max-width: 200px;
      margin-right: 5px;
    }
  }
}
