@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";


/* event page styles */
body.node-type-event {

  div.bottom-footer {
    margin-top: -100px;
  }
  footer {
    left: 0px;
    margin-left: -30px;
    .disclaimer {
      padding-right: 0px !important;
    }
  }

  /* banner subtitle text */
  @media screen and (max-width: 512px) {
    div#block-block-7 {
      display: block;
    }
  }

  // general styles
  div#page {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  div#main div#content div#title-section {
    margin-top: 0px;
    h1 {
      font-size: 32px;
    }
  }

  ul.tabs-primary {
    display: none;
  }
  .ds-2col-stacked > .group-left,
  .ds-2col-stacked > .group-right {
    width: 100%;
    margin: 0px;
    float: none;
  }
  .ds-2col-stacked > .group-left {
    padding-right: 0px !important;
  }

  // panel-specific
  div#block-views-materials-block {
    margin-bottom: 0px;
  }
  div.view-display-id-block {
    margin-left: 0px;
  }

  .ds-2col-stacked > .group-right {
    div.field-name-materials.field-type-ds,
    div.field-type-ds.field-name-event-date-s-,
    div.field-type-ds.field-name-join-this-event,
    div.field-type-ds.field-name-join-this-event-2 {
      padding-bottom: 0px;
      background-color: white;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      h2 {
        @extend .show-hide-header;
        background-color: $capt-lightgrey;
        border-bottom: 0px;
        margin-left: 0px;
        padding-left: 26px;
        padding-top: 16px;
        background-position: 6px 24px;
      }
      div.view-materials {
        border-top: 1px solid $capt-midgrey;
      }
      &:before {
        height: 0px;
      }
      div.item-list {
        margin-left: $panel-margin-left;
        border-top-width: 0px;
      }
    }
  }
  .ds-2col-stacked > .group-left {
    @extend .event-show-hide;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
    div.group-audience,
    div.group-presenter,
    div.group-description {
      .views-field-field-presenter-image {
        margin-right: -22px;
        div.field-content {
          width: 75%;
          height: 75%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .views-row {
        min-height: 120px;
      }
      div.field-name-presenters {
        border-top: 1px solid $capt-midgrey;
        padding-top: 10px;
        border-bottom: 0px;
      }
      div.field-type-text-long {
        border-top: 1px solid $capt-midgrey;
        padding-top: 10px;
      }
    }
    & > div:nth-child(1) {
      margin-top: 20px;
      &:before {
        @extend .before-style;
      }
      p {
        width: 95%;
      }
    }
    & > div:not(:nth-child(1)) {
      h4 {
        margin-top: 0px;        
      }
    }
    div.group-presenter {
      p {
        width: 95%;
      }
    }


    div.field-type-ds.field-name-event-date-s- {

        width: 100%;
        padding: 0px;
        background-color: white;
        border: 0px;

        li.views-row > strong {
          display: list-item;
        }
        div.item-list ul {
          padding-left: 13px;
          li.views-row {
            width: 90%;
            display: list-item;
            position: relative;
            top: 0px;
            margin-bottom: 10px;
            padding-top: 0px;
          // is there a better way?
          strong {
            position: relative;
          }
          // shift up to align with bullet
          span.date-display-single {
            position: relative;
          }
          span.date-display-start,
          span.date-display-end {
          }
          div.views-field.views-field-ops {
            margin-left: 0px;
            position: relative;
          }
        }
      }
      div.field-item h2.block-title {
        color: $capt-maroon;
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 1em;
      }
      &:before {
        background-color: white;
        height: 0px;
      }
    }
    /* make an extensible class?*/

  }
}
