@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";

$top-pad: 60px;
$header-pos: 10px;
$title-buffer: 104px;

body.page-events.section-events {
	div#page {
   margin-bottom: 0px !important;
   padding-bottom: 0px !important;
 }
 div.bottom-footer {
  margin-top: -100px;
}
div#main div#content div#title-section	{
  margin-top: -20px;
  width: 100%;
  position: relative;
  background: url('../images/icons/upcoming-events-iphone.png') right -7px top 6px no-repeat;
  background-size: 60px 45px;
  top: $top-pad + 44px;
  padding-bottom: 0px;
  padding-top: $header-pos;
  height: $top-pad - $header-pos;
  background-color: $capt-lightgrey;
  border-right: 1px solid $capt-midgrey;
  border-left: 1px solid $capt-midgrey;
	float: none;
  display: block;
  margin-bottom: $title-buffer;
  &:before {
   @extend .before-style;
   top: -15px;

 }
 h1#page-title.page__title {
  max-width: 100%;
	padding-top: 5px;
  @extend .show-hide-button;

  padding-left: 30px;
  margin-left: 0px;
  background-position: 8px $header-pos + 2px;

  padding-bottom: 0px;
  height: 30px;
  &:before {
    content: 'Upcoming\00a0';
  }
}


}


#block-views-dashboard-block-1 > .view-dashboard > .view-content,
#block-views-dashboard-block-2 > .view-dashboard > .view-content {
	padding: 0 20px 0 30px;
}

/* only controls view-dashboard on left column */
div#content > div.view-dashboard {
        width: 100%; // include in prototype?
        margin: 0px auto;
        float: none;

        margin-top: $top-pad - 6px - $title-buffer;
        padding-top: $top-pad;

        background-color: white;
        padding-top: 20px;
        margin-top: 0px;
        border-top: 1px solid $capt-midgrey;
        @include side_borders($capt-midgrey);
        @extend .show-hide-content;

        div.item-list {
        	margin-left: 10px;
        }
        &:before {
        	height: 0px;
        }
				> .view-content {
					padding: 0 20px;
				}


      }
      div.view-dashboard div.view-content {

      }
      div#block-views-dashboard-block-1 {
        border-bottom: 0px;
      }
      .views-exposed-widgets {
       margin-bottom: 0.5em;
       float: left;
       margin-right: -12px;
			 margin-top: 12px;
      }
      div#block-views-dashboard-block-1,
      div#block-views-dashboard-block-2 {
        width: 100%;
        margin: 0px;
        float: none;
        // identical to tablet; perhaps make a prototype style
        background-position: right -6px top 8px;
        background-size: 60px 45px;
        border-top: 1px solid $capt-midgrey;
        padding-bottom: 0px;


        h2 {
         width: 90%;
         @extend .show-hide-header;
       }
       div.view.view-dashboard {
        @extend .show-hide-content;
       }
       &:before {
         height: 0px;
         background-color: transparent;
       }
       div.view-empty, div.item-list {
         margin-top: 10px;
       }
       div.view-content {

       }
       h2.block-title.block__title {

       }
       div.view-empty {

       }

     }
   }
