@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";

$phone-margin: 10px;
$reg-margin-left: 1.6%;

body.logged-in.page-user-edit,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  input.form-text {
    width: 95%;
  }
  .chosen-container {
    width: 96% !important;
  }
  form#user-profile-form .form-item .description {
    line-height: 1.5em;
  }
  div#page {
    margin-bottom: 0px;
    padding-bottom: 0px;
    div#main {
      div#content {
        margin-top: 20px !important;
        .messages {
          margin: -30px 0 60px;
        }
        div#title-section {
          margin-top: 0px !important;
          height: 65px;
          margin-bottom: -10px;
          h1 {
            font-size: 20pt;
            background-size: 32px auto;
            padding-top: 7px;
            padding-left: 38px;
            background-position: 0px 0px;
          }
        }
        div.horizontal-tabs-panes {
          margin-top: 10px;
        }
        form#user-register-form {
          width: 100%;
          div.horizontal-tabs-panes {
            margin-left: 0.7%;
            width: 100%;
            margin-bottom: 13px;
            &:before {
              width: 100%;
              padding: 0px;
            }
            li.horizontal-tab-button {
              display: block;
              width: 98%;
              text-align: center;
              margin: 0px auto;
              height: 25px;
            }
            fieldset.form-wrapper.horizontal-tabs-pane {
              input.form-text {
                width: 90%;
              }
              input.form-checkbox,
              input.form-radio {
                width: 20px;
                margin-left: -5px;
                margin-right: -2px;
              }
              .chosen-container {
                width: 94% !important;
              }
              div.fieldset-wrapper {
                margin-left: -15px;
              }
            }
          }
        }
      }
    }
  }
  #footer {
    margin-top: -100px;
  }
}



body.page-user-register, body.page-user-edit, body.page-anon-register {
  .multipage-panes {
    .multipage-pane-wrapper {
      padding: 20px 10px !important;
      &:before {
        margin-left: -11px;
        margin-right: 0px;
        padding: 0px 11px;
        width: 100%;
      }
      .chosen-container {
        width: 100% !important;
      }
      .form-wrapper:first-child {
        margin-top: -15px;
      }
      .description {
        font-size: 0.75em;
        line-height: 1.5em;
        margin-left: 2px;
        margin-top: 2px;
      }
      .multipage-counter {
        right: -1em;
      }
    }
  }
  .messages {
    margin: 0px 0px 30px;
    padding: 10px 10px 10px 37px;
    background-size: 26px auto;
    ul {
      padding-left: 20px;
    }
  }
}



// specific to profile
body.logged-in.page-user-edit {
  div#page div#main div#content .messages {
    margin: 10px 0 0;
  }
  ul#main-menu {
    li.menu-item {
      a {
        width: 150px;
      }
    }
  }
  form#user-profile-form {
    input[type="password"].form-text {
      width: 105%;
    }
    select#edit-field-organizational-affiliation-und.chosen-enable.form-select.required.chosen-processed {
      display: block;
    }
    input.form-text {
      width: 95%;
    }
      div.form-item ,
      fieldset.collapsible.form-wrapper,
      {
        margin-left: 15px;
        .form-item.form-type-radio, .form-item.form-type-checkbox {
          margin-left: 0px;
        }
      }
      div.password-confirm {
        margin-top: 0px;
      }
      div.form-item.form-type-textfield.form-item-mail  {
        width: 100%;
        input.form-text,
        div.description,
        label:not(.option) {
            width: 95%;
          }
        }
        label:not(.option) {
          font-weight: bold;
        }
    div.horizontal-tabs-panes.horizontal-tabs-processed {
      div.chosen-container {
        width: 94% !important;
      }
      &:before {
        margin: 0px auto;
        width: 100%;
      }
      fieldset.form-wrapper.horizontal-tabs-pane div.fieldset-wrapper {
        margin-left: 0px !important;
        width: 95%;
        padding: 0px 4px;
        margin-bottom: 15px;
      }
      fieldset#edit-timezone {
        width: 100%;
        padding: 0px;
      }
      fieldset#edit-ckeditor {
        span.fieldset-legend {
          width: 200%;
        }
      }
      fieldset.form-wrapper:not(.horizontal-tabs-pane) {
        margin-top: 30px;
        legend {
          position: relative;
          top: 0px;
          left: 0px;
        }
      }
      fieldset {
        border-top: 1px solid $capt-midgrey;
      }
      div.form-type-select {
        width: 100% !important;
        select#edit-timezone--2 {
          width: 100%;
        }
        .chosen-single {
          width: 100% !important;
          span {
            width: 250px !important;
          }
        }
        div.chosen-container#edit_timezone__2_chosen {
          width: 80% !important;
        }
      }
      div.form-item.form-type-radio {
        white-space: nowrap;
      }
      div.chosen-container-multi {
        max-width: 80% !important;
      }
      label {
        whitespace: no-wrap;
      }
      div#edit-account {
        div.form-item.form-type-password-confirm.form-item-pass {
          width: 90% !important;
          margin: 0px;
          width: 10px;
          div.form-type-password {
            width: 100% !important;
          }
          div.form-type-radio {
            display: none;
          }
          div.description {
            margin-left: 15px;
          }
          div.password-strength {
            display: none;
          }
        }
      }
    }
  }
}


body.page-user-register #content {
  border: none !important;
}
