@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";

$phone-margin: 10px;
$reg-margin-left: 1.6%;

body.logged-in.page-user-edit,
body.not-logged-in.page-user-register:not(.node-type-event),
body.not-logged-in.page-anon-register:not(.node-type-event) {
  input.form-text {
    width: 95%;
  }
  .chosen-container {
    width: 96% !important;
  }
  form#user-profile-form .form-item .description {
    line-height: 1.35em;
    font-size: 8pt;
  }
  div#page {
    margin-bottom: 0px;
    padding-bottom: 0px;
    div#main {
      margin-bottom: 30px;
      div#content {
        margin-top: 20px !important;
        .messages {
          margin: -10px 0 20px;
        }
        div#title-section {
          margin-top: 0px !important;
          height: 65px;
          margin-bottom: -10px;
          h1 {
            font-size: 20pt;
            background-size: 32px auto;
            padding-top: 7px;
            padding-left: 38px;
            background-position: 0px 0px;
          }
        }
        div.horizontal-tabs-panes {
          margin-top: 10px;
          fieldset.horizontal-tabs-pane:before {
            padding-left: 0px;
          }
        }
        form#user-register-form {
          width: 100%;
          div.horizontal-tabs-panes {
            margin-left: 0.7%;
            width: 100%;
            margin-bottom: 13px;
            &:before {
              width: 100%;
              padding: 0px;
            }
            li.horizontal-tab-button {
              display: block;
              width: 98%;
              text-align: center;
              margin: 0px auto;
              height: 25px;
            }
            fieldset.form-wrapper.horizontal-tabs-pane {
              input.form-text {
                width: 90%;
              }
              input.form-checkbox,
              input.form-radio {
                width: 20px;
                margin-left: -5px;
                margin-right: -2px;
              }
              .chosen-container {
                width: 100% !important;
              }
              div.fieldset-wrapper {
                margin-left: -15px;
              }
            }
          }
        }
      }
    }
  }
  #footer {
    margin-top: -100px;
  }
}



body.page-user-register, body.page-user-edit, body.page-anon-register {
  .multipage-panes {
    .multipage-pane-wrapper {
      padding: 20px 10px !important;
      &:before {
        margin-left: -11px;
        margin-right: 0px;
        padding: 0px 11px;
        width: 100%;
      }
      .chosen-container {
        width: 100% !important;
      }
      .form-wrapper:first-child {
        margin-top: -15px;
      }
      .description {
        font-size: 0.75em;
        line-height: 1.5em;
        margin-left: 2px;
        margin-top: 2px;
      }
      .multipage-counter {
        right: -1em;
      }
    }
  }
  .messages {
    margin: 0px 0px 30px;
    padding: 10px 10px 10px 37px;
    background-size: 26px auto;
    ul {
      padding-left: 20px;
    }
  }
}



// specific to profile
body.logged-in.page-user-edit {
  div#page div#main div#content {
    margin-top: 56px !important;
    .messages {
      margin: 10px 0 0;
    }
  }
  ul#main-menu {
    li.menu-item {
      a {
        width: 150px;
      }
    }
  }
  form#user-profile-form {
    div.form-item.form-item-status,
    div.form-item-mimemail,
    div.form-item-timezone {
      clear: both;
    }
    input[type="password"].form-text {
      width: 105%;
    }
    select#edit-field-organizational-affiliation-und.chosen-enable.form-select.required.chosen-processed {
      display: block;
    }
    input.form-text {
      width: 95%;
    }
      div.form-item ,
      fieldset.collapsible.form-wrapper,
      {
        margin-left: 15px;
        .form-item.form-type-radio, .form-item.form-type-checkbox {
          margin-left: 0px;
        }
      }
      div.password-confirm {
        margin-top: 0px;
        .ok {
          background: #234600;
          color: #f8fff0;
          padding: 5px;
        }
        .error {
          background: #8c2e0b;
          color: #fef5f1;
          padding: 5px;
        }
      }
      div.form-item.form-type-textfield.form-item-mail  {
        width: 100%;
        input.form-text,
        div.description,
        label:not(.option) {
            width: 95%;
          }
        }
        label:not(.option) {
          font-weight: bold;
        }
    div.horizontal-tabs-panes.horizontal-tabs-processed {
      div.chosen-container {
        width: 100% !important;
      }
      &:before {
        margin: 0px auto;
        width: 100%;
      }
      fieldset.form-wrapper {
        margin: 0px;
        padding: 0px;
        .horizontal-tabs-pane div.fieldset-wrapper {
          margin-left: 0px !important;
          width: 95%;
          padding: 0px 4px;
          margin-bottom: 15px;
        }
      }
      div.form-type-select.form-item-timezone {
        margin-left: 15px;
        width: 90% !important;
        fieldset#edit-timezone {
          width: 100%;
          padding: 0px;
        }
      }
      fieldset#edit-ckeditor {
        span.fieldset-legend {
          width: 200%;
        }
      }
      fieldset.form-wrapper:not(.horizontal-tabs-pane) {
        margin-top: 30px;
        legend {
          position: relative;
          top: 0px;
          left: 0px;
        }
      }
      fieldset {
        border-top: 1px solid $capt-midgrey;
        fieldset {
          margin-left: 15px !important;
          & > legend {
            position: relative !important;
            top: -10px !important;
          }
          #edit-og-user-node {
            margin-left: 0px !important;
          }
        }
        &#edit-og-user-node-und {
          margin-left: 0px !important;
        }
      }
      div.field-type-entityreference:not(.field-widget-options-buttons) {
        margin-left: 15px;
      }
      div.form-type-select {
        width: 100% !important;
        select#edit-timezone--2 {
          width: 100%;
        }
        .chosen-single {
          width: 100% !important;
          span {
            width: 250px !important;
          }
        }
        div.chosen-container#edit_timezone__2_chosen {
          width: 80% !important;
        }
      }
      div.form-item.form-type-radio {
        white-space: nowrap;
      }
      div.chosen-container-multi {
        max-width: 80% !important;
      }
      label {
        whitespace: no-wrap;
      }
      div#edit-account {
        div.form-item.form-type-password-confirm .form-item.password-parent,
        div.form-item.form-type-password-confirm .form-item.confirm-parent {
          width: auto !important;
        }
        div.form-item.form-type-password-confirm.form-item-pass {
          width: 100% !important;
          margin: 0px;
          width: 10px;
          div.form-type-password {
            &.confirm-parent {
              padding-left: 10px;
              margin-right: -10px;
              label[for="edit-pass-pass2"] {
                margin-left: -10px;
                margin-top: 12px;
              }
            }
          }
          div.form-type-radio {
            display: none;
          }
          div.description {
            margin-left: 15px;
            margin-top: 30px;
            margin-bottom: 40px;
          }
          & > div:last-of-type {
            display: none;
          }
          div.password-strength {
            display: none;
          }
          div.password-confirm {
            width: 100%;
            margin-left: -10px;
            input {
              width: 90% !important;
            }
          }
          input.password-confirm {
            float: none !important;
            margin-left: -10px;
            width: 90% !important;
          }
          input#edit-pass-pass1,
          input#edit-pass-pass2 {
            width: 95% !important;
          }
          div.password-suggestions {
            background: #FFFFFF;
            border: 2px solid #DBBCBC;
            margin-top: 0px;
            ul {
              padding-left: 15px;
              li {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}


body.page-user-register #content,
body.page-anon-register #content {
  border: none !important;
  .form-item {
    width: 100%;
  }
  div.password-strength {
    display: none;
  }
  .confirm-parent {
    label[for="edit-pass-pass2"] {
      clear: both;
    }
    & > div:first-of-type {
      position: absolute;
      margin-top: -63px;
      margin-left: 115px !important;
      width: auto;
    }
  }
  div.password-suggestions {
    background: #FFFFFF;
    border: 2px solid #DBBCBC;
    margin-top: 0px;
    width: 89% !important;
    ul {
      padding-left: 15px;
      li {
        padding-bottom: 5px;
      }
    }
  }
  input#edit-pass-pass1,
  input#edit-pass-pass2 {
    width: 95% !important;
  }
  label[for="edit-pass-pass1"],
  label[for="edit-pass-pass2"] {
    font-size: 14px !important;
  }
  div.password-confirm {
    margin-top: 0px;
    .ok {
      background: #234600;
      color: #f8fff0;
      padding: 5px;
    }
    .error {
      background: #8c2e0b;
      color: #fef5f1;
      padding: 5px;
    }
  }
  div.form-item.form-type-password-confirm.form-item-pass {
    & > div:last-of-type {
      display: none;
    }
  }
  .form-item .description {
    line-height: 1.35em;
    font-size: 8pt;
  }
  label[for="edit-pass-pass2"] {
    margin-top: 12px;
  }
  .multipage-counter {
    right: 0em !important;
  }
  .multipage-controls-list {
    margin-left: 1.6em;
  }
  #multipage-panes-list {
    margin-left: 1.6em;
  }
  .messages.error {
    margin: -5px 25px 20px !important;
  }
  #block-block-17 ul li {
    font-size: 15px;
    .step {
      font-size: 21px;
    }
  }
  #block-block-3 {
    margin: 30px 20px !important;
  }
}


body.page-user-edit {
  fieldset div.fieldset-wrapper {
    padding-top: 0px !important;
    margin-left: 0px !important;
    width: 95%;
    margin-right: -27px !important;
  }
  form#user-profile-form {
    div.horizontal-tabs-panes.horizontal-tabs-processed {
      div.form-type-select {
        margin-left: 0px;
        width: auto !important;
      }
      &:before {
        padding-left: 0px !important;
      }
      input[name="mail"] {
        width: 90% !important;
      }
      input#edit-pass-pass1 {
        width: 100% !important;
      }
      input#edit-pass-pass2 {
        width: 100% !important;
      }
      .password-suggestions.description {
        width: 85%;
      }
      .password-confirm {
        margin-bottom: 10px;
        margin-top: 5px;
        float: right;
        width: 59% !important;
      }
      .confirm-parent {
        label[for="edit-pass-pass2"] {
          clear: both;
        }
        & > div:first-of-type {
          position: absolute;
          margin-top: -63px;
          margin-left: 94px !important;
          width: auto;
        }
      }
    }
  }
}
