@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";


/* event page styles */
body.node-type-event {

  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
  .field-type-text-long ul {
    margin-left: 20px;
  }

  .body {
    padding: 20px 25px 20px 20px;
  }

  div.bottom-footer {
    margin-top: -100px;
  }
  footer {
    left: 0px;
    margin-left: -30px;
    .disclaimer {
      padding-right: 0px !important;
    }
  }

  /* banner subtitle text */
  @media screen and (max-width: 512px) {
    div#block-block-7 {
      display: block;
    }
  }

  // general styles
  div#page {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  div#main div#content div#title-section {
    margin-top: 0px;
    h1 {
      font-size: 32px;
      padding-left: 0px;
    }
  }

  ul.tabs-primary {
    display: none;
  }
  .ds-2col-stacked > .group-left,
  .ds-2col-stacked > .group-right {
    width: 100%;
    margin: 0px;
    float: none;
  }
  .ds-2col-stacked > .group-right {
    border-bottom: 1px solid $capt-midgrey;
  }
  .ds-2col-stacked > .group-left {
    border-bottom: 0px;
    padding-right: 0px !important;
    .field > div.field-items {
      padding-left: 0px;
      margin-bottom: 0px;
      .block {
        margin-bottom: 0px;
        h2 {
          margin-bottom: 0px;
        }
        .views-field-field-access-information {
          clear: both;
          border-top: 1px solid #d7d7d7;
          margin-top: 20px;
        }
        .button.participate {
          margin: 15px 0 25px;
          float: right;
        }
        h4 {
          color: #8c1d18;
          font-weight: bold;
          font-size: 13px;
          cursor: text;
          margin: 1.33em 0 0.5em;
        }
      }
    }
  }

  // panel-specific
  div#block-views-materials-block {
    margin-bottom: 0px;
  }
  div.view-display-id-block {
    margin-left: 0px;
  }
  div.view-display-id-join_this_event,
  div.view-display-id-join_this_event_2 {
    .views-field-field-date .field-content {
      background: url("../images/icons/arrow-icons.png") no-repeat 0 5px;
      padding-left: 14px;
    }
    .views-field-field-access-information ul {
      padding-left: 0px;
      li {
        line-height: 1.4em !important;
        margin-bottom: 6px;
        list-style-type: none;
        background: url("../images/icons/arrow-icons.png") no-repeat 0 5px;
        padding-left: 14px;
        a {
          font-weight: normal;
          text-decoration: underline;
          color: #333;
        }
      }
    }
  }
  div.view-display-id-event_dates {
    overflow: hidden;
    ul li.views-row {
      margin-bottom: 15px;
      padding-bottom: 15px;
      padding-left: 17px;
      border-bottom: 1px solid #d7d7d7;
      overflow: hidden;
      .button {
        float: right;
        margin: 13px 0px 10px;
      }
      &.views-row-last {
        border-bottom: 0px;
      }
    }
  }

  .ds-2col-stacked {
    div.field-name-materials.field-type-ds,
    div.field-type-ds.field-name-event-date-s-,
    div.field-type-ds.field-name-join-this-event,
    div.field-type-ds.field-name-join-this-event-2 {
      padding-bottom: 0px;
      background-color: white;
      padding-top: 0px !important;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      margin-bottom: 0px;
      border: 0px;
      .view-instances {
        overflow: hidden;
        &.view-display-id-join_this_event,
        &.view-display-id-join_this_event_2 {
          .views-field {
            border-top: 0px;
            h4 {
              font-size: 1.25em;
              margin: 5px 0px;
            }
            li {
              line-height: 1.2em;
            }
          }
        }
      }
      h2 {
        @extend .show-hide-header;
        background-color: $capt-lightgrey;
        border: 1px solid $capt-midgrey;
        border-bottom: 0px;
        margin-left: 0px;
        padding-left: 26px;
        padding-top: 17px;
        background-position: 6px 24px;
        font-size: 20px !important;
        margin-bottom: 0px !important;
      }
      &:before {
        height: 0px;
      }
      div.item-list {
        margin-left: $panel-margin-left;
        border-top-width: 0px;
      }
      h4 {
        margin-top: auto;
        margin-bottom: auto;
        border-top: none;
        margin-left: auto;
        padding-left: 0px;
        background-color: transparent;
        padding-bottom: 0px;
        margin-bottom: auto;
        padding-top: 0px;
      }
    }
    div.field-type-ds.field-name-event-date-s- h2 {
      margin-top: 0px !important;
    }
    div.field-type-ds.field-name-join-this-event,
    div.field-type-ds.field-name-join-this-event-2 {
      margin-bottom: -10px;
      & ~ div.field-type-ds.field-name-event-date-s- h2 {
        margin-top: 10px !important;
      }
    }
    div.field-name-materials {
      border-top: 1px solid $capt-midgrey;
      h2.block-title {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
      div.item-list {
        margin-left: 26px !important;
        margin-top: 0px;
      }
    }
    div.field-type-ds.field-name-event-date-s- {
      div.item-list {
        margin-left: 0px !important;
        li {
          width: auto !important;
        }
      }
    }
    .group-right {
      .view-instances {
        border-left: 1px solid $capt-midgrey;
        border-right: 1px solid $capt-midgrey;
      }
    }
    .group-left {
      .block-views, .field-type-ds {
        h2 {
          border-left: 0px !important;
          border-right: 0px !important;
        }
      }
    }
  }
  .ds-2col-stacked > .group-left {
    @extend .event-show-hide;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
    &:before {
      @extend .before-style;
      height: 5px;
    }
    div.group-audience,
    div.group-presenter,
    div.group-description {
      .views-field-field-presenter-image {
        margin-right: -22px;
        div.field-content {
          width: 75%;
          height: 75%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .views-row {
        min-height: 120px;
      }
      div.field-name-presenters {
        border-top: 0px;
        border-bottom: 0px;
        .view-presenters .views-row:last-child {
          margin-bottom: 0px;
        }
      }
      div.field-type-text-long {
        border-top: 0px;
      }
    }
    & > div:nth-child(1) {
      p {
        width: 95%;
      }
    }
    & > div:not(:nth-child(1)) {
      h4, h2 {
        margin-top: 0px;
        padding-top: 17px;
        border-top: 1px solid $capt-midgrey;
      }
    }
    div.group-presenter {
      p {
        width: 95%;
      }
    }

    div.field-name-all-followup-materials {
      padding-top: 0px;
      ul {
        padding-left: 15px;
        li {
          margin-top: 0px;
          margin-bottom: 0px !important;
          &:last-child {
            padding-bottom: 15px;
          }
        }
      }
      h2 {
        margin-top: 0px;
        padding-top: 17px;
        border-top: 1px solid $capt-midgrey;
        margin-left: 0px;
        padding-left: 26px;
        padding-bottom: 16px;
        background-color: #eef1f3;
        background-position: 6px 24px;
        color: $capt-darkblue;
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;
        background-repeat: no-repeat;
        margin-bottom: 0px;
      }
    }

    div.field-type-ds.field-name-event-date-s- {

        width: 100%;
        padding: 0px;
        background-color: white;
        border: 0px;

        li.views-row > strong {
          display: list-item;
        }
        div.item-list ul {
          li.views-row {
            width: 90%;
            display: list-item;
            position: relative;
            top: 0px;
            margin-bottom: 10px;
            padding-top: 0px;
          // is there a better way?
          strong {
            position: relative;
          }
          // shift up to align with bullet
          span.date-display-single {
            position: relative;
          }
          span.date-display-start,
          span.date-display-end {
          }
          div.views-field.views-field-ops {
            margin-left: 0px;
            position: relative;
          }
        }
      }
      &:before {
        background-color: white;
        height: 0px;
      }
    }
    /* make an extensible class?*/

  }
}

.field-name-already-registered-please-login {
  padding-top: 0px;
  width: 100%;
  &:before {
    top: -15px;
  }
  .field-label {
    font-size: 20px;
    color: $capt-darkblue;
    background-color: $capt-lightgrey;
    font-weight: normal;
    background-repeat: no-repeat;
    padding-top: 17px;
    margin-top: 0px;
    padding-left: 26px;
    padding-bottom: 16px;
    float: none;
    background-position: 6px 22px;
    cursor: pointer;
  }
  .field-items {
    background: #fff;
    padding: 0px 25px 40px 20px !important;
    input.form-text {
      width: 220px;
    }
    .description {
      display: none;
    }
    a.request-password-link {
      font-weight: normal;
      color: $capt-maroon;
      text-decoration: none;
      font-size: 11px;
      top: -5px;
      &:hover {
        text-decoration: underline;
      }
    }
    #edit-actions {
      float: right;
      top: -40px;
      right: 65px;
    }
  }
}




.accordion {
  border: 0px;
  .header {
    background-image: url('../images/icons/hide.png') !important;
    &.closed {
      background-image: url('../images/icons/show.png') !important;
    }
  }
  .body {
    background: #fff;
    &.closed {

    }
  }
}

.section-events .block-views .view-content {
  padding: 0px !important;
  > .item-list:first-child {
    border-top: 0px !important;
  }
}



body.node-type-event div#page {
  padding-bottom: 20px;
  header#header {
    .header-blue-2 {
      #name-and-slogan {
        top: 0px;
        left: 0px;
        position: relative;
        &.category {
          top: 0px;
        }
      }
      .region-highlighted {
        top: 0px;
        font-size: inherit;
        &.category {
          top: 0px;
          #block-block-13 {
            font-size: 0.8em;
          }
        }
      }
    }
  }
  h1#page-title {
    font-size: 28px !important;
    margin-top: 10px;
  }
  #user-login #edit-actions input#edit-submit {
    top: 30px;
  }
}

body.node-type-event div.bottom-footer {
  footer#footer {
    margin-left: 0px;
  }
  margin-top: -103px;
  #block-block-12 .disclaimer {
    left: 0px;
    width: auto !important;
    padding: 5px;
  }
}


body.node-type-event .ds-2col-stacked div.field-name-materials {
  border-left: 1px solid $capt-midgrey;
  border-right: 1px solid $capt-midgrey;
  div.item-list {
    margin-left: 0px !important;
  }
}
