@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";
@import "extensible-phone";


$login-title-margin: 16px;

    /* banner title text */
    h1#site-name.header__site-name {
      margin-left: -119px;
      margin-top: -30px;
      a {
        font-size: 0.8em;
      }
    }
    
    div#block-block-13 {

      color: white;
      font-size: 11px;
      margin-left: -225px;
      top: -100;
      position: absolute;
      margin-top: -8px;
      cursor: default;

    }

    body.logged-in {
      h1#site-name.header__site-name {
        margin-left: -329px;
      }
      div#block-block-13 {
        margin-left: -325px;
      }
    }
    