@mixin side_borders($color) {
	border-left: 1px solid $color;
	border-right: 1px solid $color;
}
@mixin top_open($color) {
	border-left: 1px solid $color;
	border-right: 1px solid $color;
	border-bottom: 1px solid $color;
}

@mixin logo_size($width, $height, $scale) {
  background-size: $width * $scale $height * $scale;
  width: $width * $scale;
  height: $height * $scale;
}
