@import "../headers/variables";
@import "../headers/capt-mixins";
@import "../headers/extensible";
@import "capt-mixins-phone";


/* Navigation bar
 * Uses the styles from responsive.css for mobile phone widths
 * change max? */
@media all and (max-width: 479px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
  }
}


@media screen and (max-width: $phone-tablet-divide) {

  @import '../headers/extensible';
  /* general styles */

  @import 'extensible-phone';
  @import 'capt-mixins-phone';
  @import 'general-phone';
  @import 'login-phone';
   @import 'register-profile-phone';
   @import 'phone-event-detail';
  @import 'banner-phone';
  /*
   *  iPhone 6 Styles -- Registration & Profile Page
   */
 
  /* center title on registration page */
  /* test */
}


 /*
@media screen and (-webkit-min-device-pixel-ratio: 0) 
                and (max-width: $phone-tablet-divide) {
    form#user-profile-form,
    body.admin-menu {
      fieldset.group-account, fieldset {
        div.fieldset-wrapper, div.data-view {
          padding-top: 45px;
          margin-top: 8px;
        }
        // end data view and field wrapper - test
        margin-bottom: 0px;
      }
      fieldset {
        margin-top: 0px;
      }
    }
  }*/

/**
 *  Logo Styles for iPhone 6 and iPhone 4 test!!!!!!
 */



/* iPhone 6 */
/*
@mixin logo_size($width, $height, $scale) {
  background-size: $width * $scale $height * $scale;
  width: $width * $scale;
  height: $height * $scale;
}
// test 
@media screen and (min-width: $small-phone-width + 1px) and (max-width: $phone-tablet-divide) {
  body.admin-menu,
  body.not-logged-in.page-user-register:not(.node-type-event),
  body.not-logged-in.page-user:not(.page-user-register),
  body.not-logged-in.page-anon-login {

 
    @import "../headers/extensible";

    div.top-header {
      height: $mobile-header-height;
      @include rainbow-bar($mobile-header-height - $rainbow-height);
      div.top-header-container {
        div.capt-logo {
          @import 'capt-mixins-phone';
          top: $top-margin + 2px;
          @include logo_size($capt-phone-logo-width, $capt-logo-height, $capt-iPh6-scale);
        }
        div.samhsa-logo {
          top: $top-margin;
          @include logo_size($samhsa-phone-logo-width, $samhsa-phone-logo-height, $samhsa-iPh6-scale);
        }
      }
    }
  }
}*/

// Devel tabs 
/*
@media screen and (max-width: 425px) {
  ul.tabs-primary {
    li:nth-child(3), li:nth-child(4) {
      display: none;
    }
  }
}*/

// iPhone 4 
/*
@media screen and (max-width: $small-phone-width) {
  @import 'small-phone';
}*/

