/**
 * @file
 * CSS for Anon_redirect module.
 */

 #anon-redirect-admin-settings table {
  border: 5px inset #000099;
  margin-top: 1em;
}

#anon-redirect-admin-settings table tr {
  border: 3px inset #0000dd;
}

#anon-redirect-admin-settings table td {
  vertical-align: top;
  width: 48%;
}

#anon-redirect-admin-settings .description {
  white-space:  normal;
}

#anon-redirect-admin-settings .anon-redirect-intro {
  background-color: #f0ffff;
  border-radius: 9px;
  clear: both;
  font-size: 110%;
  margin-right: 3em;
  padding: .75em 1.5% .75em 1.5%;
  width: 90%;
}

#anon-redirect-admin-settings .anon-redirect-intro p {
  margin-bottom: 0;
}

#anon-redirect-admin-settings .form-item {
  float: left;
  margin-right: .5%;
  width: 48%;
}

#anon-redirect-admin-settings .form-item.form-type-checkbox {
  float: none;
  padding: 0 0 0 1em;
}

#anon-redirect-admin-settings .form-item .description {
  clear: left;
}

#anon-redirect-admin-settings .form-actions {
  background-color: #ffffaa;
  clear: both;
  padding: 9px 1em 0 3em;
}
