@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

/*
 *  Event Report
 */

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: .8em;
}

.entity-entityform-type h2 {
  display: none;
}

body.page-administration {
  line-height: 1.5em;
  a, a:visited {
    color: $capt-black;
    &:hover {
      color: $capt-maroon;
    }
  }
  fieldset {
    background: rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 12px;
    legend {
      font-weight: bold;
    }
    .form-item {
      clear: both;
      float: left;
      margin-top: 0;
    }
    input[type="submit"] {
      margin: 0 0 0 15px;
    }
  }
  &.page-administration-event-report,
  &.page-administration-my-events {
    td.views-field-field-date-instance {
      width: 220px;
    }
    td.views-field-field-date {
      width: 200px;
    }
  }
}
/*
 *  styles from Nancy on 5/21-5/22:
 */

#account-pass-restrictions {
  border: 1px solid #ff9933;
  font-family: Georgia, Palatino, serif;
  padding: 0 6px;
}

#account-pass-restrictions li {
  font-size: 120%;
  line-height: 1.25em;
  list-style-image: url("/misc/menu-collapsed.png");
}

div.group-audience, div.group-description, div.group-dates {
  /* h4 {
       margin-bottom: 0px;
       }*/
  /* p {
       margin: 0px;
       }*/
}

/* Float image on Presenters in Event view. */

.field-name-field-presenter .node-teaser .field-name-field-presenter-image {
  float: left;
  div.field-content img {
    margin-right: 20px;
    border: 1px solid red;
  }
}

div.views-field.views-field-field-presenter-image {
  margin: 5px 15px 0px 0px;
  /*16px 23px 0px 0px;*/
  line-height: 1em;
}

/**
 * Disclaimer Placement Section
 */

body.node-type-event div.bottom-footer {
  /* border: 1px solid yellow;*/
  height: 50px;
  margin-bottom: 0px;
}

body.node-type-event #block-block-12 {
  /*border: 1px solid blue;*/
  display: block;
  .disclaimer {
    padding: 0px 590px 20px 0px;
    left: 20px;
    /* border: 1px solid red;*/
    /*float: left;*/
    /*top: -30px;*/
  }
}




/* we are using this for the event edit pages*/
body.node-type-event.page-node-edit {
  .disclaimer {
    left: 0px;
  }
}

body.page-user-edit div.disclaimer {
  margin-bottom: 40px;
}

/*
 * page administration
 */

body.page-administration {
  div#content div#title-section {
    h2 {
      display: none;
    }
  }
}

/**
 * Switch User
 */
div.block-devel#block-devel-switch-user {
  margin-left: 90px;
  background-color: white;
  padding: 20px;
  border: 1px solid $capt-darkgrey;
  width: 400px;
  input.form-submit {
    background-color: $capt-orange;
  }
}
