@import '../headers/variables';
@import '../headers/capt-mixins';
@import '../headers/extensible';

/*
 *  Request password page
 */

body.page-user-password {
  div#content div#title-section {
    width: 400px;
    margin: 0px auto;
  }
  .form-item label {
    float: left;
    clear: both;
    margin-bottom: 3px;
  }
  input#edit-name {
    font-size: $input-font-size;
    padding: 5px;
    display: block;
    clear: both;
    width: 336px;
    border: 1px solid #b6b6b6;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  }
}

form#user-pass {
  @extend .panel;
  width: 348px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 26px;
  padding-right: 26px;
  margin: -20px auto 0;
}

.messages {
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  color: #ffffff;
  line-height: 1.5em;
  &.ok, &.messages--status {
    background-color: #7AA04F;
    background-image: url("../images/icons/status.png") !important;
    a, a:visited {
      color: #F9F98C;
      text-decoration: underline;
    }
  }
  &.error, &.messages--error {
    background-color: #CC5454;
    background-image: url("../images/icons/error.png") !important;
    a, a:visited {
      color: #FBE170;
      text-decoration: underline;
    }
  }
  &.warning, &.messages--warning {
    background-color: #D4B447;
    background-image: url("../images/icons/error.png") !important;
    a, a:visited {
      color: #8E1A1A;
      text-decoration: underline;
    }
  }
}
