/*
 *  Workflow Styles
 */

.not-logged-in .field-name-field-workflow-state {
  display: none;
}

.node-event .group-left .field-group-html-element,
.node-event .group-left .field-name-all-followup-materials {
  &:not(:first-child) h2, &:not(:first-child) h4 {
    border-top: 1px solid #d7d7d7;
    padding-top: 1.4em;
    margin-top: 1.6em;
  }
  &:first-child h4 {
    margin-top: 0;
  }
}

form.workflow-transition-form {
  padding: 10px 26px 20px 26px;
  width: 269px;
  background: #F8EED3;
  border: 1px solid #D7D7D7;
  &:before {
    margin-left: -27px;
    padding-left: 54px;
    display: block;
    background-color: #C3791F;
    height: 5px;
    width: 100%;
    content: "";
    position: relative;
    top: -15px;
  }
}

.node.workflow-published .field-name-field-workflow-state {
  display: none;
}


.workflow-transition-form input.form-save-default-button {
  display: none !important;
}
